<template>
  <div class="feed-item">
    <div class="feed-item-info">
      <span @click="goToUser">
        <b class="feed-info-nickname" v-text="feed.entity.user.nickname"></b>
      </span>
      <p
        v-for="feeds in arrayInfo"
        v-if="feed.type === feeds.type"
        class="feed-info-body">
        <template v-if="feeds.type === 'comment'">
          {{feeds.text}} <i>{{$textLength(feed.entity.comment.body, 15)}}</i>
        </template>
        <template v-else-if="feeds.type === 'coins-received'">
          {{feeds.text}} {{feed.entity.transaction.coins}} {{$lang.feed.incoins}}
        </template>
        <template v-else>
          {{feeds.text}}
        </template>
      </p>

      <in-time :time="feed.created_at_timestamp"/>
      <in-gift-timer v-if="feed.type === 'gift'" :gift="feed.entity.gift"/>
    </div>

    <div class="feed-item-avatar">
      <span @click="goToUser">
        <img
          class="feed-item-avatar-user"
          :src="feed.entity.user.avatar_image.url_medium">
        <img
          v-if="feed.entity.user.active_gift!=null"
          class="feed-item-avatar-present"
          :src="feed.entity.user.active_gift.image">

      </span>
    </div>
    <div class="feed-item-action">
      <div class="feed-item-icon">
        <p>
          <i
            @click="goToChat(feed.entity.user.id)"
            class="icon-letter"></i>
        </p>
        <i
          :class="classSubscribe"
          @click="changeSubscribe"></i>
      </div>
      <span @click="goToPost"
            v-if="feed.type==='comment'">
          <img
            v-if="previewPostType === 'image'"
            :src="previewPost.url_small">
          <img
            v-else-if="previewPostType === 'video'"
            :src="previewPost.preview_url">
          <img v-else :src="imgArray.Ooops">
          <img v-if="previewPostType === 'video'" class="feed-play-video" :src="playImg"/>
        </span>
      <span @click="goToPost"
            v-else-if="feed.type==='like'">
          <img
            v-if="previewPostType === 'image'"
            :src="previewPost.url_small">
          <img
            v-else-if="previewPostType === 'video'"
            :src="previewPost.preview_url">
          <img v-else :src="imgArray.Ooops">
          <img v-if="previewPostType === 'video'" class="feed-play-video" :src="playImg"/>
        </span>
      <div v-else-if="feed.type==='contest-vote'">
        <i class="icon-heart-f feed-action"></i>
      </div>
      <span @click="goToGifts"
            v-else-if="feed.type==='gift'">
          <img :src="feed.entity.gift.gift_model.image">
        </span>
      <div class="feed-item-addrating-img" v-else-if="feed.type==='rating-vote'">
        <img
          src="https://media.inrating.top/images/logo/r_logo_box_200x200.png"
          alt="inrating rating icon">
      </div>
      <div v-else-if="feed.type==='chin-chin'">
        <i class="icon-chin-chin feed-action"></i>
      </div>
      <div v-else-if="feed.type==='follow'">
        <i class="icon-plus-guy-f feed-action"></i>
      </div>
      <div v-else-if="feed.type==='coins-received'">
        <i class="icon-Monet_R_2 feed-action"></i>
      </div>
      <span @click="goToPost" v-else-if="feed.type==='mention'">
        <img
          v-if="feed.entity.post.attachments"
          :src="feed.entity.post.attachments.images[0].url_medium">
        <img
          v-else
          :src="imgArray.Ooops">
      </span>
      <span @click="goToGroup" v-else-if="feed.type==='group-invite'">
        <img :src="feed.entity.group.logo.url_large">
      </span>
      <!--<div class="feed-button">
          <span :class="classSubscribe" v-text="toggleSubscribe" v-on:click="eventSubscribe"></span>
      </div>!-->

    </div>

  </div>
</template>
<script>
  import axios from 'axios';
  import {mapActions} from 'vuex';

  import {CHANGE_SUBSCRIBE_USER, moduleName as usersModule} from 'Store/modules/users/users';

  import Vue from 'vue'
  import Time from '../main/postfooter/comments/Time.vue'

  import giftTimer from 'ComponentsVue/profile/content/ProfileGiftTimer'

  Vue.component('in-gift-timer', giftTimer);
  Vue.component('in-time', Time);
  export default {
    props: {
      feed: Object,
      authUser: Object,
    },
    data() {
      return {
        playImg: img.PlaySmall,
        imgArray: window.img,
        previewPost: '',
        previewPostType: '',
        type: '',
        postI: '',
        arrayInfo: [

          {
            type: 'comment',
            text: this.$lang.feed.make_comment
          },
          {
            type: 'gift',
            text: this.$lang.feed.send_gift
          },
          {
            type: 'follow',
            text: this.$lang.feed.subscribe_you
          },
          {
            type: 'rating-vote',
            text: this.$lang.feed.add_rating
          },
          {
            type: 'post-vote',
            text: this.$lang.feed.add_rating
          },
          {
            type: 'contest-vote',
            text: this.$lang.feed.contest_vote
          },
          {
            type: 'group-invite',
            text: this.$lang.feed.group_invitation
          },
          {
            type: 'mention',
            text: this.$lang.feed.noted_you_on_post
          },
          {
            type: 'registration',
            text: this.$lang.feed.registration_first
          },
          {
            type: 'chin-chin',
            text: this.$lang.feed.chin_chin
          },
          {
            type: 'like',
            text: this.$lang.feed.like
          },
          {
            type: 'coins-received',
            text: this.$lang.feed.coins_recieved
          },
        ]
      }
    },
    mounted() {
      if (this.feed.entity.post) {
        this.postI = this.feed.entity.post;

        if (this.postI.attachments_order[0].type === 'post') {
          this.type = 'post';
          this.postI = this.feed.entity.post.attachments.posts[0];
        }

        if (this.postI.attachments_order[0].type === 'image') {
          for (let i = 0; i < this.postI.attachments.images.length; i++) {
            if (this.postI.attachments_order[0].id === this.postI.attachments.images[i].id) {
              this.previewPost = this.postI.attachments.images[i];
              this.previewPostType = 'image';
              break;
            }
          }
        } else if (this.postI.attachments_order[0].type === 'video') {
          for (let i = 0; i < this.postI.attachments.videos.length; i++) {
            if (this.postI.attachments_order[0].id === this.postI.attachments.videos[i].id) {
              this.previewPost = this.postI.attachments.videos[i];
              this.previewPostType = 'video';
              break;
            }
          }
        }
      }
    },
    computed: {
      toggleSubscribe: function () {
        return this.feed.entity.user.is_subscribed
          ? this.$lang.variables.subscribed
          : this.$lang.variables.subscribe
      },
      classSubscribe: function () {
        return this.feed.entity.user.is_subscribed
          ? 'icon-plus-guy-f'
          : 'icon-plus-guy'
      }
    },
    methods: {
      ...mapActions({
        changeSubscribeUser: usersModule + CHANGE_SUBSCRIBE_USER
      }),
      goToUser() {
        if (this.feed.entity.user) {
          this.$router.push('/u/' + this.feed.entity.user.nickname);
        }
      },
      goToPost() {
        if (this.feed.entity.post) {
          this.$router.push('/p/' + this.feed.entity.post.slug);
        }
      },
      goToGifts() {
        this.$router.push('/u/' + this.authUser.nickname + '/gift');
      },
      goToGroup() {
        if (this.feed.entity.group) {
          this.$router.push('/group/' + this.feed.entity.group.slug);
        }
      },
      changeSubscribe() {
        const payload = {
          nickname: this.feed.entity.user.nickname,
          delete: this.feed.entity.user.is_subscribed ? '1' : '0'
        };

        this.changeSubscribeUser(payload);
      },
      goToChat(id) {
        if (this.$userStatus(this.authUser)) {
          if (this.authUser.id !== id) {
            axios.get('v1/me/chats/check?id=' + id)
              .then(res => {
                if (res.data.state)
                  this.$router.push('/messages/' + res.data.id);
                else
                  this.$router.push('/new-chat/' + id);
              })
          }
          else {
            this.$notify({
              group: 'write-to-you',
              duration: 3000,
              speed: 300,
            });
          }
        }
      },
    }
  }
</script>
<style lang="less">
  @import '~LessStyle/feed.less';

</style>
