<template>
  <div class="present-item" @click="showGiftInModal()">
    <div class="present-left">
      <div class="present-avatar">
        <img :src="this.present.image"/>
      </div>
      <div class="present-name">
        <b v-text="this.present.name"></b>
        <span v-text="this.present.bonus"></span>
      </div>
    </div>
    <div class="present-right">
      <div class="present-price">
        <img src="http://storage.innet.club/img/default/R-coin.png"/><span v-text="this.present.cost"></span>
      </div>
      <div class="present-go">
        <i class="icon-right-f"></i>
      </div>
    </div>
    <div class="present-bottom">
      <img :src="'http://storage.innet.club/img/default/'+this.type+'.png'"/>
    </div>

  </div>
</template>
<script>
  export default {
    name:'presentsItem',
    props:['present','type'],
    methods: {
      showGiftInModal() {
        this.$root.$emit('soloGiftSend',this.present,this.type);
      }
    }
  }
</script>
<style lang="less">
  @import   '~LessStyle/presentitem.less';
</style>
