<template>
  <modal
    name="showPresent"
    width="100%"
    classes=" v--modal"
    height="100%"
  >
    <div
      class="present-modalheader"
      id=""
      v-if="this.presentModal!=null">
      <i
        class="goto-presents icon-left-f"
        @click="closeModalPresent()"></i>
      <h2 class="present-modaltitle">
        Подарить "{{this.presentModal.name}}"
      </h2>
      <div class="present-modalcontainer">
        <div class="present-modalimage">
          <img :src="this.presentModal.image">
        </div>
        <div class="present-modaltext">
          <p
            class="present-modalname"
            v-text="this.presentModal.name"></p>
          <div
            class="present-modalstatus"
            v-bind:style="{ 'backgroundImage': 'url(http://storage.innet.club/img/default/'+ this.modalType +'.png)'  }">
            <span v-text="this.modalType"> </span>
            <!--<div class="present-blur"></div>-->
          </div>
          <p
            class="present-modalbonus"
            v-text="this.presentModal.bonus"></p>
          <span
            class="present-duration"
            v-if="this.modalType=='Platinum'">
              <i class="icon-clock"></i><span
            class="present-hours"
            v-text="this.presentModal.properties.duration.d"></span> дней
            </span>
          <span
            class="present-duration"
            v-else>
                <i class="icon-clock"></i><span
            class="present-hours"
            v-text="this.presentModal.properties.duration.h"></span> часа
            </span>
        </div>
        <div class="present-description">
          <p v-text="this.presentModal.description"></p>
        </div>
        <div
          class="present-sendbutton"
          @click="sendGift()">
          <span>{{$lang.wallet.send_gift}}</span>
           <span class="present-modalcost"><img src="http://storage.innet.club/img/default/R-coin.png">  <span v-text="this.presentModal.cost"></span></span>
        </div>
      </div>
    </div>
  </modal>
</template>
<script>
  import axios from 'axios';

  import Vue from 'vue';
  import presentSearch from 'ComponentsVue/wallet/presentSearch';

  Vue.component('in-present-search', presentSearch);
  export default {
    props: ['keeperId', 'presentModal', 'modalType'],

    methods: {
      closeModalPresent(){
        this.$modal.hide('showPresent');
      },

      sendGift(){
        let userArray = [this.keeperId];
        let params = {
          gift_id: this.presentModal.id,
          receiver_ids: JSON.stringify(userArray)
        };
        axios.post('v1/me/gifts/send', params)
        .then(
          res =>{
            this.$modal.hide('showPresent');
            this.$root.$emit('closePresentModal');
            this.$notify({
              group: 'gift-send',
              duration: 3000,
              speed: 300,
            })

          }
        )
      },


    }
  }
</script>
<style lang="less">
  @import '~LessStyle/presentmodal.less';
</style>
