<template>
  <div class="search-menu--item">
    <router-link :to="link">
      <i
        :class="isActive"
       ></i>
    </router-link>
  </div>
</template>
<script>
  export default  {
    props:['link','activeIcon','notActiveIcon','fillType'],
    computed: {
      isActive() {
        let active=this.$route.path.split('/')[2];
        return active==this.fillType ? this.activeIcon : this.notActiveIcon;
      }
    }
  }
</script>
<style>

</style>
