<docs>
  #
</docs>

<template>
  <div>
    <template v-for="(post, index) in getPost">
      <div class="wrapper">
        <div
          class="bo"
          v-for="img in post.posts">
          <template v-if="img.attachments_order[0].type === 'image'">
            <aside>
              <router-link :to="'/p/'+img.slug">
                <img
                  :src="img.attachments.images[0].url_medium"
                  alt="">
              </router-link>
            </aside>
          </template>
          <template v-else-if="img.attachments_order[0].type === 'post'">
            <template v-if="img.attachments.posts !== null">
              <aside v-if="img.attachments.posts[0].attachments_order[0].type === 'video'">
                <router-link :to="'/p/'+img.slug">
                  <img
                    :src="img.attachments.posts[0].attachments.videos[0].preview_url"
                    alt="">
                </router-link>
              </aside>
              <aside v-else-if="img.attachments.posts[0].attachments_order[0].type === 'image'">
                <router-link :to="'/p/'+img.slug">
                  <img
                    :src="img.attachments.posts[0].attachments.images[0].url_medium"
                    alt="">
                </router-link>
              </aside>
            </template>
            <template v-else-if="img.attachments.videos === null || img.attachments.images === null">
              <aside>
                <img :src="imgArray.Ooops">
              </aside>
            </template>
          </template>

          <template v-else-if="img.attachments_order[0].type === 'video'">
            <aside>
              <router-link :to="'/p/'+img.slug">
                <img
                  :src="img.attachments.videos[0].preview_url"
                  alt="">
              </router-link>
            </aside>
          </template>
          <template v-else>
            <template v-if="img.attachments.posts[0].attachments_order[0].type === 'image'">
              <aside>
                <router-link :to="'/p/'+img.slug">
                  <img
                    :src="img.attachments.posts[0].attachments.images[0].url_medium"
                    alt="">
                </router-link>
                <i
                  class="icon-multu-posts"
                  title="MultiPost"></i>
              </aside>
            </template>
          </template>
        </div>
        <div
          class="bo"
          :class="videoClass(index)">
          <!--добавить bgc blur-->
          <div class="video-block-box">
            <router-link :to="'/p/' + post.video.slug">
              <div class="video-bg"
                   :style="{backgroundImage: `url('${post.video.attachments.videos[0].preview_url}')`}"></div>
              <!--<img-->
              <!--:src="post.video.attachments.videos[0].preview_url"-->
              <!--alt="">-->
              <!--<in-video-->
              <!--className="post-boxWrapImg-video"-->
              <!--:poster="post.video.attachments.videos[0].preview_url"-->
              <!--:src="post.video.attachments.videos[0].url"-->
              <!--:width="indexWidth -4"/>-->
              <i class="icon-videocamera"></i>
            </router-link>
          </div>
          <!--тут надо еще добавить иконки воспроизведения видео-->
        </div>
      </div>
    </template>

  </div>
</template>

<script>
  import Vue from 'vue';
  import Video from 'ComponentsVue/other/Video';

  Vue.component('in-video', Video);

  export default {
    name: 'search-all-grid',
    props: ['getPost', 'indexWidth'],
    data() {
      return {
        imgArray: window.img
      }
    },
    mounted() {
    },
    methods: {
      videoClass(index) {
        let i = index % 4;
        if (i === 0) return 'box5';
        if (i === 1 || i === 3) return 'box13';
        if (i === 2) return 'box23';
      }
    }
  }
</script>

<style lang="less">

</style>
