<template>
  <div
    class="member-block" @click="showInfo">
    <div
      v-if="contestType !== 3"
      class="member-place"
      :class="{'member-place-disabled': !member.contest_info.is_active}">
      <div>
        <p class="member-place--title">Место в рейтинге</p>
      </div>
      <p
        class="chart-place"
        v-text="this.member.contest_info.contest_current_position"></p>
      <span v-text="this.member.name"></span>
      <span v-text="this.member.lastname"></span>
      <div class="member-names">
        <router-link :to="'/u/'+member.nickname">
          <p
            class="member-nickname"
            v-text="this.member.nickname"></p>
        </router-link>
      </div>

    </div>
    <div
      v-else
      class="member-place"
      :class="{'member-place-disabled': !member.contest_info.is_active}">
      <span v-text="this.member.name"></span>
      <span v-text="this.member.lastname"></span>
      <div class="member-names">
        <router-link :to="'/u/'+member.nickname">
          <p
            class="member-nickname"
            v-text="this.member.nickname"></p>
        </router-link>
      </div>
      <p
        class="chart-place"
        v-text="this.member.contest_info.contest_current_position"></p>
      <p class="constest-sponsor-name" v-if="showSponsor">
        <span>TOP</span><br>
        <span v-if="sponsorName === 'day'">Дня</span>
        <span v-else>Недели</span>
      </p>
      <p class="member-coins-rating">
        <i
          class="icon-heart_R heart-for-vote"
          aria-hidden="true">
        </i>
        <span
          class="member-allvotes--count"
          v-text="ratingSumm"></span>
      </p>
    </div>
    <div class=" member-avatar">
      <a :href="'/u/'+member.nickname">
        <img
          class="contest-user-photo"
          :src="this.member.avatar_image.url_medium"
          alt="">
        <img
          v-if="this.member.active_gift!=null"
          class="contest-user-avatar-image"
          :src="this.member.active_gift.image">
      </a>
      <div class="member-raiting">
        <i
          class="icon-logo-f"
          aria-hidden="true"></i>
        <span v-text="this.member.contest_info.rating"></span>
      </div>
      <div class="member-placeinlist">
        <span v-text="'№'+this.member.contest_info.contest_initial_position"></span>
      </div>
    </div>
    <div
      v-if="contestType !== 3"
      class="member-vote">
      <div>
        <a
          href="#"
          v-text="this.member.contest_info.extra"></a>
      </div>
      <div>
        <div>
          <p
            class="member-likes"
            @click="userVote()">
            <i
              class="icon-heart-f small_heart"
              aria-hidden="true"
              v-if="this.is_voted || !this.active"
              v-bind:style="{color:'#d3d3d3'}"></i>
            <i
              class="icon-heart-f small_heart"
              aria-hidden="true"
              v-else></i>
            <span v-text="this.member_likes"></span>
          </p>
          <p class="member-allvotes">
            <i
              v-if="!this.active"
              v-bind:style="{color:'#d3d3d3'}"
              class="icon-heart_R heart-for-vote"
              aria-hidden="true">
            </i>
            <i
              v-else
              class="icon-heart_R-f heart-for-vote"
              aria-hidden="true">
            </i>

            <span
              class="member-allvotes--count"
              v-text="this.all_count"></span>
          </p>
        </div>
      </div>
      <div>
        <div class="member-contact">
          <router-link :to="'/u/'+member.nickname">
            <i
              class="icon-profile-settings "
              aria-hidden="true"></i>
          </router-link>
          <a @click="goToChat(member.id)">
            <i
              class="icon-speech "
              aria-hidden="true"></i>
          </a>
        </div>
      </div>

    </div>
    <div
      v-else
      class="member-vote-coinspack" @click="closeCoinsBlock">
      <transition name="fade" mode="out-in">
        <div
          v-if="isRaiseRating"
          @click="raiseRating()"
          :class="coinsVoteBlock"
          class="raise">
          В профиль
          <i class="icon-right-f"></i>
        </div>
        <div
          v-else
          @click="raiseRating()"
          :class="coinsVoteBlock"
          class="raise">
          Поднять
          <i class="icon-logo-f" aria-hidden="true"></i>
        </div>
      </transition>
      <div
        @click="showAllCoinsVoteBloks()"
        :class="coinsVoteBlock"
        class="coins-block">
        Проголосовать
        <img class="coins-vote-blockimg" :src="contestCoin">
      </div>
      <div
        class="member-coins-earn"
        :class="{'member-coins-earn-disabled': !member.contest_info.is_active}">
        <img
        class="member-coins-earnimg"
        :src="contestMoney">
        <p>{{coinsLike*10}} <span class="subcoins">({{coinsLike }} R)</span></p>
      </div>
      <transition name="fade">
        <div
          v-if="coinsPriceBlock"
          class="member-coins-price">

          <div
            class="coins-vote-block "
            @click="voteCoins(10)"> <span>10 <img
            class="coins-vote-blockimg"
            :src="contestCoin"></span> <span>(+1<i class="icon-logo-f"></i>)</span>
          </div>

          <div
            class="coins-vote-block"
            @click="voteCoins(100)"><span>100 <img
            class="coins-vote-blockimg"
            :src="contestCoin"></span> <span>(+10<i class="icon-logo-f"></i>)</span>
          </div>

          <div
            class="coins-vote-block "
            @click="voteCoins(1000)"><span>1000 <img
            class="coins-vote-blockimg"
            :src="contestCoin"></span> <span>(+100<i class="icon-logo-f"></i>)</span>
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';

  export default {
    name: 'contestMember',
    props: ['contest', 'active', 'type', 'member', 'sponsorName', 'showSponsor'],
    data() {
      return {
        contestType: this.type,
        is_voted: this.member.contest_info.is_voted,
        member_likes: this.member.contest_info.likes,
        all_count: this.member.contest_info.likes + this.member.contest_info.rating,
        user: JSON.parse(localStorage.getItem('user')),
        contestCoin: img.rCoin,
        contestMoney: img.rCoinStack,
        coinsPriceBlock: false,
        coinsLike: this.member.contest_info.likes,
        ratingLike: this.member.contest_info.rating,
        ratingSumm:this.member.contest_info.likes+this.member.contest_info.rating,
        isRaiseRating: false,

      }
    },
    computed: {
      voteCoinsPrice() {
        if (this.coinsPriceBlock)
          return 'member-coins-price';
        else
          return 'member-coins-price-hide'
      },
      coinsVoteBlock() {
        if (!this.coinsPriceBlock)
          return 'coins-vote-block coins-vote-absolute';
        else
          return 'coins-vote-block-hide'
      }
    },
    mounted() {
      this.$root.$on('hideButtons', () => {
        this.coinsPriceBlock = false;
      });
    },
    methods: {
      showInfo() {
        console.log(this.contest, this.member);
      },
      closeCoinsBlock(e) {
        let className = e.srcElement.className;

        if(~className.indexOf('coins-block')) {
          this.coinsPriceBlock = true;
        } else if(className.indexOf('coins-vote-block')) {
          this.coinsPriceBlock = false;
        } else {
        }
      },
      raiseRating() {
        if(this.member.contest_info.is_active) {
          if(this.user.status === 'guest') {
            this.$notify({
              group: 'guest-template',
              duration: 3000,
              speed: 300,
            });
          } else {
            setTimeout(() => {
              this.$router.push('/u/' + this.member.nickname);
            }, 300);
          }

        } else {
          this.$notify({
            group: 'not-active-contest-user',
            duration: 3000,
            speed: 300,
          });
        }
      },
      userVote() {
        if (this.$userStatus(this.user)) {
          let data = new FormData();
          data.append('contest_id', this.contest.id);
          data.append('user_id', this.member.id);
          const config = {headers: {'Content-Type': 'multipart/form-data'}};
          axios.post('v1/contests/users/vote', data, config)
            .then(res => {
              if (res.data.state) {
                this.is_voted = true;
                this.member_likes++;
                this.all_count++;
              }
              else {
                this.$notify({
                  group: 'already-vote',
                  duration: 3000,
                  speed: 300,
                })
              }
            })
            .catch(err => {
              if (err.response.data.message == 'Contest is not active') {

                this.$notify({
                  group: 'notactive-contest',
                  duration: 3000,
                  speed: 500,
                });
              }
              else if (err.response.data.errorInfo.errorCode == 1000) {
                this.$modal.show('bannedUserAvatarModal')
                axios.get('v1/me')
                  .then(res => {
                    localStorage.setItem('user', JSON.stringify(res.data));

                  });

              }

            });
        }

      },
      goToChat(id) {
        let userID = JSON.parse(localStorage.getItem('user')).id;
        if (userID != id) {
          axios.get('v1/me/chats/check?id=' + id)
            .then(res => {
              if (res.data.state)
                this.$router.push('/messages/' + res.data.id);
              else
                this.$router.push('/new-chat/' + id);
            })
        }
        else {
          this.$notify({
            group: 'write-to-you',
            duration: 3000,
            speed: 300,
          });
        }

      },
      alreadyVote() {
        this.$notify({
          group: 'already-vote',
          duration: 3000,
          speed: 300,
        })
      },
      showAllCoinsVoteBloks() {
        this.$root.$emit('hideButtons');
        this.coinsPriceBlock = true;

      },
      voteCoins(coins) {
        if(!this.member.contest_info.is_active) {
          this.$notify({
            group: 'not-active-contest-user',
            duration: 3000,
            speed: 300,
          });
        } else if (this.$userStatus(this.user)) {
          let data = new FormData();
          data.append('contest_id', this.contest.id);
          data.append('user_id', this.member.id);
          data.append('amount', coins);
          const config = {headers: {'Content-Type': 'multipart/form-data'}};
          axios.post('v1/contests/users/vote', data, config)
            .then(res => {
              if (res.data.state) {
                this.coinsLike += coins/10;
                this.ratingSumm=this.coinsLike+this.ratingLike;

                this.$notify({
                  group: 'vote-coins-member',
                  duration: 3000,
                  speed: 300,
                  text: 'Вы отправили ' + coins + ' INCoins',
                })
              }
              else {
                this.$modal.show('notEnoughMoneyContest');
              }
            })
            .catch(err => {
              if (err.response.data.message === 'Contest is not active') {
                this.$notify({
                  group: 'notstart-contest',
                  duration: 3000,
                  speed: 300,
                });
              } else {
                this.$modal.show('notEnoughMoneyContest');
              }
            })
        }
      }
    }
  };
</script>

<style lang="less">
  @import '~LessStyle/contestmember.less';
</style>
