<template>
  <div>

    <div class="contest-tabs">

      <in-contest-tabs-item
        v-if="this.sponsors.day"
        :type="this.sponsors.day.type"
        :showSponsors="true"
        :active="false"
        :organisator="this.sponsors.day.short_title"></in-contest-tabs-item>

      <in-contest-tabs-item
        v-if="this.sponsors.all"
        :type="this.sponsors.all.type"
        :active="true"
        :showSponsors="false"
        :organisator="this.sponsors.all.short_title"></in-contest-tabs-item>

      <in-contest-tabs-item
        v-if="this.sponsors.week"
        :type="this.sponsors.week.type"
        :showSponsors="true"
        :active="false"
        :organisator="this.sponsors.week.short_title"></in-contest-tabs-item>

    </div>

    <div v-if="sponsors.all" class="contest-tabs-description">
      <span v-html="contestTabDescription"></span>
      <p v-html="timeContest" style="margin: 5px 0;"></p>
      <p
        @click="openPresents(type)"
        v-html="contestTabLink"
        class="contest-tabs-read-more"></p>
    </div>
    <modal name="openPresents"
           width="100%"
           classes=" v--modal"
           height="100%">
      <div class="modal-title">
        <i
          @click="closeContest"
          class="icon-left-f icon-back"></i>
        Конкурс
      </div>
      <img class="contest-present-modal" :src="presentImage">
    </modal>
  </div>
</template>
<script>
  import Vue from 'vue'
  import contestTabsItem from 'ComponentsVue/contest/contestTabsItem.vue'

  Vue.component('in-contest-tabs-item', contestTabsItem);

  export default {
    props: ['sponsors', 'contestTimeStart', 'contestTimeEnd', 'descshort'],
    data() {
      return {
        type: 'all',
        presentImage: '',
        contestTabDescription: '',
        contestTabLink: '',
        firstSponsors: this.sponsors.day || '',
        secondSponsors: this.sponsors.week || '',
        allSponsors: this.sponsors.all || '',
        //dayTimeStart: this.sponsors.day.start_date_timestamp || '',
        //dayTimeEnd: this.sponsors.day.end_date_timestamp || '',
        timeContest: '',
      }
    },
    mounted() {
      console.log('start', this.allSponsors);

      this.$root.$on('changeUsers', (type) => {
        this.changeTabDesc(type);
        this.type = type;
      });
      this.changeTabDesc(this.type);
    },
    methods: {
      changeTabDesc(type) {

        switch (type) {
          case 'day' :
            this.contestTabDescription = this.sponsors.day.desc;
            this.contestTabLink = this.$lang.contest.read_more_here;
            this.timeContest = this.$lang.contest.contest_active + this.$unixTime(this.sponsors.day.start_date_timestamp, true, 'full') + ' ' + this.$lang.contest.until + ' ' + this.$unixTime(this.sponsors.day.end_date_timestamp, true, 'full');
            break;
          case 'all' :
            this.contestTabDescription = this.sponsors.all.desc;
            this.contestTabLink = this.$lang.contest.read_more_here;
            this.timeContest = this.$lang.contest.contest_active + this.contestTimeStart + ' ' + this.$lang.contest.until + ' ' + this.contestTimeEnd;
            break;
          case 'week' :
            this.contestTabDescription = this.sponsors.week.desc;
            this.contestTabLink = this.$lang.contest.read_more_here;
            this.timeContest = this.$lang.contest.contest_active + this.$unixTime(this.sponsors.week.start_date_timestamp, true, 'full') + ' ' + ' ' + this.$lang.contest.until + ' ' + this.$unixTime(this.sponsors.week.end_date_timestamp, true, 'full') + ' ';
            break;
        }
        this.$root.$on('makeNewTab', () => {
          this.isActive = false;
        });
      },
      openPresents(type) {
        switch (type) {
          case 'day':
            this.presentImage = this.sponsors.day.link.mobile;
            break;
          case 'all':
            this.presentImage = this.sponsors.all.link.mobile;
            break;
          case 'week':
            this.presentImage = this.sponsors.week.link.mobile;
            break;
        }
        this.$modal.show('openPresents');
      },
      closeContest() {
        this.$modal.hide('openPresents');
      }
    }
  }
</script>
<style lang="less">
  .contest-present-modal {
    width: 100%;
  }

  .contest-tabs-read-more {
    color: #30c2be;
  }
</style>
