<docs>
  # user profile header
</docs>

<template>
  <div class="profile-header">
    <in-profile-info :user="user"/>
    <in-profile-avatar :user="user"/>
    <template v-if="!offPage">
      <in-profile-rating :user="user"/>
    </template>
    <template v-else>
      <in-profile-faq :user="user"/>
    </template>
    <in-profile-user :user="user"/>
  </div>
</template>

<script>
  import Vue from 'vue'
  import ProfileInfo from './header/ProfileInfo.vue'
  import ProfileAvatar from './header/ProfileAvatar.vue'
  import ProfileRating from './header/ProfileRating.vue'
  import ProfileUser from './header/ProfileUser.vue'
  import ProfileFAQ from './header/ProfileFAQ.vue'

  Vue.component('in-profile-info', ProfileInfo);
  Vue.component('in-profile-avatar', ProfileAvatar);
  Vue.component('in-profile-rating', ProfileRating);
  Vue.component('in-profile-user', ProfileUser);
  Vue.component('in-profile-faq', ProfileFAQ);
  export default {
    name: 'ProfileHeader',
    props: ['user'],
    data() {
      return {
        offPage: false
      }
    },
    mounted() {
      this.offPage = this.user.off_page;
    },
    watch: {
      user() {
        this.offPage = this.user.off_page;
      }
    }
  }
</script>

<style lang="less">
  .profile-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    flex-wrap: wrap;
  }
</style>
