<template>
  <modal name="openShare"
         width="95%"
         height="auto"
         classes="v--modal share-modal"
  >
    <p class="share-item" @click="showChats()">
      {{$lang.post.share_chat}}
    </p>
    <p class="share-item" @click="shareSocial('facebook')">
      {{$lang.post.share_fb}}
    </p>
    <p class="share-item" @click="shareSocial('twitter')">
      {{$lang.post.share_twitter}}
    </p>
    <p class="share-item last-item" ref="copyLink" @click="copyLink(shareID)">
      {{$lang.post.copy_link}}
    </p>
    <p @click="closeShare()" class="share-item share-close">
      {{$lang.post.cancel}}
    </p>
    <in-user-chats-modal :postId="shareID"/>
  </modal>
</template>

<script>
  import Vue from 'vue';
  import Share from 'JsLib/social-link';
  import chatsModal from 'ComponentsVue/modal/userChatsModal';

  Vue.component('in-user-chats-modal', chatsModal);
  export default {
    data() {
      return {
        post: {},
        shareID: '',
        postAuthor: {},
        user: {},
      }
    },
    mounted() {
      this.$root.$on('sharePost', (event) => {
        this.post = event;
        this.shareID = this.post.slug;
      });
    },
    methods: {
      shareSocial(_name) {

        let Social = new Share(
          this.post.site_link,
          this.post.title,
        );


        if (_name === 'facebook') {
          Social.facebook()
        } else if (_name === 'twitter') {
          Social.twitter()
        }
      },
      closeShare() {
        this.$modal.hide('openShare');
      },
      copyLink(id) {
        let text = host + '/p/' + id;
        this.copyToClipboard(this.$refs.copyLink, text);
        this.$notify({
          group: 'copy-link',
          duration: 3000,
          speed: 300,
        });
      },
      copyToClipboard(block, text) {
        let temp = document.createElement('input');
        temp.setAttribute('id', 'link');
        block.appendChild(temp);
        document.getElementById('link').value = text;
        let input = document.getElementById("link");
        input.focus();
        input.setSelectionRange(0, 99999);
        document.execCommand("copy");
        document.getElementById('link').remove();
      },
      showChats() {
        if (JSON.parse(localStorage.getItem('user')).status !== 'guest')
          this.$modal.show('chatsModal');
        else
          this.$notify({
            group: 'guest-template',
            duration: 3000,
            speed: 300,
          });
      }
    }

  }
</script>

<style>

</style>
