<template>
    <div class="post-footer">
        <div class="post-footer-item" v-on:click="openComments()">
            <i class="icon-speech-2"></i>
            <span class="post-commenttext"> {{$lang.post.comments}} </span>
            <b  v-text="post.comments_count"></b>
        </div>
        <div class="post-footer-item">
            <in-post-share :post="post"></in-post-share>
        </div>
        <div class="post-footer-item">
            <i class="icon-scale"></i>
            <router-link :to="'/statictics/'+post.id"><span> {{$lang.post.statistics}} </span></router-link>
        </div>
        <transition name="fade">
            <div class="post-comments"  v-show="active">
                <in-post-comments  :post="post" :user="user"></in-post-comments>
            </div>
        </transition>
    </div>
</template>
<script>
  import Vue from 'vue'
  import postComments from './PostComments.vue'
  import postShare from './PostShare.vue'

  Vue.component('in-post-comments',postComments);
Vue.component('in-post-share',postShare);
export default {
  props:['post','user'],
  data(){
      return {
        active:false,
      }
  },
  mounted() {
    if (this.$route.path !== '/rating' && this.$route.path !== '/' && this.$route.path.indexOf('/groups') === -1 )
      this.active = true;
  },
  methods: {
      openComments() {
          this.active=!this.active;
      }
  },
}
</script>
<style>
    .post-footer {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        box-sizing: border-box;
        justify-content: space-between;
       align-items: center;
       margin-bottom: 6px;
      padding-bottom: 6px;
       border-bottom:1px solid #d3d3d3;
    }

    .post-footer-item {
        font-size: 12px;
        display: flex;
        align-items: center;
        padding:0px 5px;
    }

    .post-footer-item i {
        font-size:23px;
      background: linear-gradient(to left top, #000fbc, #30c2be 50%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .post-commenttext {
      background: linear-gradient(to left top, #000fbc, #30c2be 50%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .icon-share-ios {
        margin-right: 20px;
    }
    .post-footer-item span{
        margin: 0px 5px;
      background: linear-gradient(to left top, #000fbc, #30c2be 50%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .fade-enter-active {
        transition: opacity 1s;
    }
    .fade-enter, .fade-leave-to  {
        opacity: 0;
    }
</style>

