<template>
    <div class="post-comments-block">
        <div  v-for="comment in allcoments">
            <in-post-comments-item  :comment="comment" :user="user"></in-post-comments-item>
        </div>
        <p class="post-more" v-if="!this.showComments">
            <router-link :to="'/p/'+this.post.slug"> Еще</router-link>
        </p>
        <in-post-makecomment v-if="this.user.status!='guest'" :post="post"></in-post-makecomment>
    </div>
</template>
<script>
  import axios from 'axios';

  import Vue from 'vue'
  import PostCommentItem from './comments/PostCommentItem.vue'
  import PostMakeComment from './comments/PostMakeComment.vue'

  Vue.component('in-post-comments-item',PostCommentItem )
Vue.component('in-post-makecomment',PostMakeComment )

export default {

  name:"PostComments",
  props:['post','user', 'addComments', 'answerNickname'],
  data() {
      return {
        allcoments: [],
        showComments:'',
        showMore:'',
      }
  },
  mounted() {
      this.$on('addComments',() =>{
          this.addCommentUpdate();
      });
      this.$on('answerNickname',(event) =>{
          this.answerNicknameText(event);
      });
      axios.get('v1/users/posts/comments/all?post_id='+this.post.id)
      .then(
            res => {
                    if((this.$route.path=='/rating' || this.$route.path=='/') && res.data.data.length > 3)
                      this.showComments=false;
                    else
                      this.showComments=true;
                    if (this.showComments)
                      this.allcoments=res.data.data.reverse();
                    else {
                      if (res.data.data.length > 3){
                        this.allcoments.push(res.data.data[2]);
                        this.allcoments.push(res.data.data[1]);
                        this.allcoments.push(res.data.data[0]);
                      }
                      else
                        this.allcoments=res.data.data.reverse();
                    }

                }
            )

  },
  methods: {
      addCommentUpdate() {
          axios.get('v1/users/posts/comments/all?post_id='+this.post.id)
      .then(
            res => {
                  if((this.$route.path=='/rating' || this.$route.path=='/') && res.data.data.length > 3)
                    this.showComments=false;
                  else
                    this.showComments=true;
                  if (this.showComments)
                    this.allcoments=res.data.data.reverse();
                  else {
                    if (res.data.data.length > 3){
                      this.allcoments.push(res.data.data[2]);
                      this.allcoments.push(res.data.data[1]);
                      this.allcoments.push(res.data.data[0]);
                    }
                    else
                      this.allcoments=res.data.data.reverse();
                  }
                }
            )
         .catch(err => console.log(err.response));

      },
      answerNicknameText(event) {

      }
  }
}
</script>
<style>
    .post-comments {
        width: 100%;
    }
</style>
