<template>

  <div class="item-block">
    <router-link :to="'/u/'+this.user.nickname">
      <div class="item-avatar ">
        <img :src="this.user.avatar_image.url_medium">
      </div>
    </router-link>
    <div class="item-info">
      <router-link :to="'/u/'+this.user.nickname">
        <p
          class="user-nickname"
          v-text="this.user.nickname"></p>
      </router-link>
      <p class="user-name">
        <span v-text="this.user.name"></span>
        <span v-text="this.user.lastname"></span>
      </p>
    </div>
    <div
      v-if="buttonFollow"
      class="feed-button">
      <span
        v-if="subStatus"
        class="user-unsubscribe"
        v-text="$lang.variables.subscribed"
        v-on:click="eventSubscribe"></span>
      <span
        v-else
        class="user-subscribe"
        v-text="$lang.variables.subscribe"
        v-on:click="eventSubscribe"></span>
    </div>
    <div
      v-if="letterChat"
      class="feed-button letter-profile-user">
      <i
        @click="goToChat()"
        class="icon-letter"></i>
    </div>
  </div>

</template>

<script>
  import axios from 'axios';

  export default {
    props: ['user', 'is_subscribed', 'button', 'letter'],
    data() {
      return {
        subStatus: '',
        buttonFollow: false,
        letterChat: false,

      }
    },
    mounted() {
      if (this.button == 'disabled')
        this.buttonFollow = false;
      else
        this.buttonFollow = true;
      if (this.letter == 'disabled')
        this.letterChat = false;
      else
        this.letterChat = true;
      this.subStatus = this.is_subscribed;
    },
    computed: {
      toggleSubscribe: function () {
        return this.subStatus
          ? this.$lang.variables.subscribed
          : this.$lang.variables.subscribe
      },
      classSubscribe: function () {
        return this.subStatus
          ? 'user-unsubscribe'
          : 'user-subscribe'
      }
    },
    methods: {
      eventSubscribe() {
        let user = this.user;
        if (this.subStatus) {
          axios.get('v1/users/subscribe?id=' + user.id + '&delete=false')
            .then(res => {
              this.subStatus = res.data.state;
            })
        }
        else {
          axios.get('v1/users/subscribe?id=' + user.id)
            .then(res => {
              this.subStatus = res.data.state;
            })
        }
      },
      goToChat() {
        axios.get('v1/me/chats/check?id=' + this.user.id)
          .then(res => {
            if (res.data.state)
              this.$router.push('/messages/' + res.data.id);
            else
              this.$router.push('/new-chat/' + this.user.id);
          })
      }
    }
  }
</script>
<style lang="less">
  @import '~LessStyle/feed.less';
  @import '~LessStyle/variables.less';

  .feed-button {
    position: absolute;
    right: 10px;
    top: 40%;
  }

  .item {
    &-block {
      display: flex;
    }
  }

  .item-avatar {
    margin: 0 10px;

  }

  .user-nickname {
    font-weight: 600;
  }

  .item-avatar img {
    width: 60px;
    height: auto;
    border-radius: 5px;
    display: block;
  }

  .user-name {
    font-weight: 600;
    color: #585151;
  }

  .item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    p {
      margin: 0;
      text-align: left;
    }
  }

  .letter-profile-user {
    font-size: 20px;
    .text-grad();
  }
</style>
