<template>
  <modal
    name="presentSearchMoney"
    width="100%"
    classes=" v--modal"
    :scrollable="true"
    ref="modalPresent"
    height="100%">
    <div class="present-search" ref="presentSearch">
      <h2
        class="present-money-title pr-title"
        @click="closeModalPresent()">
        <i class="close-present-modal icon-left-f pr-icon"></i>
        <span>{{$lang.wallet.send}} INCoins</span>
      </h2>
      <div
        ref="presentContainer"
        class="present-money-container">
        <p class="current-balance">
          <span>{{$lang.wallet.current_balance}} </span>
          <img
            class="present-coin"
            src="http://storage.innet.club/img/default/R-coin.png">
          <span>{{currentBalance}} INCoins</span>
        </p>
        <div
          v-if="step === 1"
          class="search-users-block">
          <input
            :placeholder="$lang.search.search_by_nickname"
            type="text"
            @keyup="searchPeople"
            v-model="searchInput"
            class="present-money-search">
          <div class="selected">
            <span class="count">
              {{$lang.wallet.selected}}: {{selected.length}}
            </span>
            <i
              @click="clearArray"
              class="icon-delete-f"></i>
          </div>
        </div>
        <div
          v-if="step === 1"
          class="choose-people">
         <span class="choose-people-item" v-for="user in selected" :key="user.id">
            <span>{{user.nickname}}</span>
            <i @click="removeUser(user.id)" class="icon-delete-f"></i>
         </span>
        </div>
        <template v-if="step === 1">

          <div class="search-users">
            <div
              class="item-block"
              :key="selectedObject[user.id]"
              v-for="user in allUsers" @click="addUser(user)">
              <div class="item-avatar">
                <img :src="user.avatar_image.url_medium">
              </div>
              <div class="item-info">
                <p
                  class="user-nickname"
                  v-text="user.nickname"></p>
                <p class="user-name">
                  <span v-text="user.name"></span>
                  <span v-text="user.lastname"></span>
                </p>
              </div>
              <div class="feed-button" >
                <i
                  v-if="selectedObject[user.id]"
                  class="icon-check-f present-check"></i>
                <i
                  v-else
                  class="icon-check present-check"></i>
              </div>
            </div>
          </div>
        </template>
        <template v-else>
          <div class="selected-users">
            <div
              class="item-block"
              :key="user.id"
              v-for="(user, index) in selected">
              <div class="item-avatar">
                <img :src="user.avatar_image.url_medium">
              </div>
              <div class="item-info">
                <p
                  class="user-nickname"
                  v-text="user.nickname"></p>
                <p class="user-name">
                  <span v-text="user.name"></span>
                  <span v-text="user.lastname"></span>
                </p>
              </div>
              <div class="present-sum">
                <img
                  class="present-coin"
                  src="http://storage.innet.club/img/default/R-coin.png">
                <input
                  type="number"
                  min="1"
                  :ref="'coins' + index"
                  @keyup="countSumCoins"
                  v-model="user.coins"
                  class="present-money-input"
                  :class="{error: user.coins < 1 || !isInteger(+user.coins)}">
              </div>
            </div>
          </div>
        </template>

        <div
          v-if="step === 1"
          @click="nextStep"
          class="further"chat-header
          :class="{'further-active' : selected.length > 0 }">{{$lang.wallet.further}}
        </div>
        <template v-if="step === 2">
          <div class="present-send-coins">
            <span>Итого:</span>
            <img
              class="present-coin"
              src="http://storage.innet.club/img/default/R-coin.png">
            <span>{{sendSum}} INCoins</span>
          </div>
          <button
            type="button"
            :disabled="this.currentBalance < this.sendSum || invalidInputCoins"
            @click="confirmSendCoins"
            class="send-coins">{{$lang.wallet.send}}</button>
        </template>
      </div>

      <modal
        name="confirmSendCoins"
        width="90%"
        classes=" v--modal modal-send-coins"
        height="auto">
        <div class="confirm-send-coins">
          <p>{{$lang.wallet.ask_present_coins}}</p>
          <div class="buttons">
            <button
              @click="cancelSendCoins"
              class="button error">{{$lang.wallet.cancel}}</button>
            <button
              @click="sendCoins"
              class="button success">{{$lang.wallet.gift}}</button>
          </div>
        </div>
      </modal>
      <div v-if="loading" id="SpinnerOnloadImg">
        <img src="https://media.inrating.top/images/Spinner.svg"/>
      </div>
    </div>
  </modal>
</template>

<script>
  import axios from 'axios';

  import {scrollOnBottom} from "../../mixins/scrollOnBottom";

  export default {
    name: "modalPresentMoney",
    mixins: [scrollOnBottom],
    props: {
      currentBalance: Number
    },
    data() {
      return {
        allUsers: [],
        selected: [],
        searchInput: '',
        selectedObject: {},
        nextPage: 2,
        lastPage: 1,
        loading: false,
        bottom: false,
        step: 1,
        sendSum: 0,
        invalidInputCoins: false
      }
    },
    watch: {
      bottom(bottom) {
        if (bottom && this.lastPage >= this.nextPage && !this.loading) {
          this.addPeople()
        }
      }
    },
    created() {
      // this.$refs.presentSearch.addEventListener('scroll', function () {
      // });
      // this.$refs.presentContainer.addEventListener('scroll', function () {
      // });
      // window.addEventListener('scroll', function () {
      // });
      // this.$refs.modalPresent.addEventListener('scroll', function () {
      // });
      // this.$refs.presentSearch.addEventListener('scroll', this.handleBottomVisible);
    },
    updated() {
      if(this.step === 2) {
        this.$refs.coins0[0].focus();
      }
    },
    mounted() {
      this.searchPeople();
      this.$root.$on('presentMoneySecondStep', (e) => {
        this.step = 2;
        axios.get('v1/users/get?id=' + e)
          .then(res => {
            let user = res.data;
            user.coins = 1000;
            this.selected = [];
            this.selected.push(user);
            this.$set(this.selectedObject, user.id, user.id);
            this.countSumCoins();
          })
      });

    },
    destroyed() {
      // this.$refs.presentSearch.removeEventListener('scroll', this.handleBottomVisible);
    },
    methods: {
      isInteger(number) {
        return (number ^ 0) === number;
      },
      goToUser(nickname) {
        this.$router.push('/u/' + nickname);
      },
      confirmSendCoins() {
        this.$modal.show("confirmSendCoins");
      },
      sendCoins() {
        if(this.currentBalance >= this.sendSum) {
          let ids = [];
          for (let i = 0; i < this.selected.length; i++) {
            ids.push({
              user_id: this.selected[i].id,
              coins: this.selected[i].coins
            });
          }

          const data = new FormData();
          data.append('ids', JSON.stringify(ids));

          axios.post('v1/me/wallet/send', data)
            .then(res => {
              this.$modal.hide('confirmSendCoins');
              this.$modal.hide('presentSearchMoney');
              this.$modal.hide('showPresent');

              this.$notify({
                group: 'money-send',
                duration: 3000,
                speed: 300,
              })
            })
            .catch(e => {
            })
        }
      },
      cancelSendCoins() {
        this.$modal.hide("confirmSendCoins");
      },
      countSumCoins() {
        let sum = 0;
        let flag = true;

        for (let i = 0; i < this.selected.length; i++) {
          let tmp = +this.selected[i].coins;

          if(tmp < 1 || !this.isInteger(tmp)) {
            this.invalidInputCoins = true;
            flag = false
          }
          sum += tmp;
        }
        if(flag) this.invalidInputCoins = false;

        this.sendSum = sum;
      },
      nextStep() {
        let flag = true;

        if(this.selected.length > 0) {
          let user = JSON.parse(localStorage.getItem('user'));
          for (let i = 0; i < this.selected.length; i++) {
            if(user.id === this.selected[i].id) {
              flag = false;
              this.$notify({
                group: 'cant-sent-incoins-yourself',
                duration: 3000,
                speed: 300,
              });
              break;
            }
          }
          if(flag) {
            this.step = 2;
            this.countSumCoins();
          }
        }
      },
      handleBottomVisible() {
        this.bottom = this.bottomVisible()
      },
      bottomVisible() {
        const scrollY = this.$refs.presentContainer.scrollY;
        const visible = this.$refs.presentContainer.clientHeight;
        const pageHeight = this.$refs.presentContainer.scrollHeight;
        const bottomOfPage = visible + scrollY + 400 >= pageHeight;
        return bottomOfPage || pageHeight < visible
        // const scrollY = window.scrollY;
        // const visible = document.documentElement.clientHeight;
        // const pageHeight = document.documentElement.scrollHeight;
        // const bottomOfPage = visible + scrollY + 400 >= pageHeight;
        // return bottomOfPage || pageHeight < visible
      },
      clearArray() {
        this.selected = [];
        this.selectedObject = {};
      },
      closeModalPresent() {
        if (this.step === 2) {
          this.step = 1;
        } else {
          this.$modal.hide('presentSearchMoney');
        }
      },
      searchPeople() {
        // this.loading = true;
        // this.allUsers = [];
        this.nextPage = 2;
        this.lastPage = 1;

        axios.get('v1/users/search?query=' + this.searchInput)
          .then(
            res => {
              this.allUsers = res.data.data;
              this.loading = false;
              this.lastPage = res.data.meta.last_page;
              this.bottom = false;
            }
          )
          .catch(err => {
            this.loading = false;
          });
      },
      addUser(user) {
        if (this.selectedObject[user.id]) {
          this.selected = this.selected.filter(item => item.id !== user.id);
          this.$set(this.selectedObject, user.id, null);
        } else {
          user.coins = 1000;
          this.selected.push(user);
          this.$set(this.selectedObject, user.id, user.id);
        }

      },
      removeUser(id) {
        this.selected = this.selected.filter(item => item.id !== id);
        this.$set(this.selectedObject, id, null);
      },
      addPeople() {
        this.loading = true;
        axios.get('v1/users/search?query=' + this.searchInput + '&page=' + this.nextPage)
          .then(
            res => {
              this.allUsers = this.allUsers.concat(res.data.data);
              this.nextPage = res.data.meta.current_page + 1;
              this.loading = false;
            }
          )
          .catch(err => {
            this.loading = false;
          });
      }
    },
  }
</script>

<style lang="less">
  @import '~LessStyle/variables.less';

  .present-check {
    height: 100%;
  }

  .present-search {
    height: 100%;
    overflow-y: scroll;
  }

  .present-send-coins {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 20px 0;
    margin: 0;
    font-weight: bold;
  }

  .send-coins {
    padding: 8px 10px;
    background: @grad;
    width: 40%;
    display: flex;
    justify-content: center;
    color: @white;
    border-radius: 3px;
    margin: 0 auto;

    &:disabled {
      background: @light__grey;
      border: 1px solid @light__grey;
    }
  }

  .modal-send-coins {
    text-align: center;

    .confirm-send-coins {
      padding: 20px 10px;
    }

    .buttons {
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 10px auto 0 auto;

      .button {
        width: 48%;
      }
    }
  }

  .further {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid @middle_grey;
    background: @white;
    text-align: center;
    padding: 15px 0;
    font-weight: bold;
    color: @middle_grey;
  }

  .further-active {
    color: @contest-list-text-color;
  }

  #SpinnerOnloadImg {
    display: block;
    width: 35%;
    margin: auto;
  }

  .present-money-title {
    position: absolute;
    top: 0;
    z-index: 100;
    height: 40px;
    width: 100%;
    /*position: relative;*/
    color: #fff;
    background: @grad;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-size: 20px;
  }

  .present-money-container {
    margin-top: 40px;
    /*height: 100%;*/
    /*overflow-y: scroll;*/
  }

  .close-present-modal {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    font-size: 22px;
  }

  .current-balance {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 10px 0;
    border-bottom: 1px solid @middle_grey;
    margin: 0;
  }

  .present-coin {
    height: 18px;
    margin: 0 4px 2px;
  }

  .search-users-block {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid @middle_grey;

    .present-money-search {
      width: 55%;
      padding: 8px 5px;
      border: 2px solid @contest-list-text-color;
      border-radius: 5px;
      margin-right: 3%;
    }

    .selected {
      width: 42%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: @middle_grey;

      .icon-delete-f {
        font-size: 26px;
        .text-grad();
      }
    }
  }

  .search-users {
    padding-bottom: 50px;
  }

  .search-users,
  .selected-users {
    .item-block {
      background-color: #fff;
      box-shadow: 1px 2px 5px rgba(0, 0, 0, .3);
      /*margin-top: 10px;*/
      border-radius: 5px;
      padding: 1.5vw;
      display: flex;
      align-items: center;
      width: 95vw;
      height: 15vw;
      margin: 10px 1vw 0 1vw;
      position: relative;
    }

    .item-avatar {
      width: 15vw;
      height: 15vw;
      margin: 0;

      img {
        width: 100%;
        height: auto;
        border-radius: 5px;
      }
    }

    .item-info {
      width: 35vw;
      height: 100%;
      padding-left: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      p {
        margin: 0;
        /*padding: 5px 0;*/
        font-weight: bold;
        box-sizing: border-box;
      }

      .request-time {
        font-size: 11px;
        text-align: left;
        color: @middle_grey;

        span {
          font-size: 11px !important;
          color: @middle_grey !important;
        }
      }

      .user-name {
        font-weight: normal;
        color: @dark_grey;
      }
    }

    .feed-button {
      width: 45vw;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 100%;
      .text-grad();

      i {
        font-size: 25px;
        padding: 0 10px;
      }
    }

    .present-sum {
      width: 45vw;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .present-coin {
        margin-bottom: 0;
      }
    }

    .present-money-input {
      border: 1px solid @contest-list-text-color;
      border-radius: 5px;
      width: 80%;
      padding: 6px 10px;
      color: #000;
      max-width: 100px;
      margin: 0 3px;
      font-size: 16px;

      &.error {
        border: 1px solid @red;
      }
    }

  }

  .choose-people-item {
    padding: 5px 10px;
    border: 1px solid #d3d3d3;
    color: #d3d3d3;
    border-radius: 4px;
    margin: 2px 2px;
    display: flex;
    align-items: center;

    i {
      color: #5ac5c6;
      margin-left: 10px;
    }
  }

  .choose-people {
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
    padding-top: 5px;
  }
</style>
