<template>
  <div id="money">

    <div
      class="money-item"
      v-for="coin in myCoins"
    >

      <div
        class="money-incoins"
        @click="buyCoins(coin.id)"><div class="coins-money"><img src="http://storage.innet.club/img/default/R-coin.png"/> {{coin.value}} INC</div>

        <span v-if="coin.bonus">
          <template v-if="coin.bonus.gift_gold_amount">
            + <img src="https://media.inrating.top/storage/img/icons/gift_icons/high_res/42.png">  <span v-if="coin.bonus.gift_gold_amount>1" class="amount-count">X {{coin.bonus.gift_gold_amount}}</span>
          </template>

          <template v-if="coin.bonus.gift_crown_amount">
            + <img src="https://media.inrating.top/storage/img/icons/gift_icons/high_res/41.png">
          </template>
        </span>
      </div>
      <div
        class="money-bye-arrow"
        @click="buyCoins(coin.id)">
        <div class="money-bye">
          <span>{{coin.price}} $</span>
        </div>
        <div class="money-arrow">
          <i class="icon-right-f"></i>
        </div>

      </div>
    </div>
  </div>
</template>
<script>
  import axios from 'axios';
  import {mapGetters} from 'vuex';
  import {AUTH_USER, moduleName as userModule} from "Store/modules/authUser/user";


  export default {
    data(){
      return {
        myCoins: [

        ]
      }
    },
    computed: {
      ...mapGetters({
        currentUser:userModule + AUTH_USER ,
      }),
    },
    mounted() {
      axios.get('v1/me/wallet/coinpacks/all')
        .then(res=>{
          this.myCoins=res.data.data;
        })
    },
    methods: {
      buyCoins(id){
        if (this.currentUser.status!=='guest') {
          axios.post('v1/me/wallet/coinpacks/buy?coin_pack_id=' + id)
            .then(res =>{
              window.location.href = res.data.url;
            })
        }
        else {
          this.$notify({
            group:'guest-template',
            duration: 3000,
            speed: 300,
          });
        }
      }
    }
  }
</script>
<style lang='less'>
  @import '~LessStyle/wallet.less';
</style>
