<template>
  <div class="present-item" @click="showGiftInModal()">
    <div class="present-left">
      <div class="present-avatar">
        <img :src="present.image"/>
      </div>
      <div v-if="present.bonus !== '0'" class="present-name">
        <b v-text="present.name"></b>
        <span  v-text="present.bonus"></span>
      </div>
      <div v-else class="present-name without-bonus">
        <b v-text="present.name"></b>
      </div>
    </div>
    <div class="present-right">
      <div v-if="type === 'Premium'" class="present-more">
        {{$lang.wallet.more}}
      </div>
      <div v-else class="present-price">
        <img src="http://storage.innet.club/img/default/R-coin.png"/><span v-text="present.cost"></span>
      </div>
      <div class="present-go">
        <i class="icon-right-f"></i>
      </div>
    </div>
    <div
      class="present-bottom"
      :class="type">
      <!--<template v-if="type === 'Premium'">-->
        <!--<img :src="'http://storage.innet.club/img/default/VIP.png'"/>-->
      <!--</template>-->
      <!--<template v-else>-->
        <!--<img :src="'http://storage.innet.club/img/default/'+this.type+'.png'"/>-->
      <!--</template>-->
    </div>

  </div>
</template>
<script>
  export default {
    name: 'presentsItem',
    props: ['present', 'type'],
    methods: {
      showGiftInModal() {
        this.$root.$emit('soloGiftSend', this.present, this.type);
      }
    }
  }
</script>
<style lang="less">
  @import '~LessStyle/presentitem.less';
</style>
