<template>
  <modal name="presentSearch"
         width="100%"
         classes=" v--modal"
         height="100%"
        >
    <div>
      <div class="present-search--header">
        <h2>{{$lang.search.search_recipient}}</h2>
        <i class="icon-left-f go-to-present" @click="closeSearch()"></i>
      </div>
      <div class="search-input"><input id="searchPeople" :placeholder="$lang.search.search_by_nickname" type="text" @keyup="searchPeople"></div>
      <div class="search-block">
        <div  v-for="user in allsearch"  >
          <div class="search-item" @click="showSendModal(user)">
            <div class="item-block">
              <div class="item-avatar ">
                <img :src="user.avatar_image.url_medium">
              </div>
              <div class="item-info">
                <p  class="user-nickname" v-text="user.nickname"></p>
                <p  class="user-name"><span v-text="user.name"></span> <span v-text="user.lastname"></span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <in-send-present-modal :present="this.present" :user="choosenUser"></in-send-present-modal>
  </modal>
</template>
<script>
  import axios from 'axios';

  import Vue from 'vue';
  import sendPresentModal from 'ComponentsVue/wallet/sendPresentModal'

  Vue.component('in-send-present-modal', sendPresentModal);
  export default {
    props:['present'],
    data() {
      return {
        allsearch:[],
        choosenUser:{},
      }
    },
    methods: {
      searchPeople() {
        let value=document.getElementById('searchPeople').value;
        axios.get('v1/users/search?query='+value)
          .then(
            res=>{
              this.allsearch=res.data.data;

            }
          )
          .catch(err => console.log(err.response));
      },
      closeSearch() {
        this.$modal.hide('presentSearch');
      },
      showSendModal(user) {
        this.choosenUser=user;
        this.$modal.show('sendPresentModal');
      }
    }
  }
</script>
<style>

  .search-block {
    height: 80vh;
    overflow-y: scroll;
  }

  .present-search--header {
    position: relative;
    text-align: center;
  }

  .go-to-present {
    position: absolute;
    left:10px;
    top:8px;
  }

  .search-input {
    border-radius: 5px;
    border: 1px solid #5ac5c6;
    color: #d3d3d3;
    margin: 10px 0px;
    text-align: left;
    padding: 5px 10px;
  }

  .search-input input {
    padding:5px 0px;
    width: 80%;
    font-size: 15px;
  }

  .search-item {
    display: flex;
    margin: 10px 0px;
    position: relative;
    box-sizing: border-box;
    padding: 5px 0px;
    border-radius: 10px;
    box-shadow: 2px 2px 0px 0px rgba(95, 92, 92, 0.2);
  }

  .item-block {
    display: flex;

  }

  .item-avatar  {
    margin:0px 10px;

  }

  .user-nickname {
    font-weight:600;
  }

  .item-avatar img {
    width: 60px;
    height: auto;
    border-radius: 10px;
    display: block;
  }

  .item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .item-info p {
    margin: 0px;
  }

  input {
    border:0px;
  }
</style>
