<template>
  <div class="wallet-presents-container" :class="{'modal-presents-container': $route.path.indexOf('/u/') !== -1 || $route.path.indexOf('/story/') !== -1}">
    <h2>GOLD</h2>
    <div v-for="present in allpresents1">
      <in-present-item
        :present="present"
        type="Gold"/>
    </div>
    <h2>PLATINUM</h2>
    <div v-for="present in allpresents2">
      <in-present-item
        :present="present"
        type="Platinum"/>
    </div>
    <h2>VIP</h2>
    <div v-for="present in allpresents3">
      <in-present-item
        :present="present"
        type="VIP"/>
    </div>
    <h2>Premium</h2>
    <div v-for="present in allpresents4">
      <in-present-item
        :present="present"
        type="Premium"/>
    </div>
    <in-modal-present
      :presentModal="soloPresent"
      :modalType="this.soloType"
      :keeperId="keeperId"
      :currentBalance="currentBalance"
      :keeperNickname="keeperNickname"/>
    <!--<modal name="showPresent"
           width="100%"
           classes=" v--modal"
           height="100%"
    >
      <div class="present-modalheader">
        <i class="goto-presents icon-left-f" ></i>
        <h2 v-text="'Подарить '+this.soloPresent"></h2>
      </div>
    </modal>-->
  </div>
</template>
<script>
  import axios from 'axios';

  import Vue from 'vue'
  import presentItem from 'ComponentsVue/wallet/presentItem.vue'
  import presentModal from 'ComponentsVue/wallet/presentModal'

  Vue.component('in-present-item', presentItem);
  Vue.component('in-modal-present', presentModal);
  export default {
    props: ['currentBalance', 'keeperId', 'keeperNickname'],
    data(){
      return {
        allpresents1: [],
        allpresents2: [],
        allpresents3: [],
        allpresents4: [],
        soloPresent: {},
        soloType: '',
      }
    },
    mounted(){
      this.$root.$on('soloGiftSend', (event, type) =>{
        this.showSoloGift(event, type)
      });
      axios.get('v1/gifts/all')
      .then(res =>{
        this.allpresents1 = res.data.data.splice(0, 3);
        this.allpresents2 = res.data.data.splice(0, 3);
        this.allpresents3 = res.data.data.splice(0, 3);
        this.allpresents4 = res.data.data.splice(0, 3);
      })
    },
    methods: {
      showSoloGift(event, type){
        this.soloPresent = event;
        this.soloType = type;
        this.$modal.show('showPresent');
        if(this.currentBalance < this.soloPresent.cost) {
          this.$notify({
            group: 'not-enough-money',
            duration: 3000,
            speed: 300,
          });
        }
      },
    }
  }
</script>
<style>
  .modal-presents-container {
    padding-bottom: 50px;
  }

  .wallet-presents-container {
    padding-bottom: 60px;
  }

  .wallet-presents-container > h2 {
    text-align: center;
    margin: 5px auto;
  }
</style>
