<template>
  <modal
    name="showPresent"
    width="100%"
    classes=" v--modal"
    :scrollable="true"
    height="100%"
  >
    <div class="present-modalheader">
      <h2 class="present-modal-title pr-title" @click="closeModalPresent()">
        <i
          class="close-present-modal icon-left-f pr-icon"
          @click="closeModalPresent()"></i>
        {{$lang.wallet.back}}
      </h2>
      <h2 class="present-title" @click="showPresent">{{$lang.wallet.gift}} "{{presentModal.name}}"</h2>
      <div class="present-modalcontainer">
        <div class="present-modalimage">
          <img :src="presentModal.image">
        </div>
        <div class="present-modaltext">
          <p
            class="present-modalname"
            v-text="presentModal.name"></p>
          <div
            class="present-modalstatus"
            :style="{ 'backgroundImage': 'url(http://storage.innet.club/img/default/'+ modalType +'.png)'  }">
            <span v-text="modalType"> </span>
            <!--<div class="present-blur"></div>-->
          </div>
          <template v-if="presentModal.id !== 43">
            <p
              class="present-modalbonus"
              v-text="this.presentModal.bonus"></p>
            <span
              class="present-duration"
              v-if="modalType === 'Platinum' || modalType === 'Premium'">
              <i class="icon-clock"></i><span
              class="present-hours"
              v-text="getDurationType.day"></span> {{$lang.wallet.days}}
            </span>
            <span
              class="present-duration"
              v-else>
                <i class="icon-clock"></i><span
              class="present-hours"
              v-text="getDurationType.hours"></span> {{$lang.wallet.hours}}
            </span>
          </template>
        </div>
        <div class="present-description">
          <p v-text="presentModal.description"></p>
        </div>

        <template v-if="modalType === 'Premium'">
          <template v-if="presentModal.id === 41">
            <template v-if="presentModal.extra.can_send === false">
              <div
                class="present-buy"
                @click="buyCoins(4)">
              <span class="present-modal-cost">
                <div class="item">
                  <img
                    class="present-coin"
                    src="http://storage.innet.club/img/default/R-coin.png">
                  <span class="count">5000 INC +</span>
                  <div class="present-modalimage-small">
                    <img
                      class="present-image"
                      :src="presentModal.image">
                  </div>
                </div>
                <div class="item right">
                  <div class="price">50 $</div>
                  <i class="icon-right-f"></i>
                </div>
              </span>
              </div>
              <div class="attention">
                {{$lang.wallet.gift_attention}} 5000 INC <br>
                <span class="attention-small">{{$lang.wallet.gift_small_attention}}</span>
              </div>
            </template>
            <template v-else>
              <div
                v-if="!keeperId"
                class="present-sendbutton"
                @click="openPresentSearch()">
                <span>{{$lang.wallet.send_gift}} ({{$lang.wallet.select_recipient}})</span>
              </div>
              <div
                v-else
                class="present-sendbutton"
                @click="presentSend">
                <span>{{$lang.wallet.send_gift}} {{$lang.wallet.to}} {{keeperNickname}}</span>
              </div>
            </template>
          </template>
          <template v-else-if="presentModal.id === 42">
            <template v-if="presentModal.extra.can_send === false">
              <div
                class="present-buy"
                @click="buyCoins(6)">
              <span class="present-modal-cost">
                <div class="item">
                  <img
                    class="present-coin"
                    src="http://storage.innet.club/img/default/R-coin.png">
                  <span class="count">20000 INC +</span>
                  <div class="present-modalimage-small">
                    <img
                      class="present-image"
                      :src="presentModal.image">
                  </div>
                </div>
                <div class="item right">
                  <div class="price">200 $</div>
                  <i class="icon-right-f"></i>
                </div>
              </span>
              </div>
              <div class="attention">
                {{$lang.wallet.gift_attention}} 20000 INC <br>
                <span class="attention-small">{{$lang.wallet.gift_small_attention}}</span>
              </div>
            </template>
            <template v-else>
              <div
                v-if="!keeperId"
                class="present-sendbutton"
                @click="openPresentSearch()">
                <span>{{$lang.wallet.send_gift}} ({{$lang.wallet.select_recipient}})</span>
              </div>
              <div
                v-else
                class="present-sendbutton"
                @click="presentSend">
                <span>{{$lang.wallet.send_gift}} {{$lang.wallet.to}} {{keeperNickname}}</span>
              </div>
            </template>
          </template>
          <template v-else-if="presentModal.id === 43">
            <template v-if="presentModal.extra.can_send === false">
              <div
                class="present-buy"
                @click="buyCoins(6)">
              <span class="present-modal-cost">
                <div class="item">
                  <img
                    class="present-coin"
                    src="http://storage.innet.club/img/default/R-coin.png">
                  <span class="count">20000 INC +</span>
                  <div class="present-modalimage-small">
                    <img
                      class="present-image"
                      :src="presentModal.image">
                  </div>
                </div>
                <div class="item right">
                  <div class="price">200 $</div>
                  <i class="icon-right-f"></i>
                </div>
              </span>
              </div>

              <div class="attention-small">
                {{$lang.wallet.gift_small_attention_coins}}
              </div>
            </template>
            <template v-else>
              <div
                v-if="!keeperId"
                class="present-sendbutton"
                @click="openPresentSearchMoney()">
                <span>{{$lang.wallet.send_money}}</span>
              </div>
              <div
                v-else
                class="present-sendbutton"
                @click="openPresentSearchMoney">
                <span>{{$lang.wallet.send_gift}}</span>
              </div>
            </template>
          </template>

        </template>

        <template v-else>
          <div
            v-if="!keeperId"
            class="present-sendbutton"
            @click="openPresentSearch">
            <span>{{$lang.wallet.send_gift}}</span>
            <span class="present-modalcost">
              <img src="http://storage.innet.club/img/default/R-coin.png">
              <span v-text="presentModal.cost"></span>
            </span>
          </div>
          <div
            v-else
            class="present-sendbutton"
            @click="presentSend">
            <span>{{$lang.wallet.send_gift}} {{$lang.wallet.to}} {{keeperNickname}}</span>
            <span class="present-modalcost">
              <img src="http://storage.innet.club/img/default/R-coin.png">
              <span v-text="presentModal.cost"></span>
            </span>
          </div>
        </template>

      </div>
    </div>
    <in-present-search :present="this.presentModal"/>
    <in-present-money :currentBalance="currentBalance"/>

    <modal
      name="notEnoughMoney"
      width="90%"
      classes=" v--modal modal-not-enough-money"
      height="auto">
      <div class="not-enough-money">
        <p>{{$lang.wallet.not_enough_money}}</p>
        <button
          @click="buyMoney"
          class="button success">{{$lang.wallet.buy_coins}}</button>
      </div>
    </modal>
  </modal>
</template>
<script>
  import axios from 'axios';

  import Vue from 'vue';
  import presentSearch from 'ComponentsVue/wallet/presentSearch';
  import presentMoney from 'ComponentsVue/wallet/modalPresentMoney';

  Vue.component('in-present-search', presentSearch);
  export default {
    props: ['presentModal', 'modalType', 'keeperId', 'currentBalance', 'keeperNickname'],
    components: {
      'in-present-money': presentMoney
    },

    methods: {
      buyMoney() {
        this.$modal.hide('notEnoughMoney');
        this.$modal.hide('showPresent');
        this.$root.$emit('changeTabToWallet');
      },
      openPresentSearchMoney() {
        if(this.currentBalance < 20000) {
          this.$modal.show('notEnoughMoney');
        } else {
          this.$modal.show('presentSearchMoney');
          if(this.keeperId) {
            this.$root.$emit('presentMoneySecondStep', this.keeperId);
          }
        }
      },
      buyCoins(id){
        axios.post('v1/me/wallet/coinpacks/buy?coin_pack_id=' + id)
          .then(res =>{
            window.location.href = res.data.url;
          })
      },
      showPresent() {
      },
      closeModalPresent() {
        this.$modal.hide('showPresent');
      },
      openPresentSearch() {
        this.showPresent();
        if (this.currentBalance < this.presentModal.cost) {
          this.$notify({
            group: 'not-enough-money',
            duration: 3000,
            speed: 300,
          });
        } else {
          this.$modal.show('presentSearch');
        }
      },
      presentSend() {
        if (this.currentBalance < this.presentModal.cost) {
          this.$notify({
            group: 'not-enough-money',
            duration: 3000,
            speed: 300,
          });
        } else {

          let params = new FormData();
          params.append('gift_id', this.presentModal.id);
          params.append('receiver_ids', JSON.stringify([this.keeperId]));

          axios.post('v1/me/gifts/send', params)
            .then(
              res => {
                if (res.data.state)
                  this.$modal.hide('sendPresentModal');
                this.$modal.hide('presentSearch');
                this.$modal.hide('showPresent');
                this.$modal.hide('presentsModal');

                this.$notify({
                  group: 'gift-send',
                  duration: 3000,
                  speed: 300,
                })
              }
            )
        }
      }
    },
    computed: {
      getDuration() {
        return this.presentModal
          ? this.presentModal.properties
            ? this.presentModal.properties
            : ''
          : ''
      },
      getDurationType() {
        return this.getDuration
          ? {
            day: this.getDuration.duration.d,
            hours: this.getDuration.duration.h,
          }
          : ''
      }
    }
  }
</script>
<style lang="less">
  @import '~LessStyle/presentmodal.less';
</style>
