<template>
  <modal name="sendPresentModal"
         width="80%"
         classes=" v--modal"
         height="auto"
        >
        <h2 class="user-sender">{{$lang.wallet.gift_for}} <span v-text="user.nickname"></span> </h2>
        <img class="present-sender-img" :src="present.image">
        <p class="present-costblock" v-if="present.cost > 0">
          <img src="http://storage.innet.club/img/default/R-coin.png">
          <span><span class="present-cost"  v-text="present.cost"></span> INCoins</span>
        </p>
        <p class="present-send" @click="sendPresent()">
          {{$lang.wallet.send}}
        </p>
  </modal>
</template>
<script>
  import axios from 'axios';

  export  default  {
    props:['present','user'],
    methods: {
      sendPresent() {
        let params={
          gift_id:this.present.id,
          receiver_ids: JSON.stringify([this.user.id])
        };
        axios.post('v1/me/gifts/send',params)
          .then(
            res=> {
              if (res.data.state)
                this.$modal.hide('sendPresentModal');
                this.$modal.hide('presentSearch');
                this.$modal.hide('showPresent');

              this.$notify({
                group: 'gift-send',
                duration: 3000,
                speed: 300,
              })
            }
          )
      },
    }
  }
</script>
<style>
  .user-sender {
    text-align: center;
    padding-top: 10px;
  }

  .present-sender-img {
    display: block;
    border:1px solid #3ddedc;
    border-radius: 5px;
    margin: 10px auto;
  }

  .present-cost {
      padding: 0px 10px;
    font-weight: 600;
  }

  .present-costblock {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
  }

  .present-costblock img {
    width:14px;
    height: auto;

  }

  .present-send {
    text-align: center;
    color:blue;
    font-size: 20px;
    border-top:1px solid #d3d3d3;
    margin: 0px;
    padding: 10px;
  }
</style>
