<template>
    <div class="post-comment-item">
        <div class="comment-avatar">
          <router-link :to="'/u/' + comment.author.nickname">
            <in-user-avatar-solo :user="comment.author"></in-user-avatar-solo>
          </router-link>
        </div>
        <div class="comment-body">

            <b  class="comment-nickname" v-text="comment.author.nickname"></b>
            <p class="comment-text" v-text="comment.body"></p>
            <in-time :time="comment.created_at_timestamp"></in-time>
        </div>
        <div v-if="this.user.status!='guest'" @click="answerComment" class="comment-answer">
            <span> {{$lang.comments.answer}} </span>
        </div>
    </div>
</template>
<script>
  import Vue from 'vue'
  import Time from './Time.vue'
  import UserAvatar from 'ComponentsVue/UserAvatar'

  Vue.component('in-user-avatar-solo', UserAvatar);
  Vue.component('in-time',Time);

export default {
  props:['comment', 'user'],
  methods: {
      answerComment() {
          this.$parent.$emit('answerNickname', this.comment.author.nickname);
      }
  },

}
</script>
<style>
@import '~LessStyle/comment.less';
</style>

