<template>
  <div class="post-make-comment">
    <div class="make-comment-user">

      <textarea @keyup="drawIcon"
        v-model="message"
        class="make-comment"
        :placeholder="$lang.comments.wtite_comment"
        ref="makeTextarea"
        :id="'make-comment'+post.id"> </textarea>
    </div>
    <div
      @click="makeComment()" class="send-comment"> <i ref="sendIcon" class="icon-send"></i>
    </div>
  </div>
</template>
<script>
  import axios from 'axios';

  import Vue from 'vue'
  import UserAvatar from 'ComponentsVue/UserAvatar'

  Vue.component('in-user-avatar-solo', UserAvatar);

  export default {
    name: 'PostMakeComment',
    props: ['post'],
    data(){
      return {
        message:'',
        user: {},
        userAvatar: '',
      }
    },

    mounted(){
      this.$parent.$on('answerNickname', (event) =>{
        this.addCommentMessage(event);
      });
      this.user = JSON.parse(localStorage.getItem('user'));
      this.userAvatar = this.user.avatar_image.url_medium
    },

    methods: {
      makeComment(){
        let comment = 'make-comment' + this.post.id;
        let comment_value = document.getElementById(comment).value;

        if(comment_value != ''){
          axios.get('v1/users/posts/comments/add?post_id=' + this.post.id + '&' + 'message=' + comment_value)
            .then(
              res =>{
                this.$parent.$emit('addComments');
                document.getElementById(comment).value = '';
              }
            )

        }
        else{
          alert('Поле комментариев  не заполненно');
        }
      },
      addCommentMessage(event){
        let textareaMessage = this.$refs.makeTextarea;
        let messageSend = event + ',';
        textareaMessage.value = messageSend;
      },
      drawIcon() {
        if (this.message!='')
          this.$refs.sendIcon.style.color="#5ac5c6";
        else
          this.$refs.sendIcon.style.color="#d3d3d3";
      }
    },

  }
</script>
<style>
  .avatar-img--present{
    position: absolute;
    width: 25%;
    height: auto;
    opacity: 0.7;
    bottom: 6%;
    right: 7%;
    background-color: #fff;
    padding: 1px;
    border-radius: 2px;
  }

  .make-comment-avatar{
    position: relative;
  }

  .post-make-comment{
    display: flex;
    align-items: center;

    justify-content: space-between;
    padding: 10px 10px 10px;
    border-top: 1px solid #d3d3d3;
  }

  .make-comment-user{
    width: 90%;
    display: flex;

  }

  .make-comment-user .solo-user-avatar{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    display: block;

  }

  .post-send-comment{
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
    background: transparent;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    color: #5ac5c6;
  }

  .make-comment{

    border-radius: 5px;
    border: 1px solid #d3d3d3;
    height: 24px;
    font-size: 18px;
    width: 100%;
  }
  .send-comment {
    font-size: 24px;
    color:#d3d3d3;
    display: flex;
    align-items: center;
  }
</style>

