<template>
    <span class="comment-createdAt">
      <span>{{$unixTime(this.time)}}</span>
    </span>
</template>
<script>
  import 'JsLib/prototype'

  export default {
    props: ['time'],
    data() {
      return {

        createdAt: '',
        createdAtTime: '',
      }
    },
  }
</script>
<style>
  .comment-createdAt {
    font-size: 1.7vw;
    color: #d3d3d3;
  }
</style>
