<docs>
  # post with info
</docs>

<template>
  <div class="post-item">
    <div class="post-item--header">
      <div class="header-logo">
        <div @click="goToUser">
          <i :class="postLogo"></i>
          <p class="post-logo-text"><b>R</b>
            <span>{{post.author.rating.value}}</span>
          </p>
        </div>
        <div
          class="header-location"
          v-if="post.place !== null">
          <div class="header-location-city">{{this.locationBold}}</div>
          <div class="header-location-place">{{this.locationNormal}}</div>
        </div>
      </div>
      <div
        class="header-user_avatar"
        @click="goToUser">
        <div>
          <in-user-avatar-solo :user="post.author"/>
        </div>
        <div class="header-user--link">
          <div
            class="header-user--nickname"
            v-text="post.author.nickname"></div>
        </div>
      </div>
      <div
        @click="openSettings()"
        class="header-settings">
        <i class="icon-vvv"></i>
      </div>
    </div>

    <div
      class="post-image--ooops"
      v-if="post.attachments.videos==null && post.attachments.images == null && post.attachments.posts == null">
      <img src="http://storage.innet.club/img/default/Ooops.png"/>
    </div>
    <div v-else>
      <div
        class="post-repost"
        v-if="post.attachments.posts != null">

        <in-post-image
          :post="post.attachments.posts[0].attachments"
          :order="post.attachments.posts[0].attachments_order"/>
        <div class="post-repost-icon">
          <i class="icon-share-f"></i>
          <router-link :to="'/u/' + post.attachments.posts[0].author.nickname">
            <span v-text="post.attachments.posts[0].author.nickname"></span>
          </router-link>
        </div>
      </div>
      <div
        class="post-normal"
        v-else>
        <in-post-image
          :avatar="post.is_avatar"
          :user="post.author"
          :post="post.attachments"
          :order="post.attachments_order"/>
      </div>
      <in-postmenu :post='post'/>
      <div
        class="repost-ownertext"
        v-if="post.attachments.posts!=null">
        <p
          class="repost-ownertitle"
          v-if="post.attachments.posts[0].title !== 'null' && post.attachments.posts[0].title !== ''"
          v-text="post.attachments.posts[0].title"></p>
        <div class="post-intags">
          <span
            v-for="intag in post.attachments.posts[0].intags">
            <router-link :to="'/intag/'+intag.name">
              <span>{{'^^'+intag.name}}</span>
            </router-link>

          </span>
        </div>
      </div>

      <p class="post-title">
        <span
          v-if="$route.params.slug === undefined"
          v-text="this.postTitle "></span>
        <span
          v-else
          v-text="post.title "></span>
        <span v-if="moreView" @click="showMore" class="moreView">{{$lang.post.more}}</span>
      </p>
      <div class="post-intags">
        <span
          v-for="intag in  post.intags">
            <router-link :to="'/intag/'+intag.name">
              <span>{{'^^'+intag.name}}</span>
            </router-link>

          </span>
      </div>
      <div class="post-time">
        <in-time :time="post.created_at_timestamp"/>
      </div>
      <in-post-footer
        :post='post'
        :user='this.user'/>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue'
  import PostMenu from './postmenu/PostMenu.vue'
  import PostFooter from './postfooter/PostFooter.vue'
  import PostImage from './postimage/PostImage.vue'
  import UserAvatar from 'ComponentsVue/UserAvatar'

  Vue.component('in-user-avatar-solo', UserAvatar);
  Vue.component('in-postmenu', PostMenu);
  Vue.component('in-post-footer', PostFooter);
  Vue.component('in-post-image', PostImage);
  export default {
    name: 'Post',
    props: ['post'],
    created(){
      this.postTitle = this.post.title;
    },
    computed: {
      postLogo: function(){

        if(this.post.author){
          if(this.post.author.is_voted)
            return 'icon-logo-f';
          else
            return 'icon-logo';
        }
      },
      profilePost() {
        if (this.$route.path.split('/')[1]=='u')
          return false;
        else
          return true;
      }
    },
    data(){
      return {
        user: {},
        locationBold: '',
        locationNormal: '',
        postTitle: this.post.title,
        moreButton: '',
        moreView: false,
      }
    },
    mounted(){
      if(this.$route.params.slug === undefined){
        let textLength = this.post.title.split('').length;
        if(textLength > 100){
          this.moreView = true;
          this.postTitle = this.post.title.slice(0, 100) + '...';
        }
        else{
          this.postTitle = this.post.title
        }
      }

      this.user = JSON.parse(localStorage.getItem('user'));
      if(this.post.place != null){
        let locationArray = this.post.place.location.split(',');
        this.locationBold = locationArray[locationArray.length - 1];
        this.locationNormal = locationArray[1];
      }

    },
    methods: {
      goToUser() {
        const data = new FormData();
        data.append('type', 'profile_visit');
        data.append('id', this.post.id);

        this.$api.users.profileVisitFromPost(data);
        this.$router.push('/u/' + this.post.author.nickname);
      },
      showMore() {
        this.postTitle = this.post.title;
        this.moreView = false;
      },
      openSettings(){
        this.$root.$emit('postAuthor', this.post.author, this.post.slug, this.post.id, this.post.is_avatar, this.post.title, this.post.site_link);
        this.$modal.show('postSettings')
      },
    }
  }


</script>

<style lang="less">
  @import '~LessStyle/post.less';


</style>
