<template>
  <div class="message-right">
    <div class="timeMessage">
      {{messageTime}}
    </div>
    <div class="bubbleRight">

      <span class="arrow">^^</span>
      <span v-if="message.message" v-text="message.message" class="message"></span>
      <span
        v-if="message.translated_message !== null"
        v-text="message.translated_message"
        class="translated-message"></span>

      <div v-if="message.attachments!=null">
                <span v-if="message.attachments.images!=null">
                    <img class="message-image" :src="message.attachments.images[0].url">
                </span>
                <div class="message" v-else-if="message.attachments.stickers!=null">
                    <img class="message-sticker" :src="message.attachments.stickers[0].url">
                  <p class="message-sticker-text">Chin-Chin Flirt</p>
                </div>
                <span v-else-if="message.attachments.videos!=null">
                    <video @click="videoControl()" ref="videoTag">
                        <source :src="message.attachments.videos[0].url">
                    </video>
                </span>
                 <div v-else-if="message.attachments.posts!=null">
                   <p class="share-post"> Поделился(-лась) постом </p>
                   <p class="share-nickname" v-text="message.attachments.posts[0].author.nickname"></p>
                   <router-link :to="'/p/'+message.attachments.posts[0].slug">
                     <span v-if="message.attachments.posts[0].attachments.images!=null">
                       <img class="share-post-image" :src="message.attachments.posts[0].attachments.images[0].url">
                     </span>
                     <span v-else>
                          <video v-bind:style="{'height':clientWidth*0.7+'px'}">
                            <source :src="message.attachments.posts[0].attachments.videos[0].url">
                          </video>
                     </span>
                     <span v-text="message.attachments.posts[0].title"></span>
                   </router-link>
                  </div>
            </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['message', 'messagesDeleteArray'],
    data() {
      return {
        clientWidth: localStorage.getItem('clientWidth'),
        time: this.message.created_at.split(' ')[1],
        messageTime:'',
      }
    },
    mounted () {
      let u=new Date(this.message.created_at_timestamp*1000);

      this.messageTime= ('0' + u.getHours()).slice(-2) +
        ':' + ('0' + u.getMinutes()).slice(-2);
    },
    methods: {
      videoControl() {
        let video = this.$refs.videoTag;
        if (video.paused) {
          video.play();
        } else {
          video.pause();
        }
      },

    }
  }
</script>

<style lang="less">
  @import "~LessStyle/variables.less";

  .bubbleRight .arrow {
    position: absolute;
    top: 4px;
    left: 4px;
    transform: translate(-50%, -50%);

    letter-spacing: -3px;
    background: @white;
    color: @base_green;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 3px 0 0;
    width: 22px;
    height: 22px;
    font-size: 17px;
    line-height: 32px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
  }

  .share-post {
    font-style: italic;
    text-align: center;
  }

  .share-nickname {
    font-style: italic;
    text-align: center;
    color: #5ac5c6;
  }

  .share-post-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .message-sticker-text {
    font-size: 16px;
    text-align: center;
    .text-grad();

  }

  .bubbleRight .message {
    border-radius: 5px;
    background-color: #EBFEFF;
    display: inherit;
    padding: 5px 9px 5px 19px;
    border: 1px solid #eee;
  }

  .bubbleRight .translated-message {
    border-radius: 0 0 10px 10px;

    display: inline-block;
    padding: 5px 9px 5px 19px;
    color: #fff;
  }
</style>
