<template>
  <div class="message-left">

    <div v-if="typeChat !== 1" v-for="(user,index) in users">

        <span v-if="message.sender_id==user.id">
            <img class="message-sender" :src="user.avatar_image.url_small">
        </span>
    </div>
    <div class="bubbleLeft">
      <div v-for="(user,index) in users">
        <span v-if="message.sender_id==user.id && message.message" class="message">
          <span v-if="users.length!=1" class="sender-nickname" v-text="user.nickname+':'"></span>
          <span message.message v-text="message.message"></span>
        </span>
        <span
          class="translated-message"
          v-if="message.translated_message !== null"
          v-text="message.translated_message"></span>

      </div>

      <div v-if="message.attachments!=null">
            <span v-if="message.attachments.images!=null">
                <img class="message-image" :src="message.attachments.images[0].url">
            </span>
        <div class="message" v-else-if="message.attachments.stickers!=null">

          <img class="message-sticker" :src="message.attachments.stickers[0].url">
          <p class="message-sticker-text">Chin-Chin Flirt</p>
        </div>
        <span v-else-if="message.attachments.videos!=null">
                <video @click="videoControl()" ref="videoTag">
                    <source :src="message.attachments.videos[0].url" type="video/mp4">
                </video>
            </span>
        <span v-else-if="message.attachments.messages!=null">
              <span class="chat-forward-message">Forward message from:<span>{{senderForwardNickname}}</span></span>
               <span v-for="messageItem in message.attachments.messages">
                  <span v-text="messageItem.message"></span>
                 <span v-if="messageItem.attachments.images!=null">
                    <img class="message-image" :src="messageItem.attachments.images[0].url">
                 </span>
                 <span v-else-if="messageItem.attachments.stickers!=null">
                    <img class="message-sticker" :src="messageItem.attachments.stickers[0].url">
                 </span>
                 <span v-else-if="messageItem.attachments.videos!=null">
                    <video @click="videoControl()" ref="videoTag">
                        <source :src="messageItem.attachments.videos[0].url" type="video/mp4">
                    </video>
                 </span>
               </span>
            </span>
        <div v-else-if="message.attachments.posts!=null">
          <p class="share-post"> Поделился(-лась) постом </p>
          <p class="share-nickname" v-text="message.attachments.posts[0].author.nickname"></p>
          <router-link :to="'/p/'+message.attachments.posts[0].slug">
                     <span v-if="message.attachments.posts[0].attachments.images!=null">
                       <img class="share-post-image" :src="message.attachments.posts[0].attachments.images[0].url">
                     </span>
            <span v-else>
                          <video v-bind:style="{'height':clientWidth*0.7+'px'}">
                            <source :src="message.attachments.posts[0].attachments.videos[0].url">
                          </video>
                     </span>
            <span v-text="message.attachments.posts[0].title"></span>
          </router-link>
        </div>
      </div>
    </div>
    <div class="timeMessage">

      {{this.messageTime}}
    </div>
  </div>
</template>

<script>
  export default {
    props: ['message', 'users', 'messagesDeleteArray', 'typeChat'],
    data() {
      return {
        senderForwardNickname: '',
        time: this.message.created_at.split(' ')[1],
        messageTime: '',

      }
    },
    mounted() {
      let u = new Date(this.message.created_at_timestamp * 1000);

      this.messageTime = ('0' + u.getHours()).slice(-2) +
        ':' + ('0' + u.getMinutes()).slice(-2);

      if (this.message.attachments.messages !== undefined) {
        axios.get('v1/users/get?id=' + this.message.attachments.messages[0].sender_id)
          .then(
            res => {
              this.senderForwardNickname = res.data.nickname;
            }
          )
      }
    },
    methods: {
      videoControl() {
        let video = this.$refs.videoTag;
        if (video.paused) {
          video.play();
        } else {
          video.pause();
        }
      },


    }

  }
</script>

<style lang="less">
  @import "~LessStyle/variables.less";

  .share-post {
    font-style: italic;
    text-align: center;
  }

  .share-nickname {
    font-style: italic;
    text-align: center;
    color: #5ac5c6;
  }

  .share-post-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .message-sticker-text {
    font-size: 16px;
    text-align: center;
    .text-grad();
  }

  .timeMessage {
    font-size: 12px;
    color: #d3d3d3;
    margin: 8px 14px 0 10px;
  }

  .bubbleLeft .message {
    border-radius: 5px;
    background-color: #fff;
    display: inherit;
    padding: 5px 9px 5px 19px;
    border: 1px solid #eee;
  }

  .bubbleLeft .translated-message {
    border-radius: 0 0 10px 10px;

    display: block;
    padding: 5px 9px 5px 19px;
    word-wrap: break-word;
    color: #fff;

  }

  .chat-forward-message {
    padding: 10px;
    color: @white;
  }
</style>
