<template>
  <div class="chat-header">
    <div class="chat-header--item">
      <i
        @click="showUserSearch()"
        class="icon-search"></i>
    </div>
    <div class="chat-header--item">
      <router-link to="/create-newsletter">
        <i class="icon-dispatch"></i>
      </router-link>
    </div>
    <div class="chat-header--item">
      <router-link to="/create-groupchat">
        <i class="icon-Group_chat"></i>
      </router-link>
    </div>
    <div class="chat-header--item" @click="notifyUser">
      <i class="icon-star"></i>
    </div>
    <div class="chat-header--item" @click="notifyUser">
      <i class="icon-archive"></i>
    </div>
  </div>
</template>

<script>

  export default {
    methods: {
      showUserSearch(){
        this.$modal.show('searchForCompanion');
      },
      notifyUser() {
        this.$notify({
          group: 'not-is-now',
          duration: 3000,
          speed: 300
        })
      }
    },
  }
</script>

<style lang="less">
  @import '~LessStyle/variables.less';

  .chat-header{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    font-size: 26px;
    i{
      .text-grad();
      font-size: 30px;
    }
  }

  #createGroupChat{
    padding-top: 1px;
  }

  .chat-header--item{
    width: 15%;
    text-align: center;
  }
</style>
