<template>
  <div id="createGroupChat">
    <div class="modal-title">
      <i
        class="icon-left-f closeCompanions"
        @click="closeChatNewsLetter()"></i>
      {{$lang.variables.create_newsletter}}
    </div>
    <div class="search-input"><textarea id="messageDistribution" :placeholder="$lang.variables.message"></textarea></div>
    <div class="group-chat-block">
      <in-search-people :userArray="userArray"></in-search-people>
    </div>

  </div>
</template>

<script>
  import axios from 'axios';

  import Vue from 'vue'
  import searchPeople from 'ComponentsVue/chats/groupChatSearch.vue'

  Vue.component('in-search-people', searchPeople)
  export default {
    data() {
      return {
        userArray: [],
        usersIds: [],
      }
    },
    mounted() {
      this.$root.$on('chatNewsLetterCreate', () => {
        this.chatNewsLetter();
      });
    },
    methods: {
      chatNewsLetter() {
        this.userArray.map((item) => {
          this.usersIds.push(item.id);
        });
        if(document.getElementById('messageDistribution').value === '') {
          this.$notify({
            group: 'empty-chat-message',
            duration: 2000,
            speed: 300
          })
        } else if(this.usersIds.length === 0) {
          this.$notify({
            group: 'not-users',
            duration: 2000,
            speed: 300
          })
        } else {
          let data = new FormData;
          data.append('message', document.getElementById('messageDistribution').value)
          data.append('ids', JSON.stringify(this.usersIds));
          axios.post('v1/me/chats/messages/distribution', data)
            .then(
              res => {
                this.$router.push('/messages');
              }
            )
        }

      },
      closeChatNewsLetter() {
        this.$router.push('/messages');
      }
    }
  }
</script>

<style>
  #createGroupChat .modal-title {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1200;
  }

  .search-input {
    border-radius: 5px;
    border: 1px solid #5ac5c6;
    color: #d3d3d3;
    text-align: left;
    padding: 5px 10px;
  }

  #chatGroupName {
    border: 0px;
    width: 80%;
    padding: 5px;
  }

  .group-chat-block > .search-block {
    height: 300px;
    overflow-y: scroll;
  }

  #messageDistribution {
    border: none;
    width: 90%;
    font-size: 14px;
  }
</style>
