<template>
  <div>
    <div id="messagesThread">
      <div class="message-background"></div>
      <div v-for="(message,index) in messageArray">

      <span v-if="index-1>=0">
        <span v-if="message.created_at.split(' ')[0].split('-')[2]!=messageArray[index-1].created_at.split(' ')[0].split('-')[2]">
          {{messageArray[index].created_at.split(' ')[0].split('-').reverse().join('.')}}
        </span>
      </span>
        <span v-else>
          {{messageArray[index].created_at.split(' ')[0].split('-').reverse().join('.')}}
      </span>
        <div v-if="message.sender_id!=yourID" class="message-container">
          <div @click="addToDelete($event,message)" class="click-zone"></div>
          <in-bubbleLeft
            :message="message"
            :users="users"
            :messagesDeleteArray="messagesDeleteArray"
            :typeChat="typeChat"></in-bubbleLeft>
        </div>
        <div v-else class="message-container">
          <div @click="addToDelete($event,message)" class="click-zone"></div>
          <in-bubbleRight :message="message" :messagesDeleteArray="messagesDeleteArray"></in-bubbleRight>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
  import axios from 'axios';

  import Vue from 'vue'
  import bubbleLeft from 'ComponentsVue/chats/bubbleLeft.vue'
  import bubbleRight from 'ComponentsVue/chats/bubbleRight.vue'

  Vue.component('in-bubbleLeft', bubbleLeft)
  Vue.component('in-bubbleRight', bubbleRight)
  export default {
    data() {
      return {
        typeChat: '',
        messageArray: [],
        yourID: '',
        users: [],
        chat: [],
        messagesDeleteArray: [],
      }
    },
    mounted() {

      this.yourID = JSON.parse(localStorage.getItem('user')).id;
      this.$root.$on('newSendMessage', () => {
        this.checkMessageArray();
      });
      this.$root.$on('updateChat', () => {
        this.updatedChat();
      });
      this.$root.$on('resetMessagesDeleteArray', () => {
        let messages = document.querySelectorAll('.click-zone');

        if (messages) {
          for (let i = 0; i < messages.length; i++) {
            messages[i].style.background = "transparent";
          }
        }
        this.messagesDeleteArray = [];
      });
      let chat_id = this.$route.params.thread_id;
      axios.get('v1/me/chats/messages/all?chat_id=' + chat_id)
        .then(
          res => {
            this.messageArray = res.data.data.reverse();

            axios.post('v1/me/chats/messages/read?id='+this.messageArray[this.messageArray.length-1].id)
              .then(
                res=>{
                  this.$root.$emit('updateUnread');
                  window.scrollTo(0,document.getElementById('messagesThread').scrollHeight);
                }
              )
          }
        )
      axios.get('v1/me/chats/get?id=' + chat_id)
        .then(
          res => {
            this.chat = res.data;
            this.typeChat = this.chat.type;
            for (let i = 0; i < this.chat.users.length; i++) {
              if (this.chat.users[i].id != this.yourID) {
                this.users.push(this.chat.users[i])
              }
            }
          }
        )


    },
    methods: {
      checkMessageArray() {
        let chat_id = this.$route.params.thread_id;
        axios.get('v1/me/chats/messages/all?chat_id=' + chat_id)
          .then(
            res => {
              this.messageArray = res.data.data.reverse();
            }
          )
      },
      updatedChat() {
        let chat_id = this.$route.params.thread_id;
        axios.get('v1/me/chats/messages/all?chat_id=' + chat_id)
          .then(
            res => {
              this.messageArray = res.data.data.reverse();
              this.messagesDeleteArray = [];
              let clickArray = document.getElementsByClassName('click-zone');
              for (let i = 0; i < clickArray.length; i++) {
                clickArray[i].style.background = "transparent";
              }
            }
          )
      },
      addToDelete(e, message) {
        let checkMessage = this.messagesDeleteArray.indexOf(message.id);
        if (checkMessage == -1) {
          this.messagesDeleteArray.push(message.id);
          e.target.style.background = "rgba(90, 198, 197, 0.3)";
          this.$root.$emit('messageEdit', message.id, true, checkMessage);
        }
        else {
          this.messagesDeleteArray.splice(checkMessage, 1);
          e.target.style.background = "transparent";
          this.$root.$emit('messageEdit', message.id, false, checkMessage);
        }

        if (this.messagesDeleteArray.length == 0)
          this.$root.$emit('changeFooter');
        else
          this.$root.$emit('changeFooter');

      }
    },



  }
</script>

<style lang="less">
  @import '~LessStyle/chatsolo.less';
</style>
