<template>
  <div class="chats-block">
    <div v-if="allchats.length" v-for="chat in allchats" :key="chat.id + Math.floor(Math.random())">

      <in-chatitem :chat="chat"></in-chatitem>
    </div>
    <div v-else>
      <p>У Вас пока нет ни одного сообщений</p>
    </div>
    <in-modal-chatsettings></in-modal-chatsettings>

    <div v-if="loading" id="SpinnerOnloadImg">
      <img src="https://media.inrating.top/images/Spinner.svg"/>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';

  import Vue from 'vue'
  import chatItem from 'ComponentsVue/chats/chatItem.vue'
  import chatSettings from 'ComponentsVue/modal/chatSettings.vue'
  import {scrollOnBottom} from "../../mixins/scrollOnBottom";

  Vue.component('in-chatitem', chatItem);
  Vue.component('in-modal-chatsettings', chatSettings);
  export default {
    mixins: [scrollOnBottom],
    data() {
      return {
        allchats: [],
        perPage:2,
        metaPage:0,
        loading: false,
      }
    },
    mounted() {
      this.loadAllChats();
      this.$root.$on('loadAllChats', () => {
        this.loadAllChats();
      });
    },
    watch: {
      bottom(bottom) {
        if (bottom  && (this.perPage <= this.metaPage) && !this.loading) {
          this.addChats();
        }
      },
    },
    methods: {
      loadAllChats() {
        this.loading = true;
        axios.get('v1/me/chats/all')
          .then(
            res => {
              this.metaPage = res.data.meta.last_page;
              this.allchats = res.data.data;
              this.loading = false;
              this.bottom = false;
            }
          )
          .catch(err => {
            this.loading = false;
          });
      },
      addChats() {
          this.loading = true;
          axios.get('v1/me/chats/all?page=' + this.perPage)
            .then(res =>{
              let api = res.data.data;
              let url = res.data.meta.current_page;
              this.allchats = this.allchats.concat(api);
              this.perPage = url + 1;
              this.loading = false;
            })
      },
    }
  }
</script>

<style lang="less">
  #SpinnerOnloadImg{
    display: block;
    width: 35%;
    margin: auto;
  }
</style>
