<template>
  <div id="createGroupChat">
    <div class="modal-title">
      <i
        class="icon-left-f closeCompanions"
        @click="closeGroupChatTitle()"></i>
      {{$lang.variables.create_group_chat}}
    </div>
    <div class="search-input"><input id="chatGroupName" :placeholder="$lang.variables.group_chat_name" type="text"></div>
    <div class="group-chat-block">
      <in-search-people :userArray="userArray"></in-search-people>
    </div>

  </div>
</template>

<script>
  import axios from 'axios';

  import Vue from 'vue'
  import searchPeople from 'ComponentsVue/chats/groupChatSearch.vue'

  Vue.component('in-search-people', searchPeople)
  export default {
    data() {
      return {
        userArray: [],
        usersIds: [],
      }
    },
    mounted() {
      this.$root.$on('chatGroupCreate', () => {
        this.createGroupChat();
      });
    },
    methods: {
      createGroupChat() {
        let data = new FormData;
        this.userArray.map((item) => {
          this.usersIds.push(item.id);
        });
        data.append('name', document.getElementById('chatGroupName').value)
        data.append('ids', JSON.stringify(this.usersIds));
        axios.post('v1/me/chats/create', data)
          .then(
            res => {
              this.check = true;
              this.$router.push('/messages');
            }
          )
      },
      closeGroupChatTitle() {
        this.$router.push('/messages');
      }
    }
  }
</script>

<style>
  #createGroupChat .modal-title {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1200;
  }

  .search-input {
    border-radius: 5px;
    width: 95%;
    margin: 10px auto;
    border: 1px solid #5ac5c6;
    color: #d3d3d3;
    box-sizing: border-box;

    text-align: left;
    padding: 5px 10px;
  }

  #chatGroupName {
    border: 0px;
    width: 80%;
    padding: 5px;
  }

  .group-chat-block > .search-block {
    height: 300px;
    overflow-y: scroll;
  }
</style>
