<template>
    <div>
        <div class="create-input-button">
          <div class="create-input-chat"><input id="searchPeople" :placeholder="$lang.variables.search_nickname" type="text" @keydown="searchPeople"></div>
          <button @click="chatNewsLetter()"> {{$lang.variables.create}} </button>
        </div>
      <div class="choose-array">
         <span class="choose-people-array" v-for="(newUser,index) in this.userArray" >
            <span>{{newUser.nickname}}</span>
            <i @click="deleteFromArray(newUser.id,index)" class="icon-delete-f"></i>
        </span>
      </div>

        <div class="search-block">
            <div class="search-item"  v-for="user in allsearch" >
              <in-groupsearch-chat-item :userArray="userArray" :user="user"></in-groupsearch-chat-item>
            </div>
        </div>

    </div>
</template>

<script>
  import axios from 'axios';

  import Vue from 'vue'
  import groupSearchChatItem from 'ComponentsVue/chats/groupSearchChatItem'

  Vue.component('in-groupsearch-chat-item',groupSearchChatItem);
export default {
    props: ['userArray'],
    data() {
        return {
            allsearch:[],
          check:false
        }
    },

    methods: {
        searchPeople() {
            let value=document.getElementById('searchPeople').value;
            axios.get('v1/users/search?query='+value)
            .then(
                res=>{
                    this.allsearch=res.data.data;
                }
            )

        },
      chatNewsLetter() {
          if (this.$route.path === '/create-newsletter')
            this.$root.$emit('chatNewsLetterCreate');
          else
            this.$root.$emit('chatGroupCreate');
      },
      deleteFromArray(id,index) {
        this.userArray.map((item)=>{
          if (item.id==id)
            this.userArray.splice(index,1);
        });

      }

    }
}
</script>

<style>
    .search-block {
      width: 95%;
      margin: auto;
      overflow-y: scroll;
    }
    .search-item {
        display: flex;
        margin: 10px 0px;
        box-sizing: border-box;
        padding:5px 0px;
        border-radius: 10px;
        box-shadow: 2px 2px 0px 0px rgba(95, 92, 92, 0.2);

    }
    .search-input {
        border-radius: 5px;
        width: 95%;
      margin:10px auto;
        border: 1px solid #5ac5c6;
        color: #d3d3d3;
        box-sizing: border-box;

        text-align: left;
        padding:5px 10px;
    }
    #searchPeople {
        border:0px;
        width:95%;
        padding: 5px;
    }
    .item-block {
      display: flex;
      position: relative;
      width: 100%;
    }
    .item-avatar  {
      margin:0px 10px;

    }
    .choose {
      position: absolute;
      top:20px;
      right: 10px;
    }
    .user-nickname {
      font-weight:600;
    }
    .item-avatar img {
      width: 60px;
      height: auto;
      border-radius: 5px;
      display: block;
    }
    .user-name {
      color:#d3d3d3;
      font-weight:600;

    }
    .item-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
    }
    .item-info p{
      margin: 0px;
      text-align: left;
    }
    .user-multiply {
      position: absolute;
      right: 10px;
      top:20px;
    }
    .uncheck {
      color:#d3d3d3;
    }
    .check {
      color:#5ac5c6;
    }

    .create-input-button {
      display: flex;
      width: 95%;
      justify-content: space-between;
      margin: 10px auto;
      padding: 3px 10px;
    }

    .create-input-chat {
      width: 70%;
      border: 1px solid #5ac5c6;
      border-radius: 3px;
      padding: 5px 0px;
    }

    .choose-people-array {
      padding: 5px 10px;
      border: 1px solid #d3d3d3;
      color:#d3d3d3;
      border-radius: 4px;
      margin: 2px 2px;
      display: flex;
      align-items: center;

    }
    .choose-people-array > i {
      color: #5ac5c6;
      margin-left: 10px;
    }

  .choose-array {
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
  }
  .create-input-chat {

  }
</style>
