<template>
  <div class="item-block" @click="addToArray(user, $event)" >
    <div class="item-avatar ">
      <img :src="user.avatar_image.url_small">
    </div>
    <div class="item-info">
      <p  class="user-nickname" v-text="user.nickname"></p>
      <p  class="user-name"><span v-text="user.name"></span> <span v-text="user.lastname"></span></p>
    </div>
  </div>
</template>
<script>
  export default {

    props: ['userArray', 'user'],
    data() {
      return {
        checkUser:false,
      }
    },
    methods:{
      addToArray(user,e) {
        let temp = this.userArray.filter(function(el) {
          return el.id === user.id;
        });

        if (temp.length === 0) {
          this.userArray.push(user);
        }
        else {
          let indexId=this.userArray.indexOf(user);
          this.userArray.splice(indexId,1);
        }
      },
    }
  }
</script>
<style>

</style>
