<template>
  <div class="messages-thread">
        <div class="message-background"></div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="less">
     @import '~LessStyle/chatsolo.less';
</style>
