<template>
  <modal
    name="searchForCompanion"
    width="100%"
    classes=" v--modal search-people"
    height="100%"
    :scrollable="true">
    <div class="modal-title">
      <i
        class="icon-left-f closeCompanions"
        @click="closeCompanions()"></i>
      {{$lang.search.user_search}}
    </div>
    <div class="search-input">
      <input
        id="searchPeople"
        :placeholder="$lang.search.search_by_nickname"
        type="text"
        @keyup="searchPeople">
    </div>
    <div class="search-companion--block">
      <div
        class="search-item"
        v-for="user in allSearch"
        @click="startDialog(user.id)">
        <in-item-user
          :user="user"
          button="disabled"/>
      </div>
    </div>
  </modal>
</template>

<script>
  import axios from 'axios';

  export default {
    data(){
      return {
        allSearch: [],
      }
    },
    methods: {
      closeCompanions(){
        this.$modal.hide('searchForCompanion');
      },
      searchPeople(){
        let value = document.getElementById('searchPeople').value;
        axios.get('v1/users/search?query=' + value)
        .then(res =>{
          this.allSearch = res.data.data;
        })

      },
      startDialog(id){
        /*let arrayId=[];
        arrayId.push(id);
        let data=new FormData();
        data.append('name','My friends');
        data.append('ids',JSON.stringify(arrayId));
        axios.post('v1/me/chats/create',data)
        .then(
            res=> {
                this.$router.push('/chats/'+id);
            }
        )*/
        axios.get('v1/me/chats/check?id=' + id)
        .then(res =>{
          if(res.data.state){
            this.$router.push('/messages/' + res.data.id)
          }else{
            this.$router.push('/new-chat/' + id)
          }
        })
      }
    },

  }
</script>

<style lang="less">
  @import '~LessStyle/variables.less';

  .search-people{

  }

  .search-item{
    position: relative;
  }

  .closeCompanions{
    position: absolute;
    left: 10px;
  }

  .search-item{
    display: flex;
    margin: 10px 0;
    box-sizing: border-box;
    padding: 5px 0;
    border-radius: 10px;
    .setShadowMobile();
  }

  .search-input{
    border-radius: 5px;
    border: 1px solid @contest-list-text-color;
    color: #d3d3d3;
    margin: 10px auto;
    text-align: left;
    padding: 5px 10px;
  }

  #searchPeople{
    border: 0;
    width: 95%;
    padding: 5px;
    font-size: 15px;
  }

  .search-companion--block{
    height: 80vh;
    overflow-y: scroll;
  }

</style>
