.comment-avatar .solo-user-avatar{
    width:60px;
    height: 60px;
    border-radius: 3px;
    display: block;
}

.comment-avatar {
    margin-right: 10px;
}

.post-comment-item {
    width: 100%;
    display: flex;
    padding:0px 10px;
    box-sizing: border-box;
    position: relative;
    margin:10px 0px;
    padding-bottom:5px;
    border-bottom:1px solid #d3d3d3;
}

.comment-createdAt {
    font-size: 10px;
    color:#d3d3d3;
}

.comment-nickame {
    font-size: 15px;
}

.comment-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width:67%;
}

.comment-text {
    text-align: left;

}

.comment-answer {
    position: absolute;
    color:@contest-list-text-color;
    right:10px;
    top:20px;
    font-size: 14px;
}
