@import "variable";

#groupCreate {
  margin-top: -43px;
  margin-bottom: 80px;
}

.group-create--header {
  display: flex;
  align-items: center;
  color: #777;
  padding: 0px 0px;
  padding-top: 10px;
  margin-bottom: 18px;
}

.create-header--item {
  width: 33%;
  padding-bottom: 15px;
  font-weight: 600;
}

.group-banner {
  z-index: 10;
  //height: 150px;
  box-sizing: border-box;
  //padding: 10px;
  color: #fff;
  position: relative;
  background-image: url(https://media.inrating.top/images/Fon_350x150.png);
  background-size: cover;
  background-position-y: 50%;
}

.group-banner p {
  padding-top: 25%;
  margin: 0;
}

.group-photos {
  position: relative;
  button {
    width: 50%;
  }
}

.group-logo {
  z-index: 11;
  width: 80px;
  height: 80px;
  background-image: url(https://media.inrating.top/images/Fon_60x60.png);
  background-size: cover;
  margin: auto;
  padding: 50px 5px 5px 5px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #fff;
  font-size: 8px;
  justify-content: center;
  background-position-x: 50%;
  position: absolute;
  top: 15px;
  left: 40%;
  color: #fff;
}

.group-input--item {
  border: 1px solid @base_green;
  width: 95%;
  height: 35px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: hsla(0, 0%, 100%, .7);
  outline: 0;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 5px;
  color: #b7bac0;
}

.group-descr {
  textarea {
    height: 100px;
  }
}

.group-previewimg {
  position: relative;
  .group-bannerimg {
    width: 100%;
    height: auto;
  }
  .group-logoimg {
    position: absolute;
    border-radius: 5px;
    width: 24%;
    left: 37.5%;
    height: auto;
  }
  .group-logo-border{

    border: 1px solid @black;
  }
  .group-logotop {
    top:97px;
  }
  .group-logobottom {
    top: 0px;
  }
}

.group-status {
  text-align: left;
  padding: 0px 10px;
  color: #d3d3d3;
  margin: 10px 0px 40px;
}

.group-photos {
  margin: 20px;
  margin-top: 82px;
  button {
    margin: 10px;
  }
}


.group-create-title {
  margin: 5px 0px;
  text-align: left;
  padding: 0px 10px;
  color:#d3d3d3;
}

.status-item {
  display: flex;
  align-items: center;
}

.status-item.active {
  color: @contest-list-text-color;
}

.status-item > span {
  display: flex;
  align-items: center;
  p {
    margin: 5px;
    color:@black;
  }
  i {
    .text-grad();
  }

}

.status-item > input {
  display: none;
}

input:checked + span {
  color: @contest-list-text-color;
}

.active {
  color: @contest-list-text-color;
  border-bottom: 2px solid @contest-list-text-color;
}

.group-lifetime {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}

.group-lifetime input {
  border: 1px solid @contest-list-text-color;
  border-radius: 5px;
  padding: 5px 0px;
}

button {
  border: 1px solid @contest-list-text-color;
  background-color: white;
  color: @contest-list-text-color;
  padding: 5px 15px;
  border-radius: 4px;
}
