@import "~LessStyle/variables.less";

#groups-container {
  //position: relative;
  position: absolute;
  transition: 0.5s;
  width: 100%;
  margin-bottom: 70px;
  padding-bottom: 50px;
}

.group-top {
  transition: 0.5s ease-out;
}

.groups-header {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;

}

.group-tabs {
  display: flex;
  justify-content: space-between;
  width: 100%;


  :nth-child(2) {
    border-left: 0;
    border-right: 0;
  }
}

.group-tab {
  width: 33.33%;
  height: 30px;
  color:@dark_grey;
  background: #dcdcdc;
  padding: 5px 0;
  border: 1px solid #aba8a8;
  font-size: 3.8vw;
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &.active {
    background: @white;
    border: 1px solid #aba8a8;
    border-bottom: 0px ;

    p {
      .text-grad();
    }
  }
}

.content-none {
  padding-top: 40px;
  font-size: 15px;
}

.group-menu {
  display: flex;
  border-bottom: 1px solid @light__grey;
  //box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 5px 0 !important;

  .menu-item {
    width: 25%;
    font-size: 25px;
    padding: 5px 5px 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      .text-grad();
    }

  }
}

.menu-item-search {
  width: 75% !important;
  //box-sizing: border-box;
  position: relative;

  input {
    border-radius:5px;
    border: 1px solid @contest-list-text-color;
    padding: 8px 10px;
    color: #000;
    /*position: absolute;*/
    top: 0 !important;
    left: 5% !important;
    width: 95% !important;

    &:focus {
      border-bottom-color: @contest-list-text-color;
    }
  }

  i {
    .text-grad();
  }
}

.group-bigtitle {
  text-align: center;
  font-size: 20px;
  color: #777;
  margin-top: 10px;
  margin-bottom: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #d3d3d3;
  .text-grad();
}

.groups-founded {
  width: 97%;
  margin: auto;
  display:flex;

}

.groups-function {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:90%;
  margin:10px auto;
  font-size: 25px;
}

.search-item {
  display: flex;
  width:97% ;
  margin: 5px auto;
  position: relative;
  box-sizing: border-box;
  padding:5px 0;
  border-radius: 10px;
  box-shadow: 2px 2px 0 0 rgba(95, 92, 92, 0.2);
}

#participant-block {
  height: 95vh;
  overflow-y: scroll;
}

.group-title {
  width: 100%;
  margin:3px 0;
  padding: 3px 0;
  font-weight: 500;
  border-top:1px solid #d3d3d3;
  border-bottom:1px solid #d3d3d3;
}

.groups-function--item{
  > i{
    .text-grad();
  }
}
