@import "~LessStyle/variables.less";

.notification-guest{
  color: @white;
  padding: 8px;
  min-height: 40px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  .bgc-grad();
}

.notification-button{
  border-radius: 3px;
  border: 1px solid @white;
  background: transparent;
  color: @white;
  font-size: 14px;
  padding: 5px 20px;
  margin: 5px 0;
}

.v-fade-left-enter-active,
.v-fade-left-leave-active,
.v-fade-left-move{
  transition: all .5s;
}

.v-fade-left-enter,
.v-fade-left-leave-to{
  opacity: 0;
  transform: translateY(-50px);
}
