@import "~LessStyle/variables.less";

.present-modalheader{
  text-align: center;
  color: @base_green;
  overflow: scroll;
  height: 100%;

  .present-title {
    .text-grad();
  }

  .pr-title {
    background: @grad;
    color: #fff;
    text-align: left;
    padding-left: 40px;
  }
}

.modal-not-enough-money {
  text-align: center;

  .not-enough-money {
    padding: 10px;
  }

  .button {
    width: 50%;
    text-align: center;
    margin: 0 auto;
  }
}

.present-modalcontainer{
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: center;
}

.goto-presents{
  position: absolute;
  left: 7px;
  top: 9px;
  font-size: 21px;
}

.goto-presents-accept {
  position: absolute;
  right: 7px;
  top: 9px;
  font-size: 21px;
}
.present-modalimage{
  padding: 10px;
  width: 50%;
  box-sizing: border-box;
}

.present-modaltext{
  width: 40%;
  padding: 10px;
  box-sizing: border-box;
  margin-left: 5px;
}

.present-modalimage img{
  border-radius: @border-radius;
  border: 1px solid @base_green;
  width: 100%;
  height: auto;
}

.present-modalstatus{
  position: relative;
  background-size: contain;
  text-align: center;
  width: 85%;
  margin: 10px auto;
  padding: 3px 0;
  border-radius: 5px;
  color: @dark_grey;
  text-transform: uppercase;
  font-family: initial;
  font-size: 14px;
}

.present-blur{
  position: absolute;
  width: 100%;
  height: 20px;
  filter: blur(0.1em);
  top: 1px;
  overflow: hidden;
}

.present{
  &-modal{
    &name{
      margin-top: 8px;
      font-size: 20px;
      font-weight: 600;
      .text-grad();
    }
    &bonus{
      font-size: 6.5vw;
      margin: 21px 0;
      font-family: initial;
      .text-grad();
    }
    &cost{
      display: flex;
      align-items: center;
    }
    &title{
      margin: 0;
      font-size: 15px;
      padding: 10px 0;
      .text-grad();
    }
  }
  &-duration{
    display: flex;
    align-items: center;
    justify-content: center;
    .text-grad();
  }
  &-hours{
    padding: 0 10px;
  }
  &-description{
    width: 90%;
    margin: 10px auto 15px auto;
    font-size: 18px;
    .text-grad();
  }
}

.present-sendbutton{
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: @white;
  padding: 10px 15px;
  font-size: 5vw;
  border-radius: @border-radius;
  margin-top: 1px;
  .bgc-grad();
}

.attention {
  color: @red;
  margin: 20px 40px;
  font-size: 4.5vw;
}

.attention-small {
  font-size: 2.7vw;
  display: block;
  margin-top: 30px;
  font-style: italic;
  color: @red;
}

.present-buy {
  width: 75%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid @contest-list-text-color;
  border-radius: 5px;
  padding: 5px;

  .present-modal-cost {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &.right {
        justify-content: flex-end;
      }

      .price {
        background: @grad;
        color: #fff;
        height: 36px;
        padding: 0 10px;
        display: flex;
        align-items: center;
        border-radius: 5px;
        margin-right: 10px;
      }

      .count {
        color: @dark_grey;
      }

      .present-coin {
        margin-right: 10px;
      }
    }
    img {
      height: 36px;
    }
  }
}

.present-modalimage-small {
  border: 1px solid @middle_grey;
  border-radius: 4px;
  height: 36px;
  width: 36px;
  margin-left: 10px;

  .present-image {
    margin: 0;
    height: inherit;
    width: inherit;
  }
}

[name="showPresent"]{
  i{
    &.icon-left-f{
      //.text-grad();
    }
  }
}
