.share-modal, .settings-modal {
    background:transparent;
    border-radius: 10px;
    text-align: center;
    top:53vh !important;
}

.settings-modal {
    //top:70vh !important;
}

.share-item, .settings-item {

    background: #fff;
    padding: 13px 0px;
    color: #0A84FF;
    font-size: 20px;
    border-bottom: 1px solid #777;
}

.share-close, .settings-close {
    margin-top: 10px;
    border-radius: 10px;
}

.last-item {
    border-radius: 0px 0px 10px 10px;
    border-bottom: 0px
}
