@import '~LessStyle/variables.less';

.modal-title{
  color: #fff;
  .bgc-grad();
  text-align: center;
  padding: 5px 0;
  margin: 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  position: relative;
  i{
    position: absolute;
    left: 10px;
    top: 8px;
    color: #fff;
    font-size: 22px;
  }
  &-premium{
    color: #666;
    text-align: center;
    margin: 5px 0;
  }
}

.login-header{
  img{
    max-width: 200px;
    width: 100%;
  }
}

.VueCarousel-dot--active{
  > .VueCarousel-dot-inner{
    .bgc-grad()!important;
  }
}

.title{
  &-empty{
    text-align: center;
    font-size: 14px;
    background-color: #fff;
    padding: 10px 0;
    .setShadow();
    .border-radius(10px);
    margin-bottom: 5px;
  }
}

span.grad{
  .text-grad();
}
