<template>
  <div class="story-header">
    <div class="story-slide">
      <template v-if="getUserStories">
        <div class="svg-ratebar">
          <svg class="cube-overflow hide-white  cube-white" xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px"
               y="0px" viewBox="0 0 100 100">
            <path class="cube" fill-opacity="0" stroke-width="7" stroke="#f9f9f9"
                  d="M 0,2 L 98,2 L 98,98 L 2,99 L 2,2"/>
          </svg>

        </div>
        <swiper
          ref="awesomeSwiperA"
          :options="swiperOptionA"
        >
          <swiper-slide

            v-for="(story,index) in getUserStories" :key="index">
            <in-canvas-story
              v-if="story.attachments.images!=null"
              :index="index"
              :storyLength="getUserStories.length"
              :storyAttachment="story.attachments.images[0].url_small"></in-canvas-story>
            <in-canvas-story
              v-else
              :index="index"
              :storyLength="getUserStories.length"
              :storyAttachment="story.attachments.videos[0].preview_url"></in-canvas-story>
            <span  class="story-time">{{storyLife(story.created_at_timestamp)}}</span>
          </swiper-slide>
          <swiper-slide></swiper-slide>
          <swiper-slide></swiper-slide>
          <swiper-slide></swiper-slide>
          <swiper-slide></swiper-slide>

        </swiper>
      </template>
    </div>

    <template v-if="getUserInfo">

      <div class="story-user">
        <div class="story-userinfo">
          <div class="story-profile-nickname">
            <a :href="'/u/'+getUserInfo.nickname">{{getUserInfo.nickname}}</a>
          </div>
          <div
            v-if="getUserInfoRating &&  getUserInfoRatingValue"
            class="ratingvalue"
            v-text="'R '+getUserInfo.rating.value">
          </div>
        </div>
        <div class="story-useravatar">
          <template v-if="getUserInfoAvatar">
            <a :href="'/u/'+getUserInfo.nickname"><img :src="getUserInfoAvatar.url_small"></a>
          </template>

        </div>
      </div>
    </template>
    <i
      @click="closeStories()"
      class="cancel-story icon-delete-f"></i>
  </div>

</template>
<script>
  import axios from 'axios';

  import Vue from 'vue'
  import canvasStory from 'ComponentsVue/story/storyCanvas'
  import {swiper, swiperSlide} from 'vue-awesome-swiper'

  Vue.component('swiper', swiper);
  Vue.component('swiperSlide', swiperSlide);
  Vue.component('in-canvas-story', canvasStory);
  export default {
    data() {
      return {
        storiesLength: '',
        clientWidth: localStorage.getItem('clientWidth'),
        refArray: [],
        storyCount: 0,
        userInfo: {},
        stories: [],
        indexSlideSvg: 0,
        durationTime: 10000,
        barStopVideoValue: '',
        barStopValue: '',
        videoDuration: '',
        dateMinute: '',
        storyNickname: this.$route.params.story_nickname,
        swiperOptionA: {
          slidesPerView: 4,
          spaceBetween: 5,
        },
      }
    },

    computed: {
      getUserStories() {
        return window.storeUserStories.getters.getUserStories;
      },
      getUserInfo() {
        return window.storeUserStories.getters.getUserStory;
      },
      getUserInfoRating() {

        return this.getUserInfo.rating;
      },
      getUserInfoRatingPropotion() {
        return this.getUserInfoRating.proportion;
      },
      getUserInfoRatingValue() {
        return this.getUserInfoRating.value;
      },
      getUserInfoAvatar() {
        return this.getUserInfo.avatar_image;
      },
      getAllStories() {
        return window.storeAllStories.getters.getAllStories;
      }

    },
    watch: {
      '$route'(to, from) {
        if (to.path !== from.path) {
          window.storeUser.dispatch('LOAD_USER_INFO', {nickname: this.$route.params.story_nickname});
          this.storyNickname = this.$route.params.story_nickname,
            this.indexSlideSvg = 0;
          this.timeOut();

        }
      }
    },
    mounted() {
      window.storeUserStories.dispatch('LOAD_USER_STORIES', {nickname: this.$route.params.story_nickname});
      window.storeUser.dispatch('LOAD_USER_INFO', {nickname: this.$route.params.story_nickname});
      window.storeAllStories.dispatch('LOAD_ALL_STORIES');
      let module = '.cube';
      this.barSvg = new ProgressBar.Path(module, {
        easing: 'easeInOut',
        duration: this.durationTime,
        strokeWidth: 2.1,

      });

      this.$root.$on('stopAnimationBar', () => {
        this.stopImgBar();
      });

      this.$root.$on('continueAnimationBar', () => {
        this.continueImgBar();
      });

      this.$root.$on('newRateBarVideo', (duration) => {
        this.startStoryVideo(duration);
      });

      this.$root.$on('newRateBarVideoStop', () => {
        this.stopVideoBar();
      });

      this.$root.$on('continueRateBarVideo', () => {
        this.continueVideo();
      });

      this.$root.$on('goToNextStory', () => {
        this.nextStory();


      });

      this.$root.$on('goToPrevStory', () => {
        this.prevStory();

      });

      this.refArray = this.$refs;


      this.timeOut();

    },
    methods: {
      storyLife(time) {
        let min = Math.floor((Date.now() - time * 1000) / 60000), res;
        if (min >= 60) {
          res = Math.floor(min / 60) + 'h';
        } else {
          res = min + 1 + 'm';
        }
        return res;
      },
      newUser() {
        axios.get('v1/users/get?nickname=' + this.$route.params.story_nickname)
          .then(res => {
            this.userInfo = res.data;
          })
      },
      closeStories() {
        window.location.href = '/'
      },

      timeOut() {
        this.canvasTimer = setTimeout(() => {
          let block = '.cube-white';

          document.querySelector(block).style.display = 'block';

          this.barSvg.set(0);
          this.barSvg.animate(1.0, () => {
            if (this.indexSlideSvg < this.getUserStories.length - 1) {
              this.nextStory();
            }
            else {
              let nicknameArray = [];
              this.getAllStories.map((item) => {
                nicknameArray.push(item.author.nickname);
              });
              let nextStory = nicknameArray.indexOf(this.storyNickname);
              if (nextStory < this.getAllStories.length - 1)
                this.$router.push('/story/' + nicknameArray[nextStory + 1]);
              else
                window.location.href = '/'

            }

          });
        }, 0);
      },
      nextStory() {
        this.indexSlideSvg++;
        this.$refs.awesomeSwiperA.swiper.slideNext();
        this.$root.$emit('changeStoryPicture');
        this.timeOut();
      },
      prevStory() {
        this.indexSlideSvg--;
        this.$refs.awesomeSwiperA.swiper.slidePrev();
        this.$root.$emit('changeStoryPicturePrev');
        this.timeOut();
      },
      stopImgBar() {
        this.barStopValue = this.barSvg.value();
        this.barSvg.stop();
      },
      stopVideoBar() {
        this.barStopVideoValue = this.barSvg.value();
        this.barSvg.stop();
      },
      continueImgBar() {
        this.barSvg.set(this.barStopValue);
        this.barSvg.animate(1.0, {duration: (1 - this.barStopValue) * this.durationTime}, () => {
          this.nextStory();
        });
      },
      startStoryVideo(duration) {
        this.videoDuration = duration;
        this.barSvg.set(0);
        this.barSvg.animate(1.0, {duration: duration * 1000}, () => {
          this.$root.$emit('endVideoDuration');
          this.nextStory();
        });
      },
      continueVideo() {
        this.barSvg.set(this.barStopVideoValue);
        this.barSvg.animate(1.0, {duration: (1 - this.barStopVideoValue) * this.videoDuration * 1000}, () => {
          this.$root.$emit('endVideoContinue');
          this.$root.$emit('endVideoDuration');
          this.nextStory();
        });
      }

    },


  }
</script>
<style lang="less">
  @import '~LessStyle/ratingbar.less';

  .profile-white {
    height: 8px;
    border-radius: 0 2px 2px 0;
  }

  .story-userinfo {
    padding-right: 5px;

    .ratingvalue {
      font-size: 12px;
      color: #fff;
      text-align: right;
    }
  }

  .story-carousel-item {

  }

  .story-time {
    position: relative;
    top: 2px;
    /*top: 95%;*/
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
    color: #fff;
    font-size: 3.5vw;
  }

  .story-image-carousel-background {
    background-size: cover;
    width: 80%;
    margin: auto;
    border-radius: 3px;
    border: 2px solid @base_green;
  }

  .story-slide > .swiper-container {
    padding-top: 5px;
  }

  .cube-tifany {
    width: 11.2vw;
    height: 10vw;
    position: absolute;
    top: 1px;
    left: 1px;
    border-radius: 7px;
    z-index: 111;
  }

  .svg-ratebar {
    top: 11px;
    position: absolute;
  }

  .cube-overflow {

    top: 2px;
    z-index: 11111;
  }

  .cube-overflow {
    position: absolute;
    left: 3px;
    width: 10.3vw;
    height: 10vw;
    border-radius: 5px;
    top: 2px;
    z-index: 11111;

  }
</style>
