<template>
  <modal name="chatSettings"
         width="90%"
         classes=" v--modal "
         height="auto">
      <div class="settings-item" @click="confirmDeleteChat()">{{$lang.chats.delete_dialog}}</div>
      <div class="settings-item">{{$lang.chats.add_to_archive}}</div>
      <div class="settings-item" @click="$modal.hide('chatSettings')">{{$lang.chats.cancel}}</div>
    <modal
      name="confirmDeleteChat"
      width="90%"
      height="auto"
      classes=" v--modal confirm-delete-chat">
      <p>{{$lang.chats.wont_to_delete}}</p>
      <p class="subtitle">{{$lang.chats.not_restore}}</p>
      <div class="buttons">
        <button @click="deleteChat()">{{$lang.chats.yes}}</button>
        <button @click="resetDelete()">{{$lang.chats.no}}</button>
      </div>
    </modal>
  </modal>
</template>
<script>
  import axios from 'axios';

  export default  {
    data() {
      return {
        chatId:'',
      }
    },
    mounted() {
      this.$root.$on('showChatModal',(event)=>{
        this.chatId=event;
        this.showSettings();
      });
    },
    methods: {
      showSettings() {
        this.$modal.show('chatSettings');
      },
      confirmDeleteChat() {
        this.$modal.show('confirmDeleteChat');
      },
      deleteChat(){
        axios.get('v1/me/chats/delete?id='+this.chatId)
          .then(
            res=> {
              this.$modal.hide('chatSettings');
              this.$root.$emit('loadAllChats');
            }
          )
      },
      resetDelete() {
        this.$modal.hide('confirmDeleteChat');
      }
    }
  }
</script>
<style lang="less">
  .settings-item {
    text-align: center;
    background: #fff;
    padding: 13px 0px;
    color: #0A84FF;
    font-size: 20px;
    border-bottom: 1px solid #777;
  }
  .confirm-delete-chat {
    padding: 20px;

    .subtitle {
      font-size: 14px;
      color: #999;
    }

    .buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      button {
        width: 45%;
        padding: 5px 0;
      }
    }
  }

</style>
