<template>
  <modal
    name="presentsModal"
    width="100%"
    classes=" v--modal "
    height="100%">
    <div class="presents-container">
      <h2 class="present-modal-title">
        <i
          class="icon-left-f close-present-modal"
          @click="closeModalGifts()"></i>
        {{$lang.wallet.select_gift}}
      </h2>

      <in-wallet-presents
        :currentBalance="currentBalance"
        :keeperId="keeperId"
        :keeperNickname="keeperNickname"/>
    </div>
    <!--<in-present-modal-in-modal-->
    <!--:keeperId="this.keeperId"-->
    <!--:presentModal="soloPresent"-->
    <!--:modalType="this.soloType"></in-present-modal-in-modal>-->
  </modal>
</template>
<script>
  import axios from 'axios';

  import Vue from 'vue'
  import presentsContainer from 'ComponentsVue/wallet/presentsContainer';

  Vue.component('in-wallet-presents', presentsContainer);

  export default {
    name: 'appPresentModal',
    props: ['keeperId', 'keeperNickname'],
    data() {
      return {
        currentBalance: '',
      }

    },
    mounted() {
      axios.get('v1/me/wallet/info')
        .then(res => {
          this.currentBalance = res.data.coins;
        });
      this.$root.$on('closePresentModal', () => {
        this.$modal.hide('presentModal');
      });
    },
    methods: {
      closeModalGifts() {
        this.$modal.hide('presentsModal');
        if (this.$route.params.story_nickname)
          this.$root.$emit('continueStory');
      }
    }
  }
</script>
<style lang="less">
  @import '~LessStyle/variables.less';

  .presents-container {
    height: 100vh;
    overflow-y: scroll;
  }

  .close-present-modal {
    position: absolute;
    top: 10px;
    left: 4px;
    font-size: 15px;
  }

  .present-modal-title {
    color: #fff;
    text-align: center;
    font-size: 20px;
    position: relative;
    margin: 0;
    height: 40px;
    box-sizing: border-box;
    background: @grad;
    padding: 7px 0;
    border-bottom: 1px solid #d3d3d3;
  }

  .coming-soon {
    text-align: center;
    margin: 0;
    padding: 5px 0;
    font-weight: 600;
    font-size: 20px;
    color: #666;
  }
</style>
