<template>
  <modal
    name="openShare"
    width="95%"
    height="auto"
    classes="v--modal share-modal">
    <p class="share-item" @click="showChats()">
      {{$lang.post.share_chat}}
    </p>
    <p class="share-item" @click="shareSocial('facebook')">
      {{$lang.post.share_fb}}
    </p>
    <p class="share-item">
      {{$lang.post.share_twitter}}
    </p>
    <p class="share-item last-item" ref="copyLink" @click="copyLink(shareSlug)">
      {{$lang.post.copy_link}}
    </p>
    <p @click="closeShare()" class="share-item share-close">
      {{$lang.post.cancel}}
    </p>
  </modal>
</template>

<script>
  import axios from 'axios';

  import Share from 'JsLib/social-link'

  export default {
    name: "share",
    data() {
      return {
        shareID: '',
        shareSlug: '',
        site_link: '',
        title: ''
      }
    },
    mounted() {
      this.$root.$on('shareID', (event) => {
        this.changeShareId(event);
      });
    },
    methods: {
      shareSocial(_name) {
        let Social = new Share(
          this.site_link,
          this.title,
        );

        if (_name === 'facebook') {
          Social.facebook()
        } else if (_name === 'twitter') {
          Social.twitter()
        }
      },
      changeShareId(e) {
        this.shareID = e;
        axios.get('v1/users/posts/get?id=' + this.shareID)
          .then(res => {
            this.site_link = res.data.site_link;
            this.title = res.data.title;
            this.shareSlug = res.data.slug;
          });
      },
      showChats() {
        this.$modal.show('chatsModal');
      },
      closeShare() {
        this.$modal.hide('openShare');
      },
      copyLink(id) {
        let text = host + '/p/' + id;
        this.copyToClipboard(this.$refs.copyLink, text);
      },
      copyToClipboard(block, text) {
        let temp = document.createElement('input');
        temp.setAttribute('id', 'link');
        block.appendChild(temp);
        document.getElementById('link').value = text;
        let input = document.getElementById("link");
        input.focus();
        input.setSelectionRange(0, 99999);
        document.execCommand("copy");
        document.getElementById('link').remove();
      },
    }
  }
</script>

<style scoped>

</style>
