<template>
  <modal name="chatsModal"
         width="100%"
         classes=" v--modal "
         height="100%"
         :scrollable="true">
        <div class="chats-block">
          <h3 @click="closeChats()" class="chats-modal-header"> Выберите чат</h3>
          <div v-for="chat in allchats">
            <in-modal-chatitem :postId="postId" :chat="chat"></in-modal-chatitem>
          </div>
        </div>
  </modal>
</template>

<script>
  import axios from 'axios';

  import Vue from 'vue'
  import chatItem from 'ComponentsVue/chats/modalChatItem.vue'

  Vue.component('in-modal-chatitem', chatItem);
  export default {
    props: ['postId'],
    data() {
      return {
        allchats:[],
      }
    },
    mounted() {
      axios.get('v1/me/chats/all')
        .then(
          res=> {
            this.allchats=res.data.data;
          }
        )
        .catch(err=>console.log(err.response));
    },
    methods: {
      closeChats() {
        this.$modal.hide('chatsModal');
      },
    }
  }
</script>

<style>
  .chats-modal-header {
    text-align: center;
  }
</style>
