<template>
    <div id="chats">
        <in-chat-header></in-chat-header>
        <router-view></router-view>
        <in-search-companion></in-search-companion>
    </div>
</template>

<script>
  import Vue from 'vue'
  import chatHeader from 'ComponentsVue/chats/chatHeader.vue'
  import serchCompanion from 'ComponentsVue/chats/searchCompanion.vue'

  Vue.component('in-search-companion',serchCompanion);
Vue.component('in-chat-header', chatHeader);
export default {
    name:"Chats",
    mounted() {
      document.getElementById('chats').scrollTo(400,0);
    },
}
</script>

<style>
    .search-people {
        z-index:111;
    }

    #chats {
      /*margin-top: -10px;*/
      padding-top: 10px;
    }
</style>
