<template>
  <div class="edit-post-block">
    <div class="post-repost" v-if="!!this.post.attachments.posts">

      <in-post-image :post="this.post.attachments.posts[0].attachments"
                     :order="this.post.attachments.posts[0].attachments_order"></in-post-image>
      <div class="post-repost-icon"><i class="icon-share-f"></i>
        <router-link :to="'/'+this.post.attachments.posts[0].author.id"><span
          v-text="this.post.attachments.posts[0].author.nickname"></span></router-link>
      </div>
    </div>
    <div class="post-normal" v-else>
      <in-post-image :avatar="post.is_avatar" :user="post.author" :post="this.post.attachments"
                     :order="this.post.attachments_order"></in-post-image>
    </div>
    <textarea
      class="edit-text"
      id="change-text"
      placeholder="Подпишите пост"
      v-model="changeTitle">
    </textarea>
    <input
      type="text"
      class="change-input"
      @click="googleAutoComplete()"
      v-model="changeLocation" value=""
      :placeholder="$lang.post.enter_location"
      id="place"
      name="place"/>
    <input type="hidden" name="placeId" id="placeId" value=""/>
    <input :placeholder="$lang.post.add_intags" class="change-input" id="input-intag" v-on:keyup.enter="addIntag()"/>
    <ul id="intagList">
      <li class="intagList-item" v-for="(intag, index) in intagArray"><span v-text="'^^'+intag">  </span><i
        @click="deleteIntag(index)" class="icon-delete-f"></i></li>
    </ul>
    <button
      @click="deletePost()"
      class="button-gradient">{{$lang.post.delete}}
    </button>
    <button
      @click="updatePost()"
      class="button-gradient">{{$lang.post.update}}
    </button>
  </div>
</template>
<script>
  import axios from 'axios';

  import Vue from 'vue'
  import PostImage from 'ComponentsVue/main/postimage/PostImage'

  Vue.component('in-post-image', PostImage);
  export default {
    data() {
      return {
        postSlug: '',
        post: [],
        changeLocation: '',
        changeLocationId: '',
        changeTitle: '',
        intagArray: [],
      }
    },
    mounted() {
      this.postSlug = this.$route.params.post_slug;
      axios.get('v1/users/posts/get?slug=' + this.postSlug)
        .then(
          res => {
            this.post = res.data;
            this.intagArray = this.post.intags.map((intag) => {
              return intag.name
            });
            this.changeTitle = this.post.title;
            if (this.post.place) {
              this.changeLocation = this.post.place.location;
              this.changeLocationId = this.post.place.google_place_id;
            }
          }
        )
    },
    methods: {
      updatePost() {
        let params = {
          post_id: this.post.id,
          title: document.getElementById('change-text').value,
          place_geo_id: this.changeLocationId,
          intags: JSON.stringify(this.intagArray),
          mentions: null,
        };
        //document.getElementById('SpinnerPreload').style.display='block';
        axios.post('v1/users/posts/edit', params)
          .then(
            res => {
              history.go(-1);
              // document.getElementById('SpinnerPreload').style.display='none';
            }
          )
      },
      deletePost() {
        axios.post('v1/users/posts/delete?id=' + this.post.id)
          .then(
            res => {
              this.$router.push('/');
            }
          )
      },
      googleAutoComplete() {
        let place = document.getElementById('place');
        let placeId = document.getElementById('placeId');

        let autocomplete = new google.maps.places.Autocomplete(place);
        autocomplete.addListener('place_changed', () => {
          let place = autocomplete.getPlace();
          placeId.value = place.place_id;
          this.changeLocation = place.formatted_address;
          this.changeLocationId = place.place_id;
          this.$modal.hide('location');
        });
      },
      deleteIntag(i) {
        this.intagArray.splice(i, 1);

      },
      addIntag() {

        let inputIntag = document.getElementById('input-intag').value;
        let toAdd = this.intagArray.indexOf(inputIntag);
        if (toAdd == -1) {
          let inHeaders = inputIntag.indexOf('^^');
          if (inHeaders == 0) {
            inputIntag = inputIntag.substring(2);
          }
          this.intagArray.push(inputIntag);
        }
        document.getElementById('input-intag').value = '';

      },
    }
  }
</script>
<style lang="less">
  @import '~LessStyle/post.less';
  @import '~LessStyle/editpost.less';
  @import '~LessStyle/postaddtext.less';
</style>
