<template>
  <div id="groups-container" :style="{transform: 'translateY(-' + activeTop + 'px)'}">
    <div class="group-top" ref="groupTop" :style="{opacity: opacityTop}">
      TOP
      <div class="groups-header">
        <div
          class="carousel-item"
          v-for="(group,i) in carouselGroups"
          :key="i">
          <in-carouselgroup-item
            :group="group"
            :index="i+1"/>
        </div>
      </div>

      <div class="group-tabs">
        <div
          class="group-tab"
          @click="changeTab('event')"
          :class="{active: activeTab === 'event'}"
        ><p>{{$lang.groups.event}}</p>
        </div>
        <div
          class="group-tab"
          @click="changeTab('group')"
          :class="{active: activeTab === 'group'}"
        ><p>{{$lang.groups.group}}</p>
        </div>
        <div
          class="group-tab"
          @click="changeTab('community')"
          :class="{active: activeTab === 'community'}"
        ><p>{{$lang.groups.community}}</p>
        </div>
      </div>
    </div>

    <div class="group-menu" :class="{top: activeMenu === 'search'}">
      <template v-if="activeMenu !== 'search'">
        <div class="menu-item" @click="changeMenuItem('myGroups')">
          <i :class="[activeMenu === 'myGroups' ? 'icon-group-ic-f' : 'icon-group-ic']"></i>
        </div>
        <div class="menu-item" @click="changeMenuItem('recommendations')">
          <i :class="[activeMenu === 'recommendations' ? 'icon-FIre-f' : 'icon-FIre']"></i>
        </div>
        <div class="menu-item" @click="changeMenuItem('addGroup')">
          <template v-if="user.status==='active' || user.status==='admin'">
            <i class="icon-plus" @click="goToCreateGroup"></i>
          </template>
          <i
            v-else-if="user.status==='validating'"
            @click="userValid()"
            class="icon-plus"></i>
          <i
            v-else
            @click="userGuest()"
            class="icon-plus"></i>
          <!--<i :class="[activeMenu === 'addGroup' ? 'icon-plus-f' : 'icon-plus']"></i>-->
        </div>
      </template>
      <template v-else>
        <div class="menu-item-search">
          <input
            type="text"
            :placeholder="$lang.groups.search_group"
            @keyup="searchGroups()"
            v-model="searchInput">
        </div>
      </template>
      <div class="menu-item" @click="changeMenuItem('search')">
        <i :class="[activeMenu === 'search' ? 'icon-search-f' : 'icon-search']"></i>
      </div>
    </div>

    <div v-if="activeMenu === 'myGroups'" class="my-groups">
      <h2 class="group-bigtitle">
        <template v-if="activeTab === 'event'">
          {{$lang.groups.my_event}}
        </template>
        <template v-else-if="activeTab === 'group'">
          {{$lang.groups.my_groups}}
        </template>
        <template v-else-if="activeTab === 'community'">
          {{$lang.groups.my_community}}
        </template>
      </h2>
      <div
        class="groups-my">
        <template v-if="myGroups.length!==0">
          <div v-for="group in myGroups">
            <in-group-item :group="group"/>
          </div>
        </template>
        <template v-else-if="loading === false">
          <div class="content-none">
            {{$lang.groups.nothing_found}}
          </div>
        </template>
      </div>
    </div>

    <div v-else-if="activeMenu === 'recommendations'" class="recommendations">
      <h2 class="group-bigtitle">{{$lang.groups.recommended_groups}}</h2>
      <div class="groups-all">
        <template v-if="allGroups.length !== 0">
          <div v-for="group in allGroups">
            <in-group-item :group="group"/>
          </div>
        </template>
        <template v-else-if="loading === false">
          <div class="content-none">
            {{$lang.groups.nothing_found}}
          </div>
        </template>
      </div>
    </div>

    <div v-else-if="activeMenu === 'search'" class="allSearchGroup">
      <template v-if="allSearchGroups.length !== 0">
        <div v-for="group in allSearchGroups">
          <in-group-item :group="group"/>
        </div>
      </template>
      <template v-else-if="loading === false">
        <div class="content-none">
          {{$lang.groups.nothing_found}}
        </div>
      </template>
    </div>

    <div v-if="loading" id="SpinnerOnloadImg">
      <img src="https://media.inrating.top/images/Spinner.svg"/>
    </div>

    <in-found-groupmodals/>
  </div>
</template>

<script>
  import axios from 'axios';

  import Vue from 'vue'
  import carouselGroupItem from 'ComponentsVue/groups/carouselGroupItem.vue'
  import groupItem from 'ComponentsVue/groups/groupItem.vue'
  import groupModal from 'ComponentsVue/groups/groupFoundModal.vue'
  import {scrollOnBottom} from "../mixins/scrollOnBottom";

  Vue.component('in-carouselgroup-item', carouselGroupItem);
  Vue.component('in-group-item', groupItem);
  Vue.component('in-found-groupmodals', groupModal);
  export default {
    mixins: [scrollOnBottom],
    data() {
      return {
        allGroups: [],
        carouselGroups: [],
        myGroups: [],
        allSearchGroups: [],
        user: {},
        classSearch: 'icon-search',
        activeTab: 'group',
        activeMenu: 'myGroups',
        searchInput: '',
        myGroupsLastPage: 1,
        myGroupsNextPage: 2,
        allGroupsLastPage: 1,
        allGroupsNextPage: 2,
        searchLastPage: 1,
        searchNextPage: 2,
        loading: false
      }
    },
    watch: {
      bottom(bottom) {
        if(bottom && !this.loading) {
          if(this.activeMenu === 'myGroups') {
            if (this.myGroupsLastPage >= this.myGroupsNextPage) {
              this.getMyGroupsNext();
            }
          } else if(this.activeMenu === 'recommendations') {
            if (this.allGroupsLastPage >= this.allGroupsNextPage) {
              this.getGroupsNext();
            }
          } else if(this.activeMenu === 'search') {
            if (this.searchLastPage >= this.searchNextPage) {
              this.searchGroupsNext();
            }
          }
        }
      }
    },
    computed: {
      activeTop() {
        return this.activeMenu === 'search' ? this.$refs.groupTop.offsetHeight : 0;
      },
      opacityTop() {
        return this.activeMenu === 'search' ? 0 : 1;
      }
    },
    mounted() {
      this.user = JSON.parse(localStorage.getItem('user'));

      axios.get('v1/groups/all')
        .then(res => {
          // this.allGroups = res.data.data;
          this.carouselGroups = res.data.data.slice(0, 5);
        });
      this.getMyGroups();
    },
    methods: {
      goToCreateGroup() {
        this.$router.push('/group-create');
      },
      searchGroups() {
        this.loading = true;
        this.searchLastPage = 1;
        this.searchNextPage = 2;
        this.allSearchGroups = [];

        axios.get('v1/groups/search?query=' + this.searchInput + '&type=' + this.activeTab)
          .then(res =>{
            this.allSearchGroups = res.data.data;
            this.searchLastPage = res.data.meta.last_page;
            this.loading = false;
            this.bottom = false;
          }).catch(e => {
          this.loading = false;
        })
      },
      searchGroupsNext() {
        this.loading = true;
        axios.get('v1/groups/search?query=' + this.searchInput + '&type=' + this.activeTab + '&page=' + this.searchNextPage)
          .then(res =>{
            this.allSearchGroups = this.allSearchGroups.concat(res.data.data);
            this.searchNextPage = res.data.meta.current_page + 1;
            this.loading = false;
          }).catch(e => {
          this.loading = false;
        })
      },
      getGroups() {
        this.loading = true;
        this.allGroupsLastPage = 1;
        this.allGroupsNextPage = 2;
        this.allGroups = [];

        axios.get('v1/groups/all?type=' + this.activeTab+'&without_user_groups=true')
          .then(res => {
            this.allGroups = res.data.data;
            this.allGroupsLastPage = res.data.meta.last_page;
            this.loading = false;
            this.bottom = false;
          }).catch(e => {
          this.loading = false;
        });
      },
      getGroupsNext() {
        this.loading = true;

        axios.get('v1/groups/all?type=' + this.activeTab + '&page=' + this.allGroupsNextPage+'&without_user_groups=true')
          .then(res => {
            this.allGroups = this.allGroups.concat(res.data.data);
            this.allGroupsNextPage = res.data.meta.current_page + 1;
            this.loading = false;
          }).catch(e => {
          this.loading = false;
        });
      },
      getMyGroups() {
        this.loading = true;
        this.myGroupsLastPage = 1;
        this.myGroupsNextPage = 2;
        this.myGroups = [];

        axios.get('v1/me/groups/all?type=' + this.activeTab)
          .then(res => {
            this.myGroups = res.data.data;
            this.myGroupsLastPage = res.data.meta.last_page;
            this.loading = false;
            this.bottom = false;
          }).catch(e => {
          this.loading = false;
        });
      },
      getMyGroupsNext() {
        this.loading = true;

        axios.get('v1/me/groups/all?type=' + this.activeTab + '&page=' + this.myGroupsNextPage)
          .then(res => {
            this.myGroups = this.myGroups.concat(res.data.data);
            this.myGroupsNextPage = res.data.meta.current_page + 1;
            this.loading = false;
          }).catch(e => {
          this.loading = false;
        });
      },
      changeMenuItem(menuItem) {
        if (menuItem === 'search' && this.activeMenu === 'search') {
          this.activeMenu = 'myGroups';
          this.getMyGroups();
        } else {
          this.activeMenu = menuItem;

          if(menuItem === 'recommendations') {
            this.getGroups();
          } else if(menuItem === 'myGroups') {
            this.getMyGroups();
          } else if(menuItem === 'search') {
            this.searchGroups();
          }
        }
      },
      changeTab(tab) {
        this.activeTab = tab;
        this.activeMenu = 'myGroups';
        this.allGroups = [];
        this.myGroups = [];
        this.getMyGroups();
      },
      foundGroup() {
        this.activeMenu = 'search';
        setTimeout(() => {
          this.$modal.show('foundGroupsModal');
          setTimeout(() => {
            this.classSearch = 'icon-search';
          }, 100);
        }, 100);
      },
      userValid() {
        this.$notify({
          group: 'validating-template',
          duration: 3000,
          speed: 300,
        });
      },
      userGuest() {
        this.$notify({
          group: 'guest-template',
          duration: 3000,
          speed: 300,
        });
      }
    }
  }
</script>

<style lang="less">
  @import '~LessStyle/contest.less';
  @import '~LessStyle/groups.less';

  #SpinnerOnloadImg {
    display: block;
    width: 35%;
    margin: auto;
  }

  .translateY-enter-active {
    animation: translateY-in 0.5s ease-out forwards;
  }

  .translateY-leave-active {
    animation: translateY-out 0.5s ease-out forwards;
  }

  @keyframes translateY-out {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100%);
    }
  }

  @keyframes translateY-in {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
</style>
