<template>
  <div id="Login">
    <in-bg-scroll-block :scroll="isScroll"/>
    <template v-if="isMainPage">
      <div class="main-block">
        <h2>{{$lang.registration.welcome}}</h2>
        <img
          class="login-logo main-login-logo"
          src="https://media.inrating.top/storage/img/logo/Inrating_logo_white_tifany.png">
        <button
          class="login-page"
          @click="goToLogin">{{$lang.notifications.login}}</button>
        <button
          class="login-page"
          @click="goToRegistration">{{$lang.notifications.register}}</button>
      </div>
    </template>
    <template v-else>
      <div class="login-block">
        <div class="login-header">
          <in-loginheader></in-loginheader>
        </div>
        <div class="login-body">
            <p class="login-title"> {{$lang.notifications.login}} </p>
            <div class="login-item">
              <input type="text" :placeholder="$lang.variables.nicknameEmailOrPhoneNumber" v-model="username" required>
            </div>
            <div class="login-item">
              <input type="password" :placeholder="$lang.variables.password" v-model="password" required>
            </div>
            <div class="login-item forggot-password">
              <div class="forgot-password">
                <a @click="showResetPassword()">{{$lang.registration.forgot_password}}</a>
              </div>
              <button @click="loginFunc()">{{$lang.notifications.login}}</button>
            </div>
            <div class="login-item buttons-continue">
              <button @click="goToRegistration()">{{$lang.notifications.register}}</button>
              <button @click="guestCome()">{{$lang.notifications.guest_login}}</button>
            </div>
        </div>
        <!--<in-regestationstep1-modal></in-regestationstep1-modal>!-->
        <!--<in-resetpassword-modal></in-resetpassword-modal>-->
        <in-loginfooter></in-loginfooter>
      </div>
    </template>

  </div>
</template>

<script>
  import axios from 'axios';

  import Vue from 'vue'
  import {mapActions} from 'vuex';
  import BgScrollBlock from 'ComponentsVue/login/BgScrollBlock';
  //import RegistretionStep1 from 'ComponentsVue/modal/registrationModalStep1.vue'
  import loginHeader from 'ComponentsVue/login/loginHeader.vue'
  import loginFooter from 'ComponentsVue/login/loginFooter'
  import setAuthorizationHeader from 'utils/setAuthorizationHeader';
  import {FETCH_CURRENT_USER, moduleName as userModule} from "Store/modules/authUser/user";

  //Vue.component('in-regestationstep1-modal', RegistretionStep1)
  // Vue.component('in-resetpassword-modal', resetPassword)
  Vue.component('in-loginheader', loginHeader);
  Vue.component('in-loginfooter', loginFooter);
  export default {
    data() {
      return {
        token: "",
        password: "",
        username: "",
        user: "",
        isScroll: true,
        isMainPage: true
      }
    },
    components: {
      inBgScrollBlock: BgScrollBlock
    },
    mounted() {
      let clientWidth= window.innerWidth;
      localStorage.setItem('clientWidth',clientWidth);
      localStorage.setItem('postOutCount',1);
    },
    methods: {
      ...mapActions({
        fetchCurrentUser: userModule + FETCH_CURRENT_USER,
      }),
      goToLogin() {
        this.isMainPage = false;
        this.isScroll = false;
      },
      showResetPassword() {
        this.$router.push('/reset-password');
        // this.$modal.show('resetPassword');
      },
      onSuccess() {
        this.$router.push('/');
        window.location.reload();
      },
      onFail() {
        this.$router.push('/login');
      },
      guestCome() {
        let user = JSON.parse(localStorage.getItem('user'));
        let userLang = localStorage.getItem('lang');
        if(!userLang) userLang = 'en';

        if (user == null || user.status !== 'guest') {
          let userLang = localStorage.getItem('lang');
          if(!userLang) userLang = 'en';
          axios.get('v1/guest/get?lang=' + userLang)
            .then(res =>{
                let requestTokenData = {
                  client_id: 2,
                  client_secret: '0123456789987654321',
                  grant_type: 'password',
                  username: res.data.nickname,
                  password: res.data.nickname,
                };
                axios.post('oauth/token', requestTokenData)
                  .then(res =>{
                    let token = res.data.access_token;
                    localStorage.setItem('token', token);

                    const payload = { onSuccess: this.onSuccess, onFail: this.onFail };

                    setAuthorizationHeader(token);
                    this.fetchCurrentUser(payload);
                  })
                  .catch(err =>{
                    }
                  );
              }
            )
            .catch(err => console.log(err));
        }
        else {
          this.$router.push('/');
        }
      },
      loginFunc() {
        let requestTokenData = {
          client_id: 2,
          client_secret: "0123456789987654321",
          grant_type: "password",
          username: this.username,
          password: this.password
        };
        axios
          .post('oauth/token', requestTokenData)
          .then(res => {
            let $token = res.data.access_token;
            localStorage.setItem('token', $token);
            let config = {headers: {'Authorization': 'Bearer ' + res.data.access_token}};

            return axios.get('v1/me', config);

            //window.location.href='/home'
          })
          .then(
            res => {
              let user = JSON.stringify(res.data);
              localStorage.setItem('user', user);

              let lang = res.data.settings.lang;
              if(lang) localStorage.setItem('lang', lang);

              window.location.href='/'
            }
          )
          .catch(err => {
            this.$notify({
              group: 'bad-login',
              duration:3000,
              speed:300,
            });
            }
          );
      },
      showRegistrationStep1() {
        this.$modal.show('registetionStep1');
      },
      goToRegistration() {
        this.$router.push('/registration');
      }
    },
    head: {
      title() {
        return {
          inner: this.$lang.notifications.login
        }

      },
    },
  }
</script>

<style lang="less">
  @import '~LessStyle/login.less';

  @import '~LessStyle/registration.less';

  .myVideo {
    display: none;
  }

</style>
