<docs>
  ## Специальный блок и обозначения для того что бы оставлять комментарии внутри кода, очч удобно кстати, во время компиляции все удаляется.
</docs>

<template>
  <div>
    <div
      ref="rateCarousel"
      class="story-carousel">
      <h5 class="story-title">InStory</h5>
      <carousel
        :perPage=6
        :paginationEnabled="false">
        <slide class="story-carousel-item">
          <div
            v-if="authUser && authUser.status !== 'guest'"
            class="story-carousel-image">
            <!--<router-link to="/add-story">-->
              <img
                class="story-avatar"
                src="https://media.inrating.top/storage/img/default/new_story.png"
                @click="addFileStory"/>
              <input @change="changeFile()" type="file" ref="fileInput" id="file-input">
              <p class="rate-carousel--nickname add-story-text">{{$lang.variables.add}} InStory</p>
            <!--</router-link>-->
          </div>
          <div
            v-else
            @click="showGuest()"
            class="story-carousel-image">
            <img
              class="story-avatar"
              src="https://media.inrating.top/storage/img/default/new_story.png"/>
            <p class="rate-carousel--nickname add-story-text">{{$lang.variables.add}} InStory</p>
          </div>
        </slide>
        <slide
          class="story-carousel-item"
          v-if="myStory !== null">
          <div class="story-carousel-image ">
            <router-link :to="'/story/'+myStory.author.nickname">
              <img
                :src="myStory.author.avatar_image.url_small"
                v-if="!myStory.is_seen"
                class="story-avatar not-see-story"/>
              <img
                :src="myStory.author.avatar_image.url_small"
                v-else
                class="story-avatar see-story"/>
              <p
                class="rate-carousel--nickname"
                v-text="myStory.author.nickname"></p>
              <div v-if="myStory.author.active_gift!=null">
                <img
                  class="story-img--present"
                  :src="myStory.author.active_gift.image"
                  alt="">
              </div>
            </router-link>
          </div>
        </slide>
        <slide
          class="story-carousel-item"
          v-for="(story,i) in getStoryArray"
          :key="i">
          <div class="story-carousel-image ">
            <router-link :to="'/story/'+story.author.nickname">
              <img
                :src="story.author.avatar_image.url_small"
                v-if="!story.is_seen"
                class="story-avatar not-see-story"/>
              <img
                :src="story.author.avatar_image.url_small"
                v-else
                class="story-avatar see-story"/>
              <div v-if="story.author.active_gift!=null">
                <img
                  class="story-img--present"
                  :src="story.author.active_gift.image"
                  alt="">
              </div>
            </router-link>
            <p
              class="rate-carousel--nickname"
              v-text="story.author.nickname"></p>
          </div>
        </slide>
        <slide></slide>
        <slide></slide>
      </carousel>
    </div>
    <div id="mainPage" v-if="posts">
      <template v-if="posts.length > 0">
        <div
          :class="changeClasses"
          v-for="(post,index) in posts"
          :key="post.id"
          :data-id="post.id">
          <div
            :id="post.id"
            v-if="countPostOnPage === '1'">
            <in-post :post='post'/>
          </div>
          <div v-else>
            <in-postsmall
              :index="index"
              :post='post'/>
          </div>
        </div>
      </template>
      <template v-else-if="!loading">
        <div class="find-none">По вашему запросу ничего не найдено. Попробуйте изменить запрос.</div>
        <button @click="openMainFilters">Изменить</button>
      </template>

      <in-post-settings :user="authUser"/>
      <in-post-sharemodal/>
    </div>
    <in-spinner :loading="loading"></in-spinner>

    <filter-main @setFilters="fetchPosts"/>
  </div>
</template>

<script>
  import axios from 'axios';

  import Vue from 'vue'
  import {mapActions, mapGetters} from 'vuex';
  import Post from './main/Post.vue'
  import postSmall from './main/postSmall.vue'
  import postSettings from 'ComponentsVue/main/postsettings/postSettings.vue'
  import {scrollOnBottom} from "../mixins/scrollOnBottom";
  import FilterMain from 'ComponentsVue/filter/FilterMain';
  import {HOME_POST_COUNT, moduleName as countPostOnPageModule} from "Store/modules/countPostOnPage";
  import {AUTH_USER, moduleName as userModule} from "Store/modules/authUser/user";
  import {
    FETCH_MAIN_POSTS,
    FETCH_MAIN_POSTS_NEXT_PAGE,
    LOADING,
    MAIN_POSTS,
    moduleName as mainPostsModule
  } from "Store/modules/mainPosts";
  import shareModal from 'ComponentsVue/main/postfooter/PostShareModal'

  Vue.component('in-post', Post);
  Vue.component('in-post-settings', postSettings);
  Vue.component('in-postsmall', postSmall);
  Vue.component('in-post-sharemodal', shareModal);

  export default {
    name: 'mainPage',
    props: ['changeView'],
    mixins: [scrollOnBottom],
    components: {
      FilterMain
    },
    data(){
      return {
        shareID: '',
        postAuthor: {},
        postOutCount: '',
        rateByDay: [],
        rateByWeek: [],
        rateByMonth: [],
        clientWidth: '',
        scrollPosition: 0,
        storiesArray: [],
        authorStory: [],
        viewArray: [],
        myStory: null,
        slideCount: 5,
        maxPageYOffset: 0,
        viewedPosts: [],
        storyFile: {},
        site_link: '',
        title: '',
      }
    }, //это своеродный конструктор для базовых переменных.
    watch: {
      bottom(bottom) {
        if (bottom) {
          this.fetchPostsNextPage()
        }
      },
      authUser(newUser, oldUser) {
        if(!oldUser) {
          this.getMyStories();
        }
      }
    },
    computed: {
      ...mapGetters({
        countPostOnPage: countPostOnPageModule + HOME_POST_COUNT,
        authUser: userModule + AUTH_USER,
        posts: mainPostsModule + MAIN_POSTS,
        loading: mainPostsModule + LOADING
      }),
      changeClasses(){
        if(this.countPostOnPage === '1')
          return 'posts-container';
        else
          return 'postssmall-container';
      },
      getStoryArray(){
        return this.storiesArray;
      }
    },
    mounted(){
      this.$root.$on('getGuestToken', () =>{
        this.getAllStories();
      });
      // new Audio(window.media.scrollMain);
      if(localStorage.getItem('token') === undefined && this.$router.indexOf('/u/') === -1) {
        this.$router.push('/login');
      }
      this.clientWidth = window.innerWidth;
      localStorage.setItem('clientWidth', this.clientWidth);
      if(this.posts) {
        setTimeout(() => {
          this.fetchPosts();
        }, 0)
      } else {
        this.fetchPosts();
      }

      this.getAllStories();
    },
    created(){
      window.addEventListener('scroll', this.addViewedPosts);
    },
    destroyed () {
      window.removeEventListener('scroll', this.addViewedPosts);
    },
    beforeRouteLeave (to, from , next) {
      this.addViewedPosts();
      this.sendViewedPosts();
      next();
    },
    methods: {
      ...mapActions({
        fetchPosts: mainPostsModule + FETCH_MAIN_POSTS,
        fetchPostsNextPageAction: mainPostsModule + FETCH_MAIN_POSTS_NEXT_PAGE
      }),
      getAllStories() {
        axios.get('v1/users/stories/all')
          .then(res =>{
            this.storiesArray = res.data.data;
            for(let i = 0; i < this.storiesArray.length; i++){
              this.authorStory.push(this.storiesArray[i].author.nickname);
            }
            localStorage.setItem('authorStory', JSON.stringify(this.authorStory));
          })
      },
      getMyStories() {
        axios.get('v1/users/stories/get?id=' + this.authUser.id)
          .then(res =>{
            this.myStory = res.data[0];
          });
      },
      fetchPostsNextPage() {
        const payload = {
          onSuccess: this.sendViewedPosts
        };
        this.fetchPostsNextPageAction(payload);
      },
      openMainFilters() {
        this.$root.$emit('openMainFilters');
        document.getElementsByTagName('html')[0].style.overflow = 'hidden';
      },
      changeFile() {
        this.storyFile = document.getElementById('file-input').files[0];

        window.story.dispatch('LOAD_NEW_STORY', this.storyFile);

        this.$router.push('/add-story');
        // this.$root.$emit('addStory', this.storyFile);
      },
      addFileStory() {
        this.$refs.fileInput.click();
      },
      async sendViewedPosts() {
        if (this.viewedPosts.length !== 0) {
          const data = new FormData();
          data.append('ids', JSON.stringify(this.viewedPosts));

          await this.$api.users.sendViewedPosts(data);
          this.viewedPosts = [];
        }
      },
      addViewedPosts() {
        if(this.maxPageYOffset <= window.pageYOffset) {
          this.maxPageYOffset = window.pageYOffset;
          let posts = document.querySelectorAll('div[data-id].posts-container');

          for(let i = 0; i < posts.length; i++) {
            if(window.pageYOffset + document.documentElement.clientHeight > posts[i].offsetTop) {
              if(posts[i].hasAttribute('data-id')) {
                this.viewedPosts.push(posts[i].getAttribute('data-id'));
                posts[i].removeAttribute('data-id');
              }
            }
          }
        }
      },
      showGuest(){
        this.$notify({
          group: 'guest-template',
          duration: 3000,
          speed: 300,
        });
      },
      checkAuthor(e){
        this.postAuthor = e;
      },
      handleScroll(){

        let carouselBlock = this.$refs.rateCarousel.childNodes[2].childNodes[0];

        let carouselHeader = this.$refs.rateCarousel.childNodes[0];
        let curentPosition = Math.max(window.pageYOffset, document.documentElement.scrollTop, document.body.scrollTop);
        if((curentPosition > this.scrollPosition) && (curentPosition > 350)){
          this.scrollPosition = curentPosition;
          carouselBlock.style.height = '0px';
          carouselHeader.style.display = 'none';

        }
        else{
          this.scrollPosition = curentPosition;
          carouselBlock.style.height = 30 + clientWidth * 0.16 + 'px';
          carouselHeader.style.display = 'block';

        }
      },
    },
    head: {
      title(){
        return {
          inner: this.$lang.variables.main
        }

      },
    }
  }
</script>


<style lang="less">
  .find-none {
    margin: 20px;
  }

  @import '~LessStyle/sharemodal.less';
  @import '~LessStyle/ratecarousel.less';
</style>
