<template>
  <div class="registration-page">
    <in-bg-scroll-block :scroll="isScroll"/>
    <div class="registration">
      <div class="login-header">
        <h3 class="login-title"> {{$lang.registration.new_social_network}} </h3>
        <img
          class="login-logo"
          src="https://media.inrating.top/storage/img/logo/Inrating_logo_white_tifany.png">
        <h2 class="form-title">{{$lang.registration.hello_in_new_world}}</h2>
      </div>
      <div class="publicoffer-body">
        <form class="publicOffer">
          <p class="title">Правила Сети&nbsp;</p>

          Мы хотим, чтобы InRating.Top стал уникальной социальной сетью, где Вы сможете выразить себя,
          общаться с интересными людьми, создавать группы, сообщества, события и повышать свой рейтинг и
          иметь возможность получать ценных призов от Сети. Ожидаем вашего активного участия в развитии
          такой Сети.
          <br>
          Мы создали данные правила, чтобы вы могли помочь нам поспособствовать развитию и защите Сети
          InRating.Top, регистрируясь в которой, вы соглашаетесь следовать этим правилам. Мы стремимся
          соблюдать данные правила и надеемся, что вы разделяете это стремление. Нарушение этих правил
          может привести к удалению материалов, блокировке аккаунтов или другим ограничениям.

          <br><br> <b>Краткие правила Пользователя Сети InRating.Top</b><br><br>

          При регистрации Пользователь обязуется:<br><br>
          <ol>
            <li>Указывать свою достоверную информацию в форме регистрации, а именно фамилия, имя, пол,
              дата рождения, номер телефона, e-mail, страна и город проживания пользователя, статус,
              сфера деятельности и т.д.
            </li>
            <li>Загружать в фото профиля качественное изображение лица пользователя (в профиль)</li>
            <li>Регистрировать не более 5 аккаунтов с одного IP адреса.</li>
            <li>Создавать никнейм, который должен состоять не более чем из 16 символов (за исключением
              ряда символов), минимум 3 из которых должны быть буквами латинского алфавита (никнейм
              должен быть корректным и не нарушать правила норм и морали)
            </li>
            <li>Размещать, передавать, распространять контент в Сети с соблюдением правил приличия, норм
              морали, без пропагандирования и призывов к насилию, расовой, религиозной, этнической,
              гендерной ненависти или вражды.
            </li>
            <li>Не нарушать конституционных норм и законов страны Пользователя.</li>
            <li>Не размещать, не распространять в Сети информацию и/или контент, который является
              вульгарным или непристойным, содержит порнографические изображения и тексты или сцены
              сексуального характера, призывы к массовым беспорядкам, свержению действующей власти или
              носит мошеннический характер.
            </li>
            <li>Не размещать, не распространять в Сети информацию и/или контент, который содержит
              рекламу или описывает привлекательность употребления наркотических веществ, информацию о
              распространении наркотиков, рецепты их изготовления и советы по употреблению, а также
              инструкции по созданию и применению оружия, взрывчатых веществ, химического и
              бактериологического оружия и т.д
            </li>
            <li>Не размещать, не распространять в Сети информацию и/или контент, который содержит
              угрозы, дискредитирует, оскорбляет, порочит честь и достоинство или деловую репутацию
              других Пользователей Сети или третьих лиц, также преследований и домогательств в сети.
            </li>
          </ol>
          <br>
          Нарушение вышеперечисленных правил ведет к блокировке или удалению аккаунта Пользователя на
          усмотрение Администрации Сети, а также влечет за собой гражданско-правовую, административную и
          уголовную ответственность, согласно законам страны проживания Пользователя, после передачи
          информации о Пользователе в соответствующие органы.
          <br><br> <b>Помогите нам сохранить прочную основу Сети:</b><br><br>
          Каждый из нас является важной частью сообщества InRating.Top. Если вам кажется, что увиденные
          вами материалы нарушают правила нашей Сети, помогите нам, воспользовавшись встроенной
          возможностью информирования («Пожаловаться»). Наша международная команда рассматривает такие
          жалобы и старается как можно скорее удалить материалы, которые не отвечают правилам нашей Сети.
          Заполняя жалобу, постарайтесь предоставить как можно больше информации, например: ссылок, имен
          пользователей, а также описаний материалов, чтобы мы смогли поскорее их найти и рассмотреть вашу
          жалобу для принятия соответствующих мер. Мы можем удалить публикации целиком, если содержащиеся
          в них изображения или подписи противоречат нашим правилам. Вы можете найти материалы, которые
          вам не нравятся, но не нарушают наши правила сообщества. В этом случае вы можете отменить
          подписку на аккаунт Пользователя, который разместил их, или заблокировать его («Черный список»).
          Если вам не нравится какой-то комментарий к одной из ваших публикаций, вы можете удалить его. Во
          многих случаях участники Сети могут самостоятельно уладить возникшие между ними споры или
          разногласия.
          <br><br>

          Заранее благодарны за порядочность в нашей Сети, Администрация InRating.Top<br><br>
        </form>

      </div>
      <in-loginfooter></in-loginfooter>
      <button
        class="animation-button"
        @click="$router.push('/')">На главную</button>
    </div>
  </div>
</template>
<script>
  import BgScrollBlock from 'ComponentsVue/login/BgScrollBlock';

  export default {
    components: {
      inBgScrollBlock: BgScrollBlock
    },
    data() {
      return {
        isScroll: false,
      }
    }
  }

</script>
<style lang="less">
  @import '~LessStyle/variables.less';

  .registration-page {
    margin-top: 0 !important;

    .registration {
      background: rgba(0, 0, 0, 0.75);
      margin: 5vh auto 0 auto;
      animation: opa 1s ease-out forwards;
      padding-bottom: 40px;
    }

    @keyframes opa {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    @keyframes trY {
      from {
        transform: translateY(100vh);
        opacity: 0.5;
      }
      to {
        transform: translateY(0);
        opacity: 1;
      }
    }

    .login-header {
      opacity: 0;
      animation: trY 0.5s ease-out 1s forwards;
    }

    .publicoffer-body {
      opacity: 0;
      animation: trY 0.5s ease-out 1s forwards;
    }

    .login-footer {
      opacity: 0;
      animation: trY 0.5s ease-out 1s forwards;
    }

    .animation-button {
      opacity: 0;
      animation: trY 0.5s ease-out 1s forwards;
      padding: 10px 15px;
    }
  }

  form.publicOffer{
    text-align: left;
    padding: 0 15px;
    p.title{
      text-align: center;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    ol{
      padding: 0;
      margin: 0;
      li{
        position: relative;
        margin-bottom: 5px;
        &:before{
          content: '✓';
          font-size: 18px;
          position: absolute;
          top: -5px;
          left: -15px;
          color: @contest-list-text-color;
        }
      }
    }
  }
</style>
