<template>
  <div class="post-container">
    <in-post v-if="post" :post="post"></in-post>
    <in-post-settings :user="authUser"/>
    <in-post-sharemodal/>
    <in-spinner :loading="loading"/>
  </div>
</template>
<script>
  import {mapActions, mapGetters} from 'vuex';

  import {AUTH_USER, moduleName as userModule} from "Store/modules/authUser/user";
  import {FETCH_POST, LOADING, moduleName as postsModule, POST} from "Store/modules/posts";

  import Vue from 'vue'
  import Post from './main/Post.vue'
  import postSettings from 'ComponentsVue/main/postsettings/postSettings.vue'
  import chatsModal from 'ComponentsVue/modal/userChatsModal.vue'

  Vue.component('in-post-settings', postSettings);
  Vue.component('in-user-chats-modal', chatsModal);
  Vue.component('in-post', Post);
  export default {
    data() {
      return {
        postSlug: this.$route.params.slug,
      }
    },
    computed: {
      ...mapGetters({
        authUser: userModule + AUTH_USER,
        loading: postsModule + LOADING,
        postInfo: postsModule + POST
      }),
      post() {
        return this.postInfo(this.postSlug)
      }
    },
    mounted() {
      if(this.post) {
        setTimeout(() => {
          this.fetchPost(this.postSlug);
        }, 0);
      } else {
        this.fetchPost(this.postSlug);
      }
    },
    methods: {
      ...mapActions({
          fetchPost: postsModule + FETCH_POST
      })
    }
  }
</script>
<style lang="less">
  @import '~LessStyle/post.less';
  @import '~LessStyle/sharemodal.less';
</style>

