<template>
  <div class="registration-page">
    <in-bg-scroll-block :scroll="isScroll"/>
    <div class="registration">
      <div class="login-header">
        <h3 class="login-title"> {{$lang.registration.new_social_network}} </h3>
        <img
          class="login-logo"
          src="https://media.inrating.top/storage/img/logo/Inrating_logo_white_tifany.png">
        <h2 class="form-title">{{$lang.registration.hello_in_new_world}}</h2>
      </div>
      <form class="publicOffer">
        <div class="row">
          <div class="col-12"><p>Добро пожаловать в Inrating.Top</p>
            <b>Inrating</b> – это новая сложноструктурная социальная сеть, которая предоставляет вам
            возможность
            общения с избранными людьми, путем настроек в ленте по полу, возрасту, локации. Общайтесь с
            красивыми людьми, делитесь своими материалами и попадайте в рейтинг TOP людей! <br>
            Наша Политика конфиденциальности регламентирует защиту информации. Используя наш Сервис, вы
            выражаете свое понимание и согласие с тем, что мы предоставляем вам платформу для публикации
            материалов, в том числе фотографий, комментариев и другой информации, на нашем Сервисе и для
            публичного распространения Материалов пользователя. Это означает, что другие Пользователи могут
            искать, просматривать, использовать или распространять любые Материалы пользователя, к которым
            вы
            предоставляете общий доступ с помощью Сервиса в соответствии с правилами нашей Политики
            конфиденциальности и нашими Условиями использования.<br><br>
            <p>Наша Политика применяется ко всем посетителям, пользователям и другим лицам, которые получают
              доступ
              к Сервису («Пользователи»).</p><br>
            <p class="title">1. МЫ РАСПОЛАГАЕМ ИНФОРМАЦИЕЙ:</p>

            Мы располагаем только той информацией, которая оставлена Вами в анкете регистрации. Ваш аккаунт
            является
            частной информацией, доступ к которому, Вы также регламентируете для других пользователей.

            <span class="info">Информация, которую вы предоставляете нам напрямую:</span>

            Ваше имя пользователя и адрес электронной почты, вводимые при регистрации аккаунта на
            портале.<br>
            Информация, внесенная вами в профиль пользователя (например, имя и фамилия, фотография, номер
            телефона).
            С помощью этой информации вас и других пользователей можно «найти» на Inrating.<br>
            Материалы пользователя (например, фотографии, комментарии и другое содержимое), публикуемые на
            Сервисе.<br>
            Переписка между вами и Inrating. Например, мы можем посылать на вашу электронную почту
            сообщения,
            связанные с Сервисом (такие, как подтверждение регистрации, информацию об изменениях и
            обновлениях
            функций Сервиса, технические уведомления и уведомления о безопасности). <br>
            <span class="info">Аналитическая информация:</span>

            Мы используем сторонние инструменты анализа для оценки трафика и направлений использования
            Сервиса. Эти
            инструменты собирают информацию, отправленную вашим устройством или нашим Сервисом, в том числе
            данные о
            посещенных вами страницах, программах и иную информацию, которая может помочь нам улучшить
            Сервис. Мы
            собираем и используем эту аналитическую информацию в совокупности с аналитической информацией о
            других
            Пользователях таким образом, что из нее невозможно корректно выделить информацию о каком-либо
            конкретном
            Пользователе.<br>
            <span class="info">Информация файла журнала:</span>

            Информация файла журнала автоматически передается вашим браузером каждый раз, когда вы делаете
            запрос на
            доступ (т. е. посещение) к веб-странице или приложению. Она также может предоставляться, когда
            содержимое веб-страницы или приложения загружается в ваш браузер или устройство.<br>
            Когда вы пользуетесь Сервисом, наши серверы автоматически записывают определенную информацию для
            файла
            журнала, в том числе данные о ваших запросах, IP-адресе и типе браузера; странице, с которой вы
            вошли на
            сайт; странице, с которой вы покинули сайт; адресах страниц, количестве кликов и взаимодействии
            с
            ссылками на Сервисе; доменных именах, целевых страницах, просмотренных страницах, и иную
            подобную
            информацию. Эта информация помогает составлять более точные отчеты статистики и улучшать Сервис.<br>
            <span class="info">Идентификаторы устройства:</span>

            Когда вы используете мобильное устройство (например, планшет или телефон) для доступа к нашему
            Сервису,
            мы можем получать доступ к «идентификатору» вашего устройства, собирать и хранить на вашем
            устройстве и
            (или) хранить удаленно один или несколько идентификаторов устройства. Идентификаторы устройства
            — это
            небольшие файлы с данными или подобные структуры данных, которые хранятся на вашем мобильном
            устройстве
            (или связаны с ним) и идентифицируют его как уникальное. Идентификатор устройства может
            представлять
            собой данные, которые хранятся в аппаратном обеспечении устройства; данные, которые хранятся в
            операционной системе или другом программном обеспечении устройства; или данные, которые
            пересылаются
            Inrating на устройство.<br>
            Идентификатор устройства может предоставлять нам или стороннему партнеру информацию о том, как
            вы
            перемещаетесь по Сервису и используете Сервис, что может помочь нам или другим сторонам
            составлять
            отчеты или персонализировать рекламные объявления и другие материалы. Некоторые функции Сервиса
            не могут
            работать надлежащим образом, если идентификаторы устройства частично или полностью
            недоступны.<br>
            <span class="info">Метаданные:</span>

            Метаданные — это, как правило, технические данные, связанные с Материалами пользователя.
            Например,
            Метаданные могут описывать, как, когда и кем была получена какая-либо часть Материалов
            пользователя и
            как это содержимое было изменено.<br>
            Пользователи могут добавлять к своим Материалам пользователя Метаданные (или же они добавляются
            другой
            стороной), в том числе интеги (например, чтобы отметить ключевые слова при публикации
            фотографии), метку
            геолокации (например, чтобы отметить местоположение на фотографии), комментарии или иные данные.
            Таким
            образом ваши Материалы становятся более доступными для поиска и взаимодействия. Если вы
            отмечаете на
            фотографии местоположение или делаете метки с помощью других интерфейсов API, то данные о широте
            и
            долготе вашего местоположения будут храниться вместе с фотографией и будут доступны для поиска
            (например, с помощью поиска по местоположению или карте), при условии, что вы сделали свою
            фотографию
            общедоступной, указав это в своих настройках конфиденциальности.<br><br>
            <p class="title">2. КАК МЫ ИСПОЛЬЗУЕМ ВАШУ ИНФОРМАЦИЮ</p>
            <span class="info">В дополнение к некоторым конкретным способам использования информации, описанным в настоящей Политике
                  конфиденциальности, мы можем использовать полученную информацию, чтобы:</span>
            помочь вам быстро получать доступ к своей информации после регистрации<br>
            запоминать информацию, чтобы вам не пришлось заново вводить ее во время текущего или следующего
            посещения Сервиса;<br>
            предоставлять вам и другим лицам персонализированные материалы и данные, в число которых могут
            входить рекламные объявления или иные маркетинговые материалы<br>
            обеспечивать, повышать, тестировать и отслеживать эффективность Сервиса<br>
            разрабатывать и тестировать новые продукты и функции<br>
            отслеживать метрики, например общее число посетителей, трафик и демографический состав<br>
            диагностировать или исправлять технические неполадки<br><br>
            <p class="title">3. ПЕРЕДАЧА ВАШЕЙ ИНФОРМАЦИИ</p>

            Мы не предоставляем и не продаем вашу информацию третьим лицам, не имеющим отношения к Inrating,
            без
            вашего согласия, за исключением случаев, описанных в настоящей Политике
            конфиденциальности.<br><br>
            <p class="title">4. КАК МЫ ХРАНИМ ВАШУ ИНФОРМАЦИЮ</p>
            <span class="info">Хранение и обработка:</span>
            Ваша информация, собранная с помощью Сервиса, может храниться и обрабатываться в Европе или
            любой
            другой стране, где находится оборудование Inrating, его Дочерних компаний или Поставщиков услуг.<br>
            Регистрируясь на Сервисе и используя его, вы выражаете свое согласие на передачу информации в
            ОАЭ,
            Евросоюз или любую другую страну, где находится оборудование Inrating, его Дочерних компаний или
            Поставщиков услуг, а также на использование и раскрытие информации о вас в соответствии с
            положениями настоящей Политики конфиденциальности.<br>

            Мы используем коммерчески целесообразные меры предосторожности для обеспечения безопасности
            информации, собранной через Сервис, и предпринимаем разумные действия (например, запрос
            уникального
            пароля) для идентификации Пользователя, прежде чем предоставить вам доступ к вашему аккаунту.
            Тем не
            менее, Inrating не может обеспечить полную сохранность любой информации, которую вы передаете
            Inrating, или гарантировать, что информация на Сервисе не будет раскрыта, обнародована, изменена
            или
            уничтожена.<br>

            Пожалуйста, сделайте все от вас зависящее, чтобы помочь нам. Вы несете ответственность за
            сохранение
            в тайне вашего уникального пароля и информации аккаунта и за контроль доступа к электронной
            переписке между вами и Inrating. Ваши настройки конфиденциальности также могут изменяться в
            зависимости от изменений услуг социальных сервисов, которые вы подключаете к Inrating. Мы не
            несем
            ответственность за функциональность, конфиденциальность или меры безопасности любых других
            организаций.<br><br>
            <p class="title">5. ПЕРСОНАЛЬНЫЕ НАСТРОЙКИ, КАСАЮЩИЕСЯ ВАШЕЙ ИНФОРМАЦИИ</p>
            <span class="info">Информация аккаунта и настройки профиля и конфиденциальности:</span>
            Вы можете обновить информацию в вашем аккаунте в любое время, войдя на наш сайт и изменив
            настройки
            своего профиля.<br>

            Откажитесь от получения наших сообщений по электронной почте, нажав на ссылку «Отказаться от
            подписки», которая содержится в каждом сообщении. Как уже было сказано, вы не можете отказаться
            от
            получения сообщений, связанных с Сервисом (например, подтверждение аккаунта, подтверждение и
            напоминание о покупках и счетах, изменения и обновления функций Сервиса, уведомления о
            безопасности
            и технических вопросах).<br>

            Узнайте больше о пересмотре или изменении информации вашего аккаунта.<br>
            Срок хранения Материалов пользователя:<br><br>
            <p class="title">6. ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ ДЛЯ ДЕТЕЙ</p>
            <p>Inrating намеренно не собирает и не запрашивает какую-либо информацию у людей, не достигших
              16 лет, а
              также не позволяет таким лицам регистрироваться на Сервисе. Сервис и размещаемые на нем
              материалы не
              предназначены для лиц младше 16 лет, либо согласно законодательству Вашей страны.</p><br>
            <p class="title">7. ДРУГИЕ ВЕБ-САЙТЫ И СЕРВИСЫ</p>
            <p>Мы не несем ответственности за действия других веб-сайтов или сервисов, на которых содержатся
              ссылки
              на наш Сервис или ссылки на которые содержатся на нашем Сервисе, в том числе за размещенную
              на них
              информацию или их содержимое. При переходе по ссылке с нашего Сервиса на другой веб-сайт или
              сервис
              помните, что наша Политика конфиденциальности не распространяется на эти сторонние веб-сайты
              или
              сервисы. Когда вы посещаете или используете любой сторонний веб-сайт или сервис, включая те,
              ссылка
              на которые содержится на нашем веб-сайте, вы подчиняетесь правилам и требованиям этого
              стороннего
              сайта или сервиса. Кроме того, вы выражаете согласие с тем, что мы не несем ответственность
              и не
              осуществляем контроль за любыми третьими лицами, которым вы предоставляете доступ к вашим
              Материалам
              пользователя. Если вы используете сторонний веб-сайт или сервис и даете им доступ к вашим
              Материалам
              пользователя, то вы делаете это на свой собственный риск.</p><br>
            <p class="title">8. КАК СВЯЗАТЬСЯ С НАМИ В СЛУЧАЕ СМЕРТИ ПОЛЬЗОВАТЕЛЯ</p>
            <p>Свяжитесь с нами в случае смерти пользователя Inrating. Обычно мы ведем переписку посредством
              электронной почты. В случае необходимости мы свяжемся с вами для получения дополнительной
              информации
              по адресу электронной почты, указанному в вашем запросе.</p><br>
            <p class="title">9. КАК СВЯЗАТЬСЯ С НАМИ</p>
            <p>Если у вас возникли какие-либо вопросы о Политике конфиденциальности или Сервисе, найдите
              подходящий
              канал связи в Справочном центре, по которому можно связаться с нами.</p><br>
            <p class="title">10. ИЗМЕНЕНИЯ В ПОЛИТИКЕ КОНФИДЕНЦИАЛЬНОСТИ</p>
            <p>Inrating может время от времени изменять или обновлять настоящую Политику конфиденциальности,
              поэтому
              мы просим вас периодически просматривать ее. Мы можем предоставить вам дополнительные формы
              уведомлений об изменениях или обновлениях в соответствии с обстоятельствами. Если вы
              продолжите
              использовать Inrating или Сервис после внесения изменений в Политику конфиденциальности, это
              будет
              означать, что вы выражаете свое согласие с данными изменениями.</p></div>
        </div>
      </form>
      <div class="login-item concat-item">
        <div ><a href="tel:0800503699" >0 800 50 36 99</a></div>
        <div ><a href="mailto:info@inrating.club">info@inrating.club</a></div>
      </div>
      <div class="login-item concat-item">
        <img src="https://media.inrating.top/images/logo/iso_3.png">
        <img src="https://media.inrating.top/images/logo/gp_3.png">
      </div>
      <p class="login-information">{{$lang.registration.politics_conf}}</p>
      <p class="login-information">{{$lang.registration.web_rule}}</p>
      <p class="login-information"><b>InRating Group FZC © 2018</b></p>
      <button
        class="animation-button"
        @click="$router.push('/')">На главную</button>
    </div>
  </div>
</template>
<script>
  import BgScrollBlock from 'ComponentsVue/login/BgScrollBlock';

  export default {
    components: {
      inBgScrollBlock: BgScrollBlock
    },
    data() {
      return {
        isScroll: false,
      }
    }
  }
</script>
<style lang="less">
  @import '~LessStyle/variables.less';

  .registration-page {
    margin-top: 0 !important;

    .registration {
      background: rgba(0, 0, 0, 0.75);
      margin: 5vh auto 0 auto;
      animation: opa 1s ease-out forwards;
      padding-bottom: 40px;
    }

    @keyframes opa {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    @keyframes trY {
      from {
        transform: translateY(100vh);
        opacity: 0.5;
      }
      to {
        transform: translateY(0);
        opacity: 1;
      }
    }

    .login-header {
      opacity: 0;
      animation: trY 0.5s ease-out 1s forwards;
    }

    .publicOffer {
      opacity: 0;
      animation: trY 0.5s ease-out 1s forwards;
    }

    .login-item {
      opacity: 0;
      animation: trY 0.5s ease-out 1s forwards;
    }

    .login-information {
       opacity: 0;
       animation: trY 0.5s ease-out 1s forwards;
     }

    .animation-button {
      opacity: 0;
      animation: trY 0.5s ease-out 1s forwards;
      padding: 10px 15px;
    }
  }

  .publicoffer-body p {
    text-align: left;
    padding: 10px;
  }

  .col-12 {
    text-align: left;
    padding: 10px;
  }

  form.publicOffer {
    text-align: left;
    padding: 0 15px;
    .row > .col-12 p.title {
      text-align: center;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    ol {
      padding: 0;
      margin: 0;
      li {
        position: relative;
        margin-bottom: 5px;
        &:before {
          content: '✓';
          font-size: 18px;
          position: absolute;
          top: -5px;
          left: -15px;
          color: @contest-list-text-color;
        }
      }
    }
  }
</style>
