<template>
  <div class="register-modal">
    <in-bg-scroll-block :scroll="isScroll"/>

    <!--<div class="bgc-grad-register"></div>-->
    <div class="registration">
      <div class="login-header">
        <h3 class="login-title"> {{$lang.registration.new_social_network}} </h3>
        <img
          class="login-logo"
          src="https://media.inrating.top/storage/img/logo/Inrating_logo_white_tifany.png">
        <h2 class="form-title">{{$lang.registration.hello_in_new_world}}</h2>
      </div>
      <div class="reg-step1">
        <!--<div class="login-blur"></div>-->
        <div class="registration-header">
          <div v-if="showMsg">
            <in-download-normal-browser/>
          </div>
          <h3> {{$lang.notifications.register}} </h3>
        </div>
        <div class="registration-body">
          <form ref="firstStep">
            <div :class="checkNameKey">
              <div class="registration-item--header">
                <p>{{$lang.registration.name_and_surname}}:</p>
              </div>
              <div class="info-error">{{infoErrorName}}</div>
              <input

                :disabled="validated == 1"
                autocomplete="on | off"
                v-model="name"
                class="registration-input"
                @blur="coinsEarn($event.target,'name',true)"
                name="nameLast"
                ref="name"
                type="text"
                :placeholder="$lang.registration.your_name"
                id="name"
                pattern="[^0-9]{3,255}">
            </div>
            <div :class="checkNicknameKey">

              <div class="registration-item--header">
                <p> {{$lang.registration.nickname_rule}}: </p>
                <!--<p class="registration-coins">+100 INC <img class="registration-coins-img" src="http://storage.innet.club/img/default/R-coin.png" alt=""></p>-->
              </div>
              <div class="info-error">{{infoErrorNickname}}</div>
              <input
                :disabled="validated == 1"
                autocomplete="on | off"
                class="registration-input"
                name="nickname"
                v-model="nickname"
                @blur="coinsEarn($event.target,'nickname',true)"
                type="text"
                ref="nickname"
                :placeholder="$lang.registration.nickname"
                id="nickname"
                maxlength="16"
                pattern="[a-zA-Z0-9-]+">
            </div>
            <div class="registration-item">
              <div class="registration-item--header">
                <p> {{$lang.registration.phone_enter}}:</p>
                <!--<p class="registration-coins">+200 INC <img class="registration-coins-img" src="http://storage.innet.club/img/default/R-coin.png" alt=""></p>-->
              </div>
              <div class="info-error">{{infoErrorPhone}}</div>
              <div :class="checkPhoneKey">
                <div
                  class="country-click"
                  @click="showAllCountries">
                  <img :src="'https://media.inrating.top/images/country/'+phoneImg">
                </div>
                <div
                  v-if="countryList"
                  class="country-list">
                  <p
                    class="country-list--item"
                    v-for="mask in allMask"
                    @click="changeMask(mask.mask,mask.img)">
                    <img :src="'https://media.inrating.top/images/country/'+mask.img">
                    <span v-text="mask.info"></span>
                  </p>
                </div>
                <div class="info-error">{{infoErrorPhone}}</div>
                <masked-input
                  v-model="mobile"
                  name="newtelephone"
                  class="registration-input registration-phone"
                  id="telua"
                  ref="phoneInput"
                  :mask="phoneMask"
                  :placeholder="phonePlaceholder"
                  type="text"/>
              </div>
            </div>
            <div class="registration-item">
              <div class="registration-item--header">
                <p> {{$lang.registration.selected_avatar}}:</p>
                <!--<p class="registration-coins">+100 INC <img class="registration-coins-img" src="http://storage.innet.club/img/default/R-coin.png" alt=""></p>-->
              </div>
              <div class="info-error">{{infoErrorImg}}</div>
              <button
                id="chooseAvaButton"
                type="button"
                @click="chooseAvatarButton($event.target)">{{$lang.registration.add_avatar}}
              </button>
            </div>
            <div id="avatar-attention">
              <p class="avatar-title-block">{{$lang.registration.add_avatar}}</p>
              <span>&nbsp &nbsp {{$lang.registration.avatar_rules}}</span>
              <br>
              <span>&nbsp &nbsp {{$lang.registration.avatar_decline}}</span>
              <div
                class="accept-rules"
                @click="acceptRules()">
                <div class="checkbox-div">
                  <i class="accept-check icon-check-f"></i>
                </div>
                {{$lang.registration.accept_rules}}
              </div>
              <p class="rule-link">
                <router-link to="/rule-page">{{$lang.registration.network_rules}}</router-link>
              </p>
            </div>
            <div
              id="reg-crop"
              class="registration-item">
              <div v-show="showCropp" class="cropp">
                <div class="crop-container">
                  <croppa
                    v-model="myCroppa"
                    :width=imageSize
                    :height=imageSize
                    :quality="qualityImage"
                    :prevent-white-space="true"
                    :show-remove-button="false"
                    placeholder-color="#9e9e9e"
                    :placeholder-font-size="20"
                    :placeholder="$lang.registration.avatar"
                    :initial-image="avatarImage">
                  </croppa>
                  <img class="icon-cropper" src="https://media.inrating.top/storage/img/default/cropp-action.svg"
                       alt="">
                </div>
                <label class="avatar-title">{{$lang.registration.choose_avatar}}</label>
                <button
                  class="log-button"
                  type="button"
                  @click="removeFromCropp">{{$lang.registration.delete_avatar}}
                </button>
                <button
                  class="log-button"
                  type="button"
                  @click="addToCropp">{{$lang.registration.confirm_avatar}}
                </button>
              </div>
              <img v-show="!showCropp"
                   class='previewPhoto'
                   @click="newAvatar()"
                   :src="image"/>
            </div>
            <div></div>
            <div :class="checkPasswordKey">
              <div class="registration-item--header">
                <p> {{$lang.registration.password_enter}}: </p>
              </div>
              <div class="info-error">{{infoErrorPassword}}</div>
              <input
                :disabled="validated == 1"
                autocomplete="on | off"
                name="oldpassword"
                class="registration-input"
                @blur="coinsEarn($event.target,'password',true)"
                type="password"
                ref="password"
                id="password"
                v-model="password"
                :placeholder="$lang.registration.password">
              <div
                @click="showPassFunc($event,'password')"
                class="registration-eye">
                <i class="icon-eye-close"></i>
              </div>

              <!--<input class="registration-input" type="password" ref="passwordRepeat" id="passwordRepeat" :placeholder="$lang.registration.password_repeat">-->
            </div>
            <div
              ref="passwordRepeat"
              :class="checkPasswordRepeatKey">
              <div class="registration-item--header">
                <p> {{$lang.registration.password_repeat}}: </p>
              </div>
              <div class="info-error">{{infoErrorPasswordRepeat}}</div>
              <input
                :disabled="validated == 1"
                class="registration-input"
                type="password"
                @blur="coinsEarn($event.target,'passwordRepeat',true)"
                v-model="passwordRepeat"
                id="passwordRepeat"
                :placeholder="$lang.registration.password_repeat">
              <div
                @click="showPassFunc($event,'passwordRepeat')"
                class="registration-eye">
                <i class="icon-eye-close"></i>
              </div>
            </div>
            <div
              class="phone-send"
              v-if="showPhoneAccept">
              <p>{{$lang.registration.code_SMS}}</p>
              <p>{{countdown}}</p>
              <div class="input-phone-block">
                <input
                  class="confirm-phone"
                  autofocus
                  maxlength="1"
                  ref="code1"
                  v-model="code1"
                  @keyup="nextCell($event, 2)"
                  type="text">
                <input
                  class="confirm-phone"
                  maxlength="1"
                  v-model="code2"
                  ref="code2"
                  @keyup="nextCell($event, 3)"
                  type="text">
                <input
                  class="confirm-phone"
                  maxlength="1"
                  v-model="code3"
                  ref="code3"
                  @keyup="nextCell($event, 4)"
                  type="text">
                <input
                  class="confirm-phone"
                  maxlength="1"
                  v-model="code4"
                  ref="code4"
                  @keyup="nextCell($event, 5)"
                  type="text">
              </div>
            </div>
            <!--<p >{{$lang.registration.coins_count}} {{coinsSum}} INCoins</p>-->
            <p> {{$lang.registration.add_profile}} </p>
            <div class="registration-item">
              <button
                v-if="endTimer === true"
                type="button"
                @click="sendSMSAgain">Send SMS again
              </button>
              <button
                v-else-if="validated!=1"
                type="button"
                @click="checkInfoToRegister()">{{$lang.registration.send_sms}}
              </button>
              <button
                class="log-button"
                v-else
                @click="confirmPhone()">{{$lang.registration.log_button}}
              </button>
            </div>
          </form>
        </div>
        <modal
          name="infoForRegistration"
          width="90%"
          classes=" v--modal info-modal"
          height="auto"
        >
          <div class="info-space">
            <p>By continuing you agree to:</p>
            -<a
            class="click"
            @click="newPageInfo('https://m.inrating.top/rule-page')">InRating Rules
          </a>
            -<a
            class="click"
            @click="newPageInfo('https://m.inrating.top/public-offer-and-confidentiality')">InRating Privacy Policy
          </a>
            -<a
            class="click"
            @click="newPageInfo('https://media.inrating.top/docs/GDPR_ru.pdf')">transfer and processing of your data
          </a>
            submitted to us at the registration stage and during the use of InRating.
          </div>
          <div class="btn-space">
            <button
              class="btn btn-primary"
              @click="$modal.hide('infoForRegistration')">
              {{$lang.registration.continue}}
            </button>
          </div>
        </modal>
      </div>
      <in-loginfooter></in-loginfooter>
    </div>
    <in-spinner-bg :loading="loaded"></in-spinner-bg>

  </div>
</template>

<script>
  import apiDrotr from 'utils/apiDrotr';

  import axios from 'axios';
  import Vue from 'vue'
  import downloadBrowser from 'ComponentsVue/DownloadNormalBrowser'
  import imageHelper from 'JsLib/imageHelper'
  import loginFooter from 'ComponentsVue/login/loginFooter'
  import BgScrollBlock from 'ComponentsVue/login/BgScrollBlock';

  Vue.component('in-download-normal-browser', downloadBrowser);
  Vue.component('in-loginfooter', loginFooter);
  export default {
    name: 'registrationModal',
    components: {
      inBgScrollBlock: BgScrollBlock
    },
    data() {
      return {
        inputFlags: {
          name: false,
          nickname: false,
          phone: false,
          password: false,
          passwordRepeat: false,
        },
        loaded: false,
        mobile: '',
        image: '',
        name: '',
        nickname: '',
        password: '',
        passwordRepeat: '',
        showPasswordRepeat: true,
        myCroppa: {},
        validated: 0,
        imageSize: '',
        qualityImage: 4,
        avatarImage: '',
        countdown: '00:05:00',
        showPass: false,
        showCropp: false,
        coinsCount: 0,
        params: {},
        fileUpload: {},
        allMask: [
          {img: 'united-states.png', alt: 'United States of America', mask: 'usa', info: 'USA +1'},
          {img: '243-canada.png', alt: 'Canada', mask: 'canada', info: 'Canada +1'},
          {img: '170-greece.png', alt: 'Greece', mask: 'greece', info: 'Greece +30'},
          {img: '195-france.png', alt: 'France', mask: 'france', info: 'France +33'},
          {img: '128-spain.png', alt: 'Spain', mask: 'spain', info: 'Spain +34'},
          {img: '115-hungary.png', alt: 'Hungary', mask: 'hungary', info: 'Hungary +36'},
          {img: '064-lithuania.png', alt: 'Lithuania', mask: 'lithuania', info: 'Lithuania +370'},
          {img: '008-estonia.png', alt: 'Estonia', mask: 'estonia', info: 'Estonia +372'},
          {img: '212-moldova.png', alt: 'Moldova', mask: 'moldova', info: 'Moldova +373'},
          {img: '135-belarus.png', alt: 'Belarus', mask: 'estonia', info: 'Belarus +375'},
          {img: '145-ukraine.png', alt: 'Украина', mask: 'ua', info: 'Украина +380'},
          {img: '013-italy.png', alt: 'Italia', mask: 'italia', info: 'Italia +39'},
          {img: '149-czech-republic.png', alt: 'Chech Republic', mask: 'chech', info: 'Chech Republic +420'},
          {img: '211-poland.png', alt: 'Poland', mask: 'poland', info: 'Poland +48'},
          {img: '162-germany.png', alt: 'Germany', mask: 'germany', info: 'Germany +49'},
          {img: '234-australia.png', alt: 'Australia', mask: 'australia', info: 'Australia +61'},
          {img: '248-russia.png', alt: 'Россия', mask: 'ru', info: 'Россия +7'},
          {img: '218-turkey.png', alt: 'Turkey', mask: 'turkey', info: 'Turkey +90'},
          {img: '074-kazakhstan.png', alt: 'Kazakhstan', mask: 'kazakhstan', info: 'Kazakhstan +7'},
          {img: '141-azerbaijan.png', alt: 'azerbaijan', mask: 'azerbaijan', info: 'Azerbaijan +994'},
          {
            img: '151-united-arab-emirates.png',
            alt: 'United Arab Emirates',
            mask: 'arab',
            info: 'United Arab Emirates +971'
          },
          {img: '256-georgia.png', alt: 'Georgia', mask: 'georgia', info: 'Georgia +995'},
        ],
        phoneImg: 'small/ukraine.png',
        showPhoneAccept: false,
        phonePlaceholder: '+38(___)___-__-__',
        phoneMask: '\\+\\3\\8(111)111-11-11',
        countryList: false,
        showMsg: false,
        correctNickname: false,
        // error info under input
        infoErrorName: '',
        infoErrorNickname: '',
        infoErrorPhone: '',
        infoErrorImg: '',
        infoErrorPassword: '',
        infoErrorPasswordRepeat: '',
        endTimer: false,
        sendSmsAgain: false,
        coinsName: 0,
        coinsNickname: 0,
        coinsPhone: 0,
        coinsAvatar: 0,
        phoneTouched: false,
        code1: '',
        code2: '',
        code3: '',
        code4: '',
        isScroll: false
      }
    },
    computed: {
      coinsSum() {
        return this.coinsName + this.coinsNickname + this.coinsPhone + this.coinsAvatar
      },
      checkNameKey() {
        if (this.name == '' || !this.inputFlags.name) {
          return 'registration-item'
        }
        else {
          let name = '';
          let lastname = '';
          let nameArray = this.name.split(' ');
          if (nameArray[nameArray.length - 1] == '' && nameArray.length > 2) {
            let fixName = this.name;
            this.name = fixName.slice(0, -1);
            nameArray.pop();
          }
          if (nameArray.length == 2 && nameArray[nameArray.length - 1] !== '') {
            name = nameArray[0];
            lastname = nameArray[1];
            let pattName = /^[^0-9_.;`~!@#$%^&*()+"№:?=,|]+$/.test(name);
            let pattLastname = /^[^0-9_.;`~!@#$%^&*()+"№:?=,|]+$/.test(lastname);
            if (pattName && pattLastname) {
              this.coinsName = 10;
              return 'registration-item right-item'
            } else {
              this.coinsName = 0;
              this.infoErrorName = this.$lang.registration.uncorrect_symbols;
              return 'registration-item error';
            }
          } else {
            this.coinsName = 0;
            this.infoErrorName = this.$lang.registration.enter_lastname;
            return 'registration-item error'
          }
        }


      },
      checkNicknameKey() {
        let patt = /^[a-zA-Z0-9_.]+$/.test(this.nickname);

        if (this.nickname == '' || !this.inputFlags.nickname) {
          return 'registration-item ';
        }
        else {
          if (this.nickname.length <= 16 && this.nickname.length >= 3 && patt) {

            this.checkCorrectNickname();
            if (this.correctNickname) {
              this.coinsNickname = 10;
              return 'registration-item right-item'
            } else {
              this.coinsNickname = 0;
              this.infoErrorNickname = this.$lang.registration.nickname_taken;
              return 'registration-item error'
            }
          } else if (!patt) {
            this.nickname = this.nickname.replace(/[^a-zA-Z0-9_.]/gi, '');
            this.infoErrorNickname = this.$lang.registration.uncorrect_symbols;
            this.coinsNickname = 0;
            return 'registration-item error';
          } else {
            this.infoErrorNickname = this.$lang.registration.enter_more;
            this.coinsNickname = 0;
            return 'registration-item error';
          }
        }
      },
      checkPhoneKey() {
        this.checkCorrectPhone();
        if (this.mobile == '' || !this.inputFlags.phone) {
          return 'mob';
        } else {
          if (this.correctPhone) {
            return 'mob right-mob-item'
          }
          else {
            this.infoErrorPhone = 'Номер занят';
            return 'mob error'
          }
        }

      },
      checkPasswordKey() {

        if (this.password == '') {
          return 'registration-item ';
        } else {
          let passwordPatt = /^[^А-Яа-яґєҐЄІіЇї\s ]+$/.test(this.password);
          if (this.password.length >= 6 && passwordPatt) {
            return 'registration-item right-item';
          } else if (this.password.length < 6) {
            this.infoErrorPassword = this.$lang.registration.length_error;
            return 'registration-item error';
          } else {
            this.infoErrorPassword = this.$lang.registration.incompetent_format;
            return 'registration-item error';
          }
        }
      },
      checkPasswordRepeatKey() {
        if (this.password.length >= 6) {
          let passwordPatt = /^[^А-Яа-яґєҐЄІіЇї\s ]+$/.test(this.passwordRepeat);
          if (this.passwordRepeat == '') {
            return 'registration-item ';
          } else {
            if (this.passwordRepeat == this.password && passwordPatt) {
              return 'registration-item right-one-password right-item';
            } else {
              this.infoErrorPasswordRepeat = this.$lang.registration.not_same_passwords;
              return 'registration-item right-one-password error';
            }
          }
        } else {
          this.infoErrorPasswordRepeat = this.$lang.registration.incompetent_format;
          return 'registration-item error-one-password error';
        }
      },
    },
    mounted() {
      const listener = e => {
        if (this.countryList) {
          e.stopPropagation();
          this.countryList = !this.countryList;
        }
      };

      window.addEventListener('click', listener);
      this.$once('hook:beforeDestroy', () => {
        window.removeEventListener('click', listener);
      });

      this.getBrowUser();
      let image = localStorage.getItem('clientWidth');
      this.imageSize = parseInt(image) * 0.75;
      this.qualityImage = Math.ceil(1080 / this.imageSize);
      document.querySelector('.registration-phone').addEventListener('blur', function (event) {
        let phoneLength = document.querySelector('.registration-phone').value.replace(/[()_-]/gi, '').length;
        this.phoneTouched = true;
        if (phoneLength > 3) {
          this.coinsCount += 10;
        }
        else {
          this.coinsCount -= 10;
        }
      }, true);
    },
    methods: {
      removeFromCropp() {
        this.coinsAvatar = 0;
        this.myCroppa.remove();
      },
      showNotAvailableModal() {
        this.$notify({
          group: 'app-not-available',
          duration: 4000,
          speed: 300
        })
      },
      sendSMSAgain() {
        this.endTimer = false;
        this.showPhoneAccept = true;
        this.sendSmsAgain = true;
        this.checkInfoToRegister();
      },
      setLang() {
        let e = document.getElementById('selectLang');
        let strUser = e.options[e.selectedIndex].value;
        this.$lang.setLang(strUser)
      },
      checkInput(input) {
        switch (input) {
          case 'name': {
            this.checkNameKey;
            break;
          }
          case 'nickname': {
            this.checkNicknameKey;
            break;
          }
          case 'password': {
            this.checkPasswordKey;
            break;
          }
        }
      },
      checkCorrectNickname() {
        let dataCheckInfoOnRegister = new FormData();
        dataCheckInfoOnRegister.append('nickname', this.nickname);
        dataCheckInfoOnRegister.append('unique', true);
        axios.post('v1/check-credentials', dataCheckInfoOnRegister)
          .then(res => {
            if (!res.data.state) {
              this.$notify({
                group: 'nickname-reg',
                duration: 3000,
                speed: 300,
              });
              this.correctNickname = false;
            }
            else {
              this.correctNickname = true;
            }
          })

      },
      checkCorrectPhone() {
        if (this.phoneTouched) {
          let dataCheckInfoOnRegister = new FormData();
          dataCheckInfoOnRegister.append('phone', this.mobile.replace(/[()-]/gi, ''));
          dataCheckInfoOnRegister.append('unique', true);
          axios.post('v1/check-credentials', dataCheckInfoOnRegister)
            .then(res => {
              if (!res.data.state) {
                this.$notify({
                  group: 'phone-reg',
                  duration: 3000,
                  speed: 300,
                });
                this.coinsPhone = 0;
                this.correctPhone = false;
              }
              else {
                this.coinsPhone = 10;
                this.correctPhone = true;
              }
            })
            .catch(e => {
              this.coinsPhone = 0;
            })
        }
      },
      getBrowUser() {
        let ua = navigator.userAgent, tem,
          M = ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || [];
        if (/trident/i.test(M[1])) {
          tem = /\brv[ :]+(\d+)/g.exec(ua) || [];
          return 'IE ' + (tem[1] || '');
        }
        if (M[1] === 'Chrome') {
          tem = ua.match(/\b(OPR|Edge)\/(\d+)/);
          if (tem != null) return tem.slice(1).join(' ').replace('OPR', 'Opera');
        }
        M = M[2] ? [M[1], M[2]] : [navigator.appName, navigator.appVersion, '-?'];
        if ((tem = ua.match(/version\/(\d+)/i)) != null) M.splice(1, 1, tem[1]);
        let Brow = M.join(' ');
        switch (Brow.split(' ')[0]) {
          case 'IE':
            this.showMsg = true;
            break;
          default:
            this.showMsg = false;
        }
      },
      showPassFunc(e, password) {
        this.showPass = !this.showPass;
        if (this.showPass) {
          document.getElementById(password).type = 'text';
          e.target.classList.add('icon-eye');
          e.target.classList.remove('icon-eye-close');
        }
        else {
          document.getElementById(password).type = 'password';
          e.target.classList.remove('icon-eye');
          e.target.classList.add('icon-eye-close');
        }

      },
      checkPhone() {
        if (this.mobile.indexOf('_') !== -1) {
          // this.infoErrorPhone = 'Некорректный номер телефона';
          this.$notify({
            group: 'phone-incorrect',
            duration: 3000,
            speed: 300,
          });

          return false;
        }

        return true;
      },
      checkInfoToRegister() {
        if (this.checkPhone()) {
          let nickname = this.nickname;
          let dataCheckInfoOnRegister = new FormData();
          dataCheckInfoOnRegister.append('nickname', nickname);
          dataCheckInfoOnRegister.append('phone', this.mobile.replace(/[()-]/gi, ''));
          dataCheckInfoOnRegister.append('unique', true);
          axios.post('v1/check-credentials', dataCheckInfoOnRegister)
            .then(res => {
              if (res.data.state) {
                if (this.sendSmsAgain === false) {
                  this.$modal.show('infoForRegistration');
                }

                this.sendRegistration();
              } else {
                let errorArray = res.data.failed_fields;
                errorArray.map((error) => {
                  if (error == 'phone') {
                    this.$notify({
                      group: 'phone-reg',
                      duration: 3000,
                      speed: 300,
                    })
                  }
                  else if (error == 'nickname') {
                    this.$notify({
                      group: 'nickname-reg',
                      duration: 3000,
                      speed: 300,
                    })
                  }
                })
              }
            })
        }
      },
      coinsEarn(e, title, bool) {
        this.inputFlags[title] = bool;
        this.checkInput(title);
        if (e.value != '') {
          this.coinsCount += 10;
        }
        else {
          this.coinsCount -= 10;

        }

      },


      sendRegistration() {
        this.sendForm();
        let name = '';
        let lastname = '';
        let sendName = false;
        let sendPass = false;
        let nameArray = this.$refs.name.value.split(' ');
        if (nameArray.length == 2) {
          name = nameArray[0];
          lastname = nameArray[1];
          let pattName = /^[^0-9_.;`~!@#$%^&*()+"№:?=,|]+$/.test(name);
          let pattLastname = /^[^0-9_.;`~!@#$%^&*()+"№:?=,|]+$/.test(lastname);
          if (pattName && pattLastname) {
            sendName = true;
          }
          else
            sendName = false;
        }
        else {
          sendName = false;
        }

        let passwordPatt = /^[^ ]+$/.test(this.password);
        if (this.password.length >= 6 && (this.password == this.passwordRepeat) && passwordPatt) {
          sendPass = true;
        }
        else {
          sendPass = false;
        }
        let pattNickname = /^[a-zA-Z0-9_.]+$/.test(this.nickname);
        if (sendName && sendPass && this.dataUrl && pattNickname) {

          this.params = new FormData();
          this.params.append('name', name);
          this.params.append('lastname', lastname);
          this.params.append('nickname', this.nickname);
          this.params.append('phone', this.mobile.replace(/[()-]/gi, ''));
          this.params.append('password', this.password);
          this.params.append('file', this.fileUpload);
          let data = {
            'phone': this.mobile.replace(/[()-]/gi, ''),
          };
          let config = {
            headers: {
              'Content-Type': 'application/json',
              'Accept': 'text/html',
            }
          };

          apiDrotr.regPhone(data, config)
            .then(
              res => {
                this.showPhoneAccept = true;
                this.validated = 1;
                this.timeStart();
                //this.$modal.show('phoneAccept');
                document.querySelector('.registration-phone').disabled = true;
                // document.querySelector('.confirm-phone').focus;

              }
            )
            .catch(err => {

              if (err.response.data.status == 'error') {
                this.$notify({
                  group: 'wrong-phone',
                  duration: 3000,
                  speed: 300,
                })
              }
              if (err.response.status == 409) {
                this.showPhoneAccept = true;
                this.validated = 1;
                document.querySelector('.registration-phone').disabled = true;
                this.timeStart();
              }
            })
        }
        else {

          if (sendName == false) {
            this.$notify({
              group: 'send-name',
              duration: 3000,
              speed: 300,
            });
          }
          else if (sendPass == false) {

            this.$notify({
              group: 'send-pass',
              duration: 3000,
              speed: 300,
            });
          }
          else if (!pattNickname) {
            this.$notify({
              group: 'send-nickname',
              duration: 3000,
              speed: 300,
            });
          }
          else {
            this.$notify({
              group: 'send-avatar',
              duration: 3000,
              speed: 300,
            });
          }
        }
      },
      timeStart() {
        let time = (300 * 1000);
        if (time > 0) {
          this.$timeBack(Math.floor(time / 1000), (res) => {
            if (res === '0:00:00') {
              this.endTimer = true;
              this.showPhoneAccept = false;
              this.sendSmsAgain = false;
              return this.countdown = '00:00:00'
            }
            if ((this.endTimer === false && this.sendSmsAgain === false) || (this.sendSmsAgain === true))
              return this.countdown = res;

          });
        } else {
          return this.countdown = '00:00:00'
        }
      },
      confirmPhone() {
        this.loaded = true;
        let finalCode = this.code1 + this.code2 + this.code3 + this.code4;
        let data = {
          os: 'android',
          vsn: '0.0.0',
          phone: this.mobile.replace(/[()-]/gi, ''),
          code: finalCode,
        };
        apiDrotr.confirmPhone(data)
          .then(res => {

            if (res.data.status = 'success') {

              //document.getElementById('SpinnerPreload').style.display = 'block';
              this.params.append('token_type', res.data.token_type);
              this.params.append('access_token', res.data.access_token);
              this.params.append('refresh_token', res.data.refresh_token);

              axios.post('v1/register', this.params)
                .then(res => {
                  let requestTokenData = {
                    client_id: 2,
                    client_secret: '0123456789987654321',
                    grant_type: 'password',
                    username: this.nickname,
                    password: this.password
                  };
                  axios.post('oauth/token', requestTokenData)
                    .then(res => {
                      let $token = res.data.access_token;
                      localStorage.setItem('token', $token);
                      let config = {headers: {'Authorization': 'Bearer ' + res.data.access_token}};
                      this.$root.$emit('newBearer', res.data.access_token);
                      return axios.get('v1/me', config);

                    })
                    .then(res => {
                      let user = JSON.stringify(res.data);
                      localStorage.setItem('user', user);
                      this.loaded = false;
                      window.location.href = '/u/' + res.data.nickname;

                    })
                    .catch(err => {
                      //document.getElementById('SpinnerPreload').style.display = 'none';
                      alert('Произошла ошибка при регистрации. Попробуйте использовать другой номер телефона или обратитесь в тех. поддержку 0800 50 36 99')
                    });
                })
                .catch(err => {
                  document.getElementById('SpinnerPreload').style.display = 'none';
                  if (err.response.data.errorInfo.errorCode == 1001) {
                    alert(this.$lang.registration.ip_limit);
                    window.location.href = '/login';
                  } else {
                    alert('Произошла ошибка при регистрации. Попробуйте использовать другой номер телефона или обратитесь в тех. поддержку 0800 50 36 99')
                  }
                });
            }
            else {
              this.$notify({
                group: 'wrong-phone-code',
                duration: 3000,
                speed: 300,
              });
            }
          })
          .catch(err => {
            this.$notify({
              group: 'wrong-phone-code',
              duration: 3000,
              speed: 300,
            });
          })


      },
      sendForm() {
        let form = this.$refs.firstStep;
        form.addEventListener('submit', function (e) {
          e.preventDefault();
          return false;
        })
      },
      showAllCountries(e) {
        e.stopPropagation();

        if (this.validated !== 1) {
          this.countryList = !this.countryList;
        }
      },
      changeMask(_mask, _img) {
        this.phoneSeen = false;
        this.phoneImg = _img;
        switch (_mask) {
          case 'usa': {
            this.phoneMask = '\\+\\1(111)111-1111';
            this.phonePlaceholder = '+1(_)_-__';
          }
            break;
          case 'canada': {
            this.phoneMask = '\\+\\1(111)111-1111';
            this.phonePlaceholder = '+1(_)_-__';
          }
            break;
          case 'australia': {
            this.phoneMask = '\\+\\6\\1(111)111-111';
            this.phonePlaceholder = '+61(_)_-_';
          }
            break;
          case 'france': {
            this.phoneMask = '\\+\\3\\3-1-11-11-11-11';
            this.phonePlaceholder = '+33-_----';
          }
            break;
          case 'germany': {
            this.phoneMask = '\\+\\4\\9-11-11111111';
            this.phonePlaceholder = '+49--____';
          }
            break;
          case 'italia': {
            this.phoneMask = '\\+\\3\\9-111-1111111';
            this.phonePlaceholder = '+39-_-_____';
          }
            break;
          case 'spain': {
            this.phoneMask = '\\+\\3\\4-111-111-111';
            this.phonePlaceholder = '+34-_-_-_';
          }
            break;
          case 'moldova': {
            this.phoneMask = '\\+\\3\\7\\3-1111-11-11';
            this.phonePlaceholder = '+373-__--';
          }
            break;
          case 'greece': {
            this.phoneMask = '\\+\\3\\0-111-111-1111';
            this.phonePlaceholder = '+30-_-_-__';
          }
            break;
          case 'chech': {
            this.phoneMask = '\\+\\4\\2\\0-111-111-111';
            this.phonePlaceholder = '+420-_-_-_';
          }
            break;
          case 'georgia': {
            this.phoneMask = '\\+\\9\\9\\5-111-11-11-11';
            this.phonePlaceholder = '+995-_---';
          }
            break;
          case 'hungary': {
            this.phoneMask = '\\+\\3\\6(11)111-1111';
            this.phonePlaceholder = '+36()_-__';
          }
            break;
          case 'poland': {
            this.phoneMask = '\\+\\4\\8-111-111-111';
            this.phonePlaceholder = '+48-_-_-_';
          }
            break;
          case 'estonia': {
            this.phoneMask = '\\+\\3\\7\\2-1111-1111';
            this.phonePlaceholder = '+372-__-__';
          }
            break;
          case 'belarus': {
            this.phoneMask = '\\+\\3\\7\\5-111-111111';
            this.phonePlaceholder = '+375-_-____';
          }
            break;
          case 'lithuania': {
            this.phoneMask = '\\+\\3\\7\\0(1-111)11111';
            this.phonePlaceholder = '+370(_-_)___';
          }
            break;
          case 'turkey': {
            this.phoneMask = '\\+\\9\\0-1111-111-1111';
            this.phonePlaceholder = '+90-__-_-__';
          }
            break;
          case 'arab': {
            this.phoneMask = '\\+\\9\\7\\1-111-111-1111';
            this.phonePlaceholder = '+971-_-_-__';
          }
            break;
          case 'ua': {
            this.phoneMask = '\\+\\3\\8(111)111-11-11';
            this.phonePlaceholder = '+38(_)_--';
          }
            break;
          case 'ru': {
            this.phoneMask = '\\+\\7(111)111-11-11';
            this.phonePlaceholder = '+7(_)_--';
          }
            break;
          case 'kazakhstan': {
            this.phoneMask = '\\+\\7(111)111-11-11';
            this.phonePlaceholder = '+7(_)_--';
          }
            break;
          case 'azerbaijan': {
            this.phoneMask = '\\+\\9941-111-11-11';
            this.phonePlaceholder = '+994__--_';
          }
            break;
        }
        this.countryList = false;
      },
      nextCell(e, _next) {
        // let index = '';
        // let children = el.parentNode.childNodes;
        // for (let i = 0; i < children.length; i++) {
        //   if (children[i] == el) {
        //     index = i;
        //   }
        // }
        // if (index + 2 < children.length)
        //   children[index + 2].focus();

        // let input = /^[0-9]+$/.test(e.key) || e.keyCode === 8;

        // if(input){
        if (e.keyCode !== 8) {
          if (_next < 5) {
            this.$refs['code' + _next].focus();
          }
        } else {
          switch (_next) {
            case 2: {

            }
              break;
            case 3: {
              if (this.code2.length === 0) {
                this.$refs['code' + (_next - 2)].focus();
              }
            }
              break;
            case 4: {
              if (this.code3.length === 0) {
                this.$refs['code' + (_next - 2)].focus();
              }
            }
              break;
            case 5: {
              if (this.code4.length === 0) {
                this.$refs['code' + (_next - 2)].focus();
              }
            }
              break;
          }
        }
        // }
        // else{
        //   switch(_next){
        //     case 2:{
        //       this.code1 = this.code1.replace(/[^0-9]/gi, '')
        //     }
        //       break;
        //     case 3:{
        //       this.code2 = this.code2.replace(/[^0-9]/gi, '')
        //     }
        //       break;
        //     case 4:{
        //       this.code3 = this.code3.replace(/[^0-9]/gi, '')
        //     }
        //       break;
        //     case 5:{
        //       this.code4 = this.code4.replace(/[^0-9]/gi, '')
        //     }
        //       break;
        //   }
        // }
      },
      chooseAvatarButton() {
        document.getElementById('avatar-attention').style.display = 'block';
        document.getElementById('chooseAvaButton').style.display = 'none';
      },
      acceptRules() {
        document.querySelector('.accept-check').style.display = 'block';
        setTimeout(() => {
          this.showCropp = true;
          document.querySelector('input[type=file]').click();
          document.getElementById('avatar-attention').style.display = 'none';
          document.getElementById('reg-crop').style.display = 'block';


        }, 1000);


      },
      addToCropp() {
        this.dataUrl = this.myCroppa.generateDataUrl();
        let inputFile = document.querySelector('input ');
        if (this.dataUrl != '') {
          this.image = this.dataUrl;
          this.fileUpload = imageHelper.formatPhoto(this.image);
          this.myCroppa.remove();
          this.coinsCount += 10;
          this.showCropp = false;
          this.coinsAvatar = 10;
        }
        else {
          this.$notify({
            group: 'send-avatar',
            duration: 3000,
            speed: 300,
          });
        }
      },
      newAvatar() {
        if (this.validated != 1) {
          this.showCropp = true;
          this.image = '';
        }
      },
      newPageInfo(link) {
        window.open(link, '_blank');
      }
    }
  }
</script>

<style lang="less">
  @import '~LessStyle/login.less';
  @import "~LessStyle/registration.less";

  .v--modal-overlay {
    /*bottom: 0;*/
    top: 35%;
  }

  .crop-container {
    position: relative;
  }

  .icon-cropper {
    position: absolute;
    width: 8vw !important;
    bottom: 4vw;
    right: 4vw;
  }

  #avatar-attention {
    width: 90%;
    display: none;
    margin: auto;
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    margin-bottom: 20px;
    background: @white;
    color: @dark_grey;
  }

  #avatar-attention p {
    text-align: center;
    margin: 10px 0px;
  }

  #avatar-attention span {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .accept-rules {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 10px auto;
    font-size: 14px;
    justify-content: center;
  }

  .checkbox-div {
    width: 20px;
    height: 20px;
    border: 2px solid @contest-list-text-color;
    border-radius: 4px;
    position: relative;
    margin-right: 10px;
  }

  .rule-link a {
    color: @red;
    font-size: 13px;
  }

  .avatar-title-block {
    font-size: 23px;
  }

  .accept-check {
    position: absolute;
    font-size: 20px;
    display: none;
    color: @contest-list-text-color;
  }

  .right-item {
    transition: 1s linear;
  }

  .error-item input {
    box-shadow: 0 0 10px #eb0323;
    border: 1px solid #b53b45;
  }

  .right-item input {

    box-shadow: 0 0 10px #79b9b9;
    border: 1px solid #4f7a7a;
  }

  .right-mob-item {
    box-shadow: 0 0 10px #79b9b9;
    border: 1px solid #4f7a7a;
  }

  .error-mob-item {
    box-shadow: 0 0 10px #eb0323;
    border: 1px solid #b53b45;
  }

  .mob {
    display: flex !important;
    width: 100% !important;
  }

  .info-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    /*text-align: center;*/
    color: #2c3e50;
    padding: 15px;
    width: 85vw !important;
    left: 0 !important;
  }

  .info-space {
    padding-bottom: 20px;
  }

  .info-space a {
    color: #2c3e50;
  }

  .info-space p {
    text-transform: uppercase;
  }

  .info-space-item {
    padding: 5px 0;
  }

  .btn-space button {
    font-size: 16px;
  }
</style>
