<template>
  <div id="search">
    <in-search-header/>
    <router-view/>
  </div>
</template>

<script>
  import Vue          from 'vue'
  import searchHeader from './search/searchHeader.vue'


  Vue.component('in-search-header', searchHeader);
  export default {
    head: {
      title(){
        return {
          inner: this.$lang.variables.search
        }

      },
    }

  }
</script>

<style lang="less">
  @import '~LessStyle/search.less';
</style>
