<docs>
  #
</docs>

<template>
  <div>
    <notifications
      group="socket"
      :duration="5000"
      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          <b class="title" v-html="props.item.title">

          </b>

        </div>
      </template>
    </notifications>
  </div>
</template>

<script>
  import io from 'socket.io-client';
  import {mapMutations} from 'vuex';

  import {ADD_UNWATCHED_FEEDS, ADD_UNWATCHED_GIFTS, moduleName as feedsModule} from 'Store/modules/feeds';

  export default {
    name: 'socket',
    data(){
      return {
        socket: io.connect('https://api.inrating.top:443', {
          query: {
            token: 'Bearer ' + localStorage.getItem('token')
          },
        }),
        myUserId: Number(window.userInfo.id),
        title:'',
      }
    },
    mounted(){

      let token = localStorage.getItem('token');

      if(!token){
        return;
      }

      this.$el.addEventListener('click', (res) =>{
        if(res.target.className){
          let type = res.target.dataset.type;
          let href = res.target.dataset.href;
          if(type === 'user'){
            this.goToLink('/u/' + href);
          }else if(type === 'post'){
            this.goToLink('/p/' + href);
          }else if(type === 'gift'){
            this.goToLink('/p/' + href + '/gift');
          }else if(type === 'chat'){
            this.goToLink('/messages/' + href);
          }
        }
      });

      this.socket.on('connect', () =>{

        this.socket.on('authorized', (res) =>{
        });

        this.socket.on('private-feeds.like', (res) =>{
          this.$notify({
            group: 'socket',
            type: 'success',
            duration: 2000,
            title:`<span class="goToLink" data-href="${res.data.entity.entity.user.nickname }" data-type="user">${res.data.entity.entity.user.nickname}</span>  <span class="goToLink" data-href="${res.data.entity.entity.post.slug}" data-type="post"> ${this.$lang.feed.like} </span>`,
          });
          this.addUnwatchedFeeds();
        });

        this.socket.on('private-feeds.rating-vote', (res) =>{
          this.$notify({
            group: 'socket',
            type: 'success',
            duration: 2000,
            title:`<span class="goToLink" data-href="${res.data.entity.entity.user.nickname }" data-type="user">${res.data.entity.entity.user.nickname}</span>   ${this.$lang.feed.add_rating} `,
          });
          this.addUnwatchedFeeds();
        });

        this.socket.on('private-feeds.gift', (res) =>{
          this.$notify({
            group: 'socket',
            type: 'success',
            duration: 2000,
            title:`<span class="goToLink" data-href="${res.data.entity.entity.user.nickname }" data-type="user">${res.data.entity.entity.user.nickname}</span>   ${this.$lang.feed.send_gift} `,
          });
          this.addUnwatchedFeeds();
          this.addUnwatchedGifts();
        });

        this.socket.on('private-feeds.comment', (res) =>{
          this.$notify({
            group: 'socket',
            type: 'success',
            duration: 2000,
            title:`<span class="goToLink" data-href="${res.data.entity.entity.user.nickname }" data-type="user">${res.data.entity.entity.user.nickname}</span>   ${this.$lang.feed.make_comment} `,
          });
          this.addUnwatchedFeeds();
        });

        this.socket.on('private-feeds.chin-chin', (res) =>{
          this.$notify({
            group: 'socket',
            type: 'success',
            duration: 2000,
            title:`<span class="goToLink" data-href="${res.data.entity.entity.user.nickname }" data-type="user">${res.data.entity.entity.user.nickname}</span>   ${this.$lang.feed.chin_chin} `,
          });
          this.addUnwatchedFeeds();
          this.$root.$emit('newMessageIndex');
        });

        this.socket.on('private-chats.message', (res) =>{
          if(res.author.id !== this.myUserId){
            if(this.$route.path.split('/')[1] !== 'messages'){
              this.$notify({
                group: 'socket',
                type: 'success',
                duration: 2000,
                title:`<span class="goToLink" data-href="${res.author.nickname }" data-type="user">${res.author.nickname}</span>   ${this.$lang.feed.chat_message} `,
              });
              this.addUnwatchedFeeds();
            }

          }

        });

        this.socket.on('private-chats.message-translation', (res) =>{
        });

      });
    },
    methods: {
      ...mapMutations({
        addUnwatchedFeeds: feedsModule + ADD_UNWATCHED_FEEDS,
        addUnwatchedGifts: feedsModule + ADD_UNWATCHED_GIFTS
      }),
      goToLink(_link){
        this.$router.push(_link);
      }
    },
  }
</script>

<style lang="less">

</style>
