<template>
  <div id="intagSolo">
    <div class="intag-solo-header">
      <i @click="goBack()" class="icon-left-f"></i>
      <p>^^{{intag}}</p>
      <div></div>
      <!--<i @click="changeView()" :class="iconChange"></i>-->
    </div>
    <div :class="postCount" v-for="post in allposts">
      <div v-if="post.attachments!=null" >
        <in-profile-postsolo :post='post'></in-profile-postsolo>
      </div>
      <div v-else>
        <img src="https://media.inrating.top/images/photo_placeholder.jpg">
      </div>
    </div>
    <div v-if="loading" id="SpinnerOnloadImg">
      <img src="https://media.inrating.top/images/Spinner.svg"/>
    </div>
  </div>
</template>
<script>
  import axios from 'axios';
  import {scrollOnBottom} from "../mixins/scrollOnBottom";

  export  default  {
    mixins: [scrollOnBottom],
    data() {
      return {
        intag:this.$route.params.intag,
        allposts:[],
        postOutCountProfile:1,
        loading: false,
        nextPage: 1,
        lastPage: 0,
      }
    },
    created(){
      window.addEventListener('scroll', this.addViewedPosts);
    },
    watch: {
      bottom(bottom) {
        if (bottom && this.lastPage >= this.nextPage && !this.loading) {
          this.addPost()
        }
      }
    },
    computed: {
      postCount: function(){
        if(this.postOutCountProfile === 1)
          return 'prof-post profile-post';
        else
          return 'prof-post profile-post-big';
      },
      // iconChange() {
      //   if (this.postOutCountProfile === 1)
      //     return 'icon-feed-view-1';
      //   else
      //     return 'icon-feed-view-4';
      // },
    },
    mounted() {
      this.addPost();
      // this.nextPage++;
      // this.addPost();
    },
    methods: {
      changeView() {
        //this.postOutCountProfile=this.postOutCountProfile==1 ? 1:2;
        if (this.postOutCountProfile === 1)
          this.postOutCountProfile = 2;
        else
          this.postOutCountProfile = 1;
      },
      goBack() {
        history.go(-1);
      },
      addPost() {
        this.loading = true;
        axios.get('v1/users/posts/search?intag=' + this.intag + '&limit=32&page=' + this.nextPage)
          .then(res =>{
            let api = res.data.data;
            let url = res.data.meta.current_page;
            this.lastPage = res.data.meta.last_page;
            this.allposts = this.allposts.concat(api);
            this.nextPage = url + 1;
            this.loading = false;
            this.bottom = false;
          })
      }
    }
  }
</script>
<style lang="less">
  @import "~LessStyle/variables.less";

  #SpinnerOnloadImg{
    display: block;
    width: 35%;
    margin: auto;
  }

  #intagSolo {
    margin-top: -43px;
    text-align: left;
    .profile-post{
      margin: 0 0 -2.5px 2px;
    }
    .profile-post-big {
      margin: 0 0 -2px 2px;
    }
  }

  .intag-solo-header {
    display: flex;
    align-items: center;
    background: @grad;
    justify-content: space-between;
    padding: 0px 10px;
    box-sizing: border-box;
    color: @white;
    margin-bottom: 10px;

    .icon-feed-view-1 {
      font-size: 20px;
    }

    .icon-feed-view-4 {
      font-size: 20px;
    }
  }

  .intag-solo-header p{
    margin: 0px;
    padding: 10px;
  }
</style>
