<template>
  <div  class="user-avatar-block" >
    <div >
      <img  class="solo-user-avatar" :src="user.avatar_image.url_small" alt="">
      <div v-if="user.active_gift!=null">
        <img class="avatar-img--present" :src="user.active_gift.image" alt="">
      </div>
    </div>
  </div>
</template>
<script>
    export default  {
      props:['user'],
    }
</script>
<style>
  .avatar-img--present {
    position: absolute;
    width: 25%;
    height: auto;
    opacity: 0.7;
    bottom: 6%;
    right: 7%;
    background-color: #fff;
    padding: 1px;
    border-radius: 2px;
  }
  .user-avatar-block {
    position: relative;
  }
</style>
