<docs>

</docs>

<template>
  <div id="profile-user">
    <template v-if="user">
      <div
        v-if="authUser.nickname !== $route.params.nickname"
        class="top-header">
        <div class="header-user-nickname">{{$route.params.nickname}}</div>
        <i
          @click="close"
          class="icon-left-f icon-back"></i>
        <i
          @click="changeViewProfile()"
          :class="profileView"></i>
      </div>
      <in-profile-header :user="user"/>
      <div v-if="!user.off_page">
        <div
          class="profile-menu"
          v-if="authUser.id === user.id && authUser.status !== 'guest'">
          <div class="profile-menu--item">
            <in-profile-icon
              className="icon-scale"
              classNameActive="icon-scale-f"
              :user="user"
              fillType="statistics"/>
          </div>
          <div class="profile-menu--item">
            <in-profile-icon
              className="icon-gift"
              classNameActive="icon-gift-f"
              :user="user"
              fillType="gift"/>
            <span class="gift-count-profile">{{unwatchedGiftsCount}}</span>
          </div>
          <div class="profile-menu--item">
            <i
              v-if="authUser.status === 'validating'"
              @click="userValid()"
              class="icon-photo-camera"></i>
            <router-link
              v-else
              to="/new-post">
              <i class="icon-photo-camera"></i>
            </router-link>
          </div>
          <div class="profile-menu--item">
            <in-profile-icon
              className="icon-groups"
              classNameActive="icon-groups-f"
              :user="user"
              fillType="mention"/>
          </div>
          <div class="profile-menu--item">
            <in-profile-icon
              className="icon-bookmark"
              classNameActive="icon-bookmark-f"
              :user="user"
              fillType="bookmark"/>
          </div>
        </div>
        <div
          class="profile-menu"
          v-else-if="authUser.id !== user.id && authUser.status !== 'guest'">
          <div class="profile-menu--item">
            <i
              v-if="authUser.status !== 'no_chat_user'"
              @click="checkChats"
              class="icon-letter"></i>
            <i
              v-else
              @click="chatUserNotify()"
              class="icon-letter"></i>
          </div>
          <div class="profile-menu--item">
            <i
              v-if="authUser.status === 'validating'"
              @click="userValid()"
              class="icon-gift"></i>
            <i
              v-else
              @click="showPresentsModal()"
              class="icon-gift"></i>
          </div>
          <div
            class="profile-menu--item profile-rate"
            :class="rateAnimation">
            <i
              v-if="user.is_voted"
              class="icon-logo-f"
              @click="voteUser"></i>
            <i
              v-else
              class="icon-logo"
              @click="voteUser"></i>
          </div>
          <div class="profile-menu--item">
            <i
              v-if="user.is_subscribed"
              class="icon-plus-guy-f"
              @click="changeSubscribe"></i>
            <i
              v-else
              class="icon-plus-guy"
              @click="changeSubscribe"></i>
          </div>
          <div class="profile-menu--item" @click="sendChinChin">
            <i
              v-if="user.is_chined"
              class="icon-chin-chin-f"></i>
            <i
              v-else
              class="icon-chin-chin"></i>
          </div>
        </div>
        <div
          class="profile-menu"
          v-else>
          <div class="profile-menu--item">
            <i
              @click="showRegistrationStep1()"
              class="icon-letter"></i>
          </div>
          <div class="profile-menu--item">
            <i
              @click="showRegistrationStep1()"
              class="icon-gift"></i>
          </div>
          <div class="profile-menu--item profile-rate">
            <i
              @click="showRegistrationStep1()"
              class="icon-logo"></i>
          </div>
          <div class="profile-menu--item">
            <i
              @click="showRegistrationStep1()"
              class="icon-plus-guy"></i>
          </div>
          <div class="profile-menu--item">
            <i
              @click="showRegistrationStep1()"
              class="icon-chin-chin"></i>
          </div>
        </div>
        <in-family-status-change-profile
          :familyStatus="user.family_status"
          :authUserId="authUser.id"
          :userId="user.id">
        </in-family-status-change-profile>
      </div>

      <router-view/>
    </template>
    <template v-if="isUserExistError">
      <p>Данный пользователь не существует</p>
    </template>
    <in-spinner :loading="loading"></in-spinner>
  </div>
</template>

<script>
  import Vue from 'vue'
  import {mapActions, mapGetters} from 'vuex'

  import ProfileHeader from './profile/ProfileHeader.vue'
  import PostToggle from 'ComponentsVue/profile/menu/ProfileToggle'
  import PostAction from 'ComponentsVue/profile/menu/ProfileAction'
  import changeFamilyStatusProfile from 'ComponentsVue/profile/modal/profileChangeFamilyStatus'
  import {
    CHANGE_PROFILE_POST_COUNT,
    moduleName as countPostOnPageModule,
    PROFILE_POST_COUNT
  } from 'Store/modules/countPostOnPage';
  import {
    CHANGE_SUBSCRIBE_USER,
    FETCH_USER,
    LOADING,
    moduleName as usersModule,
    SEND_CHIN_CHIN,
    USER,
    USER_ERROR,
    VOTE_USER
  } from "Store/modules/users/users";
  import {moduleName as feedsModule, UNWATCHED_GIFTS_COUNT} from "Store/modules/feeds";
  import {AUTH_USER, moduleName as userModule} from "Store/modules/authUser/user";

  Vue.component('in-profile-icon', PostToggle);
  Vue.component('in-family-status-change-profile', changeFamilyStatusProfile);
  Vue.component('in-profile-action', PostAction);
  Vue.component('in-profile-header', ProfileHeader);

  export default {
    name: 'user-profile',
    data() {
      return {
        animateRating: false,
        nickname: this.$route.params.nickname
      }
    },
    computed: {
      ...mapGetters({
        profilePostCount: countPostOnPageModule + PROFILE_POST_COUNT,
        authUser: userModule + AUTH_USER,
        userInfo: usersModule + USER,
        errorInfo: usersModule + USER_ERROR,
        unwatchedGiftsCountInfo: feedsModule + UNWATCHED_GIFTS_COUNT,
        loading: usersModule + LOADING
      }),
      user() {
        return this.userInfo(this.nickname)
      },
      unwatchedGiftsCount() {
        return this.unwatchedGiftsCountInfo === 0 ? '' : this.unwatchedGiftsCountInfo;
      },
      isUserExistError() {
        return !!this.errorInfo
          // && this.errorInfo.data.details.nickname
          // && this.errorInfo.data.details.nickname[0] === "The selected nickname is invalid."
      },
      isAnimateRate() {
        return this.animateRating && this.user.is_voted && this.activePremium;
      },
      rateAnimation() {
        if (this.isAnimateRate) {
          if (this.authUser.active_gift.id === 41) {
            return 'rate-animation-41'
          } else if (this.authUser.active_gift.id === 42) {
            return 'rate-animation-42'
          } else {
            return ''
          }
        } else {
          return '';
        }
      },
      activePremium() {
        return this.authUser.active_gift && (this.authUser.active_gift.id === 41 || this.authUser.active_gift.id === 42);
      },
      profileView: function () {
        if (this.profilePostCount === '4')
          return 'icon-menu icon-menu-16';
        else if (this.profilePostCount === '2')
          return 'icon-menu icon-menu-4';
        else
          return 'icon-menu icon-menu-1';
      }
    },
    watch: {
      '$route'(to, from) {
        if (to.path.split('/')[2] !== from.path.split('/')[2]) {
          this.nickname = this.$route.params.nickname;
          this.fetchUserLazy();
          this.setTitle();
        }
      }
    },
    // beforeRouteLeave(to, from, next) {
    //   // this.$destroy();
    //   next();
    // },
    mounted() {
      this.fetchUserLazy();
      this.setTitle();
    },
    beforeDestroy() {
      console.log('beforeDestroy');
    },
    destroyed() {
      console.log('destroyed');
    },
    methods: {
      ...mapActions({
        changeProfilePostCount: countPostOnPageModule + CHANGE_PROFILE_POST_COUNT,
        fetchUser: usersModule + FETCH_USER,
        changeSubscribeUser: usersModule + CHANGE_SUBSCRIBE_USER,
        voteUserAction: usersModule + VOTE_USER,
        sendChinChinAction: usersModule + SEND_CHIN_CHIN
      }),
      fetchUserLazy() {
        if(this.user) {
          setTimeout(() => {
            this.fetchUser(this.nickname);
          }, 0);
        } else {
          this.fetchUser(this.nickname);
        }
      },
      changeViewProfile() {
        if (this.profilePostCount === '4') {
          this.changeProfilePostCount('2');
        }
        else if (this.profilePostCount === '2') {
          this.changeProfilePostCount('4');
          // this.changeProfilePostCount('1');
        } else {
          // this.changeProfilePostCount('4');
        }
      },
      close() {
        this.$router.go(-1);
      },
      setTitle: function () {
        document.title = this.nickname;
      },
      showRegistrationStep1() {
        this.$notify({
          group: 'guest-template',
          duration: 3000,
          speed: 300,
        });
      },
      checkChats() {
        switch (this.user.privacy_settings.chat) {
          case 'all' :
            this.createChat();
            break;
          case 'subs':
            if (this.user.is_subscribed)
              this.createChat();
            else {
              this.$notify({
                group: 'chat-privacy-subscribe',
                duration: 3000,
                speed: 300,
              });
            }
            break;
          case 'none':
            this.$notify({
              group: 'chat-privacy-none',
              duration: 3000,
              speed: 300,
            });
            break;
        }
      },
      async createChat() {
        const data = new FormData();
        data.append('id', this.user.id);

        let res = await this.$api.user.checkChat(data);

        if (res.data.state) {
          this.$router.push('/messages/' + res.data.id);
        } else {
          this.$router.push('/new-chat/' + this.user.id);
        }
      },
      sendChinChin() {
        const payload = {
          nickname: this.user.nickname,
          onSuccess: this.onSuccessSendChinChin,
        };

        this.sendChinChinAction(payload);
      },
      onSuccessSendChinChin(res) {
        let title = '';
        if (res.state) {
          title = this.$lang.profile.chin_chin_send;
        } else {
          title = `${this.$lang.profile.already_send} ${res.next_chin_remain_time.i} ${this.$lang.profile.minutes}`;
        }

        this.$notify({
          group: 'chin-chin',
          title: title,
        });
      },
      showPresentsModal() {
        this.$root.$emit('postModalPresent', this.user.id);
        this.$root.$emit('postModalPresentNickname', this.user.nickname);

        this.$modal.show('presentsModal');
      },
      changeSubscribe() {
        const payload = {
          nickname: this.user.nickname,
          delete: this.user.is_subscribed ? '1' : '0'
        };

        this.changeSubscribeUser(payload);
      },
      voteUser() {
        if (this.$userStatus(this.authUser)) {
          const payload = {
            nickname: this.user.nickname,
            onSuccess: this.onSuccessVoteUser,
            onFail: this.onFailVoteUser
          };

          if(!this.user.is_voted) {
            this.animateRating = true;
          }

          this.voteUserAction(payload);
        }
      },
      onSuccessVoteUser(res) {
        if(res.state) {
          this.$notify({
            group: 'add-rait',
            duration: 3000,
            speed: 300,
          });
        } else {
          const {h, i, s} = res.next_vote_remain_time;
          this.animateRating = false;
          if (h) {
            this.$notify({
              group: 'cant-add-rait',
              duration: 3000,
              speed: 300,
              text: this.$lang.notifications.rate_in + ' ' + h + ' ' + this.$lang.notifications.hours
            });
          } else if (i) {
            this.$notify({
              group: 'cant-add-rait',
              duration: 3000,
              speed: 300,
              text: this.$lang.notifications.rate_in + ' ' + i + ' ' + this.$lang.notifications.minutes
            });
          } else {
            this.$notify({
              group: 'cant-add-rait',
              duration: 3000,
              speed: 300,
              text: this.$lang.notifications.rate_in + ' ' + s + ' ' + this.$lang.notifications.seconds
            });
          }
        }
      },
      onFailVoteUser(error) {
        if (error.response.data.errorInfo.errorCode === 1000) {
          this.$modal.show('bannedUserAvatarModal');
        }
      },
      chatUserNotify() {
        this.$notify({
          group: 'nophone',
          duration: 3000,
          speed: 300,
        });
      },
      userValid() {
        this.$notify({
          group: 'validating-template',
          duration: 3000,
          speed: 300,
        });
      },
    },
    head: {
      title() {
        return {
          inner: this.titleUser
        }
      },
    }
  }
</script>

<style lang="less">
  @import "~LessStyle/variables.less";

  body {
    margin: 0;
  }

  #app {
    text-align: center;

  }

  .rate-animation-41 {
    animation: rate41 0.7s ease-out forwards;
  }

  .rate-animation-42 {
    animation: rate42 1s ease-out forwards;
  }

  @keyframes rate41 {
    0% {
      transform: scale(0);
    }
    10% {
      transform: scale(0.5);
    }
    25% {
      transform: scale(1.5);
    }
    50% {
      transform: scale(1.2);
    }
    75% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes rate42 {
    0% {
      transform: scale(0);
    }
    10% {
      transform: scale(0.5);
    }
    25% {
      transform: scale(1.5);
    }
    40% {
      transform: scale(1.2);
    }
    55% {
      transform: scale(1.5);
    }
    70% {
      transform: scale(1.2);
    }
    85% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }

  #profile-user {
    /*position: relative;*/
  }

  .icon-menu {
    color: @white;
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    font-size: 26px;
  }

  .top-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);;
  }

  .header-user-nickname {
    color: @white;
  }

  .icon-back {
    position: absolute;
    top: 10px;
    left: 8px;
    color: #fff;
    font-size: 22px;
  }

  .profile-menu {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin: 10px 0 0 0;
    font-size: 29px;
    align-items: center;
  }

  .profile-menu--item {
    position: relative;
    background: linear-gradient(to left top, #000fbc, #30c2be 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .icon-photo-camera {
    font-size: 45px;
  }

  .profile-rate {
    > .icon-logo-f {
      font-size: 45px;
    }
    > .icon-logo {
      font-size: 45px;
    }
  }

  .gift-count-profile {
    position: absolute;
    top: -4px;
    font-size: 13px;
    right: -8px;
    -webkit-text-fill-color: #f00;
  }

  .profile-menu--icon {
    background: linear-gradient(to left top, #000fbc, #30c2be 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
