<template>
  <div id="wallet">

    <div class="wallet-header">
      <div class="wallet-tabs">
        <div
          @click="changeTabWallet(false)"
          class="wallet-header--item"
          :class="{'active': isWallet === false}">
          <i :class="walletIcon"></i>
          <p>{{$lang.wallet.finance}}</p>
        </div>
        <div
          @click="changeTabWallet(true)"
          class="wallet-header--item"
          :class="{'active': isWallet === true}">
          <i class="icon-gift"></i>
          <p>{{$lang.wallet.presents}}</p>
        </div>
      </div>
      <div class="my-balance">
        <span v-text="$lang.wallet.current_balance" class="my-current-balance"></span>
        <span class="my-balance-block">
          <img
          class="my-balance-img"
          src="http://storage.innet.club/img/default/R-coin.png">
          <span
            class="count-balance"
            v-text="this.currentBalance"></span>
        </span>
        <span class="my-balance-block">
          <img
            class="my-balance-img my-balance-img-premium"
            src="https://media.inrating.top/storage/img/icons/gift_icons/high_res/42.png">
          <span
            class="count-balance"
            v-text="this.giftGoldAmount"></span>
        </span>
        <span class="my-balance-block">
          <img
            class="my-balance-img my-balance-img-premium"
            src="https://media.inrating.top/storage/img/icons/gift_icons/high_res/41.png">
          <span
            class="count-balance"
            v-text="this.giftCrownAmount"></span>
        </span>
      </div>
    </div>
    <div class="wallet-content">
      <in-wallet-presents
        v-if="isWallet"
        :currentBalance="currentBalance"/>
      <in-wallet-money v-if="!isWallet"/>
    </div>

  </div>
</template>
<script>
  import Vue from 'vue'
  import axios from 'axios';
  import presentsContainer from 'ComponentsVue/wallet/presentsContainer';
  import moneyContainer from 'ComponentsVue/wallet/moneyContainer';

  Vue.component('in-wallet-presents', presentsContainer);
  Vue.component('in-wallet-money', moneyContainer);

  export default {
    data(){
      return {
        isWallet: true,
        currentBalance: 0,
        giftCrownAmount: 0,
        giftGoldAmount: 0
      }
    },
    computed: {
      // presentsMain(){
      //   if(this.isWallet) return 'wallet-active';else return 'wallet-common';
      // },
      // moneyMain(){
      //   if(!this.isWallet) return 'wallet-active';else return 'wallet-common';
      // },
      walletIcon() {
        if (this.isWallet)
          return  'icon-dollar';
        else
          return 'icon-dollar-f';
      }
    },
    mounted(){
      axios.get('v1/me/wallet/info')
      .then(res =>{
        this.currentBalance = res.data.coins;
        this.giftCrownAmount = res.data.gift_crown_amount;
        this.giftGoldAmount = res.data.gift_gold_amount;
      });

      this.$root.$on('changeTabToWallet', () => {
        this.isWallet = false;
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      });
      if (this.$route.query.wallet)
        this.isWallet=false;

    },
    methods: {
      changeTabWallet(bool){
        this.isWallet = bool;
      }
    },
    head: {
      title(){
        return {
          inner: this.$lang.wallet.finance
        }

      },
    }
  }
</script>
<style lang='less'>
  @import '~LessStyle/wallet.less';
</style>
