<template>
  <div class="profile-faq">
    <p>
      <router-link to="/public-offer-and-confidentiality">{{$lang.profile.about_us}}</router-link>
    </p>
    <p>
      <router-link to="/rule-page">{{$lang.profile.network_rules}}</router-link>
    </p>
    <p>
      <router-link to="/settings/common">{{$lang.profile.support}}</router-link>
    </p>
  </div>
</template>

<script>
  export default {
    name: "ProfileFAQ",
    props: {
      user: Object
    }
  }
</script>

<style lang="less">
  .profile-faq {
    width: 37%;
    text-align: right;

    p {
      font-size: 13px;
      margin: 0 0 13px 0;
      font-weight: bold;

      &:last-child {
        margin-bottom: 5px;
      }

      a {
        color: #2c3e50;
      }
    }
  }
</style>
