<template>

  <div class="profile-header-item profile-avatar">
    <router-link :to="storyLink">
      <img
        :class="storySeen"
        :src="userAvatar"
        alt="">
    </router-link>
    <div v-if="user.active_gift!=null">
      <img
        class="profileavatar-img--present"
        :src="user.active_gift.image"
        alt="">
    </div>
  </div>
</template>
<script>
  export default {
    name: 'ProfileAvatar',
    props: ['user'],
    computed: {
      storySeen(){
        if (!this.user.is_active_story) {
          return 'avatar-img'
        }
        else {
          return this.user.is_story_seen
            ? 'avatar-img story-seen-true'
            : 'avatar-img story-seen-false'
        }
      },
      userAvatar(){
        return this.user.avatar_image ? this.user.avatar_image.url_small : window.img.photoPlaceholder
      },
      storyLink() {
        return !this.user.is_active_story
          ?  '#'
          : '/story/'+this.user.nickname;

      }
    },
    mounted(){
    }
  }
</script>
<style>
  .avatar-img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
    box-sizing: border-box;
    padding: 3px;

  }

  .profile-avatar{
    width: 21%;
    text-align: center;
    position: relative;
    margin: 0px 0.5%;

  }

  .profileavatar-img--present{
    position: absolute;
    opacity: 0.7;
    width: 7vw;
    height: 7vw;
    bottom: 8%;
    right: 6px;
    background-color: #fff;
    padding: 1px;
    border-radius: 3px
  }

  .story-seen-true{
    border: 2px solid #d3d3d3;
    border-radius: 10px;
  }

  .story-seen-false{
    border: 2px solid #5ac5c6;
    border-radius: 10px;
  }
</style>

