<template>
  <div class="profile-header-item profile-rating">
    <p>
      <span><i class="icon-logo"></i> {{$lang.profile.day}}:</span>
      <span v-text="getRating.day">  </span>
    </p>
    <p>
      <span><i class="icon-logo"></i> {{$lang.profile.week}}:</span>
      <span v-text="getRating.week">  </span>
    </p>
    <p>
      <span><i class="icon-logo"></i> {{$lang.profile.month}}:</span>
      <span v-text="getRating.month">  </span>
    </p>
  </div>
</template>
<script>
  export default {
    name: 'ProfileRating',
    props: ['user'],
    data(){
      return {}
    },
    computed: {
      getRating(){
        return this.user.typed_rating ? this.user.typed_rating : ''
      }
    },
  }

</script>
<style lang="less">
  @import '~LessStyle/variables.less';

  .profile-rating{
    width: 37%;
    text-align: left;
  }

  .profile-header-item{
    i{
      .text-grad();
    }
  }
</style>


