<template>
  <div class="profile-header-item profile-info">
    <p>
      <span><i class="icon-picture"></i> <router-link :to="'/u/'+user.nickname">{{$lang.profile.posts}}</router-link> <i class="icon-right-f"></i></span>
      <span v-text="user.posts_count"></span>
    </p>
    <p v-if="user.id !== 6763 || authUser.id === 6763">
      <span><i class="icon-photobank"></i><router-link :to="'/u/'+user.nickname+'/subscribers'">{{$lang.profile.subscribers}}</router-link> <i class="icon-right-f"></i></span>
      <span class="requests-all">
        {{user.subscribers_count}}
        <sup
          v-if="user.id === authUser.id && requestsAll.length > 0"
          class="requests-attention">!</sup>
      </span>
    </p>
    <p class="not-active-tabs-sub" v-else>
      <span><i class="icon-photobank"></i>{{$lang.profile.subscribers}} <i class="icon-right-f"></i></span>
      <span v-text="0">  </span>
    </p>
    <p v-if="user.id !== 6763 || authUser.id === 6763">
      <span><i class="icon-guy"></i><router-link :to="'/u/'+ user.nickname + '/subscribition'">{{$lang.profile.subscribitions}}</router-link> <i class="icon-right-f"></i></span>
      <span v-text="user.subscriptions_count"></span>
    </p>
    <p class="not-active-tabs-sub" v-else>
      <span><i class="icon-guy"></i>{{$lang.profile.subscribitions}} <i class="icon-right-f"></i></span>
      <span v-text="0">  </span>
    </p>
  </div>
</template>

<script>
  import axios from 'axios';
  import {mapGetters} from 'vuex'

  import {AUTH_USER, moduleName as userModule} from "Store/modules/authUser/user";

  export default {
    props: {
      user: Object,
    },
    data() {
      return {
        requestsAll: []
      }
    },
    mounted() {
      if(this.user.id === this.authUser.id) {
        this.getRequests();
      }
    },
    computed: {
      ...mapGetters({
        authUser: userModule + AUTH_USER,
      })
    },
    methods: {
      getRequests() {
        axios.get('v1/users/subscribers/requests/all')
          .then(res =>{
            this.requestsAll = res.data.data;
          })
          .catch(err => {
          });
      }
    }
  }

</script>
<style lang="less">
  @import '~LessStyle/variables.less';

  .requests-all {
    position: relative;
  }

  .requests-attention {
    color: @red;
    position: absolute;
    top: -30%;
    right: -50%;
  }

  .profile-info{
    text-align: left;
    width: 37%;
    a{
      color: #000;
      text-decoration: none;
    }
  }

  .profile-header-item{
    p{
      font-size: 13px;
      margin: 0;
      margin-bottom: 13px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:nth-last-child(1){
        margin-bottom: 5px;
      }
    }
    i{
      margin-right: 3px;
      .text-grad();
    }
  }

  .icon-right-f{
    font-size: 8px;
  }

  .not-active-tabs-sub {
    color:@grey_grey;
  }
</style>
