<template>
  <div class="profile-user">
    <div class="user-name-profile">
      <span class="contest-entry-block">
        <i
          @click="showModalProfileChangeFamilyStatus"
          :class="familyIcon"></i>
        <span
          v-if="user.contest_entry"
          class="contest-entry-span"></span>
      </span>
      <p>
        <a @click="goToChangeProfile">
          <span v-text="user.name"></span>
          <span v-text="user.lastname"></span>
        </a>
      </p>
      <span>
        <router-link
          v-if="user.contest_entry"
          :to="'/contest/' + user.contest_entry">
          <i class="active-profile-contest icon-Kubok_konkurs-f"></i>
        </router-link>
        <i
          @click="showInfo()"
          class="icon-information "></i>
      </span>
    </div>
    <div
      v-if="authUser.id !== user.id"
      class="user-status">
      {{this.user.personal_status}}
    </div>
    <div
      v-else
      class="user-status">
        <span v-if="this.user.personal_status != null">
            {{this.user.personal_status}}
        </span>
      <router-link
        to="/setting/user"
        v-else>
        <span class="grad">{{statusUser}}</span>
      </router-link>
    </div>
    <template v-if="user.off_page">
      <in-profile-official-rating/>
    </template>
    <template v-else>
      <in-profile-rating-bar :user='user'/>
    </template>
    <in-userinformation
      :allformat="dataNormalFormat"
      :stat="dateStat"
      :info="allAdminStatistic"/>
    <in-userinfomodal/>
  </div>
</template>
<script>
  import axios from 'axios';
  import {mapGetters} from 'vuex'

  import {AUTH_USER, moduleName as userModule} from "Store/modules/authUser/user";
  import Vue from 'vue'
  import profileRatingBar from 'ComponentsVue/profile/header/ProfileRatingBar'
  import infoModalAdmin from 'ComponentsVue/profile/header/profileUserInfoModal'
  import ProfileOfficialRating from 'ComponentsVue/profile/header/ProfileOfficialRating.vue'
  import infoModal from 'ComponentsVue/profile/content/ProfileUserInfoModal'

  Vue.component('in-profile-official-rating', ProfileOfficialRating);
  Vue.component('in-profile-rating-bar', profileRatingBar);
  Vue.component('in-userinformation', infoModalAdmin);
  Vue.component('in-userinfomodal', infoModal);
  export default {
    name: 'ProfileUser',
    props: {
      user: Object
    },
    data() {
      return {
        statusUser: this.$lang.profile.insert_status,
        allAdminStatistic: [],
        dateStat: [],
        dateInfo: [],
        dataNormalFormat: []
      }
    },
    computed: {
      ...mapGetters({
        authUser: userModule + AUTH_USER,
      }),
      familyIcon() {
        switch (this.user.family_status) {
          case 'married':
            return 'family_status icon-weding';
          case 'in_relationship':
            return 'family_status icon-relationships';
          case 'single':
            return 'family_status icon-bez-paru';
          case 'in_search':
            return 'family_status icon-insearch';
          case 'in_active_search':
            return 'family_status icon-inRsearch';
          default :
            return 'family_status icon-inRsearch';
        }
      }
    },
    mounted() {
    },
    methods: {
      goToChangeProfile() {
        if (this.authUser.status === 'guest') {
          this.$notify({
            group: 'guest-template',
            duration: 3000,
            speed: 300,
          });
        } else if (this.authUser.id === this.user.id) {
          this.$router.push('/setting/user');
        }
      },
      showModalProfileChangeFamilyStatus() {
        this.$modal.show('modalProfileChangeFamilyStatus');
      },
      showInfo() {
        //this.$modal.show('profileUserModal');
        if (this.authUser.status === 'admin') {
          axios.get('v1/me/statistic/admin/all?from=2017-01-01&to=today')
            .then(res => {
              this.allAdminStatistic = res.data;
              this.dateStat = Object.keys(this.allAdminStatistic);
              this.dataNormalFormat = this.dateStat.map((item) => {
                let allvariavles = item.split('-');
                return allvariavles[2] + '.' + allvariavles[1] + '.' + allvariavles[0];
              });
              this.$modal.show('profileUserModal');
            })
        }
        else {
          this.$modal.show('userInfoInModal');
        }
      }
    }
  }
</script>
<style lang="less">
  @import '~LessStyle/variable.less';

  .profile-user {
    width: 100%;
    position: relative;
    i {
      .text-grad();
    }
  }

  .user-name-profile {
    display: flex;
    justify-content: space-between;
    p {
      margin: 0;
    }
  }

  .user-name-profile a {
    color: #000;
  }

  .profile-user > .rate-opacity {
    position: relative;
    bottom: 0;
    left: 0;
    width: 99%;
  }

  .user-status {
    font-size: 12px;
    font-style: italic;
  }

  .subscribers-container {
    padding-bottom: 60px;
    position: relative;
  }

  .active-profile-contest {
    margin-right: 10px;
  }

  .contest-entry-block {
    display: flex;
  }

  .contest-entry-span {
    width: 8vw;
    display: block;
  }
</style>

