<template>
  <div>
    <div
      :class="'post-mentions--icon '+showMentionIconsIndex"
      v-if="this.image.mentioned_users_count!=0">
      <i
        :class="showMentionIcons"
        @click="showMentions()"></i>

    </div>
    <div
      v-if="showMent"
      class="post-mentions-block">
      <div>
        <router-link
          v-for="(mention,i) in imageMentions"
          :to="'/u/'+mention.nickname"
          :key="i">
          <span
            class="mentionBlock"
            v-text="mention.nickname"
            v-bind:style="{'top': mention.y*widthWindow+'px', 'left': mention.x*widthWindow+'px' }"></span>
        </router-link>
      </div>
    </div>
  </div>


</template>
<script>
  import axios from 'axios';

  export default {
    name: 'postMentions',
    props: ['image'],
    data(){
      return {
        imageMentions: [],
        showMent: false,
        widthWindow: localStorage.getItem('clientWidth'),
      }
    },
    computed: {
      showMentionIcons(){
        if(!this.showMent)
          return 'icon-guy-2 mention-icon-index';
        else
          return 'icon-guy-2-f mention-iconbig-index';
      },
      showMentionIconsIndex(){
        if(!this.showMent)
          return ' mention-icon-index';
        else
          return ' mention-iconbig-index';
      },
    },
    mounted(){
      let mentionArray = [];
      mentionArray.push(this.image.id);
      axios.get('v1/mentioned-users/on-image/all?ids=' + JSON.stringify(mentionArray))
        .then(
          res =>{
            this.imageMentions = res.data.data;

          }
        )
    },
    methods: {
      showMentions(){
        this.showMent = !this.showMent;
      }
    }
  }

</script>
<style>

</style>
