<template>
  <div  >
    <img   :src="image.url_large"  v-lazy="image.url_large"  />
    <in-mention-block :image="image"></in-mention-block>
  </div>
</template>
<script>
  export default  {
    props:['image'],
    computed: {
        imageUpload() {
          return this.image ? this.image.url_large : "";
        }
      },


  }
</script>
<style>
  img[lazy=loading] {
    filter: blur(20px);
  }


</style>
