<template>
  <div class="post-item--image">


    <div
      class="post-item--image"
      v-if="this.post.images || this.post.videos">

      <carousel
        :perPage=1
        :paginationEnabled="true"
        paginationColor="rgba(211, 211, 211, 0.50);"
        :paginationPadding="2"
        :paginationSize="8">
        <template v-for="(element, index) in finalArray">
          <slide
            v-if="element.type === 'image'"
            class="video-block"
            :key="index">
            <!--v-for="(element,index) in this.post.images"-->
            <in-post-image-block :image="element.body"/>
          </slide>
          <slide
            v-else-if="element.type === 'video'"
            class="video-block"
            :key="index">
            <!--v-for="(element,index) in this.post.videos"-->
            <video
              :poster="element.body.preview_url"
              :src="element.body.url"
              v-bind:style="{'height':widthWindow+'px'}"
              ref="videoBlock"
              muted
              loop
              v-on:click="playVideo(index)"></video>
            <div
              class="post-type--play"
              ref="playButton"
              v-on:click="playVideo(index)">
              <img src="https://media.inrating.top/storage/img/default/Play.png">
            </div>
            <div class="blur-background" v-bind:style="{backgroundImage: 'url('+element.body.preview_url+')'}">

            </div>
            <div
              class="post-type--muted"
              v-on:click="muteVideo(index)">
              <i
                ref="muteButton"
                class="icon-mute"></i>
            </div>
          </slide>
        </template>
      </carousel>

    </div>

    <div v-if="this.avatar">
      <!--<in-rating-bar :rating='this.user.rating'></in-rating-bar>-->
    </div>
  </div>
</template>
<script>
  import Vue from 'vue'
  import PostRatingBar from 'ComponentsVue/main/postmenu/PostRatingBar.vue'
  import postMentions from 'ComponentsVue/main/postimage/postMentions.vue'
  import postImageBlock from 'ComponentsVue/main/postimage/PostImageBlock'

  Vue.component('in-post-image-block', postImageBlock);
  Vue.component('in-rating-bar', PostRatingBar);
  Vue.component('in-mention-block', postMentions);
  export default {
    props: ['post', 'avatar', 'user', 'order'],
    data() {
      return {
        widthWindow: localStorage.getItem('clientWidth'),
        attachmentsImage: [],
        attachOrder: [],
        finalArray: [],
      }
    },
    created() {
      this.attachOrder = this.order;

      for (let i = 0; i < this.attachOrder.length; i++) {
        if (this.attachOrder[i].type == 'image') {
          for (let j = 0; j < this.post.images.length; j++) {
            if (this.attachOrder[i].id == this.post.images[j].id)
              this.finalArray.push({
                  type: 'image',
                  body: this.post.images[j],
                }
              );
          }
        }
        else if (this.attachOrder[i].type == 'video') {
          for (let j = 0; j < this.post.videos.length; j++) {
            if (this.attachOrder[i].id == this.post.videos[j].id)
              this.finalArray.push({
                  type: 'video',
                  body: this.post.videos[j],
                }
              );
          }
        }

      }
    },
    watch: {
      attachOrder: function () {
        this.finalArray = [];
        this.attachOrder = this.order;

        for (let i = 0; i < this.attachOrder.length; i++) {
          if (this.attachOrder[i].type == 'image') {
            for (let j = 0; j < this.post.images.length; j++) {
              if (this.attachOrder[i].id == this.post.images[j].id)
                this.finalArray.push({
                    type: 'image',
                    body: this.post.images[j],
                  }
                );
            }
          }
          else if (this.attachOrder[i].type == 'video') {
            for (let j = 0; j < this.post.videos.length; j++) {
              if (this.attachOrder[i].id == this.post.videos[j].id)
                this.finalArray.push({
                    type: 'video',
                    body: this.post.videos[j],
                  }
                );
            }
          }

        }
      }
    },

    mounted() {
      this.attachOrder = this.order;
    },
    methods: {
      playVideo(index) {
        let video = this.$refs.videoBlock;
        let playButton = this.$refs.playButton;
        if (video[index].paused) {
          video[index].play();
          playButton[index].style.display = 'none';
        }
        else {
          video[index].pause();
          playButton[index].style.display = 'block';
        }
      },
      muteVideo(index) {
        let video = this.$refs.videoBlock;
        let muteButton = this.$refs.muteButton;
        if (video[index].muted) {
          video[index].muted = false;
          muteButton[0].classList.add('icon-sound');
          muteButton[0].classList.remove('icon-mute');
        }
        else {
          video[index].muted = true;
          muteButton[0].classList.remove('icon-sound');
          muteButton[0].classList.add('icon-mute');
        }
      },
    }

  }
</script>

