<template>
  <div @click="eventToggle" class="post-toggle-icon">
    <div :class="likeAnimation">
      <i :class="[toggleFunction, isActiveGift]"></i>
    </div>
    <p class="toggle-count" v-text="postCount"></p>
  </div>
</template>

<script>
  import axios from 'axios';

  export default {
    name: "PostToggleIcon",
    props: ['className', 'classNameActive', 'count', 'actionId', 'statusFieldName', 'fillType', 'authUser', 'post'],
    created() {
      // this.fillTypePost = this.fillType;
      // this.statusFieldNamePost = this.statusFieldName;
      // this.postCount = this.count;
    },
    data() {
      return {
        fillTypePost: '',
        statusFieldNamePost: '',
        postCount: '',
        animateLike: false,
        loading: false
      }

    },
    mounted() {
      this.postCount = this.count;
      this.statusFieldNamePost = this.statusFieldName;
      this.fillTypePost = this.fillType;
    },
    computed: {
      isLike() {
        return this.animateLike && this.statusFieldNamePost && this.activePremium;
      },
      isActiveGift() {
        return this.statusFieldNamePost && this.activePremium ? 'premium-icon' : ''
      },
      activePremium() {
        return this.fillTypePost === 'like' && this.authUser.active_gift && (this.authUser.active_gift.id === 41 || this.authUser.active_gift.id === 42);
      },
      likeAnimation() {
        if (this.isLike) {
          if (this.authUser.active_gift.id === 41) {
            return 'like-animation-41'
          } else if (this.authUser.active_gift.id === 42) {
            return 'like-animation-42'
          } else {
            return ''
          }
        } else {
          return '';
        }
      },
      toggleFunction: function () {
        return this.statusFieldNamePost
          ? this.classNameActive
          : this.className
      }
    },
    methods: {
      notRepostOwnPost() {
        return !(this.fillTypePost === 'repost' && this.authUser.id === this.post.author.id);
      },
      eventToggle() {
        if (this.$userStatus(this.authUser) && this.notRepostOwnPost()) {
          let fillType = this.fillTypePost;
          let status = this.statusFieldNamePost;
          if (!this.loading) {
            this.loading = true;

            if (status) {
              axios.get('v1/users/posts/' + fillType + '?id=' + this.actionId + '&delete=true')
                .then(
                  res => {
                    this.statusFieldNamePost = res.data.state;
                    if (!res.data.state) {
                      this.animateLike = false;
                      if (fillType === 'like') {
                        this.postCount -= res.data.multiplier;
                      } else {
                        this.postCount--;
                      }
                    }

                    this.loading = false;
                  }
                )
                .catch(err => {
                });

            }
            else {

              if (fillType == "repost") {
                this.$modal.show('repostModal');
                this.$root.$emit('postModalRepost', this.actionId);
              }
              else {
                axios.get('v1/users/posts/' + fillType + '?id=' + this.actionId)
                  .then(
                    res => {
                      this.statusFieldNamePost = res.data.state;
                      if (res.data.state) {
                        this.animateLike = true;
                        if (fillType === 'like') {
                          this.postCount += res.data.multiplier;
                        } else {
                          this.postCount++;
                        }
                      }

                      this.loading = false;
                    }
                  )
                  .catch(err => {
                    if (err.response.data.errorInfo.errorCode == 1000) {

                    }
                  });

              }

            }
          }

        }
      }
    },
  }
</script>

<style lang="less">
  @import '~LessStyle/variables.less';
  @import '~LessStyle/animation.less';

  .post-toggle-icon {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }

  p {
    margin: 0px
  }

  .toggle-count {
    color: #fff;
  }

  .toggle-count-like {
    position: absolute;
    top: 0;
  }

  .toggle-item {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-end;
    /*height: 39px;*/
  }

  .premium-icon {
    background: linear-gradient(to right bottom, #f00, #000 95%) !important;
    opacity: 0.8;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
  }
</style>
