<template>
  <div v-if="type === 'icon'" class="bottom-click" @click="goToLink()"><i :class="activeRoute"></i></div>
  <div v-else class="bottom-click" @click="goToLink()"><img :src="activeRoute"/></div>
</template>
<script>
  // import InAudio from 'JsLib/audio';
  import {mapActions} from 'vuex';
  import {FETCH_NEW_POSTS, moduleName as mainPostsModule} from "Store/modules/mainPosts";

  export default {
    props:['link','notActiveClass','activeClass', 'type'],
    computed: {
      activeRoute() {

        let route = this.$route.path.split('/');
        let link = this.link.split('/');
        if(link[0] === 'u') {
          if(link[1] === route[2]) {
            return this.activeClass;
          } else {
            return this.notActiveClass;
          }
        }
        // else if(this.link === route[1] || this.link.split('/')[0] === route[1])
        else if('/' + this.link === this.$route.path)
          return this.activeClass;
        else
          return this.notActiveClass;
      }
    },
    methods: {
      ...mapActions({
        fetchNewPostOnMainPage: mainPostsModule + FETCH_NEW_POSTS
      }),
      goToLink() {
        if(this.link === '') {
          this.fetchNewPostOnMainPage();
        }

        let route = this.$route.path.split('/');
        if(this.link === 'groups') {
          this.$router.push('/'+this.link);
          this.$root.$emit('hideFooterMenu');
        }
        // else if (this.link === route[1]) {
        else if('/' + this.link === this.$route.path) {
          if(this.link === '') {
            // window.InAudio.scrollMainSound();
          } else if(this.link === 'rating') {
            // window.InAudio.scrollRatingSound();
          } else if(this.link === 'feeds') {
            // window.InAudio.scrollMainSound();
          }

          // let offset = window.pageYOffset;
          //
          // let countLoop = 30;
          //
          // if(offset > 10000) offset = 10000;
          //
          // const loopHeight = Math.floor(Math.abs(offset) / countLoop);
          //
          // let current = 0;
          //
          // const animateScroll = (() => {
          //   current += 1;
          //   if(loopHeight < window.pageYOffset) {
          //     // window.scrollTo(0, offset - loopHeight * current);
          //     document.body.scrollTop = offset - loopHeight * current;
          //     document.documentElement.scrollTop = offset - loopHeight * current;
          //   } else {
          //     // window.scrollTo(0, 0);
          //     document.body.scrollTop = 0;
          //     document.documentElement.scrollTop = 0;
          //   }
          //   if(current < countLoop + 1) {
          //     setTimeout(animateScroll, 0);
          //   } else {
          //     // window.scrollTo(0, 0);
          //     document.body.scrollTop = 0;
          //     document.documentElement.scrollTop = 0;
          //     console.timeEnd('label');
          //     this.$root.$emit('scrollToTopEnd');
          //   }
          // });
          //
          // console.time('label');
          // this.$root.$emit('scrollToTop');
          // if(window.pageYOffset > 10000) {
          //   // window.scrollTo(0, 2000);
          //   document.body.scrollTop = 10000;
          //   document.documentElement.scrollTop = 10000;
          // }
          //
          // animateScroll();

          // document.body.scrollTop = 0;
          // document.documentElement.scrollTop = 0;

          let currentStart = 0, current = 0;

          const animateScroll = (() => {
            current += 1;
            document.body.scrollTop = 100 - 10 * current;
            document.documentElement.scrollTop = 100 - 10 * current;
            if(current < 10) {
              setTimeout(animateScroll, 5);
            } else {
              document.body.scrollTop = 0;
              document.documentElement.scrollTop = 0;
              this.$root.$emit('scrollToTopEnd');
            }
          });

          const animateScrollStart = (() => {
            currentStart += 1;
              document.body.scrollTop = window.pageYOffset - 10 * currentStart;
              document.documentElement.scrollTop = window.pageYOffset - 10 * currentStart;
            if(currentStart < 10) {
              setTimeout(animateScrollStart, 10);
            } else {
              document.body.scrollTop = 0;
              document.documentElement.scrollTop = 0;
              animateScroll();
            }
          });

          const anotherScroll = (() => {
            current += 1;
            document.body.scrollTop = window.pageYOffset - 10 * current;
            document.documentElement.scrollTop = window.pageYOffset - 10 * current;
            if(window.pageYOffset > 10) {
              setTimeout(animateScroll, 5);
            } else {
              document.body.scrollTop = 0;
              document.documentElement.scrollTop = 0;
              this.$root.$emit('scrollToTopEnd');
            }
          });

          this.$root.$emit('scrollToTop');
          if(window.pageYOffset > 200) {
            animateScrollStart();
          } else {
            anotherScroll();
          }
        }
        else {
          this.$router.push('/'+this.link);
          this.$root.$emit('hideFooterMenu');
        }

      }
    }
  }
</script>
<style lang="less">
  .bottom-click {
    position: relative;
    z-index: 20000;
    padding: 5px 0;
  }
</style>
