<template>
  <div class="search-menu">
    <in-search-header-item
      link="/search/user"
      activeIcon="icon-search-guy-f"
      notActiveIcon="icon-search-guy"
      fillType="user"
    />
    <in-search-header-item
      link="/search/location"
      activeIcon="icon-search-location-f"
      notActiveIcon="icon-search-location"
      fillType="location"
    />
    <in-search-header-item
      link="/search/intag"
      activeIcon="icon-intag-f"
      notActiveIcon="icon-intag"
      fillType="intag"
    />
    <in-search-header-item
      link="/search/group"
      activeIcon="icon-search-group-f"
      notActiveIcon="icon-search-group"
      fillType="group"
    />
    <!--<in-search-header-item
      link="#"
      activeIcon="icon-search-birga"
      notActiveIcon="icon-search-birga"
      fillType="birga"
    />-->
    <div class="search-menu--item">
      <i @click="notNow" class="icon-search-birga"></i>
    </div>

  </div>
</template>

<script>
  import Vue from 'vue'
  import searchHeaderItem from 'ComponentsVue/search/parts/searchHeaderItem'

  Vue.component('in-search-header-item', searchHeaderItem)
  export default {
    name: 'SearchHeader',
    methods: {
      notNow() {
        this.$notify({
          group: 'not-is-now',
          duration: '3000',
          speed: '300'
        })
      }
    }
  }
</script>

<style>

</style>
