<template>
  <div>
    <div class="search-input">
      <input
        id="searchGroup"
        :placeholder="$lang.search.search_by_group"
        type="text"
        @keyup="searchGroup">
    </div>
    <div class="group-block">
      <div v-for="group in allGroups">
        <router-link
          class="group-link"
          :to="'/groups/'+group.id">
          <in-group-item :group="group"/>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';

  import Vue from 'vue'
  import groupItem from 'ComponentsVue/itemuser/groupItem.vue'

  Vue.component('in-group-item', groupItem);
  export default {
    data(){
      return {
        allGroups: [],
      }
    },
    methods: {
      searchGroup(){
        let value = document.getElementById('searchGroup').value;
        axios.get('v1/groups/search?query=' + value)
        .then(res =>{
          this.allGroups = res.data.data;
        })
        .catch(err => console.log(err.response));
      }
    },
  }
</script>

<style lang="less">
  @import '~LessStyle/variables.less';
  @import '~LessStyle/groupfoundmodal.less';

  .search-input{
    border-radius: 5px;
    border: 1px solid @contest-list-text-color;
    color: #d3d3d3;
    margin: 10px 0;
    text-align: left;
    padding: 5px 10px;
  }

  .post-block--item{
    display: inline-block;
  }

  #searchGroup{
    border: 0;
    width: 80%;
    padding: 5px;
    font-size: 15px;
  }
</style>
