<template>
  <div>
    <div class="search-input">
      <input
        id="searchPeople"
        :placeholder="$lang.search.search_by_nickname"
        type="text"
        @keyup="searchPeople">
    </div>
    <div class="search-block">
      <div
        class="search-item"
        v-for="user in allsearch">
        <in-item-user
          :user="user"
          letter='disabled'
          :is_subscribed="user.is_subscribed">
        </in-item-user>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';

  export default {
    data() {
      return {
        allsearch: [],
      }
    },
    methods: {
      searchPeople() {
        let value = document.getElementById('searchPeople').value;
        axios.get('v1/users/search?query=' + value)
          .then(
            res => {
              this.allsearch = res.data.data;
            }
          )
          .catch(err => console.log(err.response));
      },
    }
  }
</script>

<style>

  .search-item {
    display: flex;
    margin: 10px 0px;
    position: relative;
    box-sizing: border-box;
    padding: 5px 0px;
    border-radius: 10px;
    box-shadow: 2px 2px 0px 0px rgba(95, 92, 92, 0.2);

  }

  .search-input {
    border-radius: 5px;
    border: 1px solid #5ac5c6;
    color: #d3d3d3;
    margin: 10px 0px;
    text-align: left;
    padding: 5px 10px;
  }

  #searchPeople {
    border: 0px;
    width: 95%;
    padding: 5px;
    font-size: 15px;
  }

</style>
