<template>
    <div class="search-input"><input id="searchLocation" :placeholder="$lang.search.search_by_location" type="text" ></div>
</template>

<script>
export default {

}
</script>

<style>
    .search-input {
        border-radius: 5px;
        border: 1px solid #5ac5c6;
        color: #d3d3d3;
        margin: 10px 0px;
        text-align: left;
        padding:5px 10px;
    }

     #searchLocation {
        border:0px;
        width:80%;
        padding: 5px;
       font-size: 15px;
    }
</style>
