<template>
     <div>
        <div class="search-input"><input v-model="intagValue" :placeholder="$lang.search.search_by_intag" type="text" @keyup="searchPost"></div>
        <div class="post-block">
            <template v-for="(post,index) in intagsPosts">
              <div class="profile-post" @click="goToLink(post.slug)">
                <template   v-if="post.attachments.images!=null" >
                  <img :key="index" :src="post.attachments.images[0].url_large">
                </template>
                <template   v-else-if="post.attachments.videos!=null" >
                  <img :key="index" :src="post.attachments.videos[0].preview_url">
                </template>
                <template   v-else-if="post.attachments.posts!=null" >
                  <template   v-if="post.attachments.posts.attachments.images!=null" >
                    <img :key="index" :src="post.attachments.posts.attachments.images[0].url_large">
                  </template>
                  <template   v-else-if="post.attachments.posts.attachments.videos!=null" >
                    <img :key="index" :src="post.attachments.posts.attachments.videos[0].preview_url">
                  </template>
                </template>
              </div>
            </template>
        </div>
    </div>
</template>

<script>
  import Vue from 'vue'
  import ProfilePostSolo from 'ComponentsVue/profile/content/ProfilePostSolo.vue'
  import {mapActions, mapGetters} from 'vuex'
  import {FETCH_INTAGS_POSTS, INTAGS_POSTS, moduleName as searchIntagsModule} from "Store/modules/search/searchIntags";


  Vue.component('in-profile-postsolo', ProfilePostSolo);
export default {
    data() {
        return {
            allposts:[],
            intagValue:'',
        }
    },
    computed: {
      ...mapGetters({
          intagsPosts:searchIntagsModule+INTAGS_POSTS,
      })
    },
    methods: {
      ...mapActions({
        getPostsIntags:searchIntagsModule+FETCH_INTAGS_POSTS,
      }),
        searchPost() {
            let data=new FormData();
            data.append('intag',this.intagValue);
            this.getPostsIntags(data);
        },
        goToLink(slug) {
          this.$router.push('/p/'+slug);
        }
    },
}
</script>

<style lang="less">
     .search-input {
        border-radius: 5px;
        border: 1px solid #5ac5c6;
        color: #d3d3d3;
        margin: 10px 0;
        text-align: left;
        padding:5px 10px;
       input {
         border: 0px;
         width: 80%;
         padding: 5px;
         font-size: 15px;
       }
    }

    .post-block--item {
        display: inline-block;
    }

    #searchIntag {
        border:0px;
        width:80%;
        padding: 5px;
      font-size: 16px;
    }

    .post-block {
        display: flex;
        flex-wrap: wrap;
    }
     .profile-post {
       width: calc(25vw - 2.5px);
       height: calc(25vw - 2.5px);
       display: inline-block;
       position: relative;
       margin: 0 0 2px 2px;
       img {
         width: 100%;
         height: auto;
         border-radius: 5px;
       }
     }
</style>
