<template>
  <div id="groupCreate">
    <div class="modal-title">
      Редактирование группы
      <span @click="goBack" class="go-back">
        <i class="icon-left-f"></i>
      </span>
    </div>
    <div class="group-previewimg">
      <img class="group-bannerimg" :src="getGroup.banner.url_large"/>
      <img class="group-logoimg" :src="getGroup.logo.url_large"/>
    </div>
    <div class="group-createfields">
      <div class="group-photos">
        <button @click="groupBannerOpen" class="action-post-button">
          <span>{{$lang.groups.choose_banner}}</span>
        </button><br>
        <button @click="groupLogoOpen" class="action-post-button">
          <span>{{$lang.groups.choose_avatar}}</span>
        </button>
      </div>
      <p class="group-create-title">{{$lang.groups.name}}</p>
      <div class=" group-name">
        <input class="group-input--item" type="text" :placeholder="$lang.groups.name" v-model="getGroup.name" >
      </div>
      <p class="group-create-title">{{$lang.groups.theme}}</p>
      <template v-for="subject in groupSubjects">
        <div class="status-item" @click="groupTheme = subject.id">
              <span>
                 <in-contestdot :vote="groupTheme" :string="subject.id"></in-contestdot>

                  <p>{{subject.value}}</p>
              </span>
        </div>
      </template>
      <p class="group-create-title">{{$lang.groups.location}}</p>
      <div class="group-location">
        <input type="text" class="modal-location group-input--item" v-on:click="googleAutoComplete()" v-model="getGroup.geo_id.location"
               :placeholder="$lang.groups.location"
               id="place"
               name="place"/>
        <input type="hidden" name="placeId"  v-model="getGroup.geo_id.google_place_id" id="placeId" value=""/>
      </div>
      <p class="group-create-title">{{$lang.groups.desc}}</p>
      <div class=" group-descr">
        <textarea class="group-input--item" type="text" :placeholder="$lang.groups.desc" v-model="getGroup.desc" id="group-desc"></textarea>
      </div>
      <p class="group-create-title">{{$lang.groups.web_site}}</p>
      <div class=" group-web">
        <input class="group-input--item" type="text" :placeholder="$lang.groups.web_site" v-model="getGroup.website" id="group-web"/>
      </div>
      <p class="group-create-title">{{$lang.groups.phone}}</p>
      <div class=" group-phone">
        <input class="group-input--item" type="text" :placeholder="$lang.groups.phone" v-model="getGroup.phone" id="group-phone"/>
      </div>
    </div>
    <p  v-if="(getGroup.accessibility === 'closed' && getGroup.fee ) " class="group-create-title">{{$lang.groups.pay_sum}}</p>
    <input v-if="(getGroup.accessibility === 'closed' && getGroup.fee ) " class="group-input--item" type="number" min="1" max="10000" v-model="getGroup.fee" :placeholder="$lang.groups.pay_sum">
    <p v-if="(getGroup.accessibility === 'closed' && getGroup.fee ) " class="group-create-title">{{$lang.groups.balance}}: {{getGroup.coins}} </p>
    <button @click="createGroup()"> {{$lang.groups.create}}</button>
    <modal name="groupBanner"
           width="100%"
           classes=" v--modal"
           :scrollable="true"
           height="100%">
      <div class="modal-title">
        <i @click="closeBanner" class="icon-left-f go-back"></i>
        {{$lang.groups.choose_banner}}
      </div>
      <croppa
        v-model="myCroppa"
        :width=imageWidth
        :height=imageHeigth
        :quality="qualityImage"
        :prevent-white-space="true"
        :show-remove-button="false"
        :placeholder-font-size="20"
        :placeholder="$lang.groups.choose_banner"
        placeholder-color="#000">
      </croppa>
      <button
        class="log-button"
        type="button"
        @click="myCroppa.remove()">{{$lang.profile.cancel}}
      </button>
      <button
        class="log-button"
        type="button"
        @click="addToCropp()">{{$lang.profile.crop}}
      </button>
    </modal>
    <modal name="groupLogo"
           width="100%"
           classes=" v--modal "
           :scrollable="true"
           height="100%">
      <div class="modal-title">
        <i @click="closeLogo" class="icon-left-f go-back"></i>
        {{$lang.groups.choose_avatar}}
      </div>

      <croppa
        v-model="myCroppaLogo"
        :width=300
        :height=300
        :quality=1
        :placeholder="$lang.groups.choose_avatar"
        :placeholder-font-size="10"
        :disabled="false"
        :prevent-white-space="true"
        :show-remove-button="false"
        placeholder-color="#000">
      </croppa>
      <button
        class="log-button"
        type="button"
        @click="myCroppaLogo.remove()">{{$lang.profile.cancel}}
      </button>
      <button
        class="log-button"
        type="button"
        @click="addToCroppLogo()">{{$lang.profile.crop}}
      </button>
    </modal>
    <template v-if="loading">
      <in-spinner-load></in-spinner-load>
    </template>
  </div>
</template>

<script>
  import axios from 'axios';

  import Vue from 'vue'
  import contestDot from 'ComponentsVue/contest/contestCreateDots'
  import imageHelper from 'JsLib/imageHelper'
  import spinnerLoad from 'ComponentsVue/other/SpinnerLoad'
  import {mapActions, mapGetters} from 'vuex'
  import {FETCH_GROUP_SUBJECTS, GROUP_SUBJECTS, moduleName as groupModule,} from "Store/modules/groups";

  Vue.component('in-contestdot',contestDot);
  Vue.component('in-spinner-load',spinnerLoad);
  export default {
    computed: {
      ...mapGetters({
        groupSubjects: groupModule + GROUP_SUBJECTS
      }),
      getGroup() {
        return  window.storeGroup.getters.getGroup;
      }
    },
    data() {
      return {
        logoObj: {},
        logoIndex:false,
        bannerIndex:false,
        bannerObj: {},
        typeOfCreate: 'group',
        accessibility: 'open',
        imageSize: localStorage.getItem('clientWidth'),
        myCroppa:{},
        myCroppaLogo:{},
        imageBanner:'https://media.inrating.top/images/Fon_350x150.png',
        fileUploadBanner:'',
        imageLogo:'https://media.inrating.top/images/Fon_60x60.png',
        fileUploadLogo:'',
        qualityImage:'',
        imageWidth: '',
        imageHeigth: '',
        groupName:'',
        groupTheme:'',
        groupLocation:'',
        groupLocationId:'',
        groupDesc:'',
        groupWeb:'',
        groupPhone:'',
        dataUrlBanner:'',
        dataUrlLogo:'',
        fee:'1',
        loading: false,
      }
    },
    mounted() {
      let image = localStorage.getItem('clientWidth');
      this.imageWidth = parseInt(image) - 10;
      this.imageHeigth = this.imageWidth * 315 / 760;
      this.qualityImage = Math.ceil(1080 / this.imageWidth);
      window.storeGroup.dispatch('LOAD_GROUP_INFO',{group:this.$route.params.group_slug});
      this.getGroupSubjects();
    },
    methods: {
      ...mapActions({
        getGroupSubjects: groupModule + FETCH_GROUP_SUBJECTS,
      }),
      groupBannerOpen() {
        this.$modal.show('groupBanner');
        setTimeout(() => {
          this.myCroppa.chooseFile();
        }, 100);

      },
      groupLogoOpen() {
        this.$modal.show('groupLogo');
        setTimeout(() => {
          this.myCroppaLogo.chooseFile();
        }, 100);
      },
      closeBanner() {
        this.$modal.hide('groupBanner');
      },

      closeLogo() {
        this.$modal.hide('groupLogo');
      },
      addToCropp() {
        this.bannerIndex=true;
        this.getGroup.banner.url_large = this.myCroppa.generateDataUrl();
        if (this.getGroup.banner.url_large != '') {
          this.imageBanner = this.getGroup.banner.url_large;
          this.fileUploadBanner = imageHelper.formatPhoto(this.imageBanner);
          this.$modal.hide('groupBanner');
          this.uploadBanner();
        }
      },
      addToCroppLogo() {
        this.logoIndex=true;
        this.getGroup.logo.url_large = this.myCroppaLogo.generateDataUrl();
        if (this.getGroup.logo.url_large != '') {
          this.imageLogo = this.getGroup.logo.url_large;
          this.fileUploadLogo = imageHelper.formatPhoto(this.imageLogo);
          this.$modal.hide('groupLogo');
          this.uploadLogo();
        }
      },
      googleAutoComplete() {
        let place = document.getElementById('place');
        let placeId = document.getElementById('placeId');
        let autocomplete = new google.maps.places.Autocomplete(place);
        autocomplete.addListener('place_changed', () => {
          let place = autocomplete.getPlace();
          placeId.value = place.place_id;
          this.groupLocation = place.formatted_address;
          this.groupLocationId = place.place_id;
          this.$modal.hide('location');
        });
      },

      uploadBanner() {
        let uploadId = '';
        axios.get('v1/uploads/create?type=user-post')
          .then(
            res => {
              uploadId = res.data.upload_id;
              let dataBanner = new FormData;
              dataBanner.append('upload_id', uploadId);
              dataBanner.append('file', this.fileUploadBanner);
              axios.post('v1/uploads/load', dataBanner)
                .then(
                  res => {
                    this.bannerObj = {
                      id: uploadId,
                      items: [res.data.file_id],
                    }
                  }
                )
            }
          )
      },

      uploadLogo() {
        let uploadId = '';

        axios.get('v1/uploads/create?type=user-post')
          .then(
            res => {
              uploadId = res.data.upload_id;
              let dataLogo = new FormData;
              dataLogo.append('upload_id', uploadId);
              dataLogo.append('file', this.fileUploadLogo);
              axios.post('v1/uploads/load', dataLogo)
                .then(
                  res => {
                    this.logoObj = {
                      id: uploadId,
                      items: [res.data.file_id],
                    }
                  }
                )
            }
          )
      },

      createGroup() {
        let data = new FormData;
        data.append('group_slug', this.getGroup.slug);
        data.append('name', this.getGroup.name);
        data.append('subject', this.getGroup.subject);
        data.append('description', this.getGroup.desc);
        data.append('accessibility', this.getGroup.accessibility);
        data.append('place_geo_id', this.getGroup.geo_id.google_place_id);
        data.append('fee', this.getGroup.fee);
        if (this.logoIndex)
          data.append('logo', JSON.stringify(this.logoObj));
        if (this.bannerIndex)
          data.append('banner', JSON.stringify(this.bannerObj));
        this.loading=true;
        axios.post('v1/groups/edit', data)
          .then(res => {
            this.$router.push('/group/' + this.getGroup.slug)
          })
          .catch(e => {
          })

      },

      goBack() {
        history.go(-1);
      }
    }
  }
</script>

<style lang="less">
  @import '~LessStyle/groupcreate.less';
  @import '~LessStyle/variables.less';
  .status-item.active {
    color: #30c2be;
  }

  .go-back {
    position: absolute;
    left: -6px;
    top: 1px;
    font-size: 22px;
    color: #fff;
  }


  .croppa-container {
    margin-top: 10px;
    text-align: center;
  }

</style>
