<template>
  <div class="groupRequestItem">
    <div class="groupRequestItem-info">
      <div class="groupRequestItem-avatar">
        <img :src="user.avatar_image.url_small"/>
      </div>
      <div class="groupRequestItem-name">
        <p>{{user.nickname}}</p>
        <p>{{user.name}} {{user.lastname}}</p>
      </div>
    </div>
    <div class="groupRequestItem-action">
      <i @click="applyMember(1)" class="icon-check-f"></i>
      <i @click="applyMember(0)" class="icon-delete-f"></i>
    </div>
  </div>
</template>
<script>
  export default {
    name:'groupRequestItem',
    props: ['user', 'index'],
    methods: {
      applyMember(apply) {
        window.storeGroup.dispatch('APPLY_USER_REQUESTS',{group_slug: this.$route.params.group_slug, user_id:this.user.id, apply:apply});
        this.$root.$emit('deleteFromUserRequest',this.index);
      }
    }
  }
</script>
<style lang="less">
  @import '~LessStyle/variables.less';
  .groupRequestItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 97%;
    padding: 10px;
    box-sizing: border-box;
    box-shadow:1px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius:5px;
    margin: auto;
    &-info {
      display: flex;
    }
    &-action {
      i {
        .text-grad();
        font-size: 26px;
      }
    }
    &-avatar {
      width: 25%;
      margin-right: 10px;
      img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        display: block;
      }
    }
    &-name {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      p {
        margin: 0px;
      }
    }

  }
</style>
