<template>
  <div>
    <div class="group-header">
      <div class="title" v-text="group.name"></div>
      <i
        @click="goBack()"
        class="icon-left-f icon-back"></i>
      <i @click="openGroupSettings()" class="icon-vvv"></i>
    </div>
    <template v-if="group.banner">

      <div class="group-banner" :style="{'backgroundImage':'url('+ this.group.banner.url+')'}">
        <div class="banner-settings left-settings">
          <div class="banner-settings--item group-count" @click="openGroupUsersPage">
            <i class="icon-guy-2-f"></i>
            <span v-if="group.group_user.role==='admin'">{{group.users_count}}/({{group.requests_count}})</span>
            <span v-else>{{group.users_count}}</span>
          </div>
          <div class="banner-settings--item  group-type">
            <i v-if="group.accessibility==='open'" class="icon-lock_open"></i>
            <i v-else class="icon-lock_close"></i>
            <span v-if="group.type==='group'">
            <span v-text="$lang.groups.group"></span>
          </span>
            <span v-else-if="group.type==='community'">
            <span v-text="$lang.groups.community"></span>
          </span>
            <span v-else>
            <span v-text="$lang.groups.event"></span>
          </span>
          </div>
        </div>
        <div class="banner-settings right-settings">
          <div class="banner-settings--item group-location">
            <span class="location-span" v-if="group.geo_id && group.geo_id.location">{{group.geo_id.location}}</span>
            <i class="icon-location-f"></i>
          </div>
          <div class="banner-settings--item group-desc" @click="showDesc()">
            <span> {{$lang.groups.group_description}}</span>
            <i class="icon-information"></i>
          </div>
        </div>
        <div class="group-black"></div>
      </div>
    </template>

    <div class="sub-banner">
      <div class="banner-solo--info">
        <p v-text="group.name"></p>
        <span class="group-temat"
          v-text="$textLength(group.subject, 20)"
          @click="showSubject"></span>
      </div>
      <div class="solo--logo">
        <img class="banner-logo" :src="group.logo.url_medium">
      </div>
      <div class="banner-solo--log banner-subscribe">
        <div class="banner-menu--item subscribe">
          <template v-if="group.group_user !== null && group.group_user.role !== null">
            <i @click="leftToGroup()" class=" icon-plus-guy-f"></i>
          </template>
          <template v-else>
            <i @click="subscribeToGroup()" class=" icon-plus-guy"></i>
          </template>
        </div>
        <div class="banner-menu--item">
          <div
            v-if="group.group_user !== null && (group.group_user.role === 'admin' || group.group_user.role === 'participant')"
            class="group-menu--item subscribe">
            <router-link v-if="(user.status !== 'validating')" :to="'/new-post/'+group.slug">
              <i class="icon-plus-f"></i>
            </router-link>
            <i v-else-if="(user.status === 'validating')" @click="userValid()" class="icon-plus-f"></i>
            <span v-else @click="goToGroupPost()"><i class=" icon-photobank "></i></span>
          </div>
          <i v-else class="icon-plus-f"></i>
        </div>
      </div>
    </div>
    <div class="banner-menu">
      <div class="banner-menu--item" @click="goToVideos">
        <span>{{$lang.groups.video}}</span>
        <span>({{group.videos_count}})</span>
      </div>
      <div class="banner-menu--item" @click="goToAlbums">
        <span>{{$lang.groups.albums}}</span>
        <span>({{group.albums_count}})</span>
      </div>
    </div>
    <in-group-settings :group="group" :user="group.group_user"></in-group-settings>
    <in-groupdesc-modal :desc="group.desc"/>
    <in-group-subject-modal :subject="group.subject"/>
    <in-group-modalentry/>
  </div>
</template>

<script>
  import Vue from 'vue'
  import groupDescModal from 'ComponentsVue/groups/groupComponents/groupDescModal'
  import modalOfParticipant from 'ComponentsVue/groups/groupComponents/groupParticipant.vue'
  import groupSettings from 'ComponentsVue/groups/groupComponents/groupSettings.vue'
  import groupSubjectModal from 'ComponentsVue/groups/groupComponents/groupSubjectModal'
  import groupModalEntry from 'ComponentsVue/groups/groupComponents/groupModalEntry'
  import {mapActions, mapGetters} from 'vuex'
  import {CURRENT_GROUP, FETCH_CURRENT_GROUP, moduleName as groupModule, SUBSCRIBE_USER,} from "Store/modules/groups";

  Vue.component('in-allparticipant', modalOfParticipant);
  Vue.component('in-group-settings', groupSettings);
  Vue.component('in-groupdesc-modal', groupDescModal);
  Vue.component('in-group-subject-modal', groupSubjectModal);
  Vue.component('in-group-modalentry', groupModalEntry);

  export default {
    data() {
      return {
        groupSlug: '',
        // postRoute: true,
        user: {},
        isParticipant: {},
        firstTime: true,
        isSub: false
      }
    },
    computed: {
      ...mapGetters({
        groupInfo: groupModule + CURRENT_GROUP
      }),
      group() {
        console.log(this.groupInfo(this.$route.params.group_slug));
        return this.groupInfo(this.$route.params.group_slug);
      },
      isSubscribed() {
        return this.isSub || this.firstTime;
      }
    },
    mounted() {
      this.groupSlug = this.$route.params.group_slug;
      this.user = JSON.parse(localStorage.getItem('user'));
      // let data = {slug: this.groupSlug};
      this.getCurrentGroup(this.groupSlug)
    },
    methods: {
      ...mapActions({
        getCurrentGroup: groupModule + FETCH_CURRENT_GROUP,
        subscribeUserToGroup: groupModule + SUBSCRIBE_USER,
      }),
      goToVideos() {
        this.$router.push('/group/' + this.group.slug + '/videos');
      },
      openGroupUsersPage() {
        this.$router.push('/group/' + this.group.slug + '/user');
      },
      goBack() {
        this.$router.push('/groups');
      },
      showDesc() {
        this.$modal.show('groupDescModal');
      },
      showSubject() {
        this.$modal.show('groupSubjectModal');
      },
      subscribeToGroup() {
        if (this.group.accessibility !== 'closed') {

          let data = new FormData();
          data.append('group_slug', this.groupSlug);
          const payload = {data: data, onFail: this.onFail}
          this.subscribeUserToGroup(payload);
        }
        else {
          this.$modal.show('groupModalEntry');
        }

      },
      onFail() {
        this.$notify({
          group: 'guest-template',
          duration: 3000,
          speed: 300,
        })
      },
      leftToGroup() {
        let data = new FormData();
        data.append('group_slug', this.groupSlug);
        data.append('delete', true);
        this.subscribeUserToGroup(data);
      },
      showAllParticipant() {
        this.$modal.show('allParicipants');
      },
      openGroupSettings() {
        this.$modal.show('groupSettingsModal');
      },
      goToDiscussion() {
        this.$router.push('/groups/' + this.group.slug + '/discussions');
      },
      goToGroupPost() {
        this.$router.push('/groups/' + this.group.slug);
      },
      goToAlbums() {
        this.$router.push('/group/' + this.group.slug + '/albums');
      },
      userValid() {
        this.$notify({
          group: 'validating-template',
          duration: 3000,
          speed: 300,
        });
      },
    }
  }
</script>

<style lang="less">
  @import '~LessStyle/variables.less';

  .group-header {
    text-align: center;
    height: 40px;
    .bgc-grad();
    color: #fff;
    font-size: 20px;
    padding: 5px 0;
    line-height: 30px;
    box-sizing: border-box;
    position: relative;

    .title {
      text-align: center;
      width: 100%;
    }

    .icon-back {
      position: absolute;
      top: 10px;
      left: 8px;
      color: #fff;
      font-size: 22px;
    }

    .icon-vvv {
      position: absolute;
      color: #fff;
      top: 50%;
      right: 8px;
      transform: translateY(-50%);
      font-size: 27px;
    }
  }

  .group-banner {
    position: relative;
    background-position: center;
    background-size: cover;
    text-align: center;
    z-index: 11;
    height: 35vw;
  }

  .banner-settings {
    position: absolute;
    bottom: 0;
    width: 44%;

    &.left-settings {
      left: 0;
      text-align: left;

      .banner-settings--item {
        justify-content: flex-start;

        i {
          padding-right: 5px;
        }
      }
    }

    &.right-settings {
      right: 0;
      text-align: right;
      width: 44%;

      .banner-settings--item {
        justify-content: flex-end;

        i {
          padding-left: 5px;
        }
      }
    }

    &--item {
      padding: 0 5px 7px 5px;
      display: flex;
      align-items: center;

      i {
        .text-grad();
        font-size: 20px;
      }

      span {
        color: #f4f4f4;
        font-size: 13px;
      }
    }
  }

  .sub-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: @middle_grey;
    position: relative;
    padding: 1px 0;

    .solo--logo {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 12;
      width: 20vw;
    }

    .banner-solo--info {
      width: 40vw;
      align-items: center;

      p {
        color: @black;
        margin: 2px 0;
      }
    }

    .banner-logo {
      width: 100%;
      border-radius: 5px;
      border: 1px solid #fff;
    }

    .banner-subscribe {
      display: flex;
      width: 40vw;
      justify-content: space-evenly;
      align-items: center;
    }
  }

  .banner-menu--item {
    i {
      .text-grad();
    }

    .icon-plus-f {
      font-size: 22px;
    }
  }

  .banner-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: @middle_grey;
    padding: 8px;
    color: #fff;
    font-size: 14px;
  }
  .location-span {
    width: 75%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: right;
  }

  .group-temat {
    font-size: 13px;
    color: #9e9e9e;
  }
</style>
