<template>
  <div id="group-users">
    <div class="users-header">
      <div class="title">Подписки / Заявки</div>
      <i
        @click="goBack()"
        class="icon-left-f icon-back"></i>
      <i class="icon-plus-f"></i>
    </div>
    <div class="user-tabs">
      <div class="tab-item" :class="{active: activeTab === 'subscribers'}" @click="changeTab('subscribers')">
        <p>Подписчики</p>
      </div>
      <div class="tab-item" :class="{active: activeTab === 'requests'}" @click="changeTab('requests')">
        <p>Заявки ({{totalRequests}})</p>
      </div>
    </div>

    <div v-if="activeTab === 'subscribers'" class="items">
      <div class="item-block" v-for="user in subscribers">
        <div class="item-avatar ">
          <!--<router-link :to="'/u/'+user.nickname">-->
            <img :src="user.avatar_image.url_medium" @click="goToUser(user.nickname)">
          <!--</router-link>-->
        </div>
        <div class="item-info">
          <p
            class="user-nickname"
            v-text="user.nickname"></p>
          <p class="user-name">
            <span v-text="user.name"></span>
            <span v-text="user.lastname"></span>
          </p>
        </div>
        <div class="feed-button">
          <i class="icon-vvv"></i>
        </div>
      </div>
    </div>
    <div v-else-if="activeTab === 'requests'" class="items">
      <template v-for="(user, index) in requests">
        <in-request-item :user="user" :index="index"/>
      </template>
    </div>

    <div v-if="loading" id="SpinnerOnloadImg">
      <img src="https://media.inrating.top/images/Spinner.svg"/>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';

  import {scrollOnBottom} from "../../../mixins/scrollOnBottom";
  import Vue from 'vue'
  import requestItem from 'ComponentsVue/groups/groupComponents/groupRequestItem'

  Vue.component('in-request-item',requestItem);

  export default {
    name: "groupUsers",
    mixins: [scrollOnBottom],
    data() {
      return {
        groupSlug: '',
        subscribers: [],
        requests: [],
        totalRequests: 0,
        activeTab: 'subscribers',
        lastPage: 1,
        nextPage: 2,
        loading: false,
      }
    },
    watch: {
      bottom(bottom) {
        if (bottom && this.lastPage >= this.nextPage && !this.loading) {
          this.loadNext();
        }
      }
    },
    mounted() {
      this.groupSlug = this.$route.params.group_slug;
      this.$root.$on('deleteFromUserRequest',(index)=>{
        this.requests[index].group_user.role = null;
        this.totalRequests--;
      });
      this.getAllUsers();
      this.getRequests();
    },
    methods: {
      loadNext() {
        if(this.activeTab === 'subscribers') {
          this.getNextUsers();
        } else if(this.activeTab === 'requests') {
          this.getNextRequests();
        }
      },
      goBack() {
        this.$router.go(-1);
      },
      applyUser(user_id, apply, index) {
        const data = new FormData();
        data.append('group_slug', this.groupSlug);
        data.append('user_id', user_id);
        data.append('apply', apply);

        axios.post('v1/groups/users/requests/apply', data).then(res => {
          if(res.data.state) {
            this.requests[index].group_user.role = null;
            this.totalRequests--;
          }
        });
      },
      goToUser(nickname) {
        this.$router.push('/u/' + nickname);
      },
      getAllUsers() {
        this.loading = true;

        const data = new FormData();
        data.append('group_slug', this.groupSlug);

        axios.post('v1/groups/users/all', data).then(res => {
          this.subscribers = res.data.data;
          if(this.activeTab === 'subscribers') this.lastPage = res.data.meta.last_page;
          this.loading = false;
          this.bottom = false;

        }).catch(e => {
          this.loading = false;
        });
      },
      getNextUsers() {
        this.loading = true;

        const data = new FormData();
        data.append('group_slug', this.groupSlug);

        axios.post('v1/groups/users/all?page=' + this.nextPage, data).then(res => {
          this.subscribers = this.subscribers.concat(res.data.data);
          this.nextPage = res.data.meta.current_page + 1;

          this.loading = false;
        }).catch(e => {
          this.loading = false;
        });
      },
      getRequests() {
        this.loading = true;

        const data = new FormData();
        data.append('group_slug', this.groupSlug);
        axios.post('v1/groups/users/requests', data).then(res => {
          this.requests = res.data.data;
          this.totalRequests = res.data.meta.total;

          if(this.activeTab === 'requests') this.lastPage = res.data.meta.last_page;
          this.bottom = false;

          this.loading = false;
        }).catch(e => {
          this.loading = false;
        })
      },
      getNextRequests() {
        this.loading = true;

        const data = new FormData();
        data.append('group_slug', this.groupSlug);
        axios.post('v1/groups/users/requests?page=' + this.nextPage, data).then(res => {
          this.requests = this.requests.concat(res.data.data);
          this.nextPage = res.data.meta.current_page + 1;
          this.loading = false;
        }).catch(e => {
          this.loading = false;
        });
      },
      changeTab(tab) {
        this.activeTab = tab;
        this.lastPage = 1;
        this.nextPage = 2;
        this.subscribers = [];
        this.requests = [];

        if(tab === 'subscribers') {
          this.getAllUsers();
        } else if(tab === 'requests') {
          this.getRequests();
        }
      }
    }
  }
</script>

<style lang="less">
  @import '~LessStyle/variables.less';

  #SpinnerOnloadImg{
    display: block;
    width: 35%;
    margin: auto;
  }

  #group-users {
    .item-block {
      background-color: #fff;
      box-shadow: 1px 2px 5px rgba(0,0,0,.3);
      /*margin-top: 10px;*/
      border-radius: 5px;
      padding: 1.5vw;
      display: flex;
      align-items: center;
      width: 95vw;
      height: 15vw;
      margin: 10px 1vw 0 1vw;
      position: relative;
    }

    .item-avatar {
      width: 15vw;
      height: 15vw;

      img {
        width: 100%;
        border-radius: 5px;
      }
    }

    .item-info {
      width: 50vw;
      height: 100%;
      padding-left: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      p {
        margin: 0;
        /*padding: 5px 0;*/
        font-weight: bold;
        box-sizing: border-box;
      }

      .user-name {
        font-weight: normal;
      }
    }

    .feed-button {
      width: 30vw;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .text-grad();

      i {
        font-size: 25px;
        padding: 0 10px;
      }

      .icon-vvv {
        font-size: 30px;
      }
    }
  }

  .users-header {
    text-align: center;
    height: 40px;
    background: @grad;
    color: #fff;
    font-size: 20px;
    padding: 5px 0;
    line-height: 30px;
    box-sizing: border-box;
    position: relative;

    .title {
      text-align: center;
      width: 100%;
    }

    .icon-back {
      position: absolute;
      top: 10px;
      left: 8px;
      color: #fff;
      font-size: 22px;
    }

    .icon-plus-f {
      position: absolute;
      color: #fff;
      top: 50%;
      right: 8px;
      transform: translateY(-50%);
      font-size: 22px;
    }
  }

  .user-tabs {
    display: flex;
    padding-top: 10px;
    background: #eee;

    .tab-item {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 5px 0;
      align-items: center;
      color: #666;
      background: #dcdcdc;
      border-radius: 10px 10px 0 0;
      border: 1px solid #aba8a8;
      border-bottom: none;
      font-size: 3.8vw;
      height: 25px;

      &.active {
        background: #fff;
        border-radius: 10px 10px 0 0;
        box-shadow: 1px -1px 2px -1px rgba(0,0,0,.5);
        border: 0;
      }
    }
  }
</style>
