<template>
  <div>
    <template v-for="user in getRequests" >
      <in-request-item :user="user" />
    </template>
  </div>
</template>
<style>

</style>
<script>
  import Vue from 'vue'
  import requestItem from 'ComponentsVue/groups/groupComponents/groupRequestItem'

  Vue.component('in-request-item',requestItem);
  export default  {
    name:'groupRequests',
    data() {
      return {

      }
    },
    computed: {
      getRequests(){
        return window.storeGroup.getters.getRequests;
      },
    },
    mounted() {

      window.storeGroup.dispatch('LOAD_GROUP_REQUESTS',{group_slug: this.$route.params.group_slug})
    },
  }
</script>
