<template>
  <modal name="groupSettingsModal"
         width="90%"
         classes=" v--modal group-settings"
         height="auto"
         :scrollable="true">
    <div>
      <template v-if="(getGroup.fee && getGroup.group_user.role==='admin')">
        <p  class="settings-item first-item balance-icon">
          {{$lang.groups.balance}}: {{getGroup.coins}}
        </p>
      </template>
      <p @click="createAlbum" class="settings-item ">
        {{$lang.settings.create_album}}
      </p>
      <p @click="groupInvite" class="settings-item ">
        {{$lang.settings.invite}}
      </p>

      <template v-if="getGroup.group_user.role==='admin'">
        <p @click="editGroup" class="settings-item">
          {{$lang.settings.edit_group}}
        </p>
      </template>

      <p @click="copyLink" ref="copyLink" class="settings-item last-item">
        {{$lang.post.copy_link}}
      </p>

      <!--<p class="settings-item ">
        Пожаловаться
      </p>-->
      <!--<p class="settings-item last-item" @click="leaveGroup()">
        Выйти
      </p>-->
      <p @click="closeSettings()" class="settings-item settings-close">
        {{$lang.post.cancel}}
      </p>
    </div>
  </modal>
</template>

<script>
  export default {
    name:'groupSettings',
    props:['group','user'],
    data() {
      return {
        groupId:'',
      }
    },
    computed: {
      getGroup() {
        return  window.storeGroup.getters.getGroup;
      }
    },
    methods: {
      closeSettings() {
        this.$modal.hide('groupSettingsModal');
      },
      leaveGroup() {
        axios.post('v1/groups/join?group_slug='+this.getGroup.slug+'&delete=true')
          .then(
            res=> {
            }
          )
      },
      editGroup() {
        this.$modal.hide('groupSettingsModal');
        this.$router.push('/group/'+this.getGroup.slug+'/edit');
      },
      createAlbum() {
        this.$modal.hide('groupSettingsModal');
        this.$router.push('/group/'+this.getGroup.slug+'/create-album');
      },
      groupInvite() {
        this.$modal.hide('groupSettingsModal');
        this.$router.push('/group/'+this.getGroup.slug+'/invite');
      },
      copyLink() {
        let text = window.location.href;
        this.copyToClipboard(this.$refs.copyLink, text);
      },
      copyToClipboard(block, text) {
        let temp = document.createElement('input');
        temp.setAttribute('id', 'link');
        block.appendChild(temp);
        document.getElementById('link').value = text;
        let input = document.getElementById('link');
        input.focus();
        input.setSelectionRange(0, 99999);
        document.execCommand('copy');
        document.getElementById('link').remove();
      },
    }
  }
</script>

<style lang="less">
    @import '~LessStyle/variables.less';
    .settings-item {
      background: #fff;
      padding: 13px 0;
      color: #0A84FF;
      font-size: 20px;
      text-align: center;
      margin: 0px;
      border-bottom: 1px solid #777;
    }

    .first-item {
      border-radius: 10px 10px 0 0;
      border-top: 0;
    }

    .last-item {
      border-radius: 0 0 10px 10px;
      border-bottom: 0;
    }

    .settings-close {
      margin-top: 10px;
      border-radius: 10px;
    }

    .group-settings {
      background: transparent;
      border-radius: 10px;
      top: 35vh !important;
    }

    .balance-icon {
      color:@base_green
    }
</style>
