<template>
  <div>
    <div class="modal-title">
      <div @click="goBack" class="go-back">
        <i class="icon-left-f"></i>
      </div>
      Пригласить в группу
    </div>
    <template v-for="user in getUserSubscribers">
      <div @click="inviteUser(user.id)" class="profile-subscribers-item">
        <in-item-user :user="user"
                      :is_subscribed="user.is_subscribed"
                      letter='disabled'></in-item-user>
      </div>
    </template>
  </div>
</template>
<script>
  export default  {
    name:'groupInvite',
    computed: {
      getUserSubscribers() {
        return window.storeUser.getters.getUserSubscribers;
      }
    },
    mounted() {
      window.storeUser.dispatch('USER_SUBSCRIBERS');
    },
    methods: {
      inviteUser(id) {
        window.storeGroup.dispatch('INVITE_USER',{group_slug:this.$route.params.group_slug,user_id:id});
      },
      goBack() {
        history.go(-1);
      }
    },
  }
</script>
<style lang="less">
  .profile-subscribers-item{
    position: relative;
    display: flex;
    margin: 10px 10px;
    box-sizing: border-box;
    padding: 5px 0;
    border-radius: 10px;
    box-shadow: 2px 2px 0 0 rgba(95, 92, 92, 0.2);
  }

  .go-back {
    position: absolute;
    left: 4px;
    top: 1px;
    font-size: 22px;
    color: #fff;
  }
</style>
