<template>
  <div class="subscribers-container">
    <template v-if="getUserInfo && getUserPrivacy">
      <div v-if="getUserInfo.id==authUser.id">
        <div class="subscriber-header">
          <i :class="searchActive" @click="changeMode"></i>
          <h3>{{$lang.profile.subscribitions}}</h3>
          <i class="icon-menu-4-1"></i>
          <!--<transition name="fade">-->
            <div
              class="subscribition-search"
              v-if="searchUser">
              <input
                @keyup="searchFollow"
                v-model="followName"
                type="text"
                :placeholder="this.$lang.variables.search"/>
            </div>
          <!--</transition>-->
        </div>
        <div v-if="subscribePostCount === '1'">

          <div
            class="profile-subscribers-item"
            v-for="user in allSubscribers">

            <in-item-user
              v-if="authorId==authUserId"
              :user="user"
              button='disabled'/>

            <in-item-user
              v-else
              :user="user"
              letter='disabled'/>
          </div>
        </div>
        <div
          class="cube-container"
          v-else>
          <div
            class="item-user-cube"
            v-for="user in allSubscribers">
            <in-item-user-cube :user="user"/>
          </div>
        </div>
      </div>
      <div v-else>

        <div v-if="getUserPrivacy.subscriptions=='none'">{{$lang.profile.user_privacy_on}}</div>
        <div v-else-if="getUserPrivacy.subscriptions=='subs' && getUserInfo.is_subscribed">
          <div class="subscriber-header">
            <i :class="searchActive" @click="changeMode"></i>
            <h3>{{$lang.profile.subscribitions}}</h3>
            <i class="icon-menu-4-1"></i>
              <div class="subscribition-search" v-if="searchUser">
                <input
                  @keyup="searchFollow"
                  v-model="followName"
                  :placeholder="this.$lang.variables.search"/>
              </div>
          </div>
          <div v-if="subscribePostCount === '1'">

            <div
              class="profile-subscribers-item"
              v-for="user in allSubscribers">

              <in-item-user
                v-if="authorId==authUserId"
                :user="user"
                button='disabled'/>

              <in-item-user
                v-else
                :user="user"
                letter='disabled'/>
            </div>
          </div>
          <div
            class="cube-container"
            v-else>
            <div
              class="item-user-cube"
              v-for="user in allSubscribers">
              <in-item-user-cube :user="user"/>
            </div>
          </div>
        </div>
        <div v-else-if="getUserPrivacy.subscriptions=='all'">
          <div class="subscriber-header">
            <i :class="searchActive" @click="changeMode"></i>
            <h3>{{$lang.profile.subscribitions}}</h3>
            <i class="icon-menu-4-1"></i>
              <div class="subscribition-search" v-if="searchUser">
                <input
                  @keyup="searchFollow"
                  v-model="followName"
                  :placeholder="this.$lang.variables.search"/>
              </div>
          </div>
          <div v-if="subscribePostCount === '1'">

            <div
              class="profile-subscribers-item"
              v-for="user in allSubscribers">

              <in-item-user
                v-if="authorId==authUserId"
                :user="user"
                button='disabled'/>

              <in-item-user
                v-else
                :user="user"
                letter='disabled'/>
            </div>
          </div>
          <div
            class="cube-container"
            v-else>
            <div
              class="item-user-cube"
              v-for="user in allSubscribers">
              <in-item-user-cube :user="user"/>
            </div>
          </div>
        </div>
      </div>
    </template>
    <div v-if="loading" id="SpinnerOnloadImg">
      <img src="https://media.inrating.top/images/Spinner.svg"/>
    </div>
  </div>
</template>
<script>
  import axios from 'axios';

  import Vue from 'vue'
  import {mapGetters} from 'vuex'

  import itemUser from 'ComponentsVue/itemuser/itemUser.vue'
  import itemUserCube from 'ComponentsVue/itemuser/itemUserCube.vue'
  import {scrollOnBottom} from "../../../mixins/scrollOnBottom";
  import {moduleName as countPostOnPageModule, SUBSCRIBE_POST_COUNT} from 'Store/modules/countPostOnPage';

  Vue.component('in-item-user-cube', itemUserCube);
  Vue.component('in-item-user', itemUser);
  export default {
    name: 'ProfileSubscribers',
    mixins: [scrollOnBottom],
    data() {
      return {
        allSubscribers: [],
        authUserId: '',
        authorId: '',
        subVue: true,
        lastPage: 1,
        nextPage: 2,
        loading: false,
        followName: '',
        searchUser: false,
        authUser: JSON.parse(localStorage.getItem('user')),
      }
    },
    watch: {
      bottom(bottom) {
        if (bottom && this.lastPage >= this.nextPage && !this.loading) {
          if (!this.searchUser) {
            this.addSub()
          }
        }
      },
    },
    computed: {
      ...mapGetters({
        subscribePostCount: countPostOnPageModule + SUBSCRIBE_POST_COUNT
      }),
      searchActive() {
        if (this.searchUser)
          return 'icon-search-f';
        else
          return 'icon-search';
      },
      getUserInfo() {
        return window.storeUser.getters.getUserInfo;
      },
      getUserPrivacy() {
        return window.storeUser.getters.getUserPrivacy;
      }
    },
    mounted() {
      window.storeUser.dispatch('LOAD_USER_INFO', {nickname: this.$route.params.nickname});
      this.authorId = this.$route.params.nickname;
      this.$root.$on('changeViewProfileSubs', () => {
        this.subVue = !this.subVue;
      });
      if (this.authorId === 'Miha') {
        this.$router.push('/u/Miha');
      }
      else {
        this.authUserId = JSON.parse(localStorage.getItem('user')).nickname;
        this.loadSub();
      }

    },
    methods: {
      changeMode() {
        this.searchUser = !this.searchUser;
        if (this.searchUser) {
          // this.searchFollow();
        } else {
          this.loadSub();
        }
      },
      loadSub() {
        this.allSubscribers = [];
        this.lastPage = 1;
        this.nextPage = 2;
        this.loading = true;
        this.authorId = this.$route.params.nickname;

        axios.get('v1/users/subscriptions/all?limit=20&nickname=' + this.authorId)
          .then(res => {
            this.allSubscribers = res.data.data;
            this.lastPage = res.data.meta.last_page;
            this.loading = false;
            this.bottom = false;
          })
          .catch(err => {
            this.loading = false;
          });
      },
      addSub() {
        let author_id = this.$route.params.nickname;
        this.loading = true;
        axios.get('v1/users/subscriptions/all?limit=20&nickname=' + author_id + '&page=' + this.nextPage)
          .then(res => {
            let api = res.data.data;
            let url = res.data.meta.current_page;
            this.allSubscribers = this.allSubscribers.concat(api);
            this.nextPage = url + 1;
            this.loading = false;
          })
      },
      searchFollow(event) {
        this.authorId = this.$route.params.nickname;
        this.loading = true;
        axios.get('v1/users/search?type=follow&query=' + event.target.value + '&user_nickname=' + this.authorId)
          .then(res => {
            this.allSubscribers = res.data.data;
            this.bottom = false;
            this.loading = false;
          })
        }
    }
  }
</script>
<style lang="less">
  @import '~LessStyle/userCabinet.less';

  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }

  .fade-enter, .fade-leave-to {
    opacity: 0;
  }

  .user-nickname {
    color: #585151;
  }

  #SpinnerOnloadImg {
    display: block;
    width: 35%;
    margin: auto;
  }
</style>
