<template>
  <div class="profile-container">
    <div class="mention-header">
      <h3>{{$lang.profile.marks}}</h3>
    </div>
    <div
      v-if="allPosts.length"
      :class="postCount"
      v-for="post in allPosts">
      <in-profile-postsolo :post='post'/>
    </div>
    <div v-else>
      Вас пока не отметили ни на одном посте
    </div>
  </div>
</template>
<script>
  import axios from 'axios';

  import Vue from 'vue'
  import {mapGetters} from 'vuex'

  import ProfilePostSolo from './ProfilePostSolo.vue'
  import {moduleName as countPostOnPageModule, PROFILE_POST_COUNT} from 'Store/modules/countPostOnPage';

  Vue.component('in-profile-postsolo', ProfilePostSolo);

  export default {
    name: 'ProfileMentions',
    data(){
      return {
        allPosts: [],
        postOutCountProfile: localStorage.getItem('postOutCountProfile'),
      }
    },
    computed: {
      ...mapGetters({
        profilePostCount: countPostOnPageModule + PROFILE_POST_COUNT
      }),
      postCount: function(){
        if(this.profilePostCount === '4')
          return 'prof-post profile-post';
        else if(this.profilePostCount === '2')
          return 'prof-post profile-post-big';
        else
          return 'prof-post profile-post-big';
      }
    },
    mounted(){
      this.$root.$on('changeViewProfile', (event) =>{
        this.postOutCountProfile = event;
        localStorage.setItem('postOutCountProfile', event);
      });
      let author_id = this.$route.params.nickname;
      axios.get('v1/me/posts/mentions/all?author_nickname=' + author_id)
        .then(res =>{
          this.allPosts = res.data.data;
        })
        .catch(err => console.log(err.response));
    },
  }
</script>
<style lang="less">

  @import '~LessStyle/variables.less';

  .profile-container{
    text-align: left;
  }


  .profile-post img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
  }

  .profile-post-big{
    position: relative;
    width: 49.4%;
    display: inline-block;
    margin-left: 2px;

  }

  .profile-post-big img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
  }

  .profile-post-big video{
    width: 100%;
    display: block;
    border-radius: 10px;
    background-color: #000;
  }

  .mention-header  {
    background: linear-gradient(to left top, #000fbc, #30c2be 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 100%;
    padding: 0 8px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    h3 {
      position: relative;
      left: -6px;
      font-weight: 400;
      margin: 0;
      .text-grad();
    }
  }
</style>
