<template>
  <div class="subscribers-container">

    <template v-if="getUserInfo && getUserPrivacy">
      <div v-if="getUserInfo.id === authUser.id">
        <div class="subscriber-header">
          <i
            :class="searchActive"
            @click="changeMode"></i>
          <h3 @click="changeTab('subscribers')">{{$lang.profile.subscribers}}</h3>
          <div class="requests">
            <h4 @click="changeTab('requests')">
              {{$lang.profile.requests}}
            </h4>
            <span
              v-if="allRequests.length > 0"
              class="count-requests">({{allRequests.length}})</span>
          </div>
          <!--<transition name="fade">-->
          <div class="subscribers-search" v-if="searchUser">
            <input
              @keyup="searchFollowers"
              v-model="followersName"
              type="text"
              :placeholder="this.$lang.variables.search"/>
          </div>
          <!--</transition>-->
        </div>
        <template v-if="activeTab === 'subscribers'">
          <div v-if="subscribePostCount === '1'">
            <div
              class="profile-subscribers-item"
              v-for="user in allSubscribers">
              <in-item-user
                :user="user"
                :is_subscribed="user.is_subscribed"
                letter='disabled'/>
            </div>
          </div>
          <div
            class="cube-container"
            v-else>
            <div
              class="item-user-cube"
              v-for="user in allSubscribers">
              <in-item-user-cube :user="user"/>
            </div>
          </div>
        </template>
        <template v-else>
          <div
            class="profile-requests"
            v-for="user in allRequests">

            <div class="item-block" :key="user.id">
              <div class="item-avatar ">
                <img :src="user.avatar_image.url_medium" @click="goToUser(user.nickname)">
              </div>
              <div class="item-info">
                <p
                  class="user-nickname"
                  v-text="user.nickname"></p>
                <div class="request-time">
                  <div>Отправил(ла) заявку</div>
                  <!--<in-time :time="gift.created_at_timestamp"/>-->
                  <!--<in-time :time="1410602939"/>-->
                </div>
                <p class="user-name">
                  <span v-text="user.name"></span>
                  <span v-text="user.lastname"></span>
                </p>
              </div>
              <div class="feed-button">
                <i class="icon-delete" @click="applyUser(user.id, 0, index)"></i>
                <i class="icon-check" @click="applyUser(user.id, 1, index)"></i>
              </div>
            </div>

          </div>
        </template>
      </div>
      <div v-else>
        <div v-if="getUserPrivacy.subscribers === 'none'"> {{$lang.profile.user_privacy_on}}</div>
        <div v-else-if="getUserPrivacy.subscribers === 'subs' && getUserInfo.is_subscribed">
          <div class="subscriber-header">
            <i :class="searchActive" @click="changeMode"></i>
            <h3>{{$lang.profile.subscribers}}</h3>
            <i
              @click="changeCube"
              class="icon-menu-4-1"></i>

            <div class="subscribers-search" v-if="searchUser">
              <input
                @keyup="searchFollowers"
                v-model="followersName"
                type="text"
                :placeholder="this.$lang.variables.search"/>
            </div>
          </div>
          <div v-if="subscribePostCount === '1'">
            <div
              class="profile-subscribers-item"
              v-for="user in allSubscribers">
              <in-item-user
                :user="user"
                :is_subscribed="user.is_subscribed"
                letter='disabled'/>
            </div>
          </div>
          <div
            class="cube-container"
            v-else>
            <div
              class="item-user-cube"
              v-for="user in allSubscribers">
              <in-item-user-cube :user="user"/>
            </div>
          </div>
        </div>
        <div v-else-if="getUserPrivacy.subscribers === 'all'">
          <div class="subscriber-header">
            <i :class="searchActive" @click="changeMode"></i>
            <h3>{{$lang.profile.subscribers}}</h3>
            <i
              @click="changeCube"
              class="icon-menu-4-1"></i>

            <div class="subscribers-search" v-if="searchUser">
              <input
                @keyup="searchFollowers"
                v-model="followersName"
                type="text"
                :placeholder="this.$lang.variables.search"/>
            </div>
          </div>
          <div v-if="subscribePostCount === '1'">
            <div
              class="profile-subscribers-item"
              v-for="user in allSubscribers">
              <in-item-user
                :user="user"
                :is_subscribed="user.is_subscribed"
                letter='disabled'/>
            </div>
          </div>
          <div
            class="cube-container"
            v-else>
            <div
              class="item-user-cube"
              v-for="user in allSubscribers">
              <in-item-user-cube :user="user"/>
            </div>
          </div>
        </div>
      </div>
    </template>
    <div v-if="loading" id="SpinnerOnloadImg">
      <img src="https://media.inrating.top/images/Spinner.svg"/>
    </div>
  </div>
</template>
<script>
  import axios from 'axios';

  import Vue from 'vue'
  import {mapGetters} from 'vuex'

  import itemUser from 'ComponentsVue/itemuser/itemUser.vue'
  import {scrollOnBottom} from "../../../mixins/scrollOnBottom";
  import Time from 'ComponentsVue/main/postfooter/comments/Time.vue'
  import {moduleName as countPostOnPageModule, SUBSCRIBE_POST_COUNT} from 'Store/modules/countPostOnPage';

  Vue.component('in-time', Time);
  Vue.component('in-item-user', itemUser);
  export default {
    name: 'ProfileSubscribers',
    mixins: [scrollOnBottom],
    data() {
      return {
        allSubscribers: [],
        allRequests: [],
        subVue: true,
        lastSubscribersPage: 1,
        nextSubscribersPage: 2,
        lastRequestsPage: 1,
        nextRequestsPage: 2,
        loading: false,
        activeTab: 'subscribers',
        searchUser: false,
        followersName: '',
        authorId: '',
        authUser: JSON.parse(localStorage.getItem('user')),
      }
    },
    watch: {
      bottom(bottom) {
        if (bottom && !this.loading) {
          if (this.activeTab === 'subscribers') {
            if (this.lastSubscribersPage >= this.nextSubscribersPage) {
              if (!this.searchUser) {
                this.addSub()
              }
            }
          } else if (this.activeTab === 'requests') {
            if (this.lastRequestsPage >= this.nextRequestsPage) {
              this.addRequests();
            }
          }
        }
      },
    },
    computed: {
      ...mapGetters({
        subscribePostCount: countPostOnPageModule + SUBSCRIBE_POST_COUNT
      }),
      searchActive() {
        if (this.searchUser)
          return 'icon-search-f';
        else
          return 'icon-search';
      },
      getUserInfo() {
        return window.storeUser.getters.getUserInfo;
      },
      getUserPrivacy() {
        return window.storeUser.getters.getUserPrivacy;
      }
    },
    mounted() {
      window.storeUser.dispatch('LOAD_USER_INFO', {nickname: this.$route.params.nickname});
      this.authorId = this.$route.params.nickname;
      // this.$root.$on('changeViewProfileSubs',()=>{
      //   this.subVue = !this.subVue;
      // });
      if (this.authorId === 'Miha') {
        this.$router.push('/u/Miha');
      }
      else {
        this.loadSub();
      }
      this.loadRequests();
    },
    methods: {
      goToUser(nickname) {
        this.$router.push('/u/' + nickname);
      },
      changeTab(type) {
        if (type === 'requests') {
          this.searchUser = false;
        }
        this.activeTab = type;
      },
      changeMode() {
        if (this.activeTab === 'subscribers') {
          this.searchUser = !this.searchUser;
          if (this.searchUser) {
            // this.searchFollowers();
          } else {
            this.loadSub();
          }
        }
      },
      changeCube() {
        this.subVue = !this.subVue;
      },
      loadSub() {
        this.allSubscribers = [];
        this.lastSubscribersPage = 1;
        this.nextSubscribersPage = 2;
        this.loading = true;
        this.authorId = this.$route.params.nickname;

        axios.get('v1/users/subscribers/all?nickname=' + this.authorId)
          .then(res => {
            this.allSubscribers = res.data.data;
            this.lastSubscribersPage = res.data.meta.last_page;
            this.loading = false;
            this.bottom = false;
          })
          .catch(err => {
            this.loading = false;
          });
      },
      addSub() {
        this.loading = true;
        axios.get('v1/users/subscribers/all?nickname=' + this.authorId + '&page=' + this.nextSubscribersPage)
          .then(res => {
            let api = res.data.data;
            this.allSubscribers = this.allSubscribers.concat(api);
            this.nextSubscribersPage = res.data.meta.current_page + 1;
            this.loading = false;
          })
      },
      loadRequests() {
        this.allRequests = [];
        this.loading = true;
        this.lastRequestsPage = 1;
        this.nextRequestsPage = 2;

        axios.get('v1/users/subscribers/requests/all')
          .then(res => {
            this.allRequests = res.data.data;
            this.lastRequestsPage = res.data.meta.last_page;
            this.loading = false;
            this.bottom = false;
          })
          .catch(err => {
            this.loading = false;
          });
      },
      addRequests() {
        this.loading = true;
        axios.get('v1/users/subscribers/requests/all?page=' + this.nextRequestsPage)
          .then(res => {
            let api = res.data.data;
            this.allRequests = this.allRequests.concat(api);
            this.nextRequestsPage = res.data.meta.current_page + 1;
            this.loading = false;
          })
      },
      applyUser(id, approve, index) {
        const data = new FormData();
        data.append('user_id', id);
        data.append('approve', approve);

        axios.post('v1/users/subscribers/requests/approve', data)
          .then(res => {
            if (res.data.state) {
              this.allRequests.splice(index, 1);
            }
          })
          .catch(err => {
            this.loading = false;
          });
      },
      searchFollowers(event) {
        this.allSubscribers = [];
        this.loading = true;
        axios.get('v1/users/search?type=followers&query=' + event.target.value + '&user_nickname=' + this.authorId)
          .then(res => {
            this.allSubscribers = res.data.data;
            this.loading = false;
            this.bottom = false;
          })
      }
    }
  }
</script>
<style lang="less">
  @import '~LessStyle/userCabinet.less';

  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }

  .fade-enter, .fade-leave-to {
    opacity: 0;
  }

  .user-nickname {
    color: #585151;
  }

  #SpinnerOnloadImg {
    display: block;
    width: 35%;
    margin: auto;
  }
</style>
