<template>
  <div class="profile-container">
    <div class="bookmarks-header"><h3>{{$lang.profile.bookmarks}}</h3></div>
    <div
      :class="postCount"
      v-for="post in allPosts"
      v-if="allPosts.length > 0">
      <in-profile-postsolo
        :post='post'
        :height="postHeight"/>
    </div>

    <div v-else>
      У Вас пока еще нет закладок
    </div>
    <div v-if="loading" id="SpinnerOnloadImg">
      <img src="https://media.inrating.top/images/Spinner.svg"/>
    </div>
  </div>
</template>
<script>
  import axios from 'axios';

  import Vue from 'vue'
  import {mapGetters} from 'vuex'

  import ProfilePostSolo from './ProfilePostSolo.vue'
  import {scrollOnBottom} from "../../../mixins/scrollOnBottom";
  import {moduleName as countPostOnPageModule, PROFILE_POST_COUNT} from 'Store/modules/countPostOnPage';

  Vue.component('in-profile-postsolo', ProfilePostSolo);

  export default {
    name: 'ProfileBookmarks',
    mixins: [scrollOnBottom],
    data(){
      return {
        allPosts: [],
        postOutCountProfile: localStorage.getItem('postOutCountProfile'),
        widthWindow: localStorage.getItem('clientWidth'),
        scrollPosition: 0,
        loading: false,
        lastPage: 1,
        nextPage: 2
      }
    },
    watch: {
      bottom(bottom){
        if(bottom && this.lastPage >= this.nextPage && !this.loading){
          this.addPost()
        }
      },
    },
    computed: {
      ...mapGetters({
        profilePostCount: countPostOnPageModule + PROFILE_POST_COUNT
      }),
      postCount: function(){
        if(this.profilePostCount === '4')
          return 'prof-post profile-post';
        else if(this.profilePostCount === '2')
          return 'prof-post profile-post-big';
        else
          return 'prof-post profile-post-big';
      }
    },
    mounted(){
      this.postHeight = this.postOutCountProfile * this.widthWindow * 0.25;
      this.$root.$on('changeViewProfile', (event) =>{
        this.postOutCountProfile = event;
        this.postHeight = this.postOutCountProfile * this.widthWindow * 0.25;
        localStorage.setItem('postOutCountProfile', event);

      });
      let author_id = this.$route.params.nickname;
      let post_type = this.$route.meta.type;
      this.loading = true;
      axios.get('v1/me/posts/bookmarks/all?limit=20&author_nickname=' + author_id)
      .then(res =>{
        this.allPosts = res.data.data;
        this.lastPage = res.data.meta.last_page;
        this.loading = false;
        this.bottom = false;
      })
      .catch(err => console.log(err.response));
    },
    methods: {
      addPost(){
        this.loading = true;
        let author_id = this.$route.params.nickname;
        axios.get('v1/me/posts/bookmarks/all?limit=20&author_nickname=' + author_id + '&page=' + this.nextPage)
        .then(res =>{
          let api = res.data.data;
          this.nextPage  = res.data.meta.current_page + 1;
          this.allPosts = this.allPosts.concat(api);
          this.loading = false;
        })
      },
    }
  }
</script>
<style lang="less">
  @import '~LessStyle/variables.less';

  #SpinnerOnloadImg{
    display: block;
    width: 35%;
    margin: auto;
  }

  .profile-container{
    text-align: left;

  }


  .profile-post img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
  }

  .profile-post-big{
    position: relative;
    width: 49.4%;
    display: inline-block;
    margin-left: 2px;
  }

  .profile-post-big img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
  }

  .profile-post-big video{
    width: 100%;
    display: block;
    border-radius: 10px;
    background-color: #000;
  }

  .bookmarks-header{
    width: 100%;
    color: #81d8d0;
    padding: 0 8px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    h3{
      position: relative;
      left: -6px;
      .text-grad();
      font-weight: 400;
      margin: 0;
    }
  }
</style>
