<template>
  <modal
    name="postSettings"
    width="95%"
    height="auto"
    classes="v--modal settings-modal">
    <p
      v-if="isSubscribe && user.id !== postAuthor.id"
      @click="unsubscribeToUser()"
      class="settings-item">
      {{$lang.variables.subscribed}}
    </p>
    <p
      v-else-if="!isSubscribe && user.id !== postAuthor.id"
      @click="subscribeToUser()"
      class="settings-item">
      {{$lang.variables.subscribe}}
    </p>
    <p
      v-if="user.id === postAuthor.id && isAvatar === false"
      class="settings-item"
      :class="{'last-item': isAvatar === true}">
      <router-link :to="'/edit-post/'+slug"> {{$lang.post.edit_post}}</router-link>
    </p>
    <p
      v-if="user.id === postAuthor.id && isAvatar === false"
      class="settings-item last-item">
      <span @click="deletePost()"> {{$lang.post.delete_post}} </span>
    </p>
    <p
      v-if="user.id !== postAuthor.id"
      @click="postReport()"
      class="settings-item last-item">
      {{$lang.post.complain}}
    </p>
    <p
      @click="closeSettings()"
      class="settings-item settings-close">
      {{$lang.post.cancel}}
    </p>
  </modal>
</template>

<script>
  import axios from 'axios';
  import {mapActions} from 'vuex';

  import {DELETE_POST, moduleName as usersProfilePosts} from "Store/modules/users/usersProfilePosts";
  import Share from 'JsLib/social-link'

  export default {
    props: ['user'],
    data() {
      return {
        postAuthor: {},
        subscribe: '',
        slug: '',
        id: '',
        isAvatar: 'false',
        title: '',
        site_link: '',
      }
    },
    mounted() {
      this.$root.$on('postAuthor', (event, slug, id, isAvatar, title, site_link) => {
        this.postAuthor = event;
        this.subscribe = event.is_subscribed;
        this.slug = slug;
        this.id = id;
        this.isAvatar = isAvatar;
        this.title = title;
        this.site_link = site_link;
      });

    },

    computed: {
      isSubscribe: function () {
        return this.subscribe
      }
    },
    methods: {
      ...mapActions({
        deletePostAction: usersProfilePosts + DELETE_POST
      }),
      closeSettings() {
        this.$modal.hide('postSettings');
      },
      subscribeToUser() {
        axios.get('v1/users/subscribe?id=' + this.postAuthor.id)
          .then(res => {
            this.subscribe = true;
          })
          .catch(err => {
            if (err.response.data.errorInfo.errorCode === 1000)
              this.$notify({
                group: 'guest-template',
                duration: 3000,
                speed: 300,
              });
          })
      },
      unsubscribeToUser() {
        axios.get('v1/users/subscribe?id=' + this.postAuthor.id + '&delete=true')
          .then(res => {
            this.subscribe = false;
          })
      },
      deletePost() {
        if (this.$route.params.group_slug) {
          let data = new FormData();
          data.append('group_slug', this.$route.params.group_slug);
          data.append('post_id', this.id);
          axios.post('v1/groups/posts/delete', data)
            .then(res => {
              window.location.reload();
            });
        }
        else {
          console.log(this.postAuthor);
          const payload = {
            nickname: this.postAuthor.nickname,
            id: this.id,
            onSuccess: this.onSuccessDeletePost
          };

          this.deletePostAction(payload);
        }
      },
      onSuccessDeletePost() {
        if (this.$route.fullPath.indexOf('/p/') !== -1) {
          history.go(-1);
        } else {
          window.location.reload();
        }
      },
      postReport() {
        axios.get('v1/users/posts/report?id=' + this.id)
          .then(res => {
            if (this.$route.params.slug)
              history.go(-1);
            else
              window.location.reload();
          })
      },
      copyLink(id) {
        let text = host + '/p/' + id;
        this.copyToClipboard(this.$refs.copyLink, text);
        this.$notify({
          group: 'copy-link',
          duration: 3000,
          speed: 300,
        });
      },
      copyToClipboard(block, text) {
        let temp = document.createElement('input');
        temp.setAttribute('id', 'link');
        block.appendChild(temp);
        document.getElementById('link').value = text;
        let input = document.getElementById('link');
        input.focus();
        input.setSelectionRange(0, 99999);
        document.execCommand('copy');
        document.getElementById('link').remove();
      },
      shareSocial(_name) {


        let Social = new Share(
          this.site_link,
          this.title,
        );

        if (_name === 'facebook') {
          Social.facebook()
        } else if (_name === 'twitter') {
          Social.twitter()
        }
      },
    }
  }
</script>

<style>
  .settings-modal {
    top: 70vh !important;
  }
</style>
