<template>
  <div id="app" :class="{'app-login': checkLoginPage}">
    <template >
      <in-header/>
      <router-view />
      <in-footer/>
    </template>
    <in-regestationstep1-modal/>
    <in-registrationstep-two/>
    <notifications
      group="guest-template"
      :duration="5000"
      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          <b class="title">
            {{$lang.notifications.you_are_guest}}
          </b>
          <p>
            <button
              @click="goToLogin()"
              class="notification-button">
              {{$lang.notifications.login}}
            </button>
          </p>
        </div>
      </template>
    </notifications>
    <notifications
      group="validating-template"
      :duration="5000"
      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          <b class="title">
            {{$lang.notifications.you_are_validating}}
          </b>
          <p>
            <button
              @click="goToSecondForm()"
              class="notification-button">
              {{$lang.notifications.fill}}
            </button>
          </p>
        </div>
      </template>
    </notifications>
    <notifications
      group="send-present"
      :duration="5000"
      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          <b class="title">
            {{$lang.notifications.send_present}}
          </b>

        </div>
      </template>
    </notifications>
    <notifications
      group="register-success"
      :duration="5000"
      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          <b class="title">
            {{$lang.notifications.register_success}}
          </b>
          <p>

            {{$lang.notifications.go_to_email}}

          </p>
        </div>
      </template>
    </notifications>
    <notifications
      group="chin-chin"
      :duration="5000"
      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          <b class="title">
            {{props.item.title}}
          </b>

        </div>
      </template>
    </notifications>
    <notifications
      group="write-to-you"
      :duration="5000"
      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          <b class="title">
            {{$lang.notifications.cant_write}}
          </b>

        </div>
      </template>
    </notifications>
    <notifications
      group="add-story"
      :duration="5000"
      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          <b class="title">
            {{$lang.notifications.storry_add}}
          </b>
        </div>
      </template>
    </notifications>
    <notifications
      group="change-profile"
      :duration="5000"
      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          <b class="title">
            {{$lang.notifications.save_change}}
          </b>
        </div>
      </template>
    </notifications>
    <notifications
      group="cant-toyou"
      :duration="5000"
      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          <b class="title">
            You cant do this to yourself
          </b>
        </div>
      </template>
    </notifications>
    <notifications
      group="cant-sent-incoins-yourself"
      :duration="3000"
      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          <b class="title">
            {{$lang.notifications.cant_send_incoins_yourself}}
          </b>
        </div>
      </template>
    </notifications>
    <notifications
      group="nophone"
      :duration="5000"
      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          <p class="title">
            {{$lang.variables.nophone}}
          </p>
          <button class="notification-button">
            {{$lang.notifications.cancel}}
          </button>
          <button
            @click="phoneSend()"
            class="notification-button">
            {{$lang.notifications.confirm}}
          </button>
        </div>
      </template>
    </notifications>
    <notifications
      group="phone-reg"
      :duration="5000"
      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          {{$lang.registration.phone_take}}
        </div>
      </template>
    </notifications>
    <notifications
      group="phone-incorrect"
      :duration="5000"
      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          Некорректный номер телефона
        </div>
      </template>
    </notifications>
    <notifications
      group="nickname-reg"
      :duration="5000"
      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          Данный никнейм уже занят
        </div>
      </template>
    </notifications>
    <notifications
      group="nickname-reg"
      :duration="5000"
      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          {{$lang.registration.nickname_take}}
        </div>
      </template>
    </notifications>
    <notifications
      group="require-fields"
      :duration="5000"
      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          {{$lang.registration.require_fields}}
        </div>
      </template>
    </notifications>
    <notifications
      group="send-name"
      :duration="5000"
      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          <b class="title">
            {{$lang.registration.incorrect_name}}
          </b>
        </div>
      </template>
    </notifications>
    <notifications
      group="send-pass"
      :duration="5000"
      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          <b class="title">
            {{$lang.registration.incorrect_password}}
          </b>
        </div>
      </template>
    </notifications>
    <notifications
      group="send-nickname"
      :duration="5000"
      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          <b class="title">
            {{$lang.registration.incorrect_nickname}}
          </b>
        </div>
      </template>
    </notifications>
    <notifications
      group="send-avatar"
      :duration="5000"
      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          <b class="title">
            {{$lang.registration.incorrect_avatar}}
          </b>
        </div>
      </template>
    </notifications>
    <notifications
      group="bad-login"
      :duration="5000"
      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          <b class="title">
            {{$lang.notifications.bad_login}}
          </b>
        </div>
      </template>
    </notifications>
    <notifications
      group="post-add"
      :duration="5000"
      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          <b class="title">
            {{$lang.notifications.post_add}}
          </b>
        </div>
      </template>
    </notifications>
    <notifications
      group="add-rait"
      :duration="5000"
      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          <b class="title">
            {{$lang.notifications.add_rait}}
          </b>
        </div>
      </template>
    </notifications>
    <notifications
      group="gift-send"
      :duration="5000"
      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          <b class="title">
            Подарок отправлен
          </b>
        </div>
      </template>
    </notifications>
    <notifications
      group="money-send"
      :duration="5000"
      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          <b class="title">
            INCoins отправлен
          </b>
        </div>
      </template>
    </notifications>
    <notifications
      group="notactive-contest"
      :duration="3000"

      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          <b class="title">
            Конкурс не активен
          </b>
        </div>
      </template>
    </notifications>
    <notifications
      group="notstart-contest"
      :duration="3000"

      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          <b class="title">
            Данный конкурс не активный вы не можете голосовать
          </b>
        </div>
      </template>
    </notifications>
    <notifications
      group="not-active-contest-user"
      :duration="3000"
      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          <b class="title">
            Данный пользователь не активный вы не можете голосовать
          </b>
        </div>
      </template>
    </notifications>
    <notifications
      group="change-pass"
      :duration="5000"
      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          <b class="title">
            Пароль изменен
          </b>
        </div>
      </template>
    </notifications>
    <notifications
      group="cant-add-rait"
      :duration="5000"
      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          <b class="title">
            {{props.item.text}}
          </b>
        </div>
      </template>
    </notifications>
    <notifications
      group="wrong-email"
      :duration="5000"
      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          <b class="title">
            {{$lang.notifications.wrong_email}}
          </b>
        </div>
      </template>
    </notifications>
    <notifications
      group="empty-chat-message"
      :duration="5000"
      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          <b class="title">
            Нельзя отправить пустое сообщение
          </b>
        </div>
      </template>
    </notifications>
    <notifications
      group="wrong-phone"
      :duration="5000"
      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          <b class="title">
            {{$lang.notifications.wrong_phone}}
          </b>
        </div>
      </template>
    </notifications>
    <notifications
      group="wrong-phone-code"
      :duration="5000"
      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          <b class="title">
            Wrong SMS code
          </b>
        </div>
      </template>
    </notifications>
    <notifications
      group="invalid-phone"
      :duration="5000"
      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          <b class="title">
            {{$lang.notifications.invalid_phone}}
          </b>
        </div>
      </template>
    </notifications>
    <notifications
      group="already-vote"
      :duration="5000"
      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          <b class="title">
            Вы уже проголосовали сегодня! Следующее голосование за данного пользователя будет доступно через сутки
          </b>
        </div>
      </template>
    </notifications>
    <notifications
      group="not-enough-money"
      :duration="3000"
      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          <b class="title">
            Недостаточно монет. Перейдите в магазин для покупки монет.
          </b>
        </div>
      </template>
    </notifications>
    <notifications
      group="vote-coins-member"
      :duration="3000"
      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          <b class="title">
            {{props.item.text}}
          </b>
        </div>
      </template>
    </notifications>
    <notifications
      group="not-users"
      :duration="3000"
      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          <b class="title">
            Добавьте пользователей
          </b>
        </div>
      </template>
    </notifications>
    <notifications
      group="copy-link"
      :duration="3000"
      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          <b class="title">
            {{$lang.notifications.copylink}}
          </b>
        </div>
      </template>
    </notifications>


    <notifications
      group="one-more-gift"
      :duration="3000"
      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          <b class="title">
            У Вас есть активный подарок. Принять другой подарок можно после окончания действия текущего подарка
          </b>
        </div>
      </template>
    </notifications>

    <notifications
      group="action-error"
      :duration="3000"
      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          <b class="title">
            Во время данного действия произошла ошибка
          </b>
        </div>
      </template>
    </notifications>

    <notifications
      group="app-not-available"
      :duration="3000"
      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          <b class="title">
            Приложение будет доступно в ближайшее время
          </b>
        </div>
      </template>
    </notifications>

    <notifications
      group="subscribe-to-group"
      :duration="3000"
      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          <b class="title">
            Вы вступили в группу
          </b>
        </div>
      </template>
    </notifications>

    <notifications
      group="go-to-group"
      :duration="3000"
      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          <b class="title">
            Вы подали заявку в группу
          </b>
        </div>
      </template>
    </notifications>


    <notifications
      group="chat-privacy-subscribe"
      :duration="3000"
      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          <b class="title">
            {{$lang.notifications.chat_privacy_subscribe}}
          </b>
        </div>
      </template>
    </notifications>
    <notifications
      group="chat-privacy-none"
      :duration="3000"
      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          <b class="title">
            {{$lang.notifications.chat_privacy_none}}
          </b>
        </div>
      </template>
    </notifications>
    <notifications
      group="not-allfields-group"
      :duration="3000"
      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          <b class="title">
            {{$lang.notifications.not_all_group_fields}}
          </b>
        </div>
      </template>
    </notifications>
    <notifications
      group="not-is-now"
      :duration="3000"
      width='100%'
      animation-name="v-fade-left"
      position="top left">
      <template
        slot="body"
        scope="props">
        <div class="notification-guest">
          <b class="title">
            {{$lang.notifications.not_is_now}}
          </b>
        </div>
      </template>
    </notifications>
    <modal
      name="bannedUserModal"
      width="90%"
      classes=" v--modal banned-user-modal"
      :scrollable="true"
      height="auto">

      <div>
        <h3>Вы были заблокированы администратором</h3>
        <p>Cвяжитесь с нами по почте: <br>
          <a href="email:info@inrating.club">info@inrating.club</a>
          <br> Для того что бы уточнить причину банна.
        </p>
      </div>

    </modal>
    <modal
      name="bannedUserAvatarModal"
      width="90%"
      classes=" v--modal banned-user-modal"
      :scrollable="true"
      height="auto">
      <div>
        <h3>Ваш профиль заблокирован</h3>
        <p>Аватар должен содержать лицо собственника аккаунта (п.2 правил InRating). </p>
        <p @click="goToChangeProfile()">
          <router-link to="#">Сменить аватар</router-link>
        </p>
      </div>
    </modal>
    <!--<modal-->
      <!--name="editProfileForMoney"-->
      <!--width="90%"-->
      <!--classes=" v&#45;&#45;modal notify-user"-->
      <!--height="auto">-->
      <!--<div class="notify-user-modal">-->
        <!--<h3 class="notify-modal-title">Дозаполни личный профиль и получи + {{extraSum}}-->
          <!--<img src="https://media.inrating.top/storage/img/default/R-coin.png" class="coins-vote-blockimg">-->
          <!--INC</h3>-->
        <!--<p @click="goToChangeProfile()">Заполнить</p>-->
        <!--<p @click="notShowModal('editProfileForMoney')">{{$lang.modaltext.do_not_show_again}}</p>-->
        <!--<p @click="hideModal('editProfileForMoney')">{{$lang.modaltext.later}}</p>-->
      <!--</div>-->
    <!--</modal>-->
    <div
      v-if="showEditProfileModal"
      class="bg-modal"
      @click="hideEditProfile">
      <div class="bg-modal-center notify-user-modal">
        <h3 class="notify-modal-title">Дозаполни личный профиль и получи + {{extraSum}}
          <img src="https://media.inrating.top/storage/img/default/R-coin.png" class="coins-vote-blockimg">
          INC</h3>
        <p @click="goToChangeProfile()">Заполнить</p>
        <p @click="notShowModal('editProfileForMoney')">{{$lang.modaltext.do_not_show_again}}</p>
        <p @click="hideModal('editProfileForMoney')">{{$lang.modaltext.later}}</p>
      </div>
    </div>
    <!--<modal-->
      <!--name="googlePlay"-->
      <!--width="90%"-->
      <!--classes=" v&#45;&#45;modal notify-user"-->
      <!--height="auto">-->
      <!--<div class="notify-user-modal">-->
        <!--<h3 class="notify-modal-title">{{$lang.modaltext.app_exist}}</h3>-->
        <!--<div class="img-google-play">-->
          <!--<img src="https://media.inrating.top/storage/img/default/banner_android_app.jpg" alt="">-->
        <!--</div>-->
        <!--<p>-->
          <!--<a href="https://play.google.com/store/apps/details?id=com.inrating.android">{{$lang.modaltext.install}}</a>-->
        <!--</p>-->
        <!--<p @click="notShowModal('googlePlay')">{{$lang.modaltext.do_not_show_again}}</p>-->
        <!--<p @click="hideModal('googlePlay')">{{$lang.modaltext.later}}</p>-->
      <!--</div>-->
    <!--</modal>-->
    <div
      v-if="showGooglePlay"
      class="bg-modal"
      @click="hideAppOnGooglePlayModal">
      <div class="bg-modal-center notify-user-modal">
        <h3 class="notify-modal-title">{{$lang.modaltext.app_exist}}</h3>
        <div class="img-google-play">
          <img src="https://media.inrating.top/storage/img/default/banner_android_app.jpg" alt="">
        </div>
        <p>
          <a href="https://play.google.com/store/apps/details?id=com.inrating.android">{{$lang.modaltext.install}}</a>
        </p>
        <p @click="notShowModal('googlePlay')">{{$lang.modaltext.do_not_show_again}}</p>
        <p @click="hideModal('googlePlay')">{{$lang.modaltext.later}}</p>
      </div>
    </div>
    <in-post-modal-present
      :keeperId="giftUserSendId"
      :keeperNickname="giftUserSendNickname"/>
    <in-phone-send/>
    <in-phone-confirm/>
    <modal
      name="repostModal"
      width="100%"
      classes=" v--modal "
      :scrollable="true"
      height="100%">

      <div class="repost-block">
        <h3 class="repost-title">
          <span
            @click="closeRepost()"
            class="close-repost"><i class="icon-left-f"></i></span>
          {{$lang.repost.repost_from}} {{this.repostNickname}}
        </h3>
        <carousel
          :perPage=1
          :paginationEnabled="true"
          paginationActiveColor="rgba(90, 198, 197, 1);"
          paginationColor="rgba(90, 198, 197, 0.33);"
          :paginationPadding="5">
          <slide
            class="video-block"
            v-for="(element,index) in finalArray"
            :key="index">
            <div v-if="element.type=='img'">
              <img :src="element.body.url_medium"/>
              <in-mention-block :image="element.body"/>
            </div>
            <div v-if="element.type=='video'">
              <video
                :src="element.body.url"
                v-bind:style="{'height':widthWindow+'px'}"
                ref="videoBlock"
                muted
                loop
                v-on:click="playVideo(index)"></video>
              <div
                class="post-type--play"
                ref="playButton"
                v-on:click="playVideo(index)">
                <img src="https://media.inrating.top/storage/img/default/Play.png">
              </div>
              <div
                class="post-type--muted"
                v-on:click="muteVideo(index)">
                <i
                  ref="muteButton"
                  class="icon-mute"></i>
              </div>
            </div>
          </slide>
        </carousel>
        <p
          class="repost-post-title"
          v-text="repostPost.title"></p>
        <div class="post-intags">
          <span
            v-for="(intag,i) in repostPost.intags"
            v-text="'^^'+intag.name"
            :key="i"></span>
        </div>
        <textarea
          class="text-repost-teaxtarea"
          id="repost-text-body"
          :placeholder="$lang.repost.sign_the_post"></textarea>
        <div>
          <input
            class="repost-intag"
            type="text"
            id="input-intag"
            :placeholder="$lang.repost.enter_the"
            v-on:keyup.enter="addIntag()">
          <ul id="intagList">
            <li
              class="intagList-item"
              v-for="(intag, index) in intagArray"
              :key="index">
              <span v-text="'^^'+intag"></span>
              <i
                @click="deleteIntag(index)"
                class="icon-delete-f"></i>
            </li>
          </ul>
        </div>
        <button @click="makeRepost()">{{$lang.groups.create}}</button>
      </div>

    </modal>
    <modal
      name="notEnoughMoneyContest"
      width="90%"
      classes=" v--modal"
      height="auto">
      <div class="not-enough-money">
        <p>У Вас недостаточно средств в кошельке </p>
        <button
          class="button success"><a href="/buy?wallet=true">Перейти</a></button>
      </div>
    </modal>
    <div
      v-if="!loaded"
      class="spinner-bg">
      <img id="SpinnerPreload"
           class="spinner-svg"
           src="https://media.inrating.top/images/Spinner.svg"/>
    </div>
    <in-socket-io></in-socket-io>
  </div>
</template>
<script>
  import axios from 'axios';

  import Vue from 'vue'
  import Header from './components/Header.vue'
  import Footer from './components/Footer.vue'
  import RegistretionStep1 from 'ComponentsVue/modal/registrationModalStep1.vue'
  import presentsModal from 'ComponentsVue/modal/postPresentsModal.vue'
  import registrationTwo from 'ComponentsVue/modal/registrationModalStep2'
  import phoneSend from 'ComponentsVue/modal/phoneSend'
  import phoneConfirm from 'ComponentsVue/modal/phoneConfirm'
  import SpinnerBG from 'ComponentsVue/UI/SpinnerBG'
  import event from 'JsLib/emit'
  import inSocketIo from 'ComponentsVue/Socket'
  import {mapActions, mapGetters} from 'vuex';

  import {INITIAL_LOADING, moduleName as countPostOnPageModule} from "Store/modules/countPostOnPage";
  import {ADD_LOADED, FETCH_CURRENT_USER, LOADED, moduleName as userModule} from "Store/modules/authUser/user";
  import {FETCH_MAIN_POSTS, moduleName as mainPostsModule} from "Store/modules/mainPosts";
  import setAuthorizationHeader from 'utils/setAuthorizationHeader';
  import Spinner from 'ComponentsVue/UI/Spinner';

  Vue.component('in-spinner', Spinner);
  Vue.component('in-spinner-bg',SpinnerBG);
  Vue.component('in-phone-confirm', phoneConfirm);
  Vue.component('in-phone-send', phoneSend);
  Vue.component('in-registrationstep-two', registrationTwo);
  Vue.component('in-header', Header);
  Vue.component('in-footer', Footer);
  Vue.component('in-post-modal-present', presentsModal);
  Vue.component('in-regestationstep1-modal', RegistretionStep1);
  Vue.component('in-socket-io', inSocketIo);

  //Vue.component('in-content',UserProfile);

  export default {
    name: 'app',
    data() {
      return {
        giftUserSendId: {},
        giftUserSendNickname: '',
        repostPost: {},
        intagArray: [],
        finalArray: [],
        repostNickname: '',
        historyLength: '',
        extraFields: [],
        extraSum: 0,
        loading: false,
        showGooglePlay: false,
        showEditProfileModal: false
      }
    },
    computed: {
      ...mapGetters({
        loaded: userModule + LOADED
      }),
      checkLoginPage() {
        return this.$route.fullPath === '/login' || this.$route.fullPath === '/registration' || this.$route.fullPath === '/reset-password';
      },
      checkNotUserPage() {
        return this.$route.fullPath === '/login'
          || this.$route.fullPath === '/registration'
          || this.$route.fullPath === '/reset-password'
          || this.$route.fullPath === '/public-offer-and-confidentiality'
          || this.$route.fullPath === '/rule-page';
      }
    },
    watch: {
      '$route'(to, from) {
        if((from.path.includes('/p/') && to.path.includes('/u/')) ||
          to.path === '/' ||
          (from.path === '/rating' && to.path === '/rating') ||
          (from.path.includes('/p/') && to.path.includes('/u/')) ||
          (from.path.includes('/contest/') && to.path.includes('/contest/'))
        ) {

        } else {
          // document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        }

        if (to.path !== from.path) {
          this.historyLength++;
          if (this.historyLength % 200 === 0 && this.extraFields.length && !localStorage.getItem('editProfileForMoney')) {
            this.showUpdateProfileModal();
          }

          if (this.historyLength % 99 === 0 && !localStorage.getItem('googlePlay')) {
            this.showAppOnGooglePlayModal();
          }
        }
      }
    },
    created() {
      this.loadPostCount();
    },
    mounted() {
      let contest_redirect = this.$route.path.split('/');

      if (contest_redirect[1] === 'rating' && contest_redirect[2] === 'contest') {
        if (contest_redirect[contest_redirect.length - 1] !== 'contest')
          this.$router.push('/contest/' + contest_redirect[contest_redirect.length - 1])
        else
          this.$router.push('/contests');
      }
      localStorage.setItem('clientWidth', window.innerWidth);


      this.getBonusField();
      this.historyLength = history.length;
      event.$on('bannedUser', () => {
        this.$modal.show('bannedUserModal');
      });
      event.$on('bannedUserAvatar', () => {
        this.$modal.show('bannedUserAvatarModal');
      });
      event.$on('noChatUser', () => {
        this.$notify({
          group: 'nophone',
          duration: 3000,
          speed: 300,
        });
      });
      event.$on('guestUser', () => {
        this.$notify({
          group: 'guest-template',
          duration: 2000,
          speed: 500,
        });
      });
      if (this.$route.path === '/rating/contest/kpi_queen_2018') {
        this.$router.push('/contest/kpi_queen_2018')
      }

      this.checkUser();

      this.$root.$on('postModalPresent', (event) => {
        this.giftUserSendId = event;
      });
      this.$root.$on('postModalPresentNickname', (event) => {
        this.giftUserSendNickname = event;
      });
      this.$root.$on('postModalRepost', (event) => {
        this.showRepost(event);
      });
    },
    methods: {
      ...mapActions({
        loadPostCount: countPostOnPageModule + INITIAL_LOADING,
        fetchCurrentUser: userModule + FETCH_CURRENT_USER,
        addLoaded: userModule + ADD_LOADED,
        fetchMainPosts: mainPostsModule + FETCH_MAIN_POSTS
      }),
      checkUser() {
        let token = localStorage.getItem('token');
        const payload = {onSuccess: this.onSuccess, onFail: this.onFail};

        if (token) {
          this.fetchCurrentUser(payload);
        } else if (!token) {
          if (this.checkNotUserPage) {
            this.addLoaded();
          } else {
            let userLang = localStorage.getItem('lang');
            if (!userLang) userLang = 'en';
            axios.get('v1/guest/get?lang=' + userLang)
              .then(res => {
                  let requestTokenData = {
                    client_id: 2,
                    client_secret: '0123456789987654321',
                    grant_type: 'password',
                    username: res.data.nickname,
                    password: res.data.nickname,
                  };
                  axios.post('oauth/token', requestTokenData)
                    .then(res => {
                      let token = res.data.access_token;
                      localStorage.setItem('token', token);

                      setAuthorizationHeader(token);
                      this.fetchCurrentUser(payload);
                    })
                    .catch(err => console.log(err));
                }
              )
              .catch(err => console.log(err));
          }
        }
      },
      onSuccess() {
        this.fetchMainPosts();
        this.$root.$emit('getGuestToken');
      },
      onFail() {
        this.$router.push('/login');
      },
      notShowModal(modalName) {
        localStorage.setItem(modalName, 'true');
        this.hideModal(modalName);
      },
      hideModal(modalName) {
        this.$modal.hide(modalName);
      },
      getBonusField() {
        if (JSON.parse(localStorage.getItem('user'))) {
          axios.get('v1/me/settings/bonus-fields')
            .then(res => {

              this.extraFields = res.data;
              this.extraFields.map((item) => {
                this.extraSum = this.extraSum + item.coins;
              })
            });
        }
      },
      addIntag() {
        let inputIntag = document.getElementById('input-intag').value;
        let toAdd = this.intagArray.indexOf(inputIntag);
        if (toAdd === -1) {
          let inHeaders = inputIntag.indexOf('^^');
          if (inHeaders === 0) {
            inputIntag = inputIntag.substring(2);
          }
          this.intagArray.push(inputIntag);
        }
        document.getElementById('input-intag').value = '';
      },
      deleteIntag(i) {
        this.intagArray.splice(i, 1);
      },
      goToLogin() {
        this.$router.push('/login');
        this.$notify({
          group: 'guest-template',
          clean: true
        })
      },
      goToSecondForm() {
        this.$router.push('/continue-register');
        this.$notify({
          group: 'validating-template',
          clean: true
        })
      },
      showRepost(id) {
        this.finalArray = [];
        axios.get('v1/users/posts/get?id=' + id)
          .then(res => {
            this.repostPost = res.data;
            this.repostNickname = this.repostPost.author.nickname;
            for (let i = 0; i < this.repostPost.attachments_order.length; i++) {
              if (this.repostPost.attachments_order[i].type === 'image') {
                for (let j = 0; j < this.repostPost.attachments.images.length; j++) {
                  if (this.repostPost.attachments_order[i].id === this.repostPost.attachments.images[j].id)
                    this.finalArray.push({
                        type: 'img',
                        body: this.repostPost.attachments.images[j],
                      }
                    );
                }
              }
              else if (this.repostPost.attachments_order[i].type === 'video') {
                for (let j = 0; j < this.post.videos.length; j++) {
                  if (this.repostPost.attachments_order[i].id === this.repostPost.attachments.videos[j].id)
                    this.finalArray.push({
                        type: 'video',
                        body: this.repostPost.attachments.videos[j],
                      }
                    );
                }
              }
            }
          })
      },
      closeRepost() {
        this.$modal.hide('repostModal');
      },
      makeRepost() {
        let title = document.getElementById('repost-text-body').value;
        let intags = JSON.stringify(this.intagArray);
        let id = this.repostPost.id;
        let params = {
          id: id,
          title: title,
          intags: intags,
        };
        axios.post('v1/users/posts/repost', params)
          .then(res => {
            this.$modal.hide('repostModal');
            window.location.reload();
          })
      },
      phoneSend() {
        this.$modal.show('modalPhoneSend');
        this.$notify({
          group: 'nophone',
          clean: true
        })
      },
      goToChangeProfile() {
        this.$modal.hide('bannedUserAvatarModal');
        this.$modal.hide('editProfileForMoney');
        this.$router.push('/setting/user');
      },
      showUpdateProfileModal() {
        // this.$modal.show('editProfileForMoney');
        this.showEditProfileModal = true;
      },
      showAppOnGooglePlayModal() {
        // this.$modal.show('googlePlay');
        this.showGooglePlay = true;
      },
      hideAppOnGooglePlayModal() {
        this.showGooglePlay = false;
      },
      hideEditProfile() {
        this.showEditProfileModal = false;
      }

    }
  }

</script>

<style lang="less">
  @import '~LessStyle/variables.less';
  @import '~LessStyle/notifications.less';
  @import '~LessStyle/postaddtext.less';
  @import '~LessStyle/style.less';

  body {
    max-width: 1200px;
    margin: 0 auto;
    word-wrap: break-word;
  }

  #header {
    max-width: 1200px;
    margin: 0 auto !important;
  }

  #footer {
    max-width: 1200px;
    margin: 0 auto !important;
  }

  .repost-block {
    width: 100%;
    height: 90vh;
    overflow-y: scroll;
    text-align: center;
  }

  .bg-modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);

    &-center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      height: auto;
      z-index: 1000;
      background: #fff;
      border-radius: 10px;
      box-shadow: 0 20px 60px -2px rgba(27, 33, 58, 0.4);;
    }
  }
  .close-repost {
    position: absolute;
    left: 10px;
  }

  .repost-title {
    color: @contest-list-text-color;
  }
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 43px;
    padding-bottom: 70px;
  }

  .app-login {
    margin: 0 !important;
    padding: 0 !important;
  }

  *:focus {
    outline: none;
  }

  h1, h2 {
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: @contest-list-text-color;
    text-decoration: none;
  }

  #SpinnerPreload {
    display: block;
  }

  .spinner-bg {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1555;
    /*background: rgba(0, 0, 0, 0.2);*/
    background: #f4f4f4;

    .spinner-svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 35%;
    }
  }

  /*.spinner-svg{*/
  /*position: absolute;*/
  /*top: 25%;*/
  /*left: 10%;*/
  /*width: 78%;*/
  /*margin: auto;*/
  /*}*/

  .banned-user-modal {
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
  }

  .notify-user {
    border-radius: 10px;
  }

  .notify-user-modal {
    text-align: center;

    p {
      padding: 15px 0;
      margin: 0 5px;
      border-top: 1px solid #ccc;
      color: @contest-list-text-color;
    }
  }

  .img-google-play {
    border-radius: 10px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .notify-modal-title {
    padding: 15px 30px;
    margin: 0 auto;
    font-size: 4.3vw;

    .coins-vote-blockimg {
      width: 18px;
      position: relative;
      top: 2px;
    }
  }

  .not-enough-money {
    text-align: center;
    padding: 20px 0px;
  }
</style>
