<template>
  <div id="groupCreate">
    <div class="modal-title">
      <i @click="goBack" class="icon-left-f go-back"></i>
      {{$lang.groups.create}}
    </div>
    <div class="group-create--header">
      <div :class="makeEvent" @click="changeType('event')">
        {{$lang.groups.event_create}}
      </div>
      <div :class="makeGroup" @click="changeType('group')">
        {{$lang.groups.group_create}}
      </div>
      <div :class="makeCommunity" @click="changeType('community')">
        {{$lang.groups.community_create}}
      </div>
    </div>
    <div class="group-previewimg">
      <img class="group-bannerimg" :src="dataUrlBanner"/>
      <img :class="logoImgChange" :src="dataUrlLogo"/>
    </div>
    <div class="group-createfields">
      <div class="group-photos">
        <button @click="groupLogoOpen" class="action-post-button">
          {{$lang.groups.choose_avatar}}
        </button>

        <button @click="groupBannerOpen" class="action-post-button">
          {{$lang.groups.choose_banner}}
        </button>

      </div>

      <div class=" group-name">
        <input class="group-input--item" type="text" :placeholder="$lang.groups.name" v-model="groupName">
      </div>
      <p class="group-create-title">{{$lang.groups.theme}}</p>
      <div class=" group-subj">

        <template v-for="subject in groupSubjects">
          <div class="status-item" @click="groupTheme = subject.id">
              <span>
                 <in-contestdot :vote="groupTheme" :string="subject.id"></in-contestdot>

                  <p>{{subject.value}}</p>
              </span>
          </div>
        </template>
      </div>
      <div class="group-location">
        <input type="text" class="modal-location group-input--item" v-on:click="googleAutoComplete()"
               v-model="groupLocation"
               :placeholder="$lang.groups.location"
               id="place"
               name="place"/>
        <input type="hidden" name="placeId" v-model="groupLocationId" id="placeId" value=""/>
      </div>

      <div class=" group-descr">
        <textarea class="group-input--item" type="text" :placeholder="$lang.groups.desc" v-model="groupDesc"
                  id="group-desc"></textarea>
      </div>
      <div class="group-lifetime" v-if="this.typeOfCreate=='event'">
        <span>от <input type="date"></span>
        <span>до <input type="date"></span>
      </div>
      <div class=" group-web">
        <input class="group-input--item" type="text" :placeholder="$lang.groups.web_site" v-model="groupWeb"
               id="group-web"/>
      </div>

      <div class=" group-phone">
        <input class="group-input--item" type="text" :placeholder="$lang.groups.phone" v-model="groupPhone"
               id="group-phone"/>
      </div>
    </div>
    <p class="group-create-title">{{$lang.groups.status}}</p>
    <div class="group-status" v-if="this.typeOfCreate!='community'">
      <div class="status-item" @click="accessibility = 'open'">
              <span>
                 <in-contestdot :vote="accessibility" string="open"></in-contestdot>
                  <i class="icon-lock_open"></i>
                  <p>{{$lang.groups.open}}</p>
              </span>
      </div>
      <div class="status-item" @click="accessibility = 'closed'">
              <span>
                 <in-contestdot :vote="accessibility" string="closed"></in-contestdot>
                  <i class="icon-lock_close"></i>
                  <p> {{$lang.groups.close}}</p>
              </span>
      </div>
      <div class="status-item" @click="accessibility = 'fee'">
              <span>
                 <in-contestdot :vote="accessibility" string="fee"></in-contestdot>
                  <i class="icon-lock_close"></i>
                  <p> {{$lang.groups.close}} {{$lang.groups.close_pay}}</p>
              </span>
      </div>
    </div>
    <input v-if="accessibility === 'fee'" class="group-input--item" type="number" min="1" max="10000" v-model="fee"
           :placeholder="$lang.groups.pay_sum">
    <button class="log-button" @click="createGroup()"> {{$lang.groups.create}}</button>
    <modal name="groupBanner"
           width="100%"
           classes=" v--modal"
           :scrollable="true"
           height="100%">
      <div class="modal-title">
        <i @click="closeBanner" class="icon-left-f go-back"></i>
        {{$lang.groups.choose_banner}}
      </div>
      <croppa
        v-model="myCroppa"
        :width=imageWidth
        :height=imageHeigth
        :quality="qualityImage"
        :prevent-white-space="true"
        :show-remove-button="false"
        :placeholder-font-size="20"
        :placeholder="$lang.groups.choose_banner"
        placeholder-color="#000">
      </croppa>
      <button
        class="log-button"
        type="button"
        @click="myCroppa.remove()">{{$lang.profile.cancel}}
      </button>
      <button
        class="log-button"
        type="button"
        @click="addToCropp()">{{$lang.profile.crop}}
      </button>
    </modal>
    <modal name="groupLogo"
           width="100%"
           classes=" v--modal "
           :scrollable="true"
           height="100%">
      <div class="modal-title">
        <i @click="closeLogo" class="icon-left-f go-back"></i>
        {{$lang.groups.choose_avatar}}
      </div>

      <croppa
        v-model="myCroppaLogo"
        :width=300
        :height=300
        :quality=1
        :placeholder="$lang.groups.choose_avatar+ '(60 X 60)'"
        :placeholder-font-size="20"
        :disabled="false"
        :prevent-white-space="true"
        :show-remove-button="false"
        placeholder-color="#000">
      </croppa>
      <div class="logo-buttons-cropp">
        <button
          class="log-button"
          type="button"
          @click="myCroppaLogo.remove()">{{$lang.profile.cancel}}
        </button>
        <button
          class="log-button"
          type="button"
          @click="addToCroppLogo()">{{$lang.profile.crop}}
        </button>
      </div>
    </modal>
    <template v-if="loading">
      <in-spinner-load></in-spinner-load>
    </template>
  </div>
</template>

<script>
  import axios from 'axios';

  import Vue from 'vue'
  import contestDot from 'ComponentsVue/contest/contestCreateDots'
  import imageHelper from 'JsLib/imageHelper'
  import spinnerLoad from 'ComponentsVue/other/SpinnerLoad'
  import {mapActions, mapGetters} from 'vuex';
  import {CREATE_GROUP, FETCH_GROUP_SUBJECTS, GROUP_SUBJECTS, moduleName as groupModule,} from "Store/modules/groups";

  Vue.component('in-contestdot', contestDot);
  Vue.component('in-spinner-load', spinnerLoad);
  export default {
    computed: {
      ...mapGetters({
        groupSubjects: groupModule + GROUP_SUBJECTS
      }),
      logoImgChange() {
        if (!this.dataUrlLogo)
          return 'group-logoimg';
        else {
          if (this.dataUrlBanner)
            return 'group-logoimg group-logo-border group-logotop';
          else
            return 'group-logoimg group-logo-border group-logobottom';
        }

      },
      makeEvent() {
        if (this.typeOfCreate == 'event')
          return "create-header--item active"
        else
          return "create-header--item"
      },
      makeGroup() {
        if (this.typeOfCreate == 'group')
          return "create-header--item active"
        else
          return "create-header--item"
      },
      makeCommunity() {
        if (this.typeOfCreate == 'community')
          return "create-header--item active"
        else
          return "create-header--item"
      },
    },
    data() {
      return {
        logoObj: {},
        bannerObj: {},
        typeOfCreate: 'group',
        accessibility: 'open',
        imageSize: localStorage.getItem('clientWidth'),
        myCroppa: {},
        myCroppaLogo: {},
        imageBanner: 'https://media.inrating.top/images/Fon_350x150.png',
        fileUploadBanner: '',
        imageLogo: 'https://media.inrating.top/images/Fon_60x60.png',
        fileUploadLogo: '',
        qualityImage: '',
        imageWidth: '',
        imageHeigth: '',
        groupName: '',
        groupTheme: '',
        groupLocation: '',
        groupLocationId: '',
        groupDesc: '',
        groupWeb: '',
        groupPhone: '',
        dataUrlBanner: '',
        dataUrlLogo: '',
        fee: '1',
        loading: false,
      }
    },
    mounted() {
      let image = localStorage.getItem('clientWidth');
      this.imageWidth = parseInt(image);
      this.imageHeigth = this.imageWidth * 315 / 760;
      this.qualityImage = Math.ceil(1080 / this.imageWidth);
      this.getGroupSubjects();
    },
    methods: {
      ...mapActions({
        getGroupSubjects: groupModule + FETCH_GROUP_SUBJECTS,
        createCurrentGroup: groupModule + CREATE_GROUP,
      }),
      changeType(e) {
        this.typeOfCreate = e;
      },
      groupBannerOpen() {
        this.$modal.show('groupBanner');
        setTimeout(() => {
          this.myCroppa.chooseFile();
        }, 100);

      },
      groupLogoOpen() {
        this.$modal.show('groupLogo');
        setTimeout(() => {
          this.myCroppaLogo.chooseFile();
        }, 100);
      },
      closeBanner() {
        this.$modal.hide('groupBanner');
      },

      closeLogo() {
        this.$modal.hide('groupLogo');
      },
      addToCropp() {
        this.dataUrlBanner = this.myCroppa.generateDataUrl();
        if (this.dataUrlBanner != '') {
          this.imageBanner = this.dataUrlBanner;
          this.fileUploadBanner = imageHelper.formatPhoto(this.imageBanner);
          this.$modal.hide('groupBanner');
          this.uploadBanner();
        }
      },
      addToCroppLogo() {
        this.dataUrlLogo = this.myCroppaLogo.generateDataUrl();
        if (this.dataUrlLogo != '') {
          this.imageLogo = this.dataUrlLogo;
          this.fileUploadLogo = imageHelper.formatPhoto(this.imageLogo);
          this.$modal.hide('groupLogo');
          this.uploadLogo();
        }
      },
      googleAutoComplete() {
        let place = document.getElementById('place');
        let placeId = document.getElementById('placeId');
        let autocomplete = new google.maps.places.Autocomplete(place);
        autocomplete.addListener('place_changed', () => {
          let place = autocomplete.getPlace();
          placeId.value = place.place_id;
          this.groupLocation = place.formatted_address;
          this.groupLocationId = place.place_id;
          this.$modal.hide('location');
        });
      },

      uploadBanner() {
        let uploadId = '';
        axios.get('v1/uploads/create?type=user-post')
          .then(
            res => {
              uploadId = res.data.upload_id;
              let dataBanner = new FormData;
              dataBanner.append('upload_id', uploadId);
              dataBanner.append('file', this.fileUploadBanner);
              axios.post('v1/uploads/load', dataBanner)
                .then(
                  res => {
                    this.bannerObj = {
                      id: uploadId,
                      items: [res.data.file_id],
                    }
                  }
                )
            }
          )
      },

      uploadLogo() {
        let uploadId = '';

        axios.get('v1/uploads/create?type=user-post')
          .then(
            res => {
              uploadId = res.data.upload_id;
              let dataLogo = new FormData;
              dataLogo.append('upload_id', uploadId);
              dataLogo.append('file', this.fileUploadLogo);
              axios.post('v1/uploads/load', dataLogo)
                .then(
                  res => {
                    this.logoObj = {
                      id: uploadId,
                      items: [res.data.file_id],
                    }
                  }
                )
            }
          )
      },

      createGroup() {
        if (this.accessibility == 'fee')
          this.accessibility = 'closed';
        let data = new FormData;
        if (this.groupName && this.groupTheme && this.groupDesc && this.groupLocationId && this.fee && this.typeOfCreate && this.logoObj && this.bannerObj) {
          data.append('name', this.groupName);
          data.append('subject', this.groupTheme);
          data.append('description', this.groupDesc);
          data.append('accessibility', this.accessibility);
          data.append('place_geo_id', this.groupLocationId);
          data.append('type', this.typeOfCreate);
          data.append('fee', this.fee);
          data.append('website', this.groupWeb);
          data.append('phone', this.groupPhone);
          data.append('logo', JSON.stringify(this.logoObj));
          data.append('banner', JSON.stringify(this.bannerObj));
          this.loading = true;

          this.createCurrentGroup(data);
        }
        else {
          this.$notify({
            group: 'not-allfields-group',
            duration: 3000,
            speed: 300,
          })
        }
      },
      goBack() {
        history.go(-1);
      }
    }
  }
</script>

<style lang="less">
  @import '~LessStyle/groupcreate.less';

  .status-item.active {
    color: #30c2be;
  }

  .pac-container {
    width: 100% !important;

    left: 0 !important;
  }

  .croppa-container {
    margin-top: 31px;
    text-align: center;
    margin-bottom: 26px;
  }

  .group-subj {
    width: 95%;
    margin: auto;
    margin-bottom: 20px;
  }
  .logo-buttons-cropp {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
  }
</style>
