<template>
    <router-link class="group-link" :to="'/group/'+group.slug">
        <div class="group-item">

      <div class="group-item--about">
        <p>
                    <span v-if="group.accessibility === 'open'">
                        <i class="icon-lock_open"></i>
                    </span>
          <span v-else>
                        <i class="icon-lock_close"></i>
                    </span>
          <span v-if="group.type === 'group'">
                        <span v-text="$lang.groups.group"></span>
                    </span>
          <span v-else-if="group.type === 'community'">
                        <span v-text="$lang.groups.community_create"></span>
                    </span>
          <span v-else>
                        <span v-text="$lang.groups.event"></span>
                    </span>
        </p>
        <p>
          <i class="icon-human-f"></i><span v-text="group.users_count"></span>
        </p>
      </div>
      <div
        v-if="group.group_user.role === 'admin'"
        class="icon-user-group">
        <i class="icon-check-f"></i>
      </div>
      <div class="group-item--infoblock">
        <div class="group-info">
          <p class="group-name" v-text="group.name"></p>
          <div class="group-description" v-text="group.desc"></div>
          <span class="groups-location"> Украина </span>
        </div>
        <div class="group-avatar">
          <img :src="group.logo.url_small">
        </div>
      </div>
    </div>
  </router-link>
</template>

<script>
  export default {
    props: ['group'],
    mounted() {
    }
  }
</script>

<style lang="less">
  @import '~LessStyle/variables.less';

  .icon-user-group {
    i {
      .text-grad();
    }
  }
  .group-item {
    width: 97%;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    padding: 6px;
    border-radius: 10px;
    box-shadow: 2px 2px 0px 0px rgba(95, 92, 92, 0.2);
    justify-content: space-between;
  }

  .group-item--about {
    width: 20%;
    text-align: left;
    padding: 0px 10px;
    border-right: 1px solid #d3d3d3;
    font-size: 3.3vw;
  }

  .group-item--about p {
    margin: 0px;
  }

  .group-item--infoblock {
    width: 70%;
    display: flex;
    justify-content: space-between;

  }

  .group-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
  }

  .group-info {
    width: 73%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .group-info p {
    margin: 0px;
    text-align: right;
    font-size: 14px;
  }

  .group-avatar {
    width: 23%;
  }

  .group-avatar img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
  }

  .groups-location {
    font-size: 8px;
    color: #d3d3d3;
    text-align: right;
  }

  .group-name {
    font-weight: 600;
    color: #777;
  }

  .group-item--about i {
    font-size: 14px;
  }

  .group-link {
    text-decoration: none;
    color: #000;
  }
</style>
