<template>
  <div id="black-list">
    <div class="black-list-header">
      <div
        class="title">{{$lang.blacklist.my_black_list}}
      </div>
      <i
        @click="goBack()"
        class="icon-left-f icon-back"></i>
    </div>
    <div class="search-input">
      <input
        id="searchPeople"
        :placeholder="$lang.search.search_by_nickname"
        type="text"
        @keyup="searchPeople"
        v-model="searchInput">
    </div>
    <div class="search-block">
      <div class="search-item" v-for="user in blackList">
        <div class="item-block">
          <router-link :to="'/u/'+user.nickname">
            <div class="item-avatar ">
              <img :src="user.avatar_image.url_medium">
            </div>
          </router-link>
          <div class="item-info">
            <p
              class="user-nickname"
              v-text="user.nickname"></p>
            <p class="user-name">
              <span v-text="user.name"></span>
              <span v-text="user.lastname"></span>
            </p>
          </div>
          <div class="feed-button">
          <span
            class="user-block-button"
            @click="unblock(user.id)">{{$lang.blacklist.remove}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';

  export default {
    name: "ActiveBlackList",
    data() {
      return {
        blackList: [],
        searchInput: ''
      }
    },
    mounted() {
      this.getAllBlackList();
    },
    methods: {
      goBack() {
        this.$router.go(-1);
      },
      searchPeople() {
        // do this in future
      },
      getAllBlackList() {
        axios.get('v1/me/settings/blacklist/all')
          .then(res => {
            this.blackList = res.data.data;
          })
          .catch(err => console.log(err.response));

      },
      unblock(id) {
        let data = new FormData();
        data.append('ids', JSON.stringify([id]));
        axios.post('v1/me/settings/blacklist/delete', data)
          .then(res => {
            this.getAllBlackList();
          })
          .catch(err => {
          })
      }
    }
  }
</script>

<style lang="less">
  @import '~LessStyle/blacklist.less';
</style>
