<template>

  <div class="post-add-text">

    <div class="post-text-header">
      <textarea
        class="text-header-teaxftarea"
        id="post-text-body"
        :placeholder="this.$lang.profile.enter_post"></textarea>
      <img v-if="this.imagesArray[0].type=='img'"
           class="text-header-img"
           :src="this.imagesArray[0].img">
      <video v-else
             :src="this.imagesArray[0].preview_url" v-bind:style="{height: clientWidth*0.2+'px'}">

      </video>

    </div>
    <div class="intags-input">
      <input
        class="post-intag"
        type="text"
        v-model="inputIntag"
        :placeholder="$lang.profile.enter_intags"
        v-on:keyup.enter="addIntag()">
      <button @click="goFilters()">FILTERS</button>
    </div>
    <ul id="intagList">
      <li
        class="intagList-item"
        v-for="(intag, index) in intagArray"
        :key="index">
        <span v-text="'^^'+intag">  </span>
        <i
          @click="deleteIntag(index)"
          class="icon-delete-f"></i>
      </li>
    </ul>
    <div class="post-location">
      <div
        @click="showLocation()"
        class="post-location-search">
        <span>{{$lang.profile.location}}</span>
        <i class="icon-right-f"></i>
      </div>
      <div
        v-if="geoLocation!=''"
        class="post-location-value">
        <i class="icon-location-f"></i>
        <div v-text="geoLocation"></div>
        <i
          class="icon-delete-f"
          @click="deleteLocation()"></i>
      </div>
    </div>
    <div v-if="imageIndex"
         @click="showMentions()"
         class="post-mentions">
      <span>{{$lang.profile.mention_people}}</span>
      <i class="icon-right-f"></i>
    </div>
    <modal
      name="location"
      width="100%"
      classes=" v--modal"
      height="100%">
      <h3 class="modal-title modal-title-search">
        <i
          @click="hideLocation()"
          class="modal-goback icon-left-f"></i>
        {{$lang.profile.location}}
      </h3>
      <input
        type="text"
        class="modal-location"
        v-on:click="googleAutoComplete()"
        value=""
        :placeholder="$lang.profile.enter_location"
        id="place"
        name="place"/>
      <input
        type="hidden"
        name="placeId"
        id="placeId"
        value=""/>
    </modal>
    <modal
      name="mentions"
      width="100%"
      classes=" v--modal"
      height="100%">
      <h3 class="modal-title modal-title-search">
        <i
          @click="hideMentions()"
          class="modal-goback icon-left-f"></i>
        {{$lang.profile.mention_people}}
      </h3>
      <carousel :perPage=1>
        <slide
          v-for="(image,i) in imagesArray"
          :key="i" v-if="image.type=='img'">
          <img
            @click="makeMentions($event,image.imgId)"
            class='previewPhoto'
            :src="image.img"/>
          <div
            v-for="(user,index) in mentionsArray"
            :key="index">
            <div
              class="mentionBlock"
              v-bind:style="{top:user.posY-20+'px', left:(user.posX+clientWidth*user.imgID)+'px'}">
              <p v-text="user.userNickname"></p>
              <i
                class="icon-delete-f"
                @click="deleteFromMention(index)"></i>
            </div>
          </div>
        </slide>
      </carousel>
      <modal
        name="searchPeople"
        width="100%"
        classes=" v--modal"
        height="100%">
        <h3 class="modal-title modal-title-search">
          <i
            @click="hideSearch()"
            class="modal-goback icon-left-f"></i>
          {{$lang.profile.search_people}}
        </h3>
        <input
          type="text"
          class="modal-location"
          @keyup="searchPeople()"
          id="inputSearch"
          :placeholder="$lang.profile.search_people"/>
        <div class="search-container">
          <div
            v-for="(user,i) in this.searchArray"
            :key="i">
            <div
              class="search-item"
              @click="addUserToMentions(user)">
              <div class="item-avatar ">
                <img :src="user.avatar_image.url_medium">
              </div>
              <div class="subscribers-item-info">
                <p
                  class="user-subscribers-nickname"
                  v-text="user.nickname"></p>
                <p class="user-subscribers-name">
                  <span v-text="user.name"></span>
                  <span v-text="user.lastname"></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </modal>
    </modal>
  </div>
</template>

<script>
  import axios from 'axios';

  import Vue from 'vue'
  import VModal from 'vue-js-modal'
  import VueCarousel from 'vue-carousel'

  Vue.use(VueCarousel);
  Vue.use(VModal);
  export default {
    name: 'PostAddText',
    props: ['imagesArray', 'textfields', 'arrayPostSend'],
    data() {
      return {
        intagArray: [],
        geoLocation: '',
        searchArray: [],
        mentionsArray: [],
        inputIntag: '',
        positionX: '',
        positionY: '',
        positionXdB: '',
        positionYdB: '',
        clientWidth: '',
        imageIndex: false,
        userId: '',
        imgID: '',
        videoHeight: '',
      }
    },
    mounted() {
      this.clientWidth = localStorage.getItem('clientWidth');
      this.imagesArray.map((item) => {
        if (item.type == 'img') {
          this.imageIndex = true;
        }
      });
    },
    methods: {
      addIntag() {


        let toAdd = this.intagArray.indexOf(this.inputIntag);
        if (toAdd == -1) {
          let inHeaders = this.inputIntag.indexOf('^^');
          if (inHeaders == 0) {
            this.inputIntag = this.inputIntag.substring(2);
          }
          this.intagArray.push(this.inputIntag);
          this.arrayPostSend.intags.push(this.inputIntag);
          this.inputIntag = '';
        }

      },
      showLocation() {
        this.$modal.show('location');
      },
      showMentions() {
        this.$modal.show('mentions');
      },
      hideLocation() {
        this.$modal.hide('location');
      },
      hideMentions() {
        this.$modal.hide('mentions');
      },
      deleteIntag(i) {
        this.intagArray.splice(i, 1);
        this.arrayPostSend.intags.splice(i, 1);
      },
      googleAutoComplete() {
        let place = document.getElementById('place');
        let placeId = document.getElementById('placeId');

        let autocomplete = new google.maps.places.Autocomplete(place);
        autocomplete.addListener('place_changed', () => {
          let place = autocomplete.getPlace();
          placeId.value = place.place_id;
          this.arrayPostSend.place_geo_id = placeId.value;
          this.geoLocation = place.formatted_address;
          this.$modal.hide('location');
        });
      },
      makeMentions(e, i) {
        this.positionX = e.offsetX;
        this.positionY = e.offsetY;
        this.positionXdB = this.positionX / this.clientWidth;
        this.positionYdB = this.positionY / this.clientWidth;
        this.imgID = i;
        this.$modal.show('searchPeople');
      },
      deleteFromMention(i) {
        this.mentionsArray.splice(i, 1);
        this.imagesArray[this.mentionsArray[i].imgID].mentions.splice(i, 1);
      },
      hideSearch() {
        this.$modal.hide('searchPeople');
      },
      searchPeople() {
        let human = document.getElementById('inputSearch').value;
        axios.get('v1/users/search?query=' + human)
          .then(res => {
            this.searchArray = res.data.data;
          })
      },
      addUserToMentions(user) {
        let replaceUser = false;
        let replaceId;
        this.$modal.hide('searchPeople');
        for (let i = 0; i < this.mentionsArray.length; i++) {
          if ((this.mentionsArray[i].userId == user.id) && (this.mentionsArray[i].imgID == this.imgID)) {
            replaceUser = true;
            replaceId = i;
          }
        }
        if (replaceUser) {
          this.mentionsArray[replaceId].posX = this.positionX;
          this.mentionsArray[replaceId].posY = this.positionY;
          this.mentionsArray[replaceId].posXdB = this.positionXdB;
          this.mentionsArray[replaceId].posYdB = this.positionYdB;

        }
        else {
          this.mentionsArray.push({
            userNickname: user.nickname,
            userId: user.id,
            posX: this.positionX,
            posY: this.positionY,
            posXdB: this.positionXdB,
            posYdB: this.positionYdB,
            imgID: this.imgID,
          });
          this.imagesArray[this.imgID].mentions.push({
            userId: user.id,
            posXdB: this.positionXdB.toFixed(4),
            posYdB: this.positionYdB.toFixed(4),
            imgID: this.imgID,
          });

        }
      },
      deleteLocation() {
        this.geoLocation = '';
      },
      goFilters() {
        this.$root.$emit('openFilters');
      },
    },

  }
</script>

<style lang="less">
  @import '~LessStyle/postaddtext.less';

  .item-avatar {
    margin: 0px 10px;

  }

  .modal-title-search {
    color: #fff !important;
  }

  .text-header-teaxftarea {
    width: 75%;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #30c2be;
  }

  .user-nickname {
    font-weight: 600;
  }

  .item-avatar img {
    width: 60px;
    height: auto;
    border-radius: 10px;
    display: block;
  }

  .post-add-text {
    margin-bottom: 20px;
  }
</style>
