<template>
  <div class="album-solo">
    <div class="album-header">
      <i
        @click="goBack"
        class="go-back-album icon-left-f"></i>
      <div
        v-if="album"
        class="album-title"
        v-text="album.title"></div>
      <i
        @click="showAlbumSettings"
        class="album-settings icon-vvv"></i>
    </div>
    <div class="album-body">
      <div
        v-if="!loading || firstTimeFlag"
        class="album-image-solo album-add-icon"
        @click="addAlbumPost">
        <i class="icon-plus-f"></i>
      </div>
      <template v-if="posts">
        <div
          class="album-image-solo"
          v-for="(post, index) in posts"
          :key="post.id">
          <img
            v-if="post.attachments"
            @click="openAlbumModal(index)"
            :src="post.attachments.images[0].url_medium" >
        </div>
      </template>
    </div>
    <in-album-modal :albumImageArray="posts" :openImage="modalImage"></in-album-modal>
    <in-spinner :loading="loading" />
  </div>
</template>
<script>
  import {mapActions, mapGetters} from 'vuex'

  import {scrollOnBottom} from "../../../../mixins/scrollOnBottom";

  import {
    ALBUM,
    ALBUM_POSTS,
    FETCH_ALBUM,
    FETCH_ALBUM_POSTS,
    FETCH_ALBUM_POSTS_NEXT_PAGE,
    LOADING,
    moduleName as albumPostsModule
  } from "Store/modules/albumPosts";
  import {AUTH_USER, moduleName as userModule} from "Store/modules/authUser/user";
  import albumModal from 'ComponentsVue/groups/groupComponents/albums/albumModalImage'

  export default {
    components: {
      inAlbumModal: albumModal
    },
    mixins: [scrollOnBottom],
    data() {
      return {
        modalImage: 0,
        albumId: this.$route.params.album_slug,
        groupSlug: this.$route.params.group_slug,
        firstTimeFlag: false
      }
    },
    watch: {
      bottom(bottom) {
        if (bottom) {
          this.firstTimeFlag = true;
          this.fetchAlbumPostsNextPage(this.albumId)
        }
      }
    },
    computed: {
      ...mapGetters({
        authUser: userModule + AUTH_USER,
        albumPosts: albumPostsModule + ALBUM_POSTS,
        albumInfo: albumPostsModule + ALBUM,
        loading: albumPostsModule + LOADING
      }),
      posts() {
        return this.albumPosts(this.albumId)
      },
      album() {
        return this.albumInfo(this.albumId)
      }
    },
    mounted() {
      this.fetchAlbumPosts(this.albumId);
      this.fetchAlbum(this.albumId);
    },
    methods: {
      ...mapActions({
        fetchAlbumPosts: albumPostsModule + FETCH_ALBUM_POSTS,
        fetchAlbumPostsNextPage: albumPostsModule + FETCH_ALBUM_POSTS_NEXT_PAGE,
        fetchAlbum: albumPostsModule + FETCH_ALBUM
      }),
      addAlbumPost() {
        if (this.authUser.status !== 'guest') {
          this.$router.push('/new-post/' + this.groupSlug + '/albums/' + this.albumId);
        } else {
          this.$notify({
            group:'guest-template',
            duration:3000,
            speed:300,
          })
        }
      },
      showAlbumSettings() {

      },
      goBack() {
        this.$router.go(-1);
      },
      openAlbumModal(index) {
        this.modalImage = +index;
        this.$modal.show('albumModalImg');
      },
    }
  }
</script>
<style lang="less">
  @import "~LessStyle/variables.less";

  .album-solo {
    margin-top: -43px;
  }

  .album-header {
    position: relative;
    background: @grad;
    color: @white;
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 20px;
    padding: 5px 0;
    line-height: 30px;
    box-sizing: border-box;
  }

  .album-add-icon {
    border: 1px solid @contest-list-text-color;
    border-radius: 8px;
    margin: 1px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f4f4f4;

    .icon-plus-f {
      font-size: 30px;
      .text-grad();
    }
  }

  .album-title {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .go-back-album {
    width: 10%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 22px;
  }

  .album-settings {
    width: 10%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    color: #fff;
    font-size: 22px;
  }

  .album-body {
    display: flex;
    flex-wrap: wrap;
    margin: 4px;
  }

  .album-image-solo {
    width: calc(~'25vw - 6px');
    height: calc(~'25vw - 6px');
    margin: 2px;
  }

  .album-image-solo img {
    width: 100%;
    border-radius: 8px;
  }
</style>
