<template>
  <div id="createAlbum">
    <div class="modal-title">
      Создание альбома
      <span @click="goBack" class="go-back">
        <i class="icon-left-f"></i>
      </span>
    </div>
    <input class="group_input" name="title" ref="albumTitle" type="text" placeholder="Введите название альбома">
    <input class="group_input" name="desc" ref="albumDescription" type="text" placeholder="Введите описание альбома">
    <input type="button" @click="createAlbum()" class="group_album_submit" value="Создать">
  </div>
</template>
<script>
  import axios from 'axios';

  export default {
    methods: {
      createAlbum() {
        let albumTitle=this.$refs.albumTitle.value;
        let albumDescription=this.$refs.albumDescription.value;
        let group_slug=this.$route.params.group_slug;

        let params={
          group_slug:group_slug,
          title:albumTitle,
          description:albumDescription,
        };
        axios.post('v1/albums/create',params)
          .then(
            res=> {
            }
          )
      },
      goBack(){
        history.go(-1);
      }
    }
  }
</script>
<style lang="less">
@import '~LessStyle/variables.less';

  #createAlbum {
    margin-top: -43px;
  }

  .group_input  {
    width:90%;
    height: 35px;
    font-size: 16px;
    background-color: hsla(0, 0%, 100%, .7);
    outline: 0;
    padding: 5px;
    border-radius: 5px;
    margin:20px;
    border: 1px solid @base_green;
    box-sizing: border-box;
    color: #b7bac0;
  }

  .group_album_submit {
    color:#5ac5c6;
    border: 1px solid #5ac5c6;
    padding: 5px 15px;
    border-radius: 3px;
    width: 50%;
    margin-top: 10px;
    background: transparent;
    font-size: 14px;
  }

.go-back {
  position: absolute;
  left: 0px;
  top: 2px;
  font-size: 22px;
  color: #fff;
}
</style>
