<template>
  <div id="mainCommonRaiting">
    <!--<div class="change-status--header">
            {{$lang.settings.all_settings}}
    </div>-->
    <div class="settings-lenta">
      <div
        @click="goTo('/setting/user')"
        class="change-status--item">
        <div class="status-item--title not-active">
          <router-link to="/setting/user">{{$lang.settings.change_profile}}</router-link>
        </div>
        <div class="choose-status"></div>
        <i class="icon-right-f"></i>
      </div>
      <div
        @click="showAccount()"
        class="change-status--item">
        <div class="status-item--title">{{$lang.settings.user_settings}}</div>
        <div class="choose-status"></div>
        <i class="icon-right-f"></i>
      </div>
      <div
        @click="goTo('/setting/private-settings')"
        class="change-status--item">
        <div class="status-item--title not-active">
          <router-link to="/setting/private-settings">{{$lang.settings.user_privacy}}</router-link>
        </div>
        <div class="choose-status"></div>
        <i class="icon-right-f"></i>
      </div>
      <div
        @click="showLanguage(1)"
        class="change-status--item">
        <div class="status-item--title">{{$lang.settings.language}}</div>
        <div class="choose-status"></div>
        <i class="icon-right-f"></i>
      </div>
      <div
        @click="goTo('/active-black-list')"
        class="change-status--item">
        <div class="status-item--title not-active">
          <router-link to="/active-black-list">{{$lang.settings.add_to_black_list}}</router-link>
        </div>
        <div class="choose-status"></div>
        <i class="icon-right-f"></i>
      </div>
      <div
        @click="goTo('/active-black-list')"
        class="change-status--item">
        <div class="status-item--title not-active">
          <router-link to="/active-black-list">{{$lang.settings.remove_from_black_list}}</router-link>
        </div>
        <div class="choose-status"></div>
        <i class="icon-right-f"></i>
      </div>
      <!--<div class="change-status--item">
          <div class="status-item--title">{{$lang.settings.sound}}</div>
          <toggle-button :value="false"
              color="#5ac5c6"
              :labels="{checked: '<i class=icon-check-f></i>', unchecked: '<i class=icon-delete-f></i>'}"/>
      </div>!-->
    </div>

    <div class="change-status--header">
      {{$lang.settings.chat_settings}}
    </div>
    <div class="settings-lenta">
      <div
        @click="showLanguage(2)"
        class="change-status--item">
        <div class="status-item--title"> {{$lang.settings.my_language_chat}}</div>
        <div class="choose-status"></div>
        <i class="icon-right-f"></i>
      </div>
      <div
        @click="showLanguage(3)"
        class="change-status--item">
        <div class="status-item--title"> {{$lang.settings.donot_translate_with_chat}}</div>
        <div class="choose-status"></div>
        <i class="icon-right-f"></i>
      </div>
    </div>

    <div class="change-status--header">
      {{$lang.settings.inrating_info}}
    </div>
    <div class="settings-lenta">
      <div
        @click="modalFAQShow()"
        class="change-status--item">
        <div class="status-item--title"> {{$lang.settings.FAQ}}</div>
        <div class="choose-status"></div>
        <i class="icon-right-f"></i>
      </div>
    </div>
    <div class="change-status--header">
      {{$lang.settings.help_and_support}}
    </div>
    <div class="settings-question">
      <p>{{$lang.settings.add_question}}</p>
      <textarea
        class="question"
        :class="{active: question !== ''}"
        v-model="question"
        :placeholder="$lang.settings.question_description"></textarea>
      <div class="actions" :class="{active: question !== ''}">
        <button @click="question = ''">{{$lang.settings.clear}}</button>
        <button @click="sendQuestion">{{$lang.settings.send}}</button>
      </div>
    </div>
    <div class="settings-info">
      <p>E-mail:info@inrating.club </p>
      <p>Tel:0 800 50 36 99 </p>
    </div>
    <p
      class="exitAccount"
      @click="exitAccount"> {{$lang.settings.exit}} </p>
    <!--<p
      class="self-desctruction"
      @click="selfDestruction()">
      <span v-if="user.status=='active'">{{$lang.settings.temporary_open_acc}}</span>
      <span v-else="user.status=='disabled by admin'">{{$lang.settings.temporary_close_acc}}</span>
    </p>-->
    <in-account-change/>
    <in-modal-text :text="modalText"/>
    <in-FAQ/>
    <in-choose-language/>
  </div>
</template>

<script>
  import axios from 'axios';

  import Vue from 'vue'
  import ToggleButton from 'vue-js-toggle-button'
  import accountChange from 'ComponentsVue/settings/accountChange.vue'
  import modalText from 'ComponentsVue/modal/modalText'
  import inFAQ from 'ComponentsVue/modal/modalFAQ'
  import chooseLanguage from 'ComponentsVue/settings/settingsChooseLanguage'

  Vue.component('in-FAQ', inFAQ);
  Vue.component('in-modal-text', modalText);
  Vue.component('in-account-change', accountChange);
  Vue.component('in-choose-language', chooseLanguage);
  Vue.use(ToggleButton);
  export default {
    data(){
      return {
        user: JSON.parse(localStorage.getItem('user')),
        modalText: '',
        question: ''
      }
    },
    methods: {
      goTo(path) {
        this.$router.push(path);
      },
      sendQuestion() {
        if(this.question !== '') {
          const data = new FormData();
          data.append('title', 'critical');
          data.append('desc', this.question);

          axios.post('v1/me/support/letter', data)
            .then(res => {
              if(res.data.state) {
                this.question = '';
              } else {
                this.$notify({
                  group: 'action-error',
                  duration: 3000,
                  speed: 300
                });
              }
            })
            .catch(e => {
              this.$notify({
                group: 'action-error',
                duration: 3000,
                speed: 300
              });
            });
        }
      },
      showAccount(){
        this.$modal.show('accountChange');
      },
      showLanguage(type){
        this.$modal.show('languageChange');
        this.$root.$emit('settingsLang', type);
      },
      exitAccount(){
        localStorage.clear();
        this.$router.push('/login');
      },
      selfDestruction(){

        if(this.user.status != 'disabled by user'){
          axios.get('v1/me/selfdestruction')
          .then(res =>{
            axios.get('v1/me')
            .then(res =>{
              localStorage.setItem('user', JSON.stringify(res.data));
              location.reload();
            })
          })
        }
        else{
          axios.get('v1/me/selfdestruction?delete=0')
          .then(res =>{
            axios.get('v1/me')
            .then(res =>{
              localStorage.setItem('user', JSON.stringify(res.data));
              location.reload();
            })
          })
        }

      },
      modalFAQShow(){
        this.$modal.show('modalFAQ');
      }

    }

  }
</script>

<style lang="less">
  @import '~LessStyle/changeprofile.less';
  @import '~LessStyle/settings.less';


</style>
