<template>
  <div class="settingsStory">
    <div class="change-status--header settings-story">
      {{$lang.settings.show_inStories}}
    </div>

    <button @click="showStories('all')">{{$lang.settings.all}}</button>
    <button @click="showStories('subs')">{{$lang.profile.subscribers}}</button>
  </div>
</template>
<script>
  import axios from 'axios';

  export default  {
    name:'settingsStory',
    methods:{
      showStories(val) {
        axios.post('v1/me/settings/edit?stories='+val)
          .then(res=>{
          })
      }
    }
  }
</script>
<style lang="less">
  @import '~LessStyle/settings.less';
  .settings-story {
    margin-bottom: 20px;
  }
</style>
