<template>
  <div id="userPrivacy">
    <div class="settings-header">
      <div
        class="modal-title"
        >{{$lang.settings.user_privacy}}
        <i @click="goBack" class="icon-left-f go-back"></i>
      </div>
    </div>
    <p>{{$lang.accountsettings.sub_on_page}}</p>
    <div class="private_tabs">
      <template v-if="getUserPrivacySettings">
        <div :class="(getUserPrivacySettings.subscribe==='all' || getUserPrivacySettings.subscribe===null) ? 'private_tab_item onactive_tabs' : 'private_tab_item'" @click="sendPrivacy('all','subscribe')">
          {{$lang.settings.all}}
        </div>
        <div :class="getUserPrivacySettings.subscribe==='request' ? 'private_tab_item onactive_tabs' : 'private_tab_item' " @click="sendPrivacy('request','subscribe')">
          {{$lang.accountsettings.only_for_application}}
        </div>
      </template>
    </div>
    <p>{{$lang.accountsettings.sees_page}}</p>
    <div class="private_tabs">
      <template v-if="getUserPrivacySettings">
        <div :class="getUserPrivacySettings.profile==='none' ? 'private_tab_item onactive_tabs' : 'private_tab_item'" @click="sendPrivacy('none','profile')">
          {{$lang.settings.nobody}}
        </div>
        <div :class="(getUserPrivacySettings.profile==='all' || getUserPrivacySettings.profile===null) ? 'private_tab_item onactive_tabs' : 'private_tab_item'" @click="sendPrivacy('all','profile')">
          {{$lang.settings.all}}
        </div>
        <div :class="getUserPrivacySettings.profile==='subs' ? 'private_tab_item onactive_tabs' : 'private_tab_item'" @click="sendPrivacy('subs','profile')">
          {{$lang.profile.subscribers}}
        </div>
      </template>
    </div>
    <p>{{$lang.accountsettings.sees_followers}}</p>
    <div class="private_tabs">
      <template v-if="getUserPrivacySettings">
        <div :class="getUserPrivacySettings.subscribers==='none' ? 'private_tab_item onactive_tabs' : 'private_tab_item'" @click="sendPrivacy('none','subscribers')">
          {{$lang.settings.nobody}}
        </div>
        <div :class="(getUserPrivacySettings.subscribers==='all'  || getUserPrivacySettings.subscribers===null) ? 'private_tab_item onactive_tabs' : 'private_tab_item'" @click="sendPrivacy('all','subscribers')">
          {{$lang.settings.all}}
        </div>
        <div :class="getUserPrivacySettings.subscribers==='subs' ? 'private_tab_item onactive_tabs' : 'private_tab_item'" @click="sendPrivacy('subs','subscribers')">
          {{$lang.profile.subscribers}}
        </div>
      </template>
    </div>
    <p>{{$lang.accountsettings.sees_subscriptions}}</p>
    <div class="private_tabs">
      <template v-if="getUserPrivacySettings">
        <div :class="getUserPrivacySettings.subscriptions==='none' ? 'private_tab_item onactive_tabs' : 'private_tab_item'" @click="sendPrivacy('none','subscriptions')">
          {{$lang.settings.nobody}}
        </div>
        <div :class="(getUserPrivacySettings.subscriptions==='all' || getUserPrivacySettings.subscriptions===null) ? 'private_tab_item onactive_tabs' : 'private_tab_item'" @click="sendPrivacy('all','subscriptions')">
          {{$lang.settings.all}}
        </div>
        <div :class="getUserPrivacySettings.subscriptions==='subs' ? 'private_tab_item onactive_tabs' : 'private_tab_item'" @click="sendPrivacy('subs','subscriptions')">
          {{$lang.profile.subscribers}}
        </div>
      </template>
    </div>
    <p>{{$lang.accountsettings.can_write_chat}}</p>
    <div class="private_tabs">
      <template v-if="getUserPrivacySettings">
        <div :class="getUserPrivacySettings.chat==='none' ? 'private_tab_item onactive_tabs' : 'private_tab_item'" @click="sendPrivacy('none','chat')">
          {{$lang.settings.nobody}}
        </div>
        <div :class="(getUserPrivacySettings.chat==='all' || getUserPrivacySettings.chat===null ) ? 'private_tab_item onactive_tabs' : 'private_tab_item'" @click="sendPrivacy('all','chat')">
          {{$lang.settings.all}}
        </div>
        <div :class="getUserPrivacySettings.chat==='subs' ? 'private_tab_item onactive_tabs' : 'private_tab_item'" @click="sendPrivacy('subs','chat')">
          {{$lang.profile.subscribers}}
        </div>
      </template>
    </div>

  </div>

</template>
<script>
    export default  {
      data() {
        return {
          user:JSON.parse(localStorage.getItem('user')),
        }
      },
      computed: {
        getUserInfo() {
          return window.storeUser.getters.getUserInfo;
        },
        getUserPrivacySettings() {
          return this.getUserInfo.privacy_settings;
        },
      },
      mounted() {
        window.storeUser.dispatch('LOAD_USER_INFO',{nickname:this.user.nickname});
      },
      methods: {
        sendPrivacy(value,field) {

          window.storeUser.dispatch('UPDATE_USER_PRIVACY',{privacyValue:value,privacyField:field,nickname:this.user.nickname});
        },
        goBack() {
          history.go(-1);
        }
      }
    }
</script>
<style lang="less">
  @import "~LessStyle/userprivacy";
  @import '~LessStyle/settings.less';
  @import '~LessStyle/changeprofile.less';
</style>
